[2021-12-11 10:15] yashaswinibprasad87 opened #431 "reorder of rows using drag and drop are breaking in latest version"
Below doesnot work:

onDragStart={(e) => {
                    console.log("onDragStart");
                    DrageState.row = props.data.tableData.id;
                  }}
                  onDragEnter={(e) => {
                    e.preventDefault();
                    if (props.data.tableData.id !== DrageState.row) {
                      DrageState.dropIndex = props.data.tableData.id;

[2021-12-11 15:30] 9RA commented on #424
I had the same error. There is a problem in the markForTreeRemove function.

In older versions, the pathPart was assigned the index of the array, but now it is assigned the uuid.
However, the subsequent code still tries to use pathPart to refer to the index of the array.
As a result, undefined is assigned to pointer, and an error occurs when the next loop tries to refer to the undefined property.

[2021-12-12 21:24] jet11x commented on #400
I've been looking into this and other aspects of column resizing.  I've got changes working locally that:
- allow table to expand as column are resized
- added onColumnResize callback
- supress resize icon when table header cells have borders

I've got some tidying up to do then I'll submit a pull for consideration.

I'd already made one local patch to material-table and then found another bug.  W

[2021-12-12 22:46] Domino987 commented on #400
That's awesome. I PR would be most welcome. Link me once you have it.

[2021-12-14 06:51] yashaswinibprasad87 opened #433 "Validate fails to click on save button on add row/edit row"
Steps to reproduce:

 columns: [
            {
                title: 'Code', field: 'code', width: 150,
                validate: rowData => rowData.code === '' || rowData.code === undefined ? 'Mandatory' : '',
            },
Before:
![image](https://user-images.githubusercontent.com/43347321/145947475-421dfdbb-4dd9-4610-bd0c-efcd9c16eec4.png)

After entering Value
![image](https://user-images.gi

[2021-12-15 20:19] Tobbe129 commented on #419
Really want this aswell

[2021-12-15 20:32] Tobbe129 opened #434 "Action column not ignored in editmode"
v4.3.11

Having selection box enabled and going to editmode, makes the actions to its own column in edit mode. A bit hard to explain but please look at the picture:

OK display mode:
![image](https://user-images.githubusercontent.com/12426470/146260759-86bc481e-9c7b-441d-8582-efec808ca7f0.png)

Not OK edit mode, extra column (actions?):
![image](https://user-images.githubusercontent.com/12426470/1

[2021-12-16 15:44] Gzbox commented on #275
We upgraded to @mui/material the version 5

[2021-12-16 16:01] Tobbe129 commented on #434
Guessing the bug is somewhere here by the look of the code: https://github.com/material-table-core/core/blob/master/src/components/MTableEditRow/index.js#L266-L284

[2021-12-16 16:46] #298 closed, assigned to Domino987, matthewoestreich

[2021-12-16 16:47] #425 closed, assigned to nobody

[2021-12-17 20:11] #424 closed, assigned to nobody

[2021-12-17 20:11] UgurKacak commented on #424
Thanks for solution 🎉

[2021-12-19 12:41] Tobbe129 commented on #434
Confirmed, this is the issue, removing this and everything works fine, treedata or not: https://github.com/material-table-core/core/blob/master/src/components/MTableEditRow/index.js#L276

[2021-12-19 22:30] Domino987 commented on #434
Is this still a problem with the newest release?

[2021-12-19 22:31] Domino987 commented on #433
Can you produce that in a complete sandbox per our guidelines?

[2021-12-19 22:32] Domino987 commented on #431
Is this still a problem with the latest version?

[2021-12-19 22:32] #428 closed, assigned to nobody

[2021-12-19 22:32] Domino987 commented on #428
Fixed with the newest version

[2021-12-20 14:08] ymor opened #435 "Large bundle file because of @material-ui/icons"
**Describe the bug**
Essentially its the same issue as https://github.com/material-table-core/core/issues/418 but with the current version of this package and the @material-ui/icons package.  It seems the tree shaking isn't working as expected for this PR https://github.com/material-table-core/core/pull/410

**To Reproduce**

- Create a fresh new project.
- Build project.
- Watch files in browser

[2021-12-20 15:45] salmanorak opened #437 "The class name of Table title have unexpected ForwardRef prefix."
**Describe the bug**

The wrappers of title, actions and etc. on the toolbar are having unexpected class names prefix as ForwardRef(MTableToolbarRef).

**To Reproduce**

1. Kindly open the sandbox below.
2. Inspect the table title
3. Check the table title field HTML on the developer tools.
4. See "ForwardRef(MTableToolbarRef)-title-9"  class.

[Sandbox](https://codesandbox.io/s/title-class-name-u2

[2021-12-20 20:27] #418 closed, assigned to nobody

[2021-12-20 21:09] Tobbe129 commented on #434
Yes, just tried it out

[2021-12-20 21:17] Tobbe129 opened #438 "4.3.12: data-manager 'findDataByPath' unable to find by path if not treedata"
4.3.12 (and 4.3.11)

Trying to select single rows in a non-treedata table, results in this:
[code]

Maybe related to this PR: https://github.com/material-table-core/core/pull/411
And this reported issue: https://github.com/material-table-core/core/issues/402

Issue is probably located here: https://github.com/material-table-core/core/blob/master/src/utils/data-manager.js#L572-L573

This is a block

[2021-12-20 21:50] matthewoestreich commented on #438
Are you wanting to do something like this? https://material-table-core.com/demos/selection/on-row-click

[2021-12-21 04:32] yashaswinibprasad87 commented on #431
yes still no fix for the mentioned issue

below are my versions
 "@material-table/core": "^0.2.9",
 "@mui/material": "^5.2.3",

below is sample code of reordering Rows
https://codesandbox.io/s/confident-austin-poz9z?file=/src/CustomTable.js

[2021-12-21 08:20] saiemsaeed commented on #437
Thank you for starting this issue @salmanorak, I'm also facing this issue.

[2021-12-21 16:19] matthewoestreich commented on #437
Since these components are using ForwardRef, is this expected behavior? Or should that not show up in the rendered class name when using ForwardRef?

I'm asking because I do not know if this is expected or not when using ForwardRef.

[2021-12-21 16:49] matthewoestreich commented on #438
@Tobbe129 please let me know if that helped at all, if not I will reopen the issue.

[2021-12-21 16:50] matthewoestreich commented on #430
Please provide a sandbox that shows the issue you are having, per our guidelines.

[2021-12-21 16:55] matthewoestreich commented on #422
I do not believe this is possible using native, built-in options. You may be able to get away with doing something hacky (like forcing a click on the bulk edit button?).  I know that isn't the answer you're looking for, though :(

[2021-12-21 16:58] matthewoestreich commented on #420
@edgar-arroyo-by thank you for your research on this issue! There are def some kinks that need to be worked out as far as rerenders. However we handle it, it won't be a quick easy fix.

Perhaps separating provided options with internal state could help?

[2021-12-21 17:02] matthewoestreich commented on #384
Excellent find @LeComptoirDesPharmacies!

[2021-12-21 18:14] ymor commented on #437
@oze4 This is not expected behaviour, you shouldn't see the ForwardRef in the class name, though technically it doesn't  actually cause any issues as the class has the correct styles.
I had a quick look and changing
[code]
to
[code]

Results in the classes having the `MTableToolbar` prefix:
![image](https://user-images.githubusercontent.com/2701844/146978203-13277e8d-bb75-4fde-9f60-5989124ca242.pn

[2021-12-21 18:23] #435 closed, assigned to nobody

[2021-12-21 18:35] Tobbe129 commented on #438
Hi @oze4,

Im a bit of a newbie regardgin sandbox, otherwise I would have created one.
Im just refering to the regular select checkboxes, in a flat table (not tree). Its just crashing for me, no custom things around it.

[2021-12-21 18:50] matthewoestreich commented on #437
@ymor thank you so much for figuring this out! I will make the necessary changes and publish a new version.

[2021-12-21 18:58] #437 closed, assigned to matthewoestreich

[2021-12-21 19:11] matthewoestreich commented on #437
Published v4.3.14

[2021-12-21 19:18] matthewoestreich commented on #438
So if you copy that demo code locally, it doesn't work for you?

[2021-12-21 19:31] salmanorak commented on #437
thanks a lot @oze4  for your quick handling.
Take care and stay healty.

[2021-12-21 20:08] salmanorak commented on #437
@oze4
I have realized that The same issue is also existing in another field. We have the same issue on MTableHeader.

- ForwardRef(MTableHeaderRef)

I have checked all markup but couldn't find any other instance except the `ForwardRef(MTableHeaderRef)`. But please do check the code base for possible other instances.

Should I open another bug entry for this one? @oze4

[2021-12-21 20:26] matthewoestreich opened #441 "Continuation of #437"
I have realized that The same issue is also existing in another field. We have the same issue on MTableHeader.

    ForwardRef(MTableHeaderRef)

I have checked all markup but couldn't find any other instance except the ForwardRef(MTableHeaderRef). But please do check the code base for possible other instances.

Should I open another bug entry for this one?

[2021-12-21 20:27] matthewoestreich commented on #441
@salmanorak

[2021-12-21 20:34] matthewoestreich commented on #437
#441

[2021-12-21 21:09] salmanorak opened #442 "Having summary row as first row"
**Is your feature request related to a problem? Please describe.**

No, it is not related to any problem.

**Describe the solution you'd like**

Right now there is only one option to have a summary row at the bottom with renderSummaryRow prop.

Having the summary row as a first row also makes sense, This is another common use-case of summary row.

When there are lots of rows existing, then the use

[2021-12-21 21:16] #441 closed, assigned to nobody

[2021-12-21 21:18] matthewoestreich commented on #441
Released v4.3.15

[2021-12-21 21:21] matthewoestreich commented on #442
Hi! Would you mind using codesandbox to recreate this issue? I'm not sure I understand.

[2021-12-21 22:32] salmanorak commented on #442
Actually, Let me clarify my point then if You still think we need code sandbox then I will create one.

Right now there is no option for managing the position of the summary row which is going to be created by renderSummarRow prop. It is always at bottom of table.

So I am suggesting to add a new feature that will enable to render summary row as first row or last row in table body. This feature ca

[2021-12-22 08:12] jet11x commented on #400
I've got my changes ready to push to a branch - extended up a bit more extensive then I thought originally.

[2021-12-22 09:25] yashaswinibprasad87 commented on #433
![image](https://user-images.githubusercontent.com/43347321/147068821-eba7a992-76fe-4ae7-945a-b3a2a30e198c.png)

[https://codesandbox.io/s/confident-austin-poz9z?file=/src/CustomTable.js](url)

[2021-12-22 14:43] kkirsche commented on #341
As someone who normally uses signed commits themselves, I'd push back and ask what value does it actually provide in practice?

Linus Torvalds (creator of `git`) said:

- [Quote Source](https://softwareengineering.stackexchange.com/questions/212192/what-are-the-advantages-and-disadvantages-of-cryptographically-signing-commits-a)
- [Original Source](http://git.661346.n2.nabble.com/GPG-signing-for-g

[2021-12-22 15:31] matthewoestreich commented on #442
Hello @salmanorak you will need to provide a SandBox if you want this issue addressed - otherwise, you will need to provide a PR to fix this. The reason we require SandBox is because they clearly show, without any misunderstanding, what you are talking about. Otherwise, it is very easy for things to get lost in translation. A SandBox is a million times easier than going back and forth like this.

[2021-12-22 15:51] matthewoestreich commented on #341
@kkirsche that's a good question that I unfortunately can't answer. I am not familiar with signed commits, and the benefits (or lack thereof) which they may provide.

I was under the impression this will verify the user pushing code, not the code itself - that it was meant to help prevent malicious actors from pushing code.

[2021-12-22 15:55] matthewoestreich commented on #442
If you review our guidelines you will see we even created starter templates in codesandbox that you can fork instead of having to start from scratch.

[2021-12-22 16:02] matthewoestreich commented on #433
That link doesn't seem to work?

[2021-12-22 16:20] janderson215 commented on #341
Thanks for the comment and sources, @kkirsche.

That was my impression as well, @oze4. If I'm understanding correctly, after reading the Answer on the SO Quote Source, it looks like Linus endorses signing of tags, which encompasses all commits as well. The only way I can see this happening in practice is if he doesn't have any automated signing in place and manually signs the tags; if that doesn't

[2021-12-22 20:30] matthewoestreich opened #445 "StackOverflow Tag `material-table-core` Has Been Created!"
[I created a new tag on StackOverflow as another avenue for those seeking help.](https://stackoverflow.com/questions/tagged/material-table-core)

### `material-table-core`

[2021-12-22 20:31] #445 closed, assigned to nobody

[2021-12-23 03:28] yashaswinibprasad87 commented on #433
Above Link works.
you can check below too
https://codesandbox.io/s/confident-austin-poz9z?file=/src/App.js

[2021-12-27 22:53] lucasgonze commented on #404
Now that I understand the history of this project I see that you are on top of this already. Thanks for being nice about my newb question.

[2021-12-27 22:53] #404 closed, assigned to Domino987

[2021-12-29 19:55] AshwinTayson commented on #366
@oze4 Yes this is still an issue. With next-js it throws a bunch of errors. @tasoskn Can you tell us how you solved this exactly?

`next-dev.js?3515:32 Warning: Prop `data-rbd-draggable-context-id` did not match. Server: "7" Client: "1"
    at div
    at Draggable (webpack-internal:///./node_modules/react-beautiful-dnd/dist/react-beautiful-dnd.esm.js:7885:58)
    at ConnectFunction (webpack-intern

[2021-12-30 17:29] Domino987 commented on #434
Ok can you put that in a sandbox so we can check it with your setup? @Tobbe129

[2021-12-30 17:34] Domino987 commented on #433
So I looked into it and with the newst version, if you return true isntead of an empty string (indicating some kind of error), it works:

[code]

[2021-12-31 11:29] yashaswinibprasad87 commented on #433
It worked. Thanks.

Any patch release will be there for  validation changes?

[2021-12-31 11:33] Domino987 commented on #433
What do you mean with validation changes?

[2021-12-31 18:10] Domino987 commented on #431
It seems like you are mixing mui v4 and mui v5, Also I cannot reproduce the error for me. Can you check the sandbox and set the correct dependency?

[2022-01-01 01:29] Domino987 commented on #419
How about this.
If you want to adapt the icon, you pass a custom function to the DetailPanel icon and adapt it as you want it.
And the fallback would be the ChevronRight, since it is also used for the detail panel? Would that work for you?
@Tobbe129 @rokpu

[code]

Passed props would include the row and the level/current depth.

[2022-01-01 02:57] yashaswinibprasad87 commented on #431
Code Sandbox throws  error for muiv5 if using material table... its
mandatory to use material core v4 dependency...
But my original project has no depenendency on material ui core

On Fri, Dec 31, 2021, 11:40 PM Domino987 ***@***.***> wrote:

[2022-01-01 10:24] Domino987 commented on #431
No you dont actually: https://material-table-core.com/docs/material-ui-v5.
Just install the next version aka 0.2.X

[2022-01-01 13:21] flimybook opened #446 "Component definition is missing display name in reactjs?"
I am complete my project. Now I am trying to get a production build. But I am getting an error with name "Component definition is missing display name". I am using nextjs.

From my whole proect only two component, show that error like image-
![Screenshot 2022-01-01 191020](https://user-images.githubusercontent.com/93183836/147851560-40523b4d-1061-4eb7-816b-2815700713cd.png)

I use material-table-c

[2022-01-01 14:07] #446 closed, assigned to nobody

[2022-01-01 14:08] flimybook opened #447 "The table requires all rows to have an unique id property"
`The table requires all rows to have an unique id property. A row was provided without id in the rows prop. To prevent the loss of state between renders, please provide an unique id for each row.`

Here Where I use Unique Id. I do not find any documentations?

[2022-01-02 00:08] Domino987 commented on #447
[Here](https://material-table-core.com/docs/breaking-changes#id)

[2022-01-03 06:42] yashaswinibprasad87 commented on #433
It is hard for a new developer to identify such fixes. All these changes or solutions to be in documentation or release notes.

[2022-01-03 06:48] yashaswinibprasad87 commented on #431
please find below screenshot i have removed dependency

![image](https://user-images.githubusercontent.com/43347321/147905238-0a2ef213-22eb-471a-84eb-ed7da2e9619a.png)

Below dependencies added in codeSandBox

![image](https://user-images.githubusercontent.com/43347321/147905269-a8b5b520-9d7c-4aca-8cea-7b9f6578f758.png)

[2022-01-03 09:22] Domino987 commented on #431
Yes as I said above, if you use the Mui v5 version, you need to use the next version of material table. Which is currently 0.2.11. so if you select this version instead of 4.x.x, it should only be Mui v5.

[2022-01-03 09:46] yashaswinibprasad87 commented on #431
Yes , i have changed it in CodeSandbox as mentioned,

 "dependencies": {
    "@emotion/react": "11.7.1",
    "@emotion/styled": "11.6.0",
    "@material-table/core": "0.2.11",
    "@mui/icons-material": "5.2.5",
    "@mui/material": "5.2.5",
    "@mui/styles": "5.2.3",
}

But unable to reorder rows using the code , it was working in earlier versions
Please check out the [link](https://codesandbox.

[2022-01-06 17:18] Domino987 commented on #431
I cannot reproduce the error, It just does not do anything when reordering. Would you mind creating a video or a step by step guide to cause the error in the sandbox?

[2022-01-06 18:39] #118 closed, assigned to Domino987, matthewoestreich

[2022-01-06 18:39] #147 closed, assigned to Domino987, matthewoestreich

[2022-01-06 18:39] #63 closed, assigned to matthewoestreich

[2022-01-06 18:39] #79 closed, assigned to matthewoestreich

[2022-01-06 18:39] #179 closed, assigned to peacechen, matthewoestreich

[2022-01-06 18:39] #167 closed, assigned to matthewoestreich

[2022-01-06 18:39] #59 closed, assigned to Domino987, matthewoestreich

[2022-01-06 18:39] #281 closed, assigned to Domino987, matthewoestreich

[2022-01-06 18:39] #224 closed, assigned to Domino987, matthewoestreich

[2022-01-06 18:39] #332 closed, assigned to nobody

[2022-01-06 18:39] #124 closed, assigned to matthewoestreich

[2022-01-07 09:26] iamwilson opened #449 "Fixed Header on scroll"
Hi Devs,

Just wanted to ask whether there's an implementation/ workaround for having fixed table headers on scroll.

Looking forward to hear from you.

Thanks.

[2022-01-07 19:04] Domino987 commented on #433
Ah you mean the docs.
I just added some [docs for the valdiation](https://material-table-core.com/demos/validation/basic).

[2022-01-07 19:04] #433 closed, assigned to nobody

[2022-01-09 15:29] alex-phillips opened #450 "Support for search field props"
**Describe the solution you'd like**
Currently there's no way to provide additional props to the search field in the toolbar, specifically controlling the `size` field of the TextField that MUI provides.

**Describe alternatives you've considered**
Attempted to manually control the CSS via classes, but this seems a bit out-of-the-way compared to how MUI handles these styles.

[2022-01-09 22:01] rokpu commented on #419
Thanks, @Domino987 this is awesome!

 I'll adapt it to rotate through 3 different icons depending on the level.

Do you have any suggestions on the proper way to pass the level to the DetailPanel without altering other behaviors?

[2022-01-09 22:17] Domino987 commented on #419
Good that you like it. I already have an implementation. I'll crate a PR that you can check it out in a bit. I'll link it here.

[2022-01-09 22:39] Domino987 commented on #450
Would you mind creating a PR for this for example by expanding the Toolbar component to spread optional searchbar props for example to the search input when overriding the Toolbar via the component toolbar??

[2022-01-09 22:43] rokpu commented on #419
Awesome, thanks for the quick turnaround. Looking forward to it!

[2022-01-09 22:45] Domino987 commented on #419
https://github.com/material-table-core/core/pull/451 does this work for you?

[2022-01-09 23:27] Domino987 commented on #419
I am releasing a new version right for. So should be a few minutes till you can try it out in real.

[2022-01-09 23:33] #419 closed, assigned to nobody

[2022-01-10 11:43] iamchathu opened #452 "Typescript issue with Icons"
I'm using @mui/icons-material to setup table icons.

After recent upgrades I get following error

[code]

[code]

The versions I use as following

[code]

[2022-01-10 16:31] kkirsche opened #453 "Fix changelog generation automation"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have
https://github.com/material-table-core/core/blob/master/CHANGELOG.md is not populated with changes between releases.

- #### Please try to be as detailed as possible
It appears that the changelog is generated via automation, and currently states that there are no changes between the releases.

**Describe the bug**
T

[2022-01-12 09:26] smorovic opened #454 "0.2.12 fails to render"
Hi,
After updating to 0.2.12 the table got broken with various missing variable errors (resizing etc.). I found out it's the result of some of the master branch updates not being ported to the next branch. This patch fixes it for our application (but might not be exhaustive):
[code]

[2022-01-12 15:02] tondi opened #455 "Wrong detailPanel prop signature when passing array of functions"
When passing array of functions to `detailPanel` prop, a typescript error is shown. It works well in runtime.

`type RowData = { word: string };`

[code]

rowData.word gives `Property 'word' does not exist on type '{ rowData: RowData; }'.ts(2339)`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/material-table-starter-template-forked-yrup9?file=/src/index.tsx
2

[2022-01-12 17:45] Domino987 commented on #455
Rowdata needs to be the type of the row and not if the column. Rowdata does not contain Word, so it's correct. If you update your type to include word it will work.

[2022-01-12 17:55] tondi commented on #455
Sorry, it should be `type RowData = { word: string }`. I created this example quickly.
Here you can see screenshot with `RowData` updated to correct type, and that the error persists:

![image](https://user-images.githubusercontent.com/25098043/149194905-19f0c959-31ea-46e7-84e5-af5d239ea689.png)

https://codesandbox.io/s/material-table-starter-template-forked-vbd27?file=/src/index.tsx:496-529

[2022-01-12 20:57] feline-dis opened #456 "Unable to render tables with mui v5 and pre-release version"
We have recently upgraded from mui v4 to v5, and subsequently had to upgrade `@material-table/core` to the pre-release version for compatibility. Doing so seems to have caused the tables to stop working due to some undefined variables/type errors. Here are the errors present:

[code]

[code]

I was able to reproduce with a simple codesandbox using mui v5 and the @material-table/core pre-release ve

[2022-01-13 16:09] Adphi commented on #295
Sorry to comment in a closed issue, but a forwardRef is indeed missing.  I have just been hit by this problem while trying to implement rows drag and drop using react-dnd.

[2022-01-13 18:28] DavidLemayian commented on #456
related to https://github.com/material-table-core/core/issues/454

try install 0.12.11 for now

[2022-01-13 18:44] #363 closed, assigned to Domino987

[2022-01-14 03:38] ckchiu2 opened #457 "Enhance "remote data""
**Is your feature request related to a problem? Please describe.**

I am integrating material-table with redux. However, redux is designed to return its latest state **after** a render, causing it incompatible with the remote data feature offered by material-table.

**Describe the solution you'd like**
1. In fact, the table itself has the `page` and `totalCount` props which are used for leveraging

[2022-01-14 14:12] rjumatov commented on #456
When will the main releases of this library support MUI5?

[2022-01-14 16:16] Domino987 commented on #456
Yes we had an erroneous merging which I will fix over the weekend and will release a new version. Sorry for that. Regarding the main branch, since it works currently quite well, I am not sure but as soon as majority is using the next Branch I guess.

[2022-01-14 17:33] Phygon opened #458 "On "add row", set focus on the new row"
This can be seen in the "editable" demo: https://material-table-core.com/demos/edit/editable

When clicking the "add" button, the focus is not in the edit fields of the new row, so that we have to click again before starting to write. This becomes tedious when adding multiple rows.

Is there an easy fix to add that behaviour (set focus on the edit fiels of the new row), or should that even be adde

[2022-01-14 21:35] alex-phillips commented on #224
Any update on this?

[2022-01-16 11:11] Domino987 commented on #456
I just release v0.2.13 which works again xD

[2022-01-16 11:11] #456 closed, assigned to nobody

[2022-01-16 11:11] Domino987 commented on #454
Closing in favor of #456

[2022-01-16 11:11] #454 closed, assigned to nobody

[2022-01-17 08:04] rjumatov opened #460 "next-branch uses deprecated @mui/styles since 0.2.13"
**Describe the bug**
I get a `DependencyNotFound` error when upgrading from 0.2.11 to 0.2.13.
It suddenly depends on `@mui/styles` which is per mui documentation:

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/material-table-starter-template-forked-c43h3?file=/src/index.js
2. Everything works as expected without `@mui/styles` dependency

3. Go to https://code

[2022-01-17 08:39] rjumatov commented on #456
@Domino987 could you take a look at #460?

[2022-01-18 11:30] Domino987 commented on #460
Will be fix with the next release

[2022-01-18 11:30] #460 closed, assigned to nobody

[2022-01-19 23:39] pinkMoneyKing opened #461 "When making a cell editable with the lookup property in the column the value passed to the Select component is wrong."
**Describe the bug**
When making a cell editable with the lookup property in the column, the value passed to the Select component is wrong. In the data, the value for the lookup property corresponds to the lookup key. `data = {name: 41}, column: {field: 'name', lookup: {41: 'this is my name'}`. When you make the cell editable and click into it, opening the select component, the value passed to the

[2022-01-20 05:52] chmelevskij opened #462 "Type error in TS 4.5.4"
When project is running with typescript 4.5.4 can't compile. Seems to be issue in `node_modules/@material-table/core/types/helper.d.ts` [helpers.d.ts](https://github.com/material-table-core/core/blob/master/types/helper.d.ts)

[code]

[2022-01-20 06:01] chmelevskij commented on #462
Ok, so quick investigation shows that `node_modules/@emotion/core/types/index.d.ts` has
[code]

Which brakes it, so not really an issue with this package.

[2022-01-20 06:23] chmelevskij commented on #462
Issues was in storybook using emotion. Solved by adding `"skipLibCheck": true` in my tsconfig.json

[2022-01-20 06:23] #462 closed, assigned to nobody

[2022-01-21 03:55] yashaswinibprasad87 opened #464 "Create a custom Filter component not working with tableData property"
function handleChange(e) {
const val = e.target.value;
setSelectedVal(val);
console.log(val,props)
props.onFilterChanged(props.columnDef.tableData.id, val);
}

provide a solution for filtering column values

[2022-01-21 10:41] Domino987 commented on #464
Per our guidelines, could you create a sandbox and you want to acheive?

[2022-01-21 10:45] Domino987 commented on #461
Would you mind throwing this in a sandbox?

[2022-01-21 11:01] yashaswinibprasad87 commented on #464
Expected : to filter based on Languages

[2022-01-21 11:28] Domino987 commented on #458
I like that, I will add it to the base lib.

[2022-01-21 11:49] Domino987 commented on #458
Done with the most recent release.

[2022-01-21 11:49] #458 closed, assigned to nobody

[2022-01-21 12:05] isabellachen opened #465 "Detail panel closes when component refreshes"
Due to my component which contains this table being connected to the redux store, the table is continuously being refreshed due to a ticker in the store. I want to remove the ticker from the store but for now I can't remove it.

In the original implementation, this did not happen. I'm not sure why? Perhaps it was a simple DOM element unaffected by re-renders? But because now the detail panel is a

[2022-01-21 15:06] ckchiu2 commented on #464
You are filtering like using an ordinary text filter. To filter for an exact match of the row data, you need to provide the `customFilterAndSearch(value, rowData)` callback in the column definition.

Made some changes to your sandbox
https://codesandbox.io/s/quirky-haibt-qu5t3?file=/src/App.js

Edit: swapped the parameters per comment

[2022-01-21 15:52] rjumatov commented on #460
Fixed in 0.2.14

[2022-01-21 15:55] Domino987 commented on #465
This was not the case because the original one mutated your data up into the redux store.
Would you mind creating a sandbox for this (maybe without redux but just a local ticker wit huse state maybe?) so I can take a look?

[2022-01-21 16:03] Domino987 commented on #464
@ckchiu2 Yes this would be the way to do it. Thanks for the answer.

Just FYI, you need to swap value and rowdata params in the customFilterAndSearch.

[2022-01-21 16:27] tondi commented on #455
@Domino987 Do you want me to submit a PR with the proposed fix?

[2022-01-21 16:29] Domino987 commented on #455
I am currently looking into it but sure!

[2022-01-21 17:25] Phygon commented on #458
Thanks, that was quick!

However, I have two problems with this implementation:
1) My first column is not editable, so nothing gets the focus; Currently, I made a monkey patch like this:
[code]
However, either setting focus on the first editable, non-hidden column would be good.

1) Similar to #456 , the element focus is set back each time the components refreshed. That is, when I type in one of t

[2022-01-21 17:30] ckchiu2 commented on #457
Any comment on this item?

[2022-01-22 01:11] Domino987 commented on #458
Hmh seems like there is still some stuff to work out ;)
Regarding number 2, I change the base implementation and it should work with the next release.

Also I am working on a heuristic to improve the focus.

[2022-01-22 01:22] Domino987 commented on #458
Can you check out the new implementation?

[2022-01-22 06:54] isabellachen commented on #465
@Domino987 Thanks for the comment. Can you explain what you mean by the original material-table mutating the data up into the redux store?

I'll look at creating a sandbox on Monday. Thanks for maintaining this package :)

[2022-01-22 06:57] yashaswinibprasad87 commented on #464
Thanks will try this out,.. why is render and customFilterAndSearch method used? any reference docs to read about it, as there are lot of difference between this version and previous versions. (as the same code was working before migration to latest version of material-table-core

[2022-01-22 08:52] ckchiu2 commented on #464
You can view the ~outdated~ documentation from the original repository: https://material-table.com/#/docs/get-started
I used to dig out what can be achieved by referring to this guide (and from the source code lmao)

[2022-01-22 09:37] yashaswinibprasad87 commented on #464
reseting the filter on change of empty option  is not Working with the code , can you verify and update it

[2022-01-22 09:50] ckchiu2 commented on #464
I think I forgot to save my latest change to the sandbox. Try again now.

[2022-01-22 10:31] yashaswinibprasad87 commented on #464
Worked

[2022-01-22 10:31] #464 closed, assigned to nobody

[2022-01-22 10:31] yashaswinibprasad87 commented on #464
Working

[2022-01-22 11:06] Domino987 commented on #465
Check it this issue die more Infos: https://github.com/mbrn/material-table/issues/1371

[2022-01-22 16:54] Domino987 commented on #452
Would you mind adding this to a sandbox?
FYI, you do not need to add the icons yourself anymore.

[2022-01-22 17:18] Domino987 commented on #461
This will be fixed with the next release.

[2022-01-22 17:18] #461 closed, assigned to nobody

[2022-01-23 09:56] Tobbe129 commented on #434
This is now fixed in latest version. GJ!

[2022-01-23 09:56] #434 closed, assigned to nobody

[2022-01-23 09:57] Tobbe129 commented on #438
Got it working, of course it was my fault, I was adding the function for finding parent node (for tree mode) conditionally, otherwise false which was incorrect, undefined instead made it work. Closing this.

[2022-01-23 09:57] #438 closed, assigned to matthewoestreich

[2022-01-24 11:46] ghyoo91 opened #466 "When the draggable false, the sorting is not working. (v4.3.16 -> v4.3.17)"
**Describe the bug**
When the options.draggable is false, the options.sorting is not working - sortIcon isn't rendered + header can't be clicked for sorting.

**To Reproduce**
Steps to reproduce the behavior:

1. Prepare a table with data and using release version before v4.3.16.
2. Set the "options.draggable" false & the "options.sorting" true.
3. Check the sortIcon has appeared and the sorting c

[2022-01-24 13:56] #372 closed, assigned to nobody

[2022-01-24 14:03] Phygon commented on #458
This works. Thanks!

[2022-01-25 05:53] yashaswinibprasad87 commented on #431
Re-order is not working in the below Sandbox link:
https://codesandbox.io/s/confident-austin-poz9z?file=/src/CustomTable.js

Uploading
 screen-capture (1) (4).mp4…

[2022-01-25 12:19] #66 closed, assigned to matthewoestreich

[2022-01-25 14:44] Domino987 commented on #466
Seems like [this PR](https://github.com/material-table-core/core/pull/444) introduces some breaking changes and bugs.

I fix this and should be working with the lastest version v4.3.23.

[2022-01-25 14:44] #466 closed, assigned to nobody

[2022-01-25 19:19] TCM5 opened #467 "Failed to parse source map of react-double-scrollbar"
**Describe the bug**
This is not a material-table-core problem itself, but a rather from the dependecy react-double-scrollbar. This was already reported in rds repository [(https://github.com/umchee/react-double-scrollbar/issues/9)](https://github.com/umchee/react-double-scrollbar/issues/9) , and seems to be introduced on the release that material-table-core is using.

The project react-double-scr

[2022-01-25 19:31] bhkangw commented on #275
Hi we are using MUI v5! Any idea when the prerelease version will be finished testing and officially released?

[2022-01-25 19:37] Domino987 commented on #275
It is always on par with the master version so you can expect the same code for each branch. Since about half of the downloads are still for v4, maybe we wait a bit more. But again, it's the same code just adjusted for now.

[2022-01-26 08:47] ghyoo91 commented on #466
Thank you for correcting it immediately!
But sadly I think there is a side-effect.

In v4.3.23, the sorting is functionally working but the header's style is applied to the icons only.
![side-effect_v4 3 23](https://user-images.githubusercontent.com/20279300/151130396-04e3e4a3-e19c-4bd0-9d60-8495827906fc.png)

And this is the same example with just changing the version to v4.3.16. Several styles a

[2022-01-27 11:17] Domino987 commented on #467
Well it looks like even earlier versions have the same problem, so downgrading does not fix this.
And since its just a warning, not sure if this is too urgent.

[2022-01-27 16:52] #383 closed, assigned to nobody

[2022-01-27 16:53] #386 closed, assigned to nobody

[2022-01-27 21:26] #455 closed, assigned to nobody

[2022-01-27 21:51] andremantaswow opened #469 "Toolbar action icons not aligned with default action icons (MUI 5)"
**Describe the bug**
Toolbar default icons are not aligned with custom action icons because they have different paddings.

Looking at the code for the `columnsButton`, we can see it has a prop `size="large"`
https://github.com/material-table-core/core/blob/next/src/components/MTableToolbar/index.js#L143

But the other ones don't have this `size` prop set. Eg the `Add` action: https://github.com/ma

[2022-01-27 22:47] josue-uitzil-by opened #470 "Proptypes warning in console when passing a ref to MTableCell"
Hi, I found the following proptypes warning while trying to override the cell component on material-table/core v4.3.10, however it can also be reproduced in v4.3.23.

**Describe the bug**
A proptypes warning is printed into the console when you override the cell component with a custom MTableCell that receives a ref. The issue is reproduced in the following codesandbox: [https://codesandbox.io/s/e

[2022-01-28 11:05] Domino987 commented on #470
This should be fixed with the next release!

[2022-01-28 11:32] Domino987 commented on #469
Thank you for the detailed issue. It will be fixed with the next release!

[2022-01-28 11:32] #469 closed, assigned to nobody

[2022-01-28 11:34] #470 closed, assigned to nobody

[2022-01-28 16:57] mseccafien-sap opened #471 "Sorting - Hover over column does not show sort icon, clicking column does not sort"
See demo:
https://codesandbox.io/s/wonderful-oskar-2sewq?file=/src/App.js

**Describe the bug**

In current version 4.3.24, hovering over a column does not show the sort icon. You have to hover slightly to the right of the column name to reveal the hidden sort icon which is not very user friendly and not consistent with https://material.io/components/data-tables#behavior. In 4.3.16, this is not th

[2022-01-29 02:18] Domino987 commented on #471
Yes, I am aware and we are working on fixing it.

[2022-01-29 02:59] Domino987 commented on #471
Looks like #444 introduced that error. It should be fixed by the latest version.

[2022-01-29 02:59] #471 closed, assigned to nobody

[2022-01-29 03:04] Domino987 commented on #453
Hi, yes thank you for this.
It is indeed auto generated if we use correct pretags to the commits like fix: bug: etc.
Seems during the latest development, we omit those a few times.
Ill try to do better,

[2022-01-29 03:04] #453 closed, assigned to nobody

[2022-01-29 12:32] Tatfi32 opened #472 "Summary row crashes when search or filter result is empty"
The example link from the official website: https://material-table-core.com/demos/Summaryrow/basic

When you type in the search element something, that is not present in the table, the whole table crashes.
Tables without summary row don't exhibit this behavior. Filters also cause the same issue.

[2022-01-29 12:40] CabdiraxiimAxmed commented on #472
I want to work on this. **please assign to me**

[2022-01-29 13:00] Domino987 commented on #472
Sure thing. Go for it!! Thank you

[2022-01-29 13:04] Domino987 commented on #472
I think this was caused because the version of the table in the docs was still old.

[2022-01-29 13:06] Tatfi32 commented on #472
It is not a bug probably, it appears you need to add a length check on data. The following code solves the issue.
But it is not obvious.

[code]
![image](https://user-images.githubusercontent.com/45382631/151662054-f90d7468-1562-45f7-b4af-5af36576a7e2.png)

[2022-01-29 13:07] Domino987 commented on #472
It also should not be. Since its a hassle for the user, we should do this.

[2022-01-29 13:19] Domino987 commented on #472
Ok I updated the table version on the website. Seems to work now

[2022-01-29 13:39] #472 closed, assigned to CabdiraxiimAxmed

[2022-02-01 20:47] Azarchaniel opened #475 "Show more pages around current page in stepped pagination"
I would like to have option to set a number of pages 'around' current page.
Example:
Currently, when I am on page 6, I see something like this < 5 6 7 >.
I would like to have an option, like {numberOfPagesAroundCurrent: 2}, and the result will be < 4 5 6 7 8 >.
{numberOfPagesAroundCurrent: 3} will lead to < 3 4 5 6 7 8 9 >.
Of course, when we are getting to the last page, it should be 'cropped'. T

[2022-02-03 02:31] matthewoestreich commented on #475
Hello! Would you mind opening a discussion for this?

[2022-02-03 02:31] #475 closed, assigned to nobody

[2022-02-03 02:34] matthewoestreich commented on #457
If you provide a function to the `data` prop that is considered remote data. This is not documented on material-table-core.com but it is on material-table.com. You can find more here https://material-table.com/#/docs/features/remote-data

[2022-02-03 08:50] hlarouss opened #478 "Data with no id attribute"
Hello everyone,

I'm using Material-Table to display a bunch of data I extract from my DynamoDB table. Each row of data has an id field but it's not called "id", it's actually called "SK".

Is there a way I can tell Material-Table to use "SK" (or any other name) rather than "id"? The other solution would be to add the "id" field when I get the data from DynamoDB but I wanted to avoid doing that.

[2022-02-03 21:16] adamTarr commented on #391
@oze4 here is a code sandbox. Seems the issue is if the row data doesn't have a prop `id`, the error message about unique row ids shows in the console.

https://codesandbox.io/embed/elated-torvalds-qpns3?fontsize=14&hidenavigation=1&theme=dark

I've also seen this suggested to try and set the row ID but haven't had success setting it dynamically based on data from the data used for the rows.

[cod

[2022-02-03 22:18] andremantaswow opened #479 "Editable buttons disappear with fixedColumns"
**Describe the bug**
In a table with fixedColumns option, when editing a row, the save/cancel buttons disappear.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `Editable` demo: https://material-table-core.com/demos/edit/editable
2. Paste this code on the `Live Demo` editor:
[code]
3. Confirm that the ID column is fixed when scrolling horizontally
4. Click on the edit button to edit a

[2022-02-03 22:19] andremantaswow opened #480 "Edit mode with fixedColumns option breaks table layout"
**Describe the bug**
In a table with fixedColumns option, when editing a row, the save/cancel buttons disappear.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `Editable` demo: https://material-table-core.com/demos/edit/editable
2. Paste this code on the `Live Demo` editor:
[code]
3. Confirm that the ID column is fixed when scrolling horizontally
4. Click on the edit button to edit a

[2022-02-03 22:22] andremantaswow commented on #480
Interesting... noticed that if trying with `fixedColumns: { left: 2, right: 0 },` everything seems to be fine

[2022-02-04 11:53] andremantaswow commented on #479
for some reason github opened duplicated issues, closing this one

[2022-02-04 11:53] #479 closed, assigned to nobody

[2022-02-05 12:55] Domino987 commented on #478
That would be an interesting prop to add. Would you mind creating a PR to adress this?

[2022-02-05 12:57] Domino987 commented on #480
Maybe the default fallback values for left and right are not set correctly. Would you mind checking if you can resolve this in the code?

[2022-02-06 18:26] thisismydesign opened #483 "`@mui/lab` should be part of dependencies"
I'm following the official docs for mui v5 and installing via `yarn add @material-table/core@next`.

Then I get the error: `Cannot find module '@mui/lab/DateTimePicker'`

I think `@mui/lab` should be part of dependencies.

[2022-02-07 07:23] b3ni opened #484 "Include the current query in the export function"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

[code]
- #### Please try to be as detailed as possible

In the custom export function, the current value of the global lookup is required.
I already have the filters per column, but the global filter would be necessary. This way you can make requests to the backend and generate custom reports, depending on the stat

[2022-02-07 17:26] andremantaswow commented on #480
@Domino987 where can we set the left and right values for the auto generated Actions column? Not sure if I'm tracking.

[2022-02-08 07:51] yashaswinibprasad87 opened #485 "Unable to change header height of material table"
Row height cannot be reduced

![image](https://user-images.githubusercontent.com/43347321/152941836-2548e296-9c88-4c1c-b7aa-7a003995e098.png)

Tried with height , maxHeight properties, unable to fix,

Any workaround, please help

[2022-02-08 07:53] yashaswinibprasad87 commented on #431
@Domino987  any update on this?

[2022-02-08 21:14] hlarouss opened #487 "Create a prop to tell the library which data attribute is "id""
Following my question and reply from Domino987, I'm creating this feature request.

The idea would be to have a prop where you tell the component which data attribute is "id". This would be a very useful feature for data objects that have an id attribute but is not called "id".

Link to the original question:
https://github.com/material-table-core/core/issues/478

Thanks in advance for your help,

[2022-02-08 21:14] hlarouss commented on #478
Sure thing! It's done, thanks!

[2022-02-08 21:14] #478 closed, assigned to nobody

[2022-02-09 16:37] Domino987 commented on #483
I'll add them to the list. TY!

[2022-02-09 16:37] #483 closed, assigned to nobody

[2022-02-09 17:03] Domino987 commented on #485
Try this:
https://codesandbox.io/s/material-table-starter-template-forked-cmc2f?file=/src/index.js

[2022-02-10 06:43] Chee7ah opened #488 "Column dragging drags the preceding hidden column"
**Describe the bug**
When dragging a column, which is preceded by a hidden column, material table will drag and drop the preceding hidden column, instead of the column being dragged.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://material-table-core.com/demos/columns/hide/](https://material-table-core.com/demos/columns/hide/)
2. Update the live demo by adding a new column to

[2022-02-10 11:45] thisismydesign commented on #483
@Domino987 Thanks! I didn't see an update on the next branch yet or any PRs. Could you keep this open until it's resolved so that it's not forgotten?

[2022-02-10 12:31] Domino987 commented on #483
I already merged it so it's in the code. I'll create a release this week

[2022-02-10 12:31] Domino987 commented on #483
I already merged it so it's in the code. I'll create a release this week

[2022-02-10 15:44] scrozier commented on #467
I'm seeing the same thing. Agreed that it's not urgent, but it does really clutter up my `npm start` window, making it a bit harder to find genuine issues. I'll have a look to see if there's a reasonable fix.

[2022-02-11 17:34] Domino987 commented on #488
This should be fixed with the lastest release

[2022-02-11 18:29] Chee7ah commented on #488
Yep, can confirm, latest version works as expected!

[2022-02-11 18:29] #488 closed, assigned to nobody

[2022-02-11 18:30] Domino987 commented on #488
Perfect 👍

[2022-02-11 20:58] adamTarr commented on #487
Please make this a thing. Tired of the warning in console or adding unnecessary bulk to my data by adding an `id` field.

I made this comment on a different issue that was closed: [#391 ](https://github.com/material-table-core/core/issues/391#issuecomment-1029410025)

[2022-02-13 13:50] Domino987 commented on #484
We already added the searched, filtered and global data to it as 3. parameter. Would that be enough? Or what else do you need for your use case?

[2022-02-13 14:24] Domino987 commented on #487
This can now be done with the idSynonym in options.

[2022-02-13 14:24] #487 closed, assigned to nobody

[2022-02-14 14:52] adamTarr commented on #487
@Domino987 where is that documented? When I search for it, only this issue with your comment references `idSynonym`

[2022-02-14 15:04] Domino987 commented on #487
Its both in the [types](https://github.com/material-table-core/core/blob/master/types/index.d.ts#L335) and the [docs](https://material-table-core.com/docs/breaking-changes#id).

[2022-02-14 15:36] adamTarr commented on #487
Still seeing the same console message even with `idSynonym` in options.

[2022-02-14 16:10] Domino987 commented on #487
Looks like I missed one, now^^

[2022-02-14 16:26] hlarouss commented on #487
I have the same issue

[2022-02-15 22:00] Domino987 commented on #487
Will work now!

[2022-02-15 22:16] adamTarr commented on #487
Pulled latest next branch, still no dice. I tried making a sandbox with next branch but it doesn't let me install the dependency that specifically.

[code]
`The table requires all rows to have an unique id property. A row was provided without id in the rows prop. To prevent the loss of state between renders, please provide an unique id for each row.`

package.json dependencies:

[code]

[2022-02-15 23:17] Domino987 commented on #487
Hmh without a Sandbox, it's quite difficult. I created one this morning 🤔

[2022-02-16 10:27] hlarouss commented on #487
Hello, it's actually working for me now! Not getting the warning anymore :)

`var materialTableOptions={
    pageSize: 10,
    filtering: true,
    idSynonym: 'SK'
};`

I'm using the latest version:

`    "@material-table/core": "^4.3.31",
    "@material-ui/core": "^4.12.3",`

Thanks a lot for your help

[2022-02-16 16:10] adamTarr commented on #487
I can create one with regular `@material-table/core` but not `@material-table/core@next` which is recommended for use with MUI v5.

[2022-02-17 01:01] rokpu commented on #424
Hi, I'm still experiencing the same error. I'm running on the latest version `4.13.31`

[code]

[2022-02-17 01:08] rokpu commented on #424
In the interim, i've reverted to `2.0.12`, and that works. It's much slower

[2022-02-17 16:24] rokpu commented on #424
Slight update here, changing the order of the data to tree based solves the problem for the latest version as well

[2022-02-18 11:43] b3ni commented on #484
Its perfect.
Thank you.
I close the issue.

[2022-02-18 11:43] #484 closed, assigned to nobody

[2022-02-21 20:17] fagom commented on #480
Hi @Domino987, the default overflow values seem to be marked as hidden for the fixedColumns.left, due to which the icons disappear on Edit.
[code]
Marking the overflowX to visible or clip could resolve the issue. However, the width of the Action Item would require some additional modification on the Utils side.
Let me know if I can raise a PR for you to verify it.

[2022-02-22 06:17] fagom commented on #449
Hi @iamwilson, is this what you are looking for?
[MTable-Fixed-Header](https://codesandbox.io/s/mtable-fixed-header-wkw89q?file=/src/App.js)

[2022-02-22 09:28] iamwilson commented on #449
Thanks a tonne. That's exactly what I wanted.

[2022-02-23 07:58] b3ni opened #494 "Disable onRowClick event when a row is being edited"
**Describe the bug**

The table is configured with editable (onRowUpdate) and onRowClick.
When in edit mode, the onRowClick event continues to fire.

**To Reproduce**

[Demo](https://codesandbox.io/s/material-table-starter-template-onrowclick-and-onrowupdate-flp1f2?file=/src/index.js)

1. Click on edit row.
2. Click on other row.
3. The onRowClick event fires

**Expected behavior**

The onRowClick

[2022-02-23 19:54] adamTarr commented on #487
@Domino987 is there a solution for this with MUI v5?

`"@material-table/core": "^0.2.23",
    "@mui/material": "^5.2.4",`

[2022-02-23 20:55] Domino987 commented on #487
Seems like it was not merged yet. I'll do it tonight

[2022-02-24 18:43] janwolfram opened #495 "Draggable columns are hidden behind grouping bar?"
Hey that's an issue that is maybe easily fixable. When I try to pull a header to the groupbar you can not see it anymore (the text you pull). Check it out on the demos:
https://material-table-core.com/demos/group/basic
That was not the case in the real material-table:
https://material-table.com/#/docs/features/grouping.

Maybe anyone has a good workaround to fix it :)

Thanks

[2022-02-24 20:28] adamTarr commented on #487
Finally got it working. Thanks @Domino987 !

[2022-02-24 20:38] Domino987 commented on #487
So it works for Mui v5?

[2022-02-24 20:49] adamTarr commented on #487
Yup

package.json
[code]
usage
[code]

[2022-02-25 07:17] Domino987 commented on #494
Would you mind adding a sandbox for this so I can check it out?

[2022-02-26 21:47] Domino987 commented on #494
Will be fixed with the next release

[2022-02-26 21:47] #494 closed, assigned to nobody

[2022-02-26 22:03] Domino987 commented on #495
This will be fixed with the next release. Thank you for notice

[2022-02-26 22:03] #495 closed, assigned to nobody

[2022-02-27 06:39] siamahnaf opened #497 "The table requires all rows to have an unique id property?"
Although I find one similar issue created by someone. I am getting same issue. But I am not understanding how can I solve this warning.
I am getting same warning like this-

`The table requires all rows to have an unique id property. A row was provided without id in the rows prop. To prevent the loss of state between renders, please provide an unique id for each row.`

But where should I give the

[2022-02-27 06:44] #497 closed, assigned to nobody

[2022-02-27 15:18] #485 closed, assigned to nobody

[2022-02-27 15:19] Domino987 commented on #480
This seems like a possible fix. That's for investigating this. A PR would be most welcome

[2022-02-27 15:25] Domino987 commented on #457
Hi i wanted to come back to this. Why do you want to manage the current page etc with redux instead of just passing all data into the table? Could you elaborate on your setup.

[2022-02-27 21:09] #381 closed, assigned to nobody

[2022-02-28 07:33] fagom commented on #316
Not stale.

[2022-02-28 13:47] monkyaro opened #499 "Display the word Total and and value of total on summary row"
**Total**                                               **200,000**

[2022-02-28 16:09] ckchiu2 commented on #457
Our team uses redux for managing every single request goes to the server.

I also have a private ~abandoned~ project which uses react-apollo to connect to MongoDB Realm GraphQL, where I can foresee s similar problem.

[2022-02-28 23:41] Domino987 commented on #499
This issues does not fullfil the guidelines with a description of what you need nor a sandbox, so I will close it.

[2022-02-28 23:41] #499 closed, assigned to nobody

[2022-03-01 07:52] Domino987 commented on #457
Can I ask why the request goes through redux? The table can only work if it has full control, aka pass all the data, or no control of the data, in the form that data is a function and the current data is returned for the given query. Anything in between would be quite difficult to maintain because there is no true source of Truth. Why does it have to go through redux anyway?

[2022-03-01 08:26] ngoc-d-t opened #500 "Cannot read properties of null (reading 'scrollWidth')"
**Describe the bug**
I am getting the following error: Cannot read properties of null (reading 'scrollWidth')
when using jest to test

**To Reproduce**
should checked this.tableContainerDiv?.current?.scrollWidth

**Screenshots**
material-table.js file
![image](https://user-images.githubusercontent.com/44255006/156133856-7da189d0-f844-41ff-8712-3c1f0dd631f4.png)

**Desktop (please complete the foll

[2022-03-01 16:54] ckchiu2 commented on #457
~Convention problem~

That is why I am suggesting to add an explict flag to indicate that the data is managed outside the table, instead of determining whether it is remote data only by checking if it is an async function.

[2022-03-01 17:29] #412 closed, assigned to matthewoestreich

[2022-03-01 17:29] #407 closed, assigned to TheGoodSpinach

[2022-03-01 17:29] #388 closed, assigned to matthewoestreich

[2022-03-01 17:29] #303 closed, assigned to matthewoestreich

[2022-03-01 18:58] edgar-pozadas-by commented on #420
@oze4 is there any update on this issue?

[2022-03-01 19:31] #387 closed, assigned to Domino987, matthewoestreich

[2022-03-01 21:17] Domino987 commented on #500
This works for my setup. Can you reproduce this I'm a sandbox or look why scroll width of a component might be undefined?

[2022-03-03 13:21] #370 closed, assigned to matthewoestreich, manolo-battista

[2022-03-03 13:21] #415 closed, assigned to matthewoestreich

[2022-03-04 11:55] fagom commented on #422
@obsd will this work?
[Bulk-Edit-Default](https://codesandbox.io/s/mtable-bulk-edit-tn5uye?file=/src/App.js)

[2022-03-06 09:16] Domino987 commented on #465
This is fixed in the newest version

[2022-03-06 09:16] #465 closed, assigned to nobody

[2022-03-06 11:10] fagom commented on #480
@Domino987 the fix with the overflowX does resolve this issue, but it seems the shadow highlights for the fixed columns seems to disappear.
Might be a rookie mistake, but the ```clip``` value (instead of ```visible```) preserves the shadow property. I am not sure if there would be any other impact other than this.

[2022-03-06 12:02] Domino987 commented on #480
Would you mind trying it out and if that works, add a PR?

[2022-03-09 08:34] tondi commented on #500
I think this happened to me as well when `data` prop was incorrect. Not sure if that was the reason tho

[2022-03-09 18:05] fernando-garza-by commented on #420
@oze4 Is there any ETA or plans to address this anytime soon? This one is impacting one of our customers and they are having poor performance on their table

[2022-03-09 19:01] matthewoestreich commented on #420
I honestly haven't had a lot of time to dig deep into this but it's def in our radar. Let me take some time to look into the sandbox you provided and I'll try to come up with something. Apologies.

[2022-03-09 19:25] fagom commented on #366
Hi, @Domino987 i did some investigation on the Nextjs support. And as per the code, the grouping is dependent on the options prop ```persistentGroupingsId```, which gets the values from localstorage. Adding the persistentGroupingId gives the below error.

[code]

As per the discussion, in the below link, the page gets rendered on the server side, where localstorage is not available.
https://github

[2022-03-09 19:36] Domino987 commented on #366
That's a good point. Maybe we should add a check if it is there and only do this if it is present. It should not effect the table otherwise because it's just sorting persistence between reloads. Would you mind creating a PR to check for it?

[2022-03-10 10:04] Domino987 commented on #420
I don't think this is something we can do since it'a react thing.
We render the table with empty data/useSate with not data.
One we get the data from the prop, we update them in an useEffect, setting the state.
This will always create a second render as can be seen tin this  [sandbox](https://codesandbox.io/s/billowing-darkness-yhrmq4?file=/src/App.js).
(Disclaimer, yes we use class components sti

[2022-03-10 15:50] tondi opened #504 "How to test filters (Is it possible to add custom classNames / attributes to default filter?)"
Hello,
I'm wondering how to add custom selectors to filter components within `MaterialTable` whilst not having to provide a whole new custom implementation of `filterComponent`.

So, this is what I wanted to do:
[code]
but the LookupFilter is not exported.

Is there any other way of achieving this? 🤔

[2022-03-11 10:08] Chee7ah opened #505 "Column filtering breaks after column reordering"
**Describe the bug**
After reordering columns, the filtering either: works, filters another column, breaks altogether (as the below demo illustrates).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://material-table-core.com/demos/filter/custom-filter/](https://material-table-core.com/demos/filter/custom-filter/)
2. Drag a column around (e.g. Birth Year)
3. Try filtering
4. See

[2022-03-11 11:26] Domino987 commented on #505
Ah nice catch, Would you mind creating a PR with a proposed fix to use the id for all caes instead of the index?

[2022-03-11 11:29] Domino987 commented on #504
Thats a good point. Maybe we should set a name, placeholder or id to the inputs with props by default.
Would you mind creating a PR with a prospeod fix so we can merge it?

[2022-03-11 12:05] tondi commented on #504
I will try to do that later. Generally I think it feels good to have control over selectors/classes in any library.

In this case I need them for filters only, but I'm 100% sure that users would benefit from some name/placeholder/id being embedded in the UI in other places - buttons, data cells in `tbody` etc. It would be nice to have the ability to distinguish columns. I also think that in a perf

[2022-03-12 11:17] Domino987 commented on #505
Will be fixed with next release

[2022-03-12 11:17] #505 closed, assigned to nobody

[2022-03-12 19:12] Domino987 commented on #504
Yes this seems like a good idea. Do you have an idea on how to implement this? I would interested in this as well.

[2022-03-12 21:26] cococov opened #507 "Row index option"
A boolean option to render a first column with the row index would be very usefull or at least return the row index in the RowData object in render function of a column (to build it myself).

The desired behavior is this:

![image](https://user-images.githubusercontent.com/19384973/158035415-e8408987-f4cd-427d-a36e-67ee34250fb5.png)

Despite the sort criteria, always show the renderd row index.

T

[2022-03-13 12:07] Domino987 commented on #507
Hi, could you not just add a column and render the id for example. Because we are not tracking the index currently.
https://codesandbox.io/s/material-table-starter-template-forked-q85qi?file=/src/index.js or https://codesandbox.io/s/material-table-starter-template-forked-68c5qb

[2022-03-13 13:17] Domino987 commented on #422
I am closing this, because this seems to be the right answer. Ty

[2022-03-13 13:17] #422 closed, assigned to nobody

[2022-03-14 13:12] buugaj opened #508 "Numeric column header aligns to left instead of right since 4.3.17"
**Demo**
4.3.16
https://codesandbox.io/s/numeric-align-4-3-16-njfb70
4.3.36
https://codesandbox.io/s/numeric-align-4-3-36-z6yhjh
v5
https://codesandbox.io/s/material-table-numeric-align-muiv5-ku9kf5

Numeric column headers doesn't align properly since 4.3.17. This might be caused by the https://github.com/material-table-core/core/pull/444.

**Describe the bug**
Numeric column headers doesn't align

[2022-03-16 11:03] ngoc-d-t commented on #500
My fault, the project's setup is problematic.

[2022-03-16 16:07] Apoerin commented on #508
@buugaj I have the same issue as you have here https://codesandbox.io/s/material-table-numeric-align-muiv5-ku9kf5
but I don't use `type: 'numeric`,
still on column with icon buttons column header doesn't aligning with rows

I'm using `"@material-table/core": "^0.2.27"` with MUI 5

[2022-03-16 16:53] waynegrigsby opened #509 "You are loading @emotion/react when it is already loaded"
Hi! I've just upgraded to MUIv5 and have just started using Material-Table/Core. Everything seems to be working fine, however, I'm getting a pesky warning that I cant get rid of.

# Warning
[code]
As soon as I remove the import `import MaterialTable from "@material-table/core";`, the warning disappears.

Any idea how to get rid of this warning?

Here are the packages in question:

[code]

[2022-03-16 20:09] Domino987 commented on #509
I do not have this message. Would you mind adding a sandbox where we can see this?

[2022-03-16 21:03] josue-uitzil-by opened #510 "Absolutely positioned column over other columns"
Hi devs, I was wondering if it possible to achieve the behavior shown in the following sandbox using a recent version of material table:
[https://codesandbox.io/s/material-table-starter-template-forked-di81ti?file=/src/index.js](https://codesandbox.io/s/material-table-starter-template-forked-di81ti?file=/src/index.js)

In the sandbox we have a table in which the last column has a fixed width and a

[2022-03-16 21:20] josue-uitzil-by commented on #510
It seems that setting tableData in the column definition works for recent versions of the library, but it might be problematic since it messes up with the internal implementation of the table and is not included in the Column interface: https://codesandbox.io/s/material-table-starter-template-forked-llrkqo?file=/src/index.js

[code]

[2022-03-16 22:24] Domino987 commented on #508
seems that the drag and drop wrapper interferes with the alignment.
I might be able to take a look this week, but PRs or hints are always appreciated.

[2022-03-16 23:34] ShotSkydiver opened #511 "MUI v5.4.4 Introduces changes that breaks various dark mode styling when using useTheme"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have
Can't reproduce in sandbox, needs browser window dark mode

- #### Please try to be as detailed as possible

**Describe the bug**
Since [MUI 5.4.4](https://github.com/mui/material-ui/releases/tag/v5.4.4) was released, I noticed that some of my custom-set dark mode palette colors are no longer used for certain elemen

[2022-03-16 23:46] cococov commented on #507
But in that way when the rows order change, the ID index column gonna change too. Anyway, I gonna try to build a work around, ordering the data object before and adding an index based on the order. Is not the desired behavior, but is close.

Thanks for the answer, if I have some time later, I'll going to make a PR with my Feature request.

[2022-03-17 02:38] JeomJeom opened #512 "Feature request: add sortDirection to customSort function"
**Is your feature request related to a problem? Please describe.**
Request for a `sortDirection` param in the customSort function.
I need it to achieve an outcome where some designated records are always set to be on the top.

**Describe the solution you'd like**
 `customSort(a, b, ..., sortDirection)`

**Describe alternatives you've considered**
The recommendation provided in https://github.com/m

[2022-03-18 07:36] Domino987 commented on #512
Looks like an easy fix. Will do.

[2022-03-18 10:43] Domino987 commented on #507
But this would also be the case if we do it at the level of the table or am I missing something?

[2022-03-18 11:26] Domino987 commented on #512
I added the commit, it will be in the next release.

[2022-03-18 11:26] #512 closed, assigned to nobody

[2022-03-18 11:37] Domino987 commented on #511
It works for me. If you cannot reproduce it in a sandbox, this might be difficult.

[2022-03-18 15:02] cococov commented on #507
The index I've been refering is the rendered index.

Example:

(Base ordered by id)

| index | id |  letter |
| --- | --- | --- |
| 1 | 2 | J |
| 2 | 5 | B |
| 3 | 8 | H |
| 4 | 10 | E |

(now ordered by letter)

| index | id |  letter |
| --- | --- | --- |
| 1 | 5 | B |
| 2 | 10 | E |
| 3 | 8 | H |
| 4 | 2 | J |

As you can see, an inmutable index relative to the row rendered.

[2022-03-18 15:49] Irian-Adappty commented on #255
It's not working form with `type: 'datetime'` sadly.

[2022-03-18 22:38] ShotSkydiver commented on #511
The only reason I can't easily reproduce it in a sandbox is because the in-sandbox browser doesn't respect the system's dark mode, but it might be possible to use the dev tools to force it, I'll try and get it working in a sandbox. It might be a specific issue with a combination of having a custom dark mode theme and a custom theme provider?

[2022-03-19 13:43] Domino987 commented on #511
Probably, especially if it changes with the mui version. Might be a problem on their end. But if you have a sandbox, ill check it out.

[2022-03-19 13:53] Domino987 commented on #510
Hmh did you try to override the tablerow component?

[2022-03-19 14:47] Domino987 commented on #508
This should be fixed with the latest release

[2022-03-19 14:51] #508 closed, assigned to nobody

[2022-03-19 15:27] Domino987 commented on #507
I just added the index to the tableData, so you can add it yourself now.

[2022-03-19 15:27] #507 closed, assigned to Domino987

[2022-03-19 16:34] #500 closed, assigned to nobody

[2022-03-19 16:35] #480 closed, assigned to nobody

[2022-03-19 23:24] Domino987 commented on #316
@fagom Can you check with the latest version?

[2022-03-19 23:25] #449 closed, assigned to nobody

[2022-03-19 23:29] Domino987 commented on #431
No not yet because this is such a complex demo with manipulating the internals of the table itself making it super hard to track what the error might be.
Can you pinpoint the problem or create a minimal demo where the error might be apparent?

[2022-03-19 23:30] #430 closed, assigned to nobody

[2022-03-21 00:31] cococov commented on #507
Thanks !!!

[2022-03-21 21:21] tondi commented on #504
Unfortunately I couldn't find any spare time so I could work on this topic yet. However, I still think this feature would be helpful and is indeed needed.

[2022-03-22 10:35] LeComptoirDesPharmacies commented on #384
This issue is still alive

[2022-03-22 10:40] Domino987 commented on #384
A PR would be most welcome. But I will take a look today.

[2022-03-22 22:22] josue-uitzil-by commented on #510
I think that overriding the row could also bring some problems. If we override the row with a completely custom component, then we would either lose some functionality or have to make a custom implementation for it. Also doing something like this would print some warnings in the console (td cannot be a direct descendant of tbody):
[code]

I did some research on what caused the absolute positioning

[2022-03-23 16:24] Domino987 commented on #510
@jet11x would you mind taking a look here why those changes were made and if this could be fixed?

[2022-03-23 16:27] jet11x commented on #510
Will do

On Wed, 23 Mar 2022 at 16:25, Domino987 ***@***.***> wrote:

[2022-03-28 02:47] kirin-yuen opened #513 "How can I add loading mask when click the onBulkUpdate button."
In my project, I need to overwrite the components props `Action` for get into onBulkUpdate mode, so I want to add a loading status during click the Action button, but if there are too many records and to many columns (validation, cellStyle, editComponent need to gothrought), that get into onBulkUpdate mode will be very slowly (likely it is break down)

So, is there a function that will execute aft

[2022-03-28 08:47] Domino987 commented on #513
Could you add a sandbox for this? Many records still a problem that we are working on. But for this we need a deep rewrite on how the props are passed and memorization. As far as I know the only thing that could be executed after render would be the useEffect, maybe with that somehow

[2022-03-28 16:48] shailahir opened #514 "Question - Is it in active support"
Hi, Is it in active development? I see spotify is using this library in their backstage product for creating tables.

https://github.com/backstage/backstage/blob/master/packages/core-components/src/components/Table/Table.tsx

[2022-03-28 17:17] jet11x commented on #510
tableData had to be ignored on initial render as the field is never present then - agree with above comment not to try setting it as it's really internal MaterlalTable state that which could move out of props in the future.

Thanks for the codesandbox example - made it much easier to think about this.

A new column property is one way forward - as you say that will be cause column width to be igno

[2022-03-28 17:35] matthewoestreich commented on #514
Yes, we are actively fixing issues/accepting & merging PR's.

[2022-03-28 17:56] shailahir commented on #514
great

[2022-03-28 17:56] #514 closed, assigned to nobody

[2022-03-28 19:22] Diae-Louali opened #515 "How to write custom select/checkmark logic for material-table, to include selected rows inside of detail panel nested material-table"
I have a [material-table][1] component where I am rendering a nested materiel-table in the detail panel of each row. I would like to know if there is a way to include detail panel material-table rows in the functions offered by the package. I am mainly interested in the [selection][2] feature for now, but will likely need the same support for other functions like filtering, search, etc...

Now I k

[2022-03-29 05:21] sabbirahmed07 opened #516 "When a column is grouped how to expand the rows by default?"
Hello I am taking a default column to group the rows in a table. So, when every time expanding the rows of a particular group is quite tedious. So, is there any way that by default all the rows will be expanded of that group?

[2022-03-29 09:18] Domino987 commented on #515
Can you describe what you mean with custom select function. What is it you want to achieve.

[2022-03-29 17:48] #442 closed, assigned to nobody

[2022-03-29 17:48] #341 closed, assigned to janderson215, Domino987, matthewoestreich

[2022-03-29 18:09] tednaaa opened #517 "fix any types"
Hi! sorry for deleted template :)

I contributed to the main repo and recently found out that there is a fork version, create a PR?

https://github.com/mbrn/material-table/pull/3116

[2022-03-29 18:28] tednaaa commented on #452
maybe this helped

[code]

[2022-03-29 18:54] Diae-Louali commented on #515
Imagine a table with nested tables in the detail panels. I need to have a way to select all rows including those in the nested tables.  I should also be able to trigger the selection of all the rows in a nested table by selecting its parent row.

[2022-03-29 22:01] sairam0903 commented on #467
As a work around to disable source maps, please refer to https://github.com/mswjs/msw/issues/1030#issuecomment-1004245791

[2022-03-29 22:37] matthewoestreich commented on #515
It sounds like you are looking for a way to control row checked state outside of the table - meaning, not using the provided check box, `options.selection`.

I went ahead and added a demo to our website that shows how you can control row checked state from "outside" of the table. You should be able to follow the same logic to accomplish this.

https://material-table-core.com/demos/selection/outsid

[2022-03-29 23:52] Diae-Louali commented on #515
Thanks, that seems exactly like what I needed.

[2022-03-29 23:52] #515 closed, assigned to nobody

[2022-03-30 00:04] Diae-Louali opened #519 "Provided select checkbox does not work on click."
I have been battling with an issue regarding the provided selection feature where, when I click on a select, the box ripples, but does not get selected (no checkmark). The weird thing is that when I tried to create a [code sandbox](https://codesandbox.io/s/restaurant-menu-as-material-table-with-nested-material-table-detail-panel-forked-n88nn8?file=/src/App.js:3145-3251) using the same components,

[2022-03-30 01:48] matthewoestreich commented on #519
Since this does sound environmental, we would need to see more of the code from your environment to assist. This does not appear to be an issue with material-table-core.

Are you running the latest version?

[2022-03-30 01:53] matthewoestreich commented on #516
Would you mind creating a sandbox that details your issue? You can also check out the demos found here. https://material-table-core.com/demos

[2022-03-30 04:22] DewangS opened #520 "How do you validate cell value against the rest of the values from the same column?"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

So, I have MT with just one editable column. It is of numeric type. When user enters a value, I have a validation code which checks for a valid number i.e. > 0 and also it checks against a range i.e. value must be within that range else it rejects it. All of this works fine so far. Now, I want to ensure that user d

[2022-03-30 06:03] sabbirahmed07 commented on #516
Here is my sandbox code:
https://codesandbox.io/s/goofy-herschel-u9iq7p?file=/src/App.js

[2022-03-30 10:41] Domino987 commented on #520
Could you add your current setup in a sandbox? There are several ways but it depends. You could use the data prop there as well, or the tableRef. It would also be possible to add a parameter to include all data if needed. But we can check that out afterwards.

[2022-03-30 11:43] Domino987 commented on #519
Yes I agree, you need to find the differences and causes between the sandbox and your project. Without that we would look into areas that are most likely not the cause (the MT code itself). Check where the rows/data is mutated or manipulated, i guess .Do you override the columns/fields?

[2022-03-30 11:47] Domino987 commented on #517
Hi, I am not sure what the original problem is. Can you create a sandbox with this? Since any should allow anything, it should just work. Or at least the error message. But only with a sandbox, we would be able to help you. The PR you added using T will also just result in using any, if no generic is provided because that is the fallback.

[2022-03-30 11:47] Diae-Louali commented on #519
The website is a PHP/contao legacy app on a Linux remote server with a lot of jquery all over the place, we recently decided to start using react and deprecating our jquery code gradually.
I am currently using a fork of @material-table/core@4.3.38. But no changes to the fork have been made yet. I just want to use it as a debugging tool.
As you can assume, react/webpack and babel have been manually

[2022-03-30 12:13] Diae-Louali commented on #519
Not sure what you mean, but no material table component is overwritten, I have provided the code (time tracking  component section) up above if that can help.

[2022-03-30 12:56] Domino987 commented on #516
Hi, you need to hack into the internals for that using the tableRef and calling `onGroupExpandChanged` after the initial render:
`ref.current.onGroupExpandChanged([0])` with 0 being the index of the group.
https://codesandbox.io/s/upbeat-lucy-vq1y9g?file=/src/App.js

[2022-03-30 14:39] matthewoestreich commented on #519
This doesn't appear to be an issue with material-table-core. It seems to have something to do with your setup, which falls outside of the scope for this project. If you can objectively show how there is an issue with material-table-core, we would be happy to take a look, but as you stated, it looks like it has something to do with your environment.

Have you checked your console for errors, etc..?

[2022-03-30 14:39] #519 closed, assigned to nobody

[2022-03-30 14:41] matthewoestreich commented on #520
Hi @DewangS - perhaps this demo may help? https://material-table-core.com/demos/validation/basic

[2022-03-30 19:51] tednaaa commented on #517
I rewrote all imports of `material-table` to `material-table-core`, and try to insert the same code, and there are no errors anymore, I didn’t understand why TS cursed at the incompatibility of any type, thanks! :)

[2022-03-30 19:51] #517 closed, assigned to nobody

[2022-03-30 20:37] raulrobi2018 opened #521 "Custom Select component value using editComponent"
**Hi people!**

I have an editable table with MUI Select components rendered by the `editComponent `attribute. Everything works well until I save the data row. Instead of displaying the text of the selected value, it shows the value. After clicking on the Edit button, it shows the Select correctly, with the correct text. According to my investigation, **rowData** stores the value of the Select com

[2022-03-31 00:11] matthewoestreich commented on #521
Hello! Would you mind throwing that into a sandbox so we can take a look?

[2022-03-31 08:37] Domino987 commented on #510
This would work as well @josue-uitzil-by :
https://codesandbox.io/s/material-table-starter-template-forked-c47txh?file=/src/index.js

[2022-03-31 17:20] raulrobi2018 commented on #521
Hello @oze4, thank you for your reply.

Here is the example in CodeSandbox. I had to reduce a lot of code but the behavior of Select fields is the same in this example.

  - #### [CodeSandbox](https://codesandbox.io/s/material-table-starter-template-forked-zhzl9y?file=/src/index.js)

[2022-03-31 18:31] josue-uitzil-by commented on #510
Hi @Domino987, sadly that approach adds a new column with normal positioning to the table instead of having it absolutely positioned over the last column.

I want to share more details about the use case I have for the absolute positioning. I have a table which displays a Chip (or any other component) on hover to give additional information about the row; something similar to this:
<img width="721

[2022-03-31 18:34] matthewoestreich commented on #521
In your `useTable` file/hook, when rendering the `MenuItem` component you can just pass the `.label` into the `value` prop instead of passing the `.value` in.

I changed it to the following and it worked:

[code]
<img width="695" alt="mtc_issue_521" src="https://user-images.githubusercontent.com/21092343/161125605-e8d59135-5208-4c70-acba-6277074c38cf.png">

[2022-03-31 18:46] raulrobi2018 commented on #521
Thank you! Yes, I know that. But the problem is that every option value on selects is the key to the database. For example:
**Id      Desc**
1      BROU
2      BCU

so I need the server to receive the Id and not the description. rowData stores the Id, which is ok, but also displays the id in the table after saving the row instead of the description.

[2022-03-31 18:46] Domino987 commented on #510
Well the sandbox you added would add another column as well.
If you just want to add a absolute Element to the row, the overriding of the rows would be best to render the addition to the rows. But this totally depends on your specific use case.

[2022-03-31 18:53] raulrobi2018 commented on #521
I don't know how the `lookup `attribute works internally, but it has a value and a label, after saving the data it displays the label and not the value.

[2022-03-31 19:52] matthewoestreich commented on #521
I guess I still don't understand the issue.

I thought the issue was that after adding a new row, the displayed text in the row was showing the number (ID) and not the text. I'm not sure where a server comes in or the lookup attribute as your demo is not using them.

Is this the behavior you're after? https://codesandbox.io/s/material-table-starter-template-forked-jluhtg?file=/src/index.js

### Be

[2022-03-31 20:55] raulrobi2018 commented on #521
Thank you! I really appreciate your help!

Now, I added a new field that uses lookup. If you take a look at the console.log, rowData stores the id of the country field and displays the text in the cell, that is the behavior I need for my custom select.

The server comes when it has to save the data in the database. The value of the options selected corresponds to an ID in tables in the database an

[2022-03-31 23:52] matthewoestreich commented on #521
Ok cool that makes sense. You would have to keep track of that logic yourself, most likely within the `onChange` handler in the `TextField`.

Another way would be to use the lookup column prop and modifying the data before passing it in. https://codesandbox.io/s/material-table-starter-template-forked-t898yo?file=/src/index.js (I am only referring to the `lookup` field on the bancos column - the de

[2022-04-01 03:08] DewangS commented on #520
First of thanks tons for a super quick response @Domino987  and @oze4 . @oze4 , I do have a current validation on this ONLY editable column and it works fine i.e. it checks if the value is a valid number and within a certain range. All good so far though the new requirement is to validate the value against the rest of the values in that column to ensure that user don't accidentally enter any dupli

[2022-04-01 04:03] DewangS opened #522 "Check and prevent duplicate values"
Would it be possible to introduce a UNIQUE property for column(s) which can auto check and prevent duplicate values?

[2022-04-01 05:14] DewangS opened #523 "Make API calls from custom validation functions"
# Guidelines

- #### Please include a demo of the issue/behaviour/question you have

Make API calls during the validation event

- #### Please try to be as detailed as possible

Would be good if we can make API calls during the custom validation function execution and wait for the API's response esp. when your validation needs to take place against the persistent DB values

- #### You may fork one

[2022-04-01 06:40] Domino987 commented on #522
It is most likely possible. Would you mind creating a PR to address this?
I am sure could also be achieved using the validation honestly. Would you share a sandbox with your setup?

[2022-04-01 06:41] Domino987 commented on #523
Yes, promises are currently not supported, but would be an interesting use case. Do you have an idea on how to achieve this?

[2022-04-01 06:47] Domino987 commented on #521
Is the correct answer here, I think. Since we use the keys for mapping and values for display, the lookup item you pass must be shaped like this as well.
If you look into the ts files: https://github.com/material-table-core/core/blob/master/types/index.d.ts#L227 you can see that it should not be an value label array, but an object, where key is the id and value the display value.

[2022-04-01 06:49] Domino987 commented on #520
Again, putting this in a sandbox is a requirement so that we can actually look at the whole code instead of snippets.
Only the whole setup would let use efficiently help so, so please provide one.

Async validation is currently not supported.

[2022-04-01 09:21] DewangS commented on #520
@Domino987 will add it to the sandbox and let you know

[2022-04-01 09:22] DewangS commented on #522
@Domino987 will do.

[2022-04-01 10:44] #516 closed, assigned to nobody

[2022-04-01 10:58] Domino987 commented on #510
@josue-uitzil-by check out this: https://codesandbox.io/s/material-table-starter-template-forked-moiw4n?file=/src/index.js

[2022-04-01 10:59] #509 closed, assigned to nobody

[2022-04-01 12:53] jet11x commented on #510
Like it @Domino987.  That's a lot cleaner than adding a new prop to stop a column from being including in the width calculation.

[2022-04-01 16:05] raulrobi2018 commented on #521
Thank you, guys!!!

The main reason I'm using the `editComponent `is that I'm doing some validation between fields. In the onChange of the select component, I check if the value 5 in the field "Tipo" is selected, then I enable two other fields using a variable state called `tipoSelected`. With this validation, in the "Banco emisor" field I do `editable: tipoSelected !== 5 ? "never" : "onAdd"`.

I

[2022-04-01 16:38] josue-uitzil-by commented on #510
Looks nice @Domino987, I think that it could also work and seems resilient to future changes in the width calculations. One possible drawback is that it logs an error to the console (div cannot be a direct child of tbody), which also affects screen readers, but I think it's a good enough solution right now.

I understand that this is a very specific use case, so I'll close this question. If you fe

[2022-04-01 16:38] #510 closed, assigned to nobody

[2022-04-01 19:37] sabbirsristy7494 commented on #516
@Domino987 Thank You Very Much

[2022-04-04 01:19] DewangS commented on #520
here you go @Domino987

[sandbox code](https://codesandbox.io/s/material-table-starter-template-forked-3weg9o?file=/src/index.js)

[2022-04-04 17:53] r0binxp commented on #469
I Have the same problem , any solution ?

[2022-04-04 18:56] matthewoestreich commented on #469
@r0binxp which version are you on?

[2022-04-04 19:01] r0binxp commented on #469
The Latest of Material table core
        "@material-table/core": "^4.3.39",
        "@material-ui/core": "^4.12.3",
        "@material-ui/icons": "^4.11.2",

[2022-04-05 14:49] Domino987 commented on #520
2 things, you need to use the current saved data, not the initial data. and also exclude the current row in the count:
https://codesandbox.io/s/material-table-starter-template-forked-3weg9o?file=/src/index.js

[2022-04-05 14:50] Domino987 commented on #522
Duplicate of #520

[2022-04-05 14:50] #522 closed, assigned to nobody

[2022-04-07 01:38] DewangS commented on #520
@Domino987 doesn't seem to work. It displays Duplicate Id where there are no duplicates and also accepts duplicates without showing error. It also won't work with the bulk update. Instead of 100 values in that table please try with 5 values.

[2022-04-07 10:19] abhishek0502 commented on #513
We have the same use case, can this be prioritized. Thanks

[2022-04-07 13:52] Domino987 commented on #520
I guess it did not save. Here: https://codesandbox.io/s/material-table-starter-template-forked-4rnuvz?file=/src/index.js

[2022-04-08 00:49] DewangS commented on #520
Thanks @Domino987 while your solution works, mine throws an error when I reference the .tableData element of the rawData. I looked at the package.json from your sample and it looks like it uses "@material-table/core": "0.2.17" version 0.2.17 whereas I use "@material-table/core": "^2.3.37",

is tableData something specific to the older version 0.2.17 which the starter template uses?

[2022-04-09 00:58] #447 closed, assigned to nobody

[2022-04-10 19:51] tednaaa opened #525 "reseting pagination options when trying to override pagination component"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

https://codesandbox.io/s/material-table-starter-template-forked-tonu5m?file=/src/index.js

- #### Please try to be as detailed as possible

default pagination:

<img width="568" alt="image" src="https://user-images.githubusercontent.com/79831859/162636836-35f533d9-b04e-46cd-9061-a1bb36317cc6.png">

overridden pagin

[2022-04-10 21:41] Domino987 commented on #525
The sandbox is missing your setup, its just the base sandbox. Could you update it?

[2022-04-11 09:15] tednaaa commented on #525
https://codesandbox.io/s/material-table-starter-template-forked-7z69be?file=/src/index.js

[2022-04-12 03:58] DewangS commented on #520
@Domino987 managed to get it working for both i.e. individual row update and bulk update including calling an API

[2022-04-12 04:13] TheSNSCompany opened #527 "Multi-select field?"
Is there as such thing as a multi-select column?  I have a dataset that returns a column of objects (one-many table relationship) and I'd like it to be editable with a "multi-select" (https://codesandbox.io/s/10xn41w767).  Is this currently possible?

Thanks!

[2022-04-12 19:34] tednaaa commented on #525
@Domino987 updated :)

[2022-04-13 09:38] appukuttan-shailesh opened #528 "DoubleScrollbar.js missing"
Same as ticket in parent repo: https://github.com/mbrn/material-table/issues/3111

Getting this error:
[code]

Versions (package-lock.json):

Installed via:
[code]

[2022-04-13 12:56] emikira opened #529 "Resize column not working if there are hidden columns"
When hiding some columns, then if you try to resize a column that is on the right from those, the table is not taking in count the hiding ones to make the resize.
Here is a demo where you can see that
https://codesandbox.io/s/material-table-starter-template-forked-m05mdr?file=/src/index.js

**To Reproduce**
1. Hide some columns, e.g. `Word` & `Word 1`
2. Resize column `Word 2`
4. See, table is try

[2022-04-13 19:05] KippWade opened #530 "Add columnDef.tableData to the typescript types"
- When utilizing custom components, tableData is not included in the typescript types, so we have to do an ignore to be able to utilize this in the custom component, as we need to use the id & filterValue present in the tableData:

[code]

- We also ran into this issue utilizing rows data for selectedRows
[code]

We would like the Typescript types to include these types of data points, so the @ts-

[2022-04-13 20:58] Domino987 commented on #530
The tabledata is internal and might change between versions, also they are quite extensive.
You could type it yourself with:

    const td : any= { ...columnDef.tableData } // Why do you copy the tabledata here anyway?

You are welcome to try to type it though in a PR

[2022-04-13 21:02] Domino987 commented on #528
Duplicate of #467

[2022-04-13 21:02] #528 closed, assigned to nobody

[2022-04-13 21:04] Domino987 commented on #527
It is but you would need to override it yourself, the edit component and render.
Render like this: https://material-table-core.com/demos/columns/render-image
and editComponent like this in Custom Edit Component Example: https://material-table.com/#/docs/features/editable

[2022-04-14 07:25] strawji02 commented on #467
Disabling the sourcemap makes the typescript server very slow. I want to see the beautiful npm start window.

[2022-04-14 08:57] chrisdie opened #531 "Drag and Drop columns after hiding columns shows dragged column on wrong position."
Demo: https://codesandbox.io/s/material-table-refresh-forked-q7sot5?

**To Reproduce**
In the demo are 7 columns.
C1 till C7. If you hide C2 and C3, and then drag C7 on C5, it lands on position of C4.
I could live with that, BUT:  in the onColumnDragged event you get the destination index of column C5 and not of C4.

This makes it difficult for us to reestablish the columns order from the saved dr

[2022-04-14 10:40] Pietro2999 opened #532 "Remote data, initialPage and detailPanel can't open"
# Remote data, initialPage and detailPanel
With material-table/core@next from npm (0.2.29)

## Description
I'm using remote data to fill my table. All my rows have a detailPanel.
I have to save the state of my filter and the page I was from when dismounting the table. I'm using redux store for it.

So in order to chose the page when I come back on the table, I use the options initialPage with the

[2022-04-14 15:53] chrisdie commented on #531
found a workaround: https://codesandbox.io/s/material-table-refresh-forked-5eb4ps?file=/src/index.js
I need to set the columns again and for that to work correctly I have to delete a tableData object in the column-objects, which are set by the MaterialTable apparently :)

[2022-04-15 18:51] Domino987 commented on #532
Would you mind putting this into a sandbox for us to check out custom your setup

[2022-04-16 09:40] Domino987 commented on #531
That is most likely caused by the recent changes we made to improve the dragging. Ill take a look.

[2022-04-17 08:58] monkyaro opened #533 "How to scroll to newly added row in a table automatically when we click on add row button in React JS"
is m using Material table core to create table in react. I am performing CRUD operations on Table. In a table at a time only six rows are visible.If we want to see more records, need to scroll down and see remaining rows. The problem is when I click on add row button, new row is adding but, the focus is not moving to newly added row(It should scroll down automatically). In first column of table ro

[2022-04-18 13:58] Domino987 commented on #533
Autoscroll ist currently not supported, but you can change the location of the new row to be top. Does that help you ?

[2022-04-18 14:40] KippWade commented on #530
With the custom element for the column filter, we need the id to update the table onFilterChanged.

[2022-04-18 14:55] KippWade commented on #530
`const td : any= { ...columnDef.tableData }`

This still throws a typescripting error

`Property 'tableData' does not exist on type 'Column<{ id: any; } & { accountName: any; } & { primaryAddress: any; } & { primaryAddress: any; } & { chainAccountName: any; } & { accountTypes: any; } & { businessStatus: any; }>'.  TS2339`

The table onFilterChanged requires the rowId, the only way we found to prov

[2022-04-18 15:12] Domino987 commented on #530
You should provide an id yourself anyway. Could you not use this?

Ah I see what you mean. Try (coulumDef as any).tableadata

[2022-04-18 19:00] KippWade commented on #530
Yes, the (columnDef as any).tableData works.  Thank you very much for that, I hadn't tried that approach before.

We tried to set an id in the column definition, but it appears that the onFilterChanged property doesn't resolve to that in any way.  When I logged the tableData, it still reported the id = 0, instead of the "col1" we attempted.

Boss appears to be moderately happy with this solution.

[2022-04-18 21:23] Domino987 commented on #531
All of this will be fixed with the next release. Probably tonight, maybe tomorrow. Thanks for finding this.

[2022-04-18 21:23] #531 closed, assigned to nobody

[2022-04-18 21:27] Domino987 commented on #530
Good that that works. You just tell ts that this one instance could be anything aka not typed. So its quite local, which is to be preferred.

Oh you meant column id, ok yes that's always the index.

Can I close this, since the problem is resolved. IF you want you can try to type tableData but its prone to change and be used as little as possible.

For your use case it should be fine though.

[2022-04-18 21:47] Domino987 commented on #529
This should be fixed with the next release. Thanks for finding this.

[2022-04-18 21:47] #529 closed, assigned to nobody

[2022-04-18 21:53] Domino987 commented on #525
So the way the pagination was originally was written is quite complicated: https://github.com/material-table-core/core/blob/master/src/material-table.js#L904

Rewriting this would be quite extensive, but if you want to try it, a PR would be welcomed. Or you could try to mimic the written code from the link to adjust it yourself in the override level.

[2022-04-18 21:54] #527 closed, assigned to nobody

[2022-04-19 00:00] #450 closed, assigned to nobody

[2022-04-19 02:59] KippWade commented on #530
Yes, close.  Thanks again!

[2022-04-19 02:59] #530 closed, assigned to nobody

[2022-04-19 06:28] Pietro2999 commented on #532
Here is the sandbox: https://codesandbox.io/s/compassionate-architecture-3kicok

[2022-04-19 19:33] joeflatt opened #535 "Export does not get called"
**Describe the bug**
When upgrading library from 4.3.9 to 4.3.31 export stopped working.  Upgrading to 4.3.41 did not fix the issue.

**To Reproduce**
When user clicks on export icon the export menu pops up but when clicking on a menu item the export function is not called.  The popup menu acts as if it doesn't receive a click at all.  It stays displayed.

**Expected behavior**
I believe the code

[2022-04-20 10:50] Domino987 commented on #535
Could you add a sandbox as requested?

[2022-04-20 15:26] emikira commented on #529
Almost there! Thanks for solving it @Domino987
I'm getting this on `v4.3.41` when I tried to resize the column that is on the left than a hidden column
[code]

[2022-04-21 09:28] Domino987 commented on #532
Should be fixed with the latest release

[2022-04-21 09:28] #532 closed, assigned to nobody

[2022-04-21 09:48] MLNW opened #536 "Support React v18"
**Is your feature request related to a problem? Please describe.**

I want to use this package with React v18. When I upgrade my dependencies accordingly, `pnpm` shows the following peerDependency issues:

[code]

**Describe the solution you'd like**
This package should natively support React v18.

**Describe alternatives you've considered**
Do not upgrade React until its new version is supported.

[2022-04-22 11:51] Domino987 commented on #536
Hi, yes we want to support all versions of react in the future, but as the pnmp print already mentions, we have to wait for the other libs to support it.
And since is not the case yet, we have to wait as well. But ill keep this open to support it ASAP

[2022-04-22 11:52] Domino987 commented on #513
Well as requests, a sandbox is needed or we can't start even looking into it.

[2022-04-22 11:52] #520 closed, assigned to nobody

[2022-04-22 11:54] Domino987 commented on #521
@raulrobi2018 Maybe this helps as well: https://medium.com/@domino051/cascading-dropdown-material-table-e9025a424715

[2022-04-22 22:11] grtn316 opened #537 "Searching on boolean value: false returns no results"
When binding a table with boolean values and using the search feature, it only returns values "true" and finds no matches for value "false". I have tried various combinations of searching and cannot get it to work.

I am using version: 4.3.41.

Example of data:

[code]

[2022-04-23 12:54] Domino987 commented on #537
Could you add a sandbox of your exact setup in a sandbox as requested?

[2022-04-24 23:53] ilapsker opened #538 "Grouping doesn't work with next version and mui 5"
Not able to drag and drop column headers.  When dragging column get
![image](https://user-images.githubusercontent.com/96150612/165001846-9ef37cc9-0b10-40b7-904f-ee5792bddac2.png)

Sandbox (same code/deps below): https://codesandbox.io/live/c00f46914b8.
First time using codesandbox if issues with access please let me know

Dependencies:
├── @emotion/react@11.9.0
├── @emotion/styled@11.8.1
├── @mat

[2022-04-25 08:02] MLNW commented on #536
Regarding the `@mui/x-date-pickers`: It seems like the date pickers were moved out of the lab with [Release v5.6.0](https://github.com/mui/material-ui/releases/tag/v5.6.0). Relevant MR: https://github.com/mui/material-ui/pull/31984

Here is the migration guide: https://mui.com/x/react-date-pickers/migration-lab/

[2022-04-25 08:22] MLNW commented on #536
Regarding `react-beautiful-dnd`: It seems like the package is no longer maintained as seen in the README and this issue regarding React v18 migration https://github.com/atlassian/react-beautiful-dnd/issues/2388. Maybe we need to move on to https://github.com/react-forked/dnd?

[2022-04-25 08:26] MLNW commented on #536
Regarding `react-redux`: The major release v8 about a week ago has introduced React v18 support, see https://github.com/reduxjs/react-redux/releases/tag/v8.0.0.

[2022-04-25 15:10] r0binxp commented on #384
I have a problem, I need to sort columns by server-side data, but don't have a function or parameter to show the current sort that came from the server, any suggestions?

[2022-04-25 18:48] raulrobi2018 commented on #521
Thank you @Domino987 !!

It is not exactly what I need but it solved another problem I had.
Thank you very much!!

[2022-04-25 19:56] Domino987 commented on #536
This is only connected to dnd so we do not need to update it manually.

[2022-04-25 19:57] Domino987 commented on #536
This is done locally.

[2022-04-25 19:59] Domino987 commented on #536
I agree, but they do not support 18 yet either.

[2022-04-25 20:28] Domino987 commented on #529
@emikira should work with the latest. But maybe you have another edge case ;)

[2022-04-26 09:30] iamchathu opened #539 "Export PDF complete data"
[code]

This example only export data currently visible. (If paginated only the rendered page). Is there is a way to export whole dataset?

[2022-04-26 14:23] DevMetwaly opened #540 "Numeric column type Filter row (Always aligned to right)"
For a numeric column type, filter row always aligned to right side.
I tried to include align:'left' in column properties, but it only effect the table cells.
[code]

**Expected behavior**
Filter row alignment should deepened on align property passed through column object

**Screenshots**

![table](https://user-images.githubusercontent.com/25035054/165320007-7e81560e-704f-4650-915d-67c9884447f1.PNG

[2022-04-26 19:55] webark commented on #25
@oze4 are we still open to this "all pages" flag potentially?

[2022-04-26 20:57] webark commented on #25
nevermind. I just found the `exportAllData` flag!

[2022-04-26 20:58] webark commented on #25
I might open up an issue for discussion around that it would be nice to be able to choose to export hidden columns if one wanted to.

[2022-04-26 21:03] webark commented on #25
ohhhh... you can set the "export" to true on the column.. sorry. 😬

[2022-04-27 02:27] strawji02 opened #542 "disable click on sort button"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

- #### Please try to be as detailed as possible

- #### You may fork one of the following starter templates if you would like:

  - #### [CodeSandbox](https://codesandbox.io/s/material-table-starter-template-xnfpo)
  - #### [StackBlitz](https://stackblitz.com/edit/material-table-starter-template)

hello. I am using

[2022-04-27 15:54] Domino987 commented on #539
Can you define the whole data set? All data which could easily be extracted from the data prop?
IF oyu look [here](https://github.com/material-table-core/core/blob/master/types/index.d.ts#L349) the third parameter contains many different combinations of your data, aka sorted, filtered, etc

[2022-04-27 15:54] #540 closed, assigned to nobody

[2022-04-27 16:54] raulrobi2018 commented on #521
Hi people! Unfortunately, I didn't find a solution to my problem, so I decided to use another approach that is used at the moment in other functions and it is working correctly. I changed the Select component to the Autocomplete. It use objects to display the options. When I try to save it, an error related to "React child" is displayed. Just complete a line and save it.

I have updated the Sandbo

[2022-04-27 16:59] Domino987 commented on #542
You can override the sort function or the defaultSort on the column to force a specific sort direction.

[2022-04-28 03:41] DewangS opened #543 "How to align pagination controls to the left bottom corner of the table?"
Currently the page navigation control appears on the bottom right corner by default. This makes it harder esp for tables with many columns as user has to scroll all the way to right to use the pagination. Is there any way to align this on the left bottom of the table instead of the right bottom by default?

[2022-04-28 04:52] DewangS commented on #523
Hey @Domino987 I managed to get this working though not under the validation rule but under the onRowUpdate and onBulkUpdate events.

[2022-04-29 07:08] MLNW commented on #536
Yes that is correct, here is the relevant MR: https://github.com/react-forked/dnd/issues/293

[2022-05-01 19:11] Domino987 commented on #538
The link does not work currently. Can you add a working one?

[2022-05-01 21:55] ilapsker commented on #538
https://codesandbox.io/live/c00f46914b8?file=/src/App.js

Hope this works.  I copied Live link first time - sorry! New to code sandbox.

[2022-05-01 22:01] Domino987 commented on #538
No problem!
I see that you are using react 18. This is not yet supported and breaks with the dnd lib.
Please wait for [this issue](https://github.com/material-table-core/core/issues/536) to be resolved and try again with react 18.

[2022-05-01 22:01] #538 closed, assigned to nobody

[2022-05-01 22:02] Domino987 commented on #523
Thats works as well. Very good. Ill close this then.

[2022-05-01 22:02] #523 closed, assigned to nobody

[2022-05-01 22:05] Domino987 commented on #521
@raulrobi2018 You are trying to display an object because if you console.log your value, its an object. But you need the value.
SO try this:
[code]
Or else tipo is and object and react cannot render an object, once the edit is through and row.tipo is accessed.

[2022-05-03 03:39] #275 closed, assigned to nobody

[2022-05-03 06:02] DewangS commented on #543
does anyone know how to align this on left side? @oze4 @DominikEngel

[2022-05-04 13:29] skearney414 opened #545 "Issue rendering when large amount of colums"
I have a table that displays the output of a select from a database,
issue is sometimes people do a "select *" some tables have 500 plus columns.
This causes the screen to freeze until material-table loads the columns.

Is it possible to have some kind of suspense feature while the table is rendering ?
Looks like the columns rendering is not part of isloading.

[2022-05-05 17:49] ilapsker commented on #538
Sorry for slow response but thanks much!  Was trying to figure out why code with a similar setup we have seem to now work.. - unfortunately can't share that code but will keep an eye on that...

[2022-05-06 14:09] jvanbrakel commented on #539
You can add the option

exportAllData: true

This will export all data in the pdf/csv

[code]

[2022-05-06 15:55] grtn316 opened #547 "customFilterAndSearch does not support null values"
When using this option on a column, it drops the null values that are returned from the array.

`{
                    title: "Price",
                    field: "currentPrice",
                    cellStyle: { textAlign: "center" },
                    type: "numeric",
                    filtering: true,
                    headerStyle: { fontSize: 12 },
                    render: (rowData) =>

[2022-05-06 16:35] grtn316 commented on #547
Nevermind, I realized I should be returning rowData not rowData.currentPrice.

[2022-05-06 16:35] #547 closed, assigned to nobody

[2022-05-06 17:54] iamchathu commented on #539
I managed to get this working by passing same data which I pass to `data` prop.

[2022-05-07 09:57] Domino987 commented on #545
Hi,
so rendering 500+ columns is not a use case that we are aiming to support.
So many columns are neither a good user experience nor is it a reasonable amount of components to render in react.
While we are working on improving the performance, I dont think this will be feasible in the future.

We also cannot detect the rendering with react < 18 the transition. So after we upgrade to react18, we m

[2022-05-07 09:57] #545 closed, assigned to nobody

[2022-05-07 10:21] Domino987 commented on #539
That works too.

[2022-05-07 10:21] #539 closed, assigned to nobody

[2022-05-07 10:26] Domino987 commented on #366
Will be fixed with the next version.

[2022-05-07 10:26] #366 closed, assigned to nobody

[2022-05-07 21:10] Domino987 commented on #457
Would you mind setting up your data flow on a sandbox so I can understand your use case better ?

[2022-05-07 21:11] #452 closed, assigned to nobody

[2022-05-07 21:11] #431 closed, assigned to nobody

[2022-05-07 23:02] Domino987 commented on #543
@DewangS
[code]

[2022-05-09 17:00] ckchiu2 commented on #457
https://codesandbox.io/s/get-started-coinbase-client-forked-vlygm9

Just a simple demo of how I want to integrate material table with redux or apollo client

[2022-05-10 12:27] DewangS commented on #543
Sorry @Domino987  but when I added this under <MaterialTable> declaration, I got weird output. Where exactly should this go? I've imported TablePagination from the material-table/core

[2022-05-10 12:29] Domino987 commented on #543
No it's has to be be pagination from Material ui

[2022-05-10 12:58] DewangS commented on #543
@Domino987  So, I have below in my JSX component. As you can see I've imported the TablePagination from Material-ui and added the styling code snippet which you've provided under the <MaterialTable> declaration. Still can't see the pagination aligned to left.

[code]

[2022-05-10 13:47] Domino987 commented on #543
Can you throw this in a sandbox?

[2022-05-10 20:58] raulrobi2018 commented on #521
Thank you very much @Domino987 . I'll try it!

[2022-05-10 23:03] DewangS commented on #543
@Domino987  here it is [Sandbox link](https://codesandbox.io/s/material-table-starter-template-forked-91el43?file=/src/index.js)

I think the issue is with the Material Table core package version ... see below

It works with the "@material-table/core": "0.2.17" which is part of the template code in the sandbox when first fork it.

It gives strange results as I use "@material-table/core": "^2.3.37"

[2022-05-11 07:17] Domino987 commented on #543
You are mix and matching versions of mui, material table and lab that are not compatible. Using material table v2 uses super old code, which needs to use old Mui versions as well. And lab and icons need to be below 5 as well, if you use them Mui V4 in other places. I recommend upgrading the versions to use either but mui VT with material table core 0.2.X or the latest mui V4 with the core 4.x.

[2022-05-11 10:02] DewangS commented on #543
Thanks. Just updated package.json on the forked sandbox with below latest packages ..still no luck

"@material-ui/core": "^4.12.4",
    "@material-table/core": "^4.3.43",
    "@material-ui/icons": "4.11.3",
    "@mui/icons-material": "5.6.2",
    "@mui/lab": "5.0.0-alpha.81",
    "@mui/material": "5.7.0",

[2022-05-11 10:11] Domino987 commented on #543
You are still using both Mui and Material ui. Those clash, use only one

[2022-05-11 12:37] DewangS commented on #543
even withe below packages it doesn't align left ... the moment you remove {...props} it works irrespective if you have MUI and material UI packages.

"dependencies": {
    "@material-ui/core": "^4.12.4",
    "@material-table/core": "^4.3.43",
    "react": "17.0.2",
    "react-dom": "17.0.2",
    "react-scripts": "3.4.4"
  },

[2022-05-11 14:51] Domino987 commented on #543
It seems like it differs between mui v4 and v5.
This works for mui v4:
[code]
https://codesandbox.io/s/material-table-starter-template-forked-u2e3i7?file=/src/index.js

[2022-05-11 14:56] Domino987 commented on #457
Ok, so you download all the data to the frontend, only to download it again during the filtering, instead of just using the table.

I do not understand why you want to download everything and if filtering, download the filtered list again.
Instead of just downloading it and just filter it in the frontend in the first place. Can you walk me through your thought process here?
Mix and matching filter

[2022-05-11 15:01] Domino987 commented on #525
Ah, I just found the problem.
 You are importing the wrong Pagination. For this, you need the base pagination from material ui.
https://codesandbox.io/s/material-table-starter-template-forked-roeiyl?file=/src/index.js

[2022-05-11 15:12] mvitkin commented on #153
Hi, as far as I can tell, this issue is not fixed. This code sandbox running on the most recent version of material-table/core still has the issue:

https://codesandbox.io/embed/material-table-starter-template-forked-6kc8vz?fontsize=14&hidenavigation=1&theme=dark

Maybe I'm missing something, is this working for others?

[2022-05-11 18:53] ckchiu2 commented on #457
I just edited the sandbox to include pagination in the request. I think it is clear enough to show that the filter and pagination (and search and sort, to name but a few) should be done by the backend.

useQuery is just a simple hook provided by apollo client to handle the request state. When variable changes (for example, the name field), the hook will help us to send the request to the backend.

[2022-05-12 02:00] DewangS commented on #543
@Domino987  Perfect...  Thanks tons. This worked.

[2022-05-12 02:00] #543 closed, assigned to nobody

[2022-05-12 15:20] DamanMalott opened #548 "Deployed Site varies from local: Column Headers shunted to the right. Row data shunted to the left"
- material-table 4.3.38

**Describe the bug**
Creating and testing a nextjs app using material-table. Instead everything is smashed to the left for the rows and the column headers are smashed off to the right so far you have to scroll to see them.

**Expected behavior**
It should have the column headers above the rows and the rows should stretch the width of the whole table.

**Screenshots**
![ima

[2022-05-12 15:56] DamanMalott commented on #548
A rebuild of my package-lock fixed it. Disregard.

[2022-05-12 16:26] DamanMalott commented on #548
Actually, it simply fixed one page and pushed new issues to a different page :/
Gutters seem to be the cause now. I can't share the page due to sensitive data unfortunately, but if anyone has had issues like this before and knows of a decent solution please let me know

[2022-05-12 23:55] DewangS opened #549 "Feature request to have custom alignment of the pagination control"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

Current pagination control element appears on the right bottom end of the table. It would be nice to have an option in the <MaterialTable> declaration

- #### You may fork one of the following starter templates if you would like:

[codesandbox with a tweak to align controls to left]( https://codesandbox.io/s/materi

[2022-05-17 12:10] Domino987 commented on #549
Sounds reasonable. I'll take a look at it.

[2022-05-18 08:16] ClassicDarkChocolate commented on #511
I had this issue as well. But after I removed yarn.lock and reinstalled all dependencies, the problem solves.

[2022-05-19 00:09] menehune23 commented on #388
Any way to re-open this? It seems this ability is fundamentally broken.

We're running into this too, as we're trying to disable the tree view when any filter is applied. We do this because the tree behavior UX doesn't mix well with filtering (for instance, you'll see a result and it's ancestors when all we care about is the result itself).

Unfortunately, when the `parentChildData` is switched dy

[2022-05-19 16:21] Domino987 commented on #549
This will be possible with the next release. Ill like the docs soon.
UPDATE:
https://material-table-core.com/demos/pagination/positioning

[2022-05-19 23:32] DewangS commented on #549
Thanks @Domino987

[2022-05-20 11:54] #549 closed, assigned to Domino987

[2022-05-20 15:36] raulrobi2018 commented on #521
Hi @Domino987 @oze4 ! Finally solved!!
The key was to change the `field `attribute of the column definition. I was defining the field attribute of the column "tipo" with `tipo `value, instead of doing that I changed it to `tipo.title`.

Since I managing the `Autocomplete `with objects and setting the value with the `title `attribute, the field should be referenced with the same attribute `title `a

[2022-05-20 15:41] #521 closed, assigned to nobody

[2022-05-20 15:41] Domino987 commented on #521
?

[2022-05-22 07:52] Domino987 opened #550 "Testing v5"
Hello everybody,
we just released a work in progress release: [5.0.0-experimental.0](https://www.npmjs.com/package/@material-table/core/v/5.0.0-experimental.0). The start of a major rewrite using zustand is included to both reduce complexity and prop drilling as well as improve performance by reducing rerenders.

This rewrite is not yet complete and might contain bugs, but is an important step tow

[2022-05-22 16:45] #537 closed, assigned to nobody

[2022-05-24 14:16] ogozman opened #551 "onRowSelected does not workk"
Hi, I am having an issue with onRowSelected prop. I have added a function there but it is not getting called.
My entries all have ids (not sure if it is importnat in this case).
I am using the table in electron with typescript.
Other props work, but onRowSelected is not getting called for some reason:
Reproduce
1. Create a table
2. Assign function to onRowSelected props
3. Select row via checkbox

[2022-05-26 05:54] christophervizcarra commented on #124
Are there any updates on this issue? I'm using v4.3.44 and it would be preferable to not declare a rowStyle on every table.

[2022-05-26 13:36] Domino987 commented on #551
Please provide a sandbox as requested

[2022-05-28 19:29] #551 closed, assigned to nobody

[2022-05-30 08:09] tednaaa opened #552 "error with onSearchChange prop"
[demo](https://codesandbox.io/s/material-table-starter-template-forked-nm6tvx?file=/src/index.js)

in the documentation, the name of the prop is `onSearchChange`

<img width="879" alt="image" src="https://user-images.githubusercontent.com/79831859/170945941-aeb90c2d-178f-403e-8c3f-18eb839633f5.png">

But in the code is `onSearchChanged`
also if you try to use `onSearchChanged`, this function will

[2022-05-30 22:22] Domino987 commented on #552
I think you are mixing two different things here. In the demo, you are overriding the toolbar, which is so far not documented and the props are given from its parent.

The onsearch change of the docs is actually a callback executed when the search value changes to notify the parent component.

So these are different things. What do you want to achieve.

[2022-05-31 07:45] tednaaa commented on #552
I want to implement custom search input field, I searched in closed issues smth like that, but doesn't found

[2022-05-31 21:15] sairam0903 commented on #536
Any news or updates on when this is supported for React 18?

[2022-05-31 21:18] Domino987 commented on #536
The redux fork is not yet updated

[2022-06-01 21:52] bailor1 commented on #256
The original mbrn version of material-table didn't require a sticky headerStyle. The header always remained at the top. Why is this not the case here?

[2022-06-02 00:38] testgh2022 opened #556 "Sort by Date is not working as expected. It only sorts based on the day and not considering month and year"
[code]

[2022-06-02 21:29] raulrobi2018 opened #557 "After open Dropzone dialog in edit mode, the edit state changes to disabled"
I have a similar situation to this post [Stackoverflow](https://stackoverflow.com/questions/69804535/material-table-after-open-dialog-in-edit-row-is-closed-edit-of-row), but the solution didn't work for me.

This is the [Sandbox](https://codesandbox.io/s/material-table-starter-template-forked-vfw1vr?file=/src/useTable.js) example.

I would really appreciate it if someone could help me because I'm

[2022-06-06 10:14] Domino987 commented on #556
Could you add a sandbox as requested? Since it works for me, it might depend on the version or the data objects you are passing. But since there is not sandbox, we cannot verify any of it.

[2022-06-06 14:25] Domino987 commented on #557
So you have a few unessary useCallbacks.
Instead you should move the dialog together with the icon/EditComponent as show in the following sandbox.

https://codesandbox.io/s/material-table-starter-template-forked-k2c4fr?file=/src/useTable.js

[2022-06-06 14:34] Domino987 commented on #552
You would need to override the whole toolbar. Look into the toolbar component to get a sense of what is going on within the toolbar.
What do you want to achieve?

[2022-06-06 15:26] GenesisAtMac commented on #550
https://github.com/material-table-core/core/blob/v5.0.0/types/index.d.ts#L217

RReact.ReactNode is part of v5.0.0.  Any chance for a quick 5.0.1?

[2022-06-06 15:32] Domino987 commented on #550
Ups, will change it, sry.

Update, done

[2022-06-06 15:40] GenesisAtMac commented on #550
Thanks!

And sorry, I should have been a bit more tongue in cheek as I have neeeever done something similar (said with a lot of self-deprecation!)

[2022-06-06 15:41] Domino987 commented on #550
haha no problem xD
Should have check it one more time anyway ;)
Obviously first time for me as well.

[2022-06-07 12:31] Domino987 commented on #556
Hi, as expected you are not passing dates to the table within the fields. You need to wrap the date fields with new Date(value).

The sorting with upper vs lower case originates from Javascript. If you want, you can overwrite the custom sort to compare the fields with .to lowercase()

[2022-06-07 12:42] testgh2022 commented on #556
I tried to pass the date value in the render, however it's throwing the below error.
"Objects are not valid as a React child (found: [object Date]). If you meant to render a collection of children, use an array instead."

render: (rowData) => {
      return new Date(rowData.transDate);
    },
    dateSetting: {
      format: "dd/MM/yyyy"
    }

Could you provide sample code?

[2022-06-07 12:44] Domino987 commented on #556
No you need to change your data object. I am not at my computer right now so maybe later. But the data you are passing into the data prop needs to be data at the right places

[2022-06-07 13:03] testgh2022 commented on #556
I am sorry I don't understand what you have explained. It's not urgent, but I would really appreciate if you could share sample code when you are free.

I also have one more problem with the search functionality.
I have a requirement to extend search functionality for detail panel. The default search functionality of Material-table works fine for tree data. However my detail panel records are diff

[2022-06-07 15:51] Domino987 commented on #556
https://codesandbox.io/s/zealous-leavitt-h4nhbf?file=/src/component/BasicTable.js

Here you can see how I modify your data to have a date object.

Regarding the search, you should be able to just override the customSearch and search each object in there instead of listening to the onSearchChange.
https://github.com/material-table-core/core/blob/master/types/index.d.ts#L184
You just have to return

[2022-06-08 16:42] jasonleenaylor opened #558 "Is it possible to customize the details panel icon on a per row basis?"
In my application I am using a details panel to display the contents of a Notes field on the row.
Users can add multiple Notes, or have no notes at all for any given row.
I would like users to be able to see by the icon if there are any notes for a row to save clicking on the icon.

I see that there is a way to add a custom icon, but is there any way currently to customize the rendering of the ico

[2022-06-09 01:35] testgh2022 commented on #556
It's working. It simplified my work in a great way. Thanks a lot.

[2022-06-10 09:51] Domino987 commented on #558
Yes you can pass a function to return the detail panel object to the prop

[2022-06-11 19:52] #556 closed, assigned to nobody

[2022-06-13 22:16] josueuitzil opened #559 "Add 'overlay' as an accepted value in the overflow options"
Hi devs,

I noticed that you get a prop-types error in the console when you try to set the overflowY property of the table container to 'overlay'.
<img width="730" alt="image" src="https://user-images.githubusercontent.com/61981074/173452708-8a0b4fd8-a8cf-4c03-b078-554febc60956.png">
[Sandbox](https://codesandbox.io/s/material-table-starter-template-forked-f5jyf0?file=/src/index.js)

This error co

[2022-06-14 07:53] NivBox opened #560 "Number of rows selected banner hides export icon in MTableToolbar"
![image](https://user-images.githubusercontent.com/66591073/173512467-dbd5a582-a561-4fcc-ae39-351c6c132fc1.png)

I'm using @material-table/core version 0.2.32. Here is my codesandbox for the implementation. https://codesandbox.io/s/little-brook-2mfzf1?file=/src/App.js

The select rows banner overlaps/hides the export icon in the toolbar, while search bar is still visible.

[2022-06-15 01:22] Linos2508 opened #561 "Grouping Header does not disappear"
# Guidelines

dragged column does not disappear until next render, same viceversa the column does not appear until next render when you deleted from the grouped columns
version 5.0.1 and bigger

https://codesandbox.io/s/grouping-zu4gw

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the codeSandbox
2. Drag&Drop a

[2022-06-15 01:27] Linos2508 opened #562 "onGroupRemoved wrong type"
at onGroupRemoved prop the type of parameter index is boolean and it should be number 4.3.43 and bigger

https://github.com/material-table-core/core/blob/4fd6f459b17be7efed77f2e3686307cbcac82a5d/types/index.d.ts#L63

[2022-06-15 07:10] Domino987 commented on #559
Hi, those prop types are really old and most likely need updating. So yes please open an PR, thanks !!

[2022-06-15 07:10] Domino987 commented on #560
Can you add a sandbox as requested so we can take a look at it ?

[2022-06-15 07:11] Domino987 commented on #562
That's true, would you mind open a PR for this?

[2022-06-15 09:27] nguyentienviet123456 opened #563 "How to prevent reordering first column in material table."
Hello all,
I'm wondering how to add custom attribute to prevent reordering first column in material table. MaterialTable doesn't provide attribute to do that.

Is there any other way of achieving this? 🤔

[2022-06-15 09:39] NivBox commented on #560
Updated the comment with a link to codesandbox implementation

[2022-06-15 15:36] Linos2508 commented on #562
I will

[2022-06-15 17:07] #420 closed, assigned to matthewoestreich

[2022-06-15 18:46] Linos2508 commented on #562
I Opened the PR please take a look as soon as you can @Domino987

[2022-06-15 20:13] josueuitzil commented on #559
I just opened a PR for this, thank you!

[2022-06-15 20:13] #559 closed, assigned to nobody

[2022-06-16 13:06] Domino987 commented on #563
What do you mean reordering. Can you specify or share a sandbox?

[2022-06-16 13:07] Domino987 commented on #562
I merged the PR. Thanks.

[2022-06-16 13:07] #562 closed, assigned to nobody

[2022-06-16 13:21] DennisRP opened #566 "Crash when filtering on tabletree"
Demo running 4.3.44:
https://codesandbox.io/s/material-table-starter-template-forked-qnwwfg
Try to enter any term in the filter field. The first keypress will crash the table.

This seems to happen due to the ordering of the items. If I move the first item ("failswhenfirstinobject") to the bottom, it works as expected.

I couldn't locate the issue, but I did see it crashed, because the array of pa

[2022-06-17 02:05] nguyentienviet123456 commented on #563
I mean prevent to drag/drop on first column header.

[2022-06-17 07:16] Domino987 commented on #563
Did you try this column prop https://github.com/material-table-core/core/blob/master/types/index.d.ts#L222 ?

[2022-06-17 07:30] nguyentienviet123456 commented on #563
Hi Domino987, I did try this property but It's not work

[2022-06-17 08:58] DennisRP commented on #566
This seems to be caused by an index lookup with incorrect offset.

The first object in my data:
`    {
      id: "failswhenfirstinobject",
      parentId: "white2"
    },`
is level 3, and will create level 2 (white) and level 1 (main).

The next set of data, will create level 2 (black) and attach to level 1 (main).

The next set of data, is level 2 (white) again, which already exists. [The code up

[2022-06-17 15:41] Domino987 commented on #566
Could you verify that this has no unseen sideeffects?

[2022-06-17 16:04] Domino987 commented on #563
draggable: false should work.

[2022-06-18 06:52] Domino987 commented on #566
Should be fixed with next release

[2022-06-18 06:52] #566 closed, assigned to nobody

[2022-06-20 02:54] nguyentienviet123456 commented on #563
It's work with draggable. Btw Column type doesn't have prop draggable, please add it.

[2022-06-22 09:26] MLNW commented on #550
Is v5 now compatible with MUI v5? Or do we have to continue using the next branch?

[2022-06-22 17:13] Domino987 commented on #550
Those are still separated due to the large amount of people still using V4.

[2022-06-22 17:18] FalkF commented on #550
"1139 commits ahead" 🎆 is that a 90% rewrite? I have the perfect project for testing it open, nice!

[2022-06-22 17:21] Domino987 commented on #550
No it's not, but we changed a lot with both new features, bug fixes, ts support improved and Muir v5 support.
The new version V5 is started to improve the prop drilling and performance.

[2022-06-24 08:59] Nulligma opened #571 "CellStyle textAlign:"center" works headerStyle textAlign:"center" doesnt"
https://postimg.cc/gxHnysXm

for columns data if you put textAlign of cellStyle to center it works but it does not work for headerStyle. How to center text in header?

This problem does not occur in material-table.

[2022-06-24 14:03] imnasnainaec commented on #536
Here's the hold-up as of April: https://github.com/react-forked/dnd/pull/336

[2022-06-25 12:45] Domino987 commented on #571
Could you add a sandbox for this?

[2022-06-25 17:16] #316 closed, assigned to nobody

[2022-06-26 11:38] LukePrior opened #573 "ThemeProvider Dark Mode Not Wokring"
# ThemeProvider Dark Mode Not Wokring

I am trying to use dark mode in Material UI but the table styling is not updating. You can see an example codesandbox where this behavior is demonstrated below.

## Example

  - https://codesandbox.io/s/material-table-starter-template-forked-2i9dkh

[2022-06-27 03:27] Piporono commented on #571
Hi @Domino987

I also encounter the same problem (the textAlign attribute does not work for headerStyle, but it does work for cellStyle). You can quickly test it on any of the live demos in the "Style" category on this project website by adding `headerStyle: { textAlign: "center" }` to one of the column definition.

I also found out that the "draggable" div that wrap around the header cell might b

[2022-06-27 09:49] Nulligma commented on #571
https://codesandbox.io/s/material-table-starter-template-forked-5xbnm2?file=/src/index.js

[2022-06-27 10:53] NivBox commented on #560
@Domino987 Just checking to see if there is any update on this issue

[2022-06-27 10:58] Domino987 commented on #560
I am looking into it but the bug is not yet resolved since the rendering differs between the two states and I do not want to introduce a bug because of this

[2022-06-27 11:57] #504 closed, assigned to Domino987

[2022-06-27 21:39] Domino987 commented on #560
This will be fixed with the next release this week.

[2022-06-27 21:39] #560 closed, assigned to nobody

[2022-06-27 21:46] Domino987 commented on #573
Its because you are mixing wrong versions,
If you use mui v5, you need to use the next branch aka 0.XX of material table core.
https://material-table-core.com/docs/material-ui-v5

[2022-06-27 21:46] #573 closed, assigned to nobody

[2022-06-27 21:52] Domino987 commented on #571
Yes this might be the cause but I do not see a way to resolve this, since the tableheader themselves cannot be draggable without breaking the table layout and it is needed to create the drag and drop functionality.

[2022-06-27 22:03] Domino987 commented on #561
It seems like this is connected to the `persistentGroupingsId`. Ill check it out

[2022-06-28 01:57] andrija29 opened #574 "Problem with yarn and dependency solving"
# Problem with yarn and dependency solving

## Error
We get the following error:

[code]

## Explanation
We are using  @mui/lab: 5.0, @mui/material: 5.8.6, @mui/styles: 5.8.6 and since we don't like their table plugin we are using yours @ 5.0.2.
We were using npm and it all worked fine, after we switched to yarn it broke.
So after some debugging I realized that yarn resolves @material-ui/core to t

[2022-06-28 02:06] LukePrior commented on #573
NVM resolved

[2022-06-28 05:05] Domino987 commented on #574
I used it with both yarn and npm and did not have problems. Can you sagte both your package json, at least the important things, and a sandbox with your set-up?

[2022-06-30 17:24] Elabar opened #577 "pageSize props is being ignored on v5 onwards"
How to change the initial pageSize?
We used to do this in `mbrn/material-table`

[code]

But it doesn't work now

[2022-07-01 07:46] sarveshp17 opened #578 "Overriding Row Component not working in 5.0.2"
I am overriding the Row component to implement a Right Click event for each row. It is working fine with v4.3.44 but not working on v5.0.2

**Expected behavior**
Right Click on any row should display an alert saying "right click event"

**Working sandbox with v4.3.44**
https://codesandbox.io/s/mat-table-right-click-4-3-44-g1zvmh

**Not working sandox with v5.0.2**
https://codesandbox.io/s/mat-tabl

[2022-07-01 12:02] LifeIsStrange opened #579 "Unable to export CSV runtime data"
Hi @oze4 @mindaugasnakrosis friendly ping :)

I have a basic use case that is unfortunately not fulfilled by the library (it seems)
[code]

I have used the standard exportCSV function and when I export,
the resulting file has the right column titles, and the first column show all the data, which is working as intented.
**however**, the second column does not shows any data.. the reason is that the

[2022-07-01 15:53] Domino987 commented on #579
Hi, simply parsing a jsx element to text is not possible and if the field is empty, you need to tell the table what the value is supposed to be.
Refer to this prop to get the correct value for the column: https://github.com/material-table-core/core/blob/master/types/index.d.ts#L197

fyi: this is not a bug

[2022-07-01 16:39] Domino987 commented on #578
Oh yes, good catch.
Next version will have this fixed.

[2022-07-01 16:39] #578 closed, assigned to nobody

[2022-07-01 16:40] Domino987 commented on #577
As requested, please add a sandbox!!!

[2022-07-01 16:41] Domino987 commented on #563
will be added with 5.0.4

[2022-07-01 16:41] #563 closed, assigned to nobody

[2022-07-01 17:21] Elabar commented on #577
ok

[2022-07-02 18:11] DukeManh commented on #577
@Elabar, do you mind telling us your solution, please? I'm having the same issue, the `pageSize` prop has no effect.

[2022-07-03 05:35] Elabar commented on #577
I don't have a solution, In fact, it works out of the box when I try to reproduce it with a minimal reproduction sandbox. I reverted back to `mbrn/material-table` for now

[2022-07-03 20:46] DukeManh commented on #577
Downgrading from v5 to v4 makes it work for me.

[2022-07-03 20:52] DukeManh commented on #577
@Domino987, Here's the sandbox of v5 where `pageSize` prop doesn't seem to work. https://codesandbox.io/s/hidden-dew-hr95kq?file=/src/App.js

[2022-07-04 04:38] ckchiu2 opened #580 "Wrong type in index.d.ts in release 5.0.3"
**Describe the bug**

In 5.0.3 release, the component types are changed to React.ReactNode, and it throws error in typescript.
It also does not match with the types declared in master branch.

**To Reproduce**

https://codesandbox.io/s/gracious-hofstadter-mpxqsv?file=/src/App.tsx

![image](https://user-images.githubusercontent.com/43362431/177081692-008418eb-877b-4e8f-b065-ec50f0eba71c.png)

You c

[2022-07-04 06:54] Elabar commented on #577
Ahhh, that explains why I couldn't make a reproduction. I used the sandbox in the bug template which was using 0.xx version. After upgrading to 5.x version, pageSize is indeed not working. Here's my repro link with server data. Reopening this issue as the issue is easily reproduceable.

https://codesandbox.io/s/material-table-starter-template-forked-8w2rr9?file=/src/index.js

[2022-07-04 13:16] Anubiso opened #582 "Typescript: Add missing minWidth to column type definition"
**Describe the bug**
The minWidth property is missing in the column type definition. This pull request adds it: https://github.com/material-table-core/core/pull/581

[2022-07-06 14:16] Domino987 commented on #582
Thanks, will be done with the next release

[2022-07-06 14:17] #582 closed, assigned to nobody

[2022-07-06 14:20] priscaure opened #583 "Localization not working on v5.0.3"
Hey guys,

I'm having an issue with localization on version 5.0.3, it's being totally ignored. Seems to work with version 4.3.44 though.
The issue is easily reproducible on the sandbox.

- #### Please include a demo of the issue/behavior/question you have
  https://codesandbox.io/s/material-table-starter-template-forked-ng9kfq?file=/src/index.js

[2022-07-07 08:54] DennisRP opened #584 "Selection action event that changes values, won't update UI"
When using selection and triggering an event, I change some values in the data, but it does not get reflected onto the UI. Only when some other refresh is forced (like changing page or sorting), the values are updated.

If one instead of changing the property values, changes array length of data (push/pop), the UI is updated.

https://codesandbox.io/s/material-table-starter-update-bug-1so7nu

The

[2022-07-08 09:30] kirin-yuen opened #585 "Mutliple Sorting"
# Guidelines
https://github.com/mbrn/material-table/issues/541

The feature request before 3 years ago, will it be implement it in the core version?

[2022-07-08 13:47] Domino987 commented on #585
You are welcome to try it and add a PR

[2022-07-08 13:57] Domino987 commented on #584
This is indeed weird. Ill check it out this weekend.

[2022-07-08 16:25] Domino987 commented on #584
Ah this is actually the expected behavior.

The problem is, that you are mutating both the new as well as the old data. So they are both equal because you only shallowly copy the array, but not the objects. So after the safe, the old and new data is equal, which skips the rerender.

[2022-07-09 15:24] Domino987 commented on #583
Yes, my bad, will be fixed with the next version.

[2022-07-09 15:24] #583 closed, assigned to nobody

[2022-07-09 15:31] Domino987 commented on #580
Yes we were a little bit to free with the replace all. will be fixed next version

[2022-07-09 15:31] #580 closed, assigned to nobody

[2022-07-09 15:40] Domino987 commented on #577
Will be fixed with the next version. thank sguys

[2022-07-09 15:40] #577 closed, assigned to nobody

[2022-07-09 18:35] Linos2508 commented on #561
Hi @Domino987 any update on this issue?

[2022-07-09 18:48] Domino987 commented on #561
I looked into it but did have a fix yet.

[2022-07-11 13:07] mahmoudim commented on #536
I know it doesn't have the same behavior but might be a good idea to migrate to [react-dnd](https://react-dnd.github.io/react-dnd/)

[2022-07-11 14:02] ar4hc opened #586 "I get an error in Browser "TypeError: _deepmergeTs.deepmerge is not a function" when on 5.x but not on 4."
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

Sorry, code is to ... to get a small repo out of it, will try later this week.

- #### Please try to be as detailed as possible

I have a create-react-app and martial-ui 4.x based (not yet mui 5) project using@material-table/core

After updating to 5.0.x i get the error "TypeError: _deepmergeTs.deepmerge is not a f

[2022-07-11 17:11] Domino987 commented on #586
Hi, yes this seems like a webpack error and should not affect your code, since the base lib does not use ts anyway.
Ill update the version for the next release and maybe this will fix it.

[2022-07-12 01:15] ckchiu2 commented on #550
When will the new features in master branch be available in v5? Or any plans for (legacy) release for v4 on the master branch?

[2022-07-12 10:17] DarrelA opened #587 "Uncaught TypeError: Cannot read properties of undefined (reading 'editing')"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

[GitHub Repo](https://github.com/DarrelA/task-management-system/tree/b5a0330859b66851ff89f72e7392785f9ea6df64)

Hello, appreciate any help on how I can resolve the bug with my code:

If I were to click edit then save immediately, the browser console will throw an error of "Uncaught TypeError: Cannot read properties

[2022-07-13 01:58] DarrelA commented on #587
Hello all,

I have downgraded my "@material-table/core": "4.3.44" and my save button works as intended so I'm going close with this comment.

[2022-07-13 01:58] #587 closed, assigned to nobody

[2022-07-13 19:35] bkopchains commented on #509
@waynegrigsby Did you ever manage to fix this? Seeing the same issue here after upgrading from 4 to 5.

[2022-07-14 20:32] DennisRP commented on #584
Ahh I see it now. Thanks for spotting it out.

[2022-07-14 20:32] #584 closed, assigned to Domino987

[2022-07-16 12:46] Grabdone opened #589 "Want to display a list of data that is inside my rowData as detailPanel."

[2022-07-16 12:47] Grabdone commented on #589
I have to write rowData.rowData.list to access the list.

[2022-07-18 20:40] JoshSinghEscreen opened #590 "Group by does not work for date strings"
DEMO: [CodeSandbox mui v4](https://codesandbox.io/s/material-table-starter-template-forked-821buo)

**Describe the bug**
When having date strings of the same day but different time. Group by date does not work as expected.

**To Reproduce**
1. Go to provided demo.
2. Group by timestamp column

**Expected behavior**
Expected 2 grouped rows for 6/2/2022 and 6/3/2022, but instead of date is a separat

[2022-07-18 20:41] JoshSinghEscreen commented on #590
I tried to look into why this could be occurring.
I think I've pinpointed it to the data-manager.groupData function

[2022-07-19 17:46] RELNO commented on #511
Similar issue. Tried @ClassicDarkChocolate solution but it didn't work.
My app uses
[code]
and when I inject the theme:

[code]
into:
[code]
the table renders itself and the rest of that page in bright theme colors.
When checking the source:
[code]
is the element that overrides the dark theme props, setting that page to bright theme.

[2022-07-20 05:13] Domino987 commented on #511
Because you are mixing Muir v4 with mui V5. Für mui v5, use the next branch.

[2022-07-20 08:31] nguyentienviet123456 opened #592 "Previous columns's width is reduce when adding one or more column"
When I set properties :
<MaterialTable
  ...
  options={{
    tableLayout: "fixed",
    columnResizable: true
  }}
/>
I need to set tableLayout to fixed inorder to enable resizable. But when I adding one ore more column, previous columns's width is reduce.

Please give me a solution to keep previous columns's width as it have

[2022-07-20 08:40] #467 closed, assigned to nobody

[2022-07-20 17:40] Domino987 commented on #589
Can you show us what you tried in a sandbox or anything? Just a request is not sufficient.

[2022-07-20 20:12] danieleliyahu opened #593 "remove console.log"
node_modules/@material-table/core/dist/material-table.js

line 784 ther is a console.log that need to remove :)

[2022-07-23 10:40] Domino987 commented on #593
Could you create a PR;)

[2022-07-23 10:40] Domino987 commented on #592
Can you out that in a sandbox?

[2022-07-24 09:33] RELNO commented on #511
@Domino987 thank you. Is there a build for `next` branch already I can use?

[2022-07-24 09:45] Domino987 commented on #511
No not yet because we still have a few kinks to iron out. Maybe in 2 weeks as I am on vacation right now

[2022-07-24 09:52] RELNO commented on #511
You're doing the right thing ;)
Thanks, looking forward to it.

[2022-07-24 15:50] #533 closed, assigned to nobody

[2022-07-25 08:16] RELNO opened #594 "onRowDelete TypeError, crashes the app"
#### Demo
https://codesandbox.io/s/young-frog-gf3po2?file=/src/App.js

**Describe the bug**
When implementing editable table as described here https://material-table-core.com/demos/edit/editable, row delete crashes the app

**To Reproduce**
click the row delete icon, click yes

**Expected behavior**
row should be deleted as expected

**Screenshots**
<img width="579" alt="Screen Shot 2022-07-25 at

[2022-07-26 07:31] RELNO commented on #594
Adding to the above, when editing a row without any change (= clicking the edit icon, but not actually changing anything) same issue occur and the app crashes. See above codesandbox to reproduce.

** UPDATE **: with `@material-table/core@next` this issue is resolved, thank you. **The above issue is still there.**

[2022-07-27 13:19] #535 closed, assigned to nobody

[2022-07-27 13:52] mohammadsohailappinvinite1999 commented on #509
@waynegrigsby
Same issue is faced by me once in a while.
On initial load this is happening to me and my ui breaks at that time.
any solution ?

[2022-07-27 15:46] JanKhstll opened #595 "Filtering on boolean columns works counterintuitive/wrong"
**Describe the bug**
The checkbox for filtering booleans has three options: checkmark, minus and no filling at all.
I would expect that checkmark only returns the true data entries, minus the false data entries and no filling means no filtering.

It seems to me that the filtering for minus and no filling are switched. So when there is the minus all entries are returned and when there is no filling

[2022-07-28 06:22] yashaswinibprasad87 opened #596 "Unable to change or override the background color of Menu for Export option"
Kindly check below screenshot
"& .MuiList-root-MuiMenu-list": {
        backgroundColor: "red !important",
      },
![image](https://user-images.githubusercontent.com/43347321/181435015-2326c712-5a41-4452-8b39-91578929d40c.png)

Please provide a solution

[2022-07-28 16:25] bailor1 opened #597 "Adding detail panel hooks for custom actions when panel is toggled"
### This issue is pulled from the following stale PR on mbrn/material-table:
https://github.com/mbrn/material-table/pull/2032

### Description
Clients need some mechanism to tap into when the detail panel is expanded/closed. This creates two new hooks so clients can record state, metrics and much more. There are at least 3-4 issues/questions about this feature, over Github, StackOverflow and Gitte

[2022-07-28 18:49] Domino987 commented on #596
Can you add a codesansbox for you code?

[2022-07-28 19:49] #513 closed, assigned to nobody

[2022-07-30 19:44] ElijahMSmith opened #598 "What branches to use to get started contributing?"
Happy weekend!

I recently used material-table-core for a project and was incredibly appreciated of how simple it was to get up and running and the wealth of features available. I'm very interested in contributing to this repository, but I was hoping that someone can help me understand what branches I should be working from in getting started.

When should I choose to submit pull requests onto the

[2022-08-01 10:34] #384 closed, assigned to nobody

[2022-08-02 11:52] UgurKacak opened #599 "Multiple Child Tree Data Search Bug"
**Describe the bug**
when data has multiple level of child data as tree data search function not working as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/happy-khayyam-mro8wu
2. Try to search "hello world"
3. "Cannot read properties of undefined (reading 'tableData')"

**Expected behavior**
Table should be filtered for search keyword.

I cloned the

[2022-08-03 09:29] ar4hc opened #600 "MUI v5.9.3 does not apply the theme to the MaterialTable using the @next tag (or vice versa?)"
Hi,

i know this is a very shallow problem description, but i'm sure i'm just missing something obvious....

i just upgraded to MUI v5.9.3 and used their codemods, and now my material table ignores all the theme settings and is all standard and bright...

The input fields are now variant outlined, but the global theme has an override and my own components are variant standard (and themed):
[code]

[2022-08-03 09:48] ar4hc commented on #600
Got something working at [codesandbox](https://codesandbox.io/s/material-table-starter-template-forked-29ppyd?file=/src/index.js)
And it does apply the theme... :(

So what happens in my app that resets or breaks the theme?

Has some errors in the console, but still...

EDIT: link to sandbox

[2022-08-05 09:18] AntoineDuComptoirDesPharmacies commented on #384
Hi @Domino987,
If we get some free time one day we will try to do a Pull Request but hard to find yet.

@bot : Problem is still there.

Yours faithfully,
LCDP

[2022-08-12 01:03] Guitarnivore opened #602 "Page scrolls to bottom on page size change"
After scrolling to the bottom of a table with pagination and changing the number of items per page, the page then scrolls to the bottom, keeping the page bar in sight.

This is unexpected behaviour for the user. If I changed the page size I would expect the position I was at in the table to not change and have new objects render and push the bottom page bar off screen.

This behaviour can be seen

[2022-08-12 16:48] Diae-Louali opened #603 "Add new row on load programmatically."
The goal would be to trigger the Add row function which show a new row form with inputs and all given a certain condition. Is this possible at all ? How would I go about achieving this ?

An example of the behavior I want to achieve can be found in the documentation under "Editable Example - Editable Preview" : https://material-table.com/#/docs/features/editable .

The only difference is that I wo

[2022-08-12 18:31] #542 closed, assigned to nobody

[2022-08-13 13:28] Domino987 commented on #603
If you use the ref, this would work:
[code]

[2022-08-13 13:31] Domino987 commented on #600
Can you reproduce your setup in an sandbox? sounds like a version mismatch

[2022-08-13 13:33] Domino987 commented on #599
We do not yet support react 18, can you verify if it works for react < 18?

[2022-08-13 13:38] Domino987 commented on #597
Would you mind creating a PR for this?

[2022-08-13 13:48] Domino987 commented on #595
The minus is not actually a minus but the definition of intermediate, aka no filtering in this case. So the filtering is correct.
https://material.io/develop/android/components/checkboxes

[2022-08-13 13:59] #603 closed, assigned to nobody

[2022-08-13 14:35] Domino987 commented on #594
Hi, this should be fixed with the next release. Thanks

[2022-08-13 14:35] #594 closed, assigned to nobody

[2022-08-13 14:36] #593 closed, assigned to nobody

[2022-08-13 14:39] Domino987 commented on #590
You need to provide dates instead of strings to make them sortable by their date and not string comparison.

[2022-08-13 14:40] #590 closed, assigned to nobody

[2022-08-13 14:44] Domino987 commented on #509
Can any of you reproduce this in a nsandbox?

[2022-08-13 15:29] #589 closed, assigned to nobody

[2022-08-15 15:46] Xhale1 commented on #536
@imnasnainaec @MLNW I created a new fork of `react-beautiful-dnd` which supports React 18 and react strict mode, [@hello-pangea/dnd](https://github.com/hello-pangea/dnd)

It should be a drop-in replacement. Just replace every mention of `react-beautiful-dnd` with `@hello-pangea/dnd`

[2022-08-15 16:02] Domino987 commented on #536
I'll try that this week. That's great thank you. I might come back to you if you want to help make the table v18 ready too 😅 or at least show some pitfalls to avoid

[2022-08-16 11:27] UgurKacak commented on #599
Hello,
As you mentioned react 18 not supported yet. Our project is run on react 18 right now.

[2022-08-16 11:27] #599 closed, assigned to nobody

[2022-08-16 22:17] #457 closed, assigned to nobody

[2022-08-16 22:17] #525 closed, assigned to nobody

[2022-08-18 19:51] areiterer commented on #577
Thanks for the fix!
Unfortunately, it seems the fix (https://github.com/material-table-core/core/commit/eda9e4305910dd480896c80634016c8b4f97213f) doesn't update the page size of the `query` object when working with remote data.

[2022-08-19 08:32] christanfoden opened #605 "Column / Layout State"
Our users want to be able to save their own table layouts (i.e. column order and which columns are hidden), Im searching the docs to find out if there is a column state that we can save against a user record in our database so that when they come back to the table it is in their unique layout.

I haven't been able to find anything about column state in the docs / props, could you help point me in

[2022-08-22 08:28] ar4hc commented on #600
not yet, can't break the sandbox...
and i got distracted for a while.
Still trying.

I observed that my react component, a nav bar,  above the table does have the theme applied, the table itself ignores it and is light themed.

[2022-08-22 11:04] ar4hc commented on #600
i  ound an error in the console
[code]

 that seems to link to #509

And the sandbox mentioned above  does not show this...

[2022-08-22 13:08] Anubiso commented on #605
We had this requirement as well and solved it like this (watch out, only parts of the code):

[code]

[2022-08-23 09:35] ar4hc commented on #600
if i add something like this to the theme:
[code]

and then use ` <CssBaseline />` the font in the MaterialTable changes.
But only if the CssBaseline is in and above the MaterialTable.

So some parts of the theme get through, but not the `palette` stuff ?

[2022-08-24 09:07] nathanm960 opened #606 "parentChildData and selection issue"
Hello,

I have an issue with parentChildData and selection.

I made a codesandbox to reproduce https://codesandbox.io/s/material-table-starter-template-forked-woh93u?file=/src/index.js

 **How reproduce**

Go on the sandbox and type "test" in the search field.

You should have one row displayed.

Now click on the global checkbox to select all visible rows.

The checkbox is indeterminate.

 **What

[2022-08-25 12:54] christanfoden commented on #605
Thank you this looks great, I am looking now at going this route. Very much appreciate the clarification.
If any maintainers watch this issue, I'd really suggest exposing the current column state in a prop so that this can be saved and then recalled on mount.

[2022-08-28 19:45] matthewoestreich commented on #605
I believe @Anubiso solution is how column state is exposed. Does that suffice?

[2022-08-29 15:49] hada79 commented on #586
I get the same error, running webpack 5.0.1, mui 4,.12.3, material-table/core 5.0.5.

[code]

Here is LocalizationStore.js in node_modules:

[code]
I was able to put a breakpoint at the _deepmergeTs, and the value was simply a string to the js file, not the object itself.

Our project is unusable with this error, I am currently looking for a work around.

[2022-08-29 17:25] nkindrew opened #609 "Dragging columns is unpredictable"
When dragging a column left or right of its original position, the resulting location is not where you'd expect it to be. For example, using the "Render Image" example in the documentation (https://material-table-core.com/demos/columns/render-image) try to drag the Birth Year column between Name and Surname (I'm specifically aiming for the white space between the columns before I drop). For me it

[2022-08-30 14:54] GabrielMLV commented on #508
Add **draggable: false** works for me.
` options={{
     draggable: false
 }}`

 Version: "@material-table/core": "4.3.44"

[2022-08-30 14:56] GabrielMLV commented on #571
Add **draggable: false** works for me.
`options={{
draggable: false
}}`

Version: "@material-table/core": "4.3.44"

[2022-08-30 15:28] hada79 commented on #586
I downgraded material-table/core to 4.3.44 and it works.

Any way you guys can include changes notes in your versions so I can tell which version to pick?

[2022-08-30 19:25] #548 closed, assigned to nobody

[2022-09-04 16:50] #557 closed, assigned to nobody

[2022-09-05 14:28] ibr4qr opened #611 "Expand/collapse icon show condition"
I would like to have some external way to change the condition at which the expand/collapse icon is shown, and maybe this is useful for the library as well.

The current renderTreeDataColumn in the MTableBodyRow class component has the static condition:
` (props.data.tableData.childRows &&
      props.data.tableData.childRows.length > 0)`

This static condition may be not be satisfied if the child

[2022-09-05 14:31] ibr4qr commented on #611
I would like to implement this if i'm allowed to make a PR

[2022-09-07 06:56] Domino987 commented on #606
Thanks for finding this.
It will be fixed with 5.1.1

[2022-09-07 06:56] #606 closed, assigned to nobody

[2022-09-07 10:51] nazarroshchuk opened #612 "Localization still not working on v5.1.1"
# Guidelines

When I trying to use localization props I got an error i console browser, and crash of app
`localization={{body: {}}}`
Even when I try use like this I am getting:

Uncaught TypeError: _deepmergeTs.deepmerge is not a function
    node_modules bundle.js:15370
    setState vanilla.js:3
    mergeLocalization LocalizationStore.js:73
    node_modules bundle.js:15463
    React 13
    schedu

[2022-09-07 13:04] DaveITpl commented on #609
I have the same problem
Video: https://watch.screencastify.com/v/Wvsh0irPBbMGLnrPoHWv

[2022-09-07 19:26] Domino987 commented on #612
Can you sahre your package json and recreate it in a sandbox?

[2022-09-07 19:30] Domino987 commented on #611
Of course you can make a PR!!!
This sounds like an interesting idea and I am interested in how this would look.

[2022-09-08 08:11] ar4hc commented on #600
Creating a new CRA project with the same code from  the codesandbox  worked.
Copying the code in in the old project did not.

i delete everything yarn related and and babel, eslint, package.*, etc. and started adding the, again until the project worked and then it did the theming.

Even with everything restored but the yarn cache(build by yarn install)  and  the other stuff. (babel, eslint, pretti

[2022-09-08 08:11] #600 closed, assigned to nobody

[2022-09-08 11:02] ibr4qr commented on #611
I made the PR

[2022-09-08 12:52] Elabar opened #614 "pageSize props is being ignored on v5 onwards"
Related issue: #577
It seems like the applied fix is not resolving the issue completely as pointed out [here](https://github.com/material-table-core/core/issues/577#issuecomment-1219891576).

The component does actually render the correct page size. But the query parameters is still using the incorrect pageSize value.

repo: https://codesandbox.io/s/material-table-starter-template-forked-8w2rr9?fi

[2022-09-08 13:24] nazarroshchuk commented on #612
`{
  "name": "panorama-internal",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@emotion/react": "^11.9.3",
    "@emotion/styled": "^11.9.3",
    "@jest/globals": "^28.1.3",
    "@material-table/core": "^5.1.1",
    "@material-ui/core": "^4.12.4",
    "@material-ui/icons": "^4.11.3",
    "@mui/icons-material": "^5.8.4",
    "@mui/lab": "^5.0.0-alpha.89",
    "@mui/material": "^

[2022-09-08 13:32] Domino987 commented on #612
React 18 is not supported yet

[2022-09-09 08:25] nazarroshchuk opened #615 "When will be supposed supporting of react 18"

[2022-09-09 14:35] #611 closed, assigned to nobody

[2022-09-11 08:36] Domino987 commented on #615
When all dependencies do. We do not know when this will be

[2022-09-11 08:36] #615 closed, assigned to nobody

[2022-09-11 10:16] Domino987 commented on #614
Missed one spot. Should be done now

[2022-09-11 10:16] #614 closed, assigned to nobody

[2022-09-11 10:31] #612 closed, assigned to nobody

[2022-09-11 17:01] #552 closed, assigned to nobody

[2022-09-11 18:23] Domino987 commented on #585
This was done with the latest release for Mui V4 via the experimental branch and will be soon merged to the next branch. I'll update the docs as well this week.

[2022-09-11 18:23] #585 closed, assigned to nobody

[2022-09-11 18:23] #579 closed, assigned to nobody

[2022-09-12 08:18] LifeIsStrange commented on #579
Sorry for the delay,

That is irrelevant since you can do parsing using native DOM via .innerText

Thank you, is there an example on how to implement the customExport prop?

[2022-09-13 09:52] nadavof commented on #586
Thanks! I had the same issue and it's working with your solution (downgrade to 4.3.44)

[2022-09-15 09:02] shwe-yi-win opened #616 "Error in onRowDelete function when clicked delete Button Actions"
Kindly check below screenshot

- When I clicked delete button, the error is
<img width="952" alt="Screenshot 2022-09-15 151927" src="https://user-images.githubusercontent.com/51367279/190362408-a5fb6965-3532-489a-a0c1-c6e3001781e5.png">

[2022-09-15 13:29] #558 closed, assigned to nobody

[2022-09-15 20:07] wliu0921 opened #617 "Not able to apply CSS classes to MTableHeader"
I am trying to add a customized icon to action header, but there is a disabled container <span> tag (TableSortLabel) wrapping up the customized part so that the icon is not able to be trigger.

My approach is applying css classes to MTableHeader in order to enable the pointer event for the disabled <span> tag.
Here is the Demo
https://codesandbox.io/s/material-table-starter-template-forked-ct59d0?

[2022-09-20 01:01] jbek7 opened #618 "Sticky action button for toolbar"
I want to follow up on this closed issue: https://github.com/material-table-core/core/issues/103

I've a similar use case where I want to hide the a table, like a close button as an action. Along with an action for selected rows. It helps having a sticky action button regardless of the selection.

The current setup  doesn't allow having sticky button.

[2022-09-21 19:02] avenger90 commented on #536
Hi @Domino987 , I am using `mui` v5, does ` material-table-core ` v0.2.35 supports reacts 18 or are we still waiting on dependencies to upgrade?

[2022-09-23 11:53] Domino987 commented on #618
Can you be a bit more precise or maybe a image/sandbox on what you want to achieve?

[2022-09-23 11:59] Domino987 commented on #617
Can you make the demo use the appropriate versions and actually compile? Thank you.

[2022-09-23 12:00] Domino987 commented on #616
We need a sandbox. OR else we cannot help.

[2022-09-23 12:01] Domino987 commented on #536
Yes, we did a great leap with the dnd update, but we are still missing out on an few.

[2022-09-23 17:17] jbek7 commented on #618
So I've two MaterialTable one shows the list, other one has close/hide button on top corner, and it should be shown all the times. But when I select all, `toolbarOnSelect` button hides the close button.  I could hack around having another hide button definition with `toolbarOnSelect` but I didn't like the duplication.

![table](https://user-images.githubusercontent.com/2989603/192017813-2dbc3a63-1

[2022-09-23 17:27] mateenkasim commented on #111
I'm still getting the  "Maximum call stack exceeded" message, and it is still due to `fast-deep-equal`, which fails when comparing cyclic objects (i.e. object A references object B which references object A). See [here](https://github.com/epoberezkin/fast-deep-equal/issues/8).  As noted in this issue, they have a special case specifically for the `_owner` property on React components, but nothing

[2022-09-24 12:47] ClassicDarkChocolate opened #621 "Split showFirstLastPageButtons to two options"
**Is your feature request related to a problem? Please describe.**
For cursor-based pagination, jumping to last page is not possible.

**Describe the solution you'd like**
Split `options.showFirstLastPageButtons` to `options.showFirstPageButton` and `options.showLastPageButton`.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2022-09-26 18:09] Domino987 commented on #621
Can you show us a sandbox for this?
Possibly could be a boolean or object with first and last? Would you mind creating a PR for this?

[2022-09-26 21:53] Domino987 commented on #618
WOuld you mind putting this in a sandbox for me to play iwth and figure it out?

[2022-09-27 14:31] ibr4qr opened #623 "Error throwed when testing and running dev server"
material-table.js:758 Property `sorting` has been deprecated, please start using `maxColumnSort` instead

commit hashed: 2e2bc31635cdc4479d3c4ba107ebe17c6e266130

[2022-09-27 15:00] #623 closed, assigned to nobody

[2022-09-27 16:49] jbek7 commented on #618
@Domino987 Here's a sandbox - https://codesandbox.io/s/material-table-starter-template-forked-sl9u9n?file=/src/index.js

[2022-09-27 22:31] umeshajb opened #627 "Table row not updating after updating a field value in a row"
I am trying update a row in the table using a button with an onClick handler. I made sure the state is being updated correctly by creating a new array for the table data but I am not seeing the table update. However if I remove an element from the array the update works the second time I click the button. I am trying to figure out what am I doing wrong or if this is a bug. Here is an example of wh

[2022-09-30 15:04] wliu0921 commented on #617
@Domino987 I had updated the demo url on the description also attach it here: https://codesandbox.io/s/material-table-starter-template-forked-ct59d0?file=/package.json:154-220.

[2022-10-02 11:00] shaliake opened #630 "Pagination localization labelDisplayedRows translation"
Translated value applies only in page navigation area

**To Reproduce**
1.Create localization object with translated values `tableLanguage={...}`
2. Pass it to component:
`<MaterialTable
                            title={"TITLE"}
                            columns={[]}
                            localization={tableLanguage}
                            data={[]}/>`
3. We can notice that translat

[2022-10-02 14:22] Domino987 commented on #630
Can you put this into a sandbox s owe can reproduce it and know which version you are using etc?
Can you check again?

[2022-10-02 14:38] Domino987 commented on #627
You should never mutate state.

While you create a new array, the object is still mutated and we will skip the rerender for this row since its the same object.
https://codesandbox.io/s/material-table-starter-template-forked-82g5fn

[2022-10-03 01:48] sucy6330133 opened #632 "Uncaught TypeError: (0 , _deepmergeTs.deepmerge) is not a function"
# Guidelines

**Describe the bug**
Failed to load deepmerge-ts after upgrade to 0.2.38.

**To Reproduce**
Steps to reproduce the behavior:

Cannot reproduce it when using codesandbox to create a example. Weird.

**Expected behavior**
Should load deepmerge-ts successfully.

**Screenshots**
<img width="1046" alt="image" src="https://user-images.githubusercontent.com/9833829/193487779-13517502-be43-4

[2022-10-03 07:37] 0x6a77 commented on #586
workaround: you'll need to exclude the deepmerge cjs module. we use `react-app-rewired` so we can use an exclusion like this:

[code]

[2022-10-03 07:53] Domino987 commented on #632
Duplicate for react 18 not supported: https://github.com/material-table-core/core/issues/536

[2022-10-03 07:53] #632 closed, assigned to nobody

[2022-10-03 08:09] 0x6a77 commented on #632
work-around: https://github.com/material-table-core/core/issues/586#issuecomment-1265051796

[2022-10-03 08:22] Domino987 commented on #536
Can you guys try the newest next version 0.2.40 for react 18?

[2022-10-03 08:54] #630 closed, assigned to nobody

[2022-10-03 08:55] #627 closed, assigned to nobody

[2022-10-03 11:17] Domino987 commented on #621
This is now possible for the next version: 0.2.42

Link: https://material-table-core.com/demos/pagination/basic/

[2022-10-03 11:17] #621 closed, assigned to nobody

[2022-10-03 16:33] avenger90 commented on #536
yes, we will try with react 18 and let you know.

[2022-10-03 18:33] sucy6330133 commented on #536
I have tried the latest next version 0.2.42, the deepmerge-ts issue is still there. Seems more like a webpack issue. Any plan to fix it?

[2022-10-03 18:37] Domino987 commented on #536
The deep merge work for me. Did you update your npm install and everything?

[2022-10-03 18:39] sucy6330133 commented on #536
Yes, I have fully updated. v0.2.37 is working, just broken after upgrade to 0.2.38. Also tried the latest one. No luck.

[2022-10-03 18:44] Domino987 commented on #536
weird. Would you mind throwing your setup into a sandbox? For me to inspect

[2022-10-03 19:25] sucy6330133 commented on #536
It might related to this issue https://github.com/facebook/create-react-app/pull/12605

[2022-10-03 22:23] ClassicDarkChocolate commented on #621
Thanks! I am busy with work recently.

[2022-10-04 12:00] shaliake commented on #630
The [sandbox ](https://codesandbox.io/s/material-table-starter-template-forked-ccrnp0?file=/src/index.js)is in place.
My concrete dependencies from package.json:
[code]
![image](https://user-images.githubusercontent.com/79657740/193813879-61a81c31-f22a-4317-827f-d882bb896cf5.png)
But snippet in codesandbox is a bit different:
![image](https://user-images.githubusercontent.com/79657740/193814229-a3

[2022-10-04 13:12] MojtabaDaneshi1366 opened #636 "Uncaught TypeError: (0 , _deepmergeTs.deepmerge) is not a function at LocalizationStore.js:44:1"
Hello,

I got this error:
Uncaught TypeError: (0 , _deepmergeTs.deepmerge) is not a function
    at LocalizationStore.js:44:1

My App was ok, but today is get this error.

@material-table/core@**next**

Sicnerely

[2022-10-04 15:43] Domino987 commented on #636
Can you reproduce this in a sandbox ?

[2022-10-04 15:45] Domino987 commented on #617
You are using Mui v5 where you should use the sx for styling. But I'll add the classes spreading as well again. Should work with the next version 0.2.43.

[2022-10-04 16:39] #617 closed, assigned to nobody

[2022-10-04 19:54] Domino987 commented on #618
That's not possible since you give the parent html element display none. Not possible without hacking the html/css stack, which I think would result in quite complex interaction leading to bugs.

So this will not be supported, I am sorry

[2022-10-04 19:54] #618 closed, assigned to nobody

[2022-10-05 09:41] Domino987 commented on #636
Duplicate of #586

[2022-10-05 09:41] #636 closed, assigned to nobody

[2022-10-05 19:16] #574 closed, assigned to nobody

[2022-10-06 05:26] shaliake opened #639 "Action iconProps not affecting icon itself"
- #### [Bug in codesandbox](https://codesandbox.io/s/material-table-starter-template-forked-u9utx7?file=/src/index.js)

iconProps object passed to action doesn't affect action icon displayed

**To Reproduce**

Steps to reproduce the behavior:
1.Create a table
2. Create a free action in table actions
3. Pass any object with legit props for Icon (style or official mui Icon Props API)
4. Inspect free

[2022-10-06 08:53] yvz5 commented on #586
we also have the same issue. it started happening lately. any updates on this issue ?

[code]

[2022-10-06 08:55] Domino987 commented on #586
No not yet. Can this be reproduced via a sandbox? Did you delete your pakcage-lock file or node modules?

[2022-10-06 09:04] yvz5 commented on #586
I did delete everything and re installed. if you just create a new react app and add mui with material table, you will see this error message

[2022-10-06 14:39] andrei10k opened #640 "Exporting after grouping - missing data"
https://github.com/mbrn/material-table/issues/2492
this is still reproducing with the latest v5 version

basically if you export pdf/csv after grouping by a column the export is broken, no data is showing up.

[2022-10-07 07:39] yvz5 commented on #586
going back to this combination works:
`
[code]

[2022-10-07 21:49] Domino987 commented on #639
This is because you need write your own icon during which you drop the props yourself:

[code]

You could also use the string `icon: 'save',`, which would work as well.

So its not a bug.

[2022-10-07 21:49] #639 closed, assigned to nobody

[2022-10-07 22:14] Domino987 commented on #640
Would you mind creating a codesandbox using the next version?

[2022-10-08 05:39] MojtabaDaneshi1366 commented on #586
same issue, any fix?

[2022-10-08 07:44] andrei10k commented on #640
sure: https://codesandbox.io/s/material-table-starter-template-forked-ouc14b?file=/src/index.js

just group by 'word' column and then export. the csv will have no data

[2022-10-08 10:12] MojtabaDaneshi1366 commented on #586
Solved by using this exact version: consider it hasn't **^ character** in version section.
 "@material-table/core": "0.2.37",

[2022-10-08 10:29] yvz5 commented on #586
Yes you need to use the exact version. ^ still installs the broken version.

[2022-10-08 15:01] Domino987 commented on #536
Can you all try the latest version ;)

[2022-10-08 15:02] Domino987 commented on #586
Please try the latest next branch ;)

[2022-10-09 02:55] lmolteno opened #643 "@material-table/core version 4.3.45 depends on MUI version 5"
I'm just raising this as I'm not sure whether this is intentional or not, seeing as you appear to have branches explicitly for mui versions >=5.

As a project still running on mui v4, we now have to explicitly specify material-table/core version 4.3.44 in order to get it to build.

[2022-10-09 18:03] AppointMike commented on #586
@Domino987 Any idea when this is going to be fixed in the latest version? Also can someone explain to me why this started breaking my project for the last few days even though I didn't update the version? Just want to understand what happened so I can learn

[2022-10-09 18:09] AppointMike commented on #586
Changing the version did work thought so thank you for providing a fix quickly

[2022-10-11 08:19] matthewoestreich commented on #469
Are you on the latest version?

On Mon, Apr 4, 2022, 12:54 PM Matias Heredia ***@***.***>
wrote:

[2022-10-12 09:29] ckchiu2 opened #644 "Use render function for components"
I want to enable the following use case:

[code]

Currently overridden components will always be remounted when the state changes because of reference inequality.

Below is a simple demonstration of the current behaviour. Notice the behaviour when clicking on the checkbox.

https://codesandbox.io/s/material-table-starter-template-forked-nwshky?file=/src/index.js

A possible workaround is to pass t

[2022-10-12 13:57] rjumatov opened #645 "localization prop labelRowsPerPage not working"
**Describe the bug**
`labelRowsPerPage` does not seem to work anymore. It was working in 0.2.37.

**To Reproduce**

1. Go to [CodeSandbox MUI v5](https://codesandbox.io/s/material-table-starter-template-forked-163zk1?file=/src/index.js)
2. Edit `labelRowsPerPage`
3. No changes can be seen, it stays at `Rows per page:`

**Expected behavior**
`labelRowsPerPage` should update the rows per page label.

[2022-10-12 15:31] oskarlh commented on #467
Can this be reopened? It's still an issue. The owner of react-double-scrollbar has been inactive on GitHub for over 5 years - react-double-scrollbar will not be fixed

[2022-10-12 15:32] oskarlh opened #646 "#467 was closed but is still an issue"
See #467

[2022-10-12 18:24] vsn530 opened #647 "Summary row is not working with remote data"

[2022-10-13 02:38] ckchiu2 opened #648 "Default multisort is not working"
PR: #607

**Describe the bug**

Default value for multisorting is not applied.

**To Reproduce**

https://codesandbox.io/s/material-table-starter-template-forked-g7ozsw?file=/src/index.js

**Expected behavior**

Default value for multisorting should be applied

**Additional context**

1. For the test script for defaultOrderByCollection, the expect clause is called after the mouse click event, ther

[2022-10-13 18:37] imnasnainaec commented on #536
Oh yay, `react-beautiful-dnd` supports React v18 now: https://github.com/atlassian/react-beautiful-dnd/releases/tag/v13.1.1!

[2022-10-14 06:18] Domino987 commented on #647
Not enough Infos, no sandbox, no description

[2022-10-14 06:18] #647 closed, assigned to nobody

[2022-10-14 06:19] Domino987 commented on #467
I am open for suggestions on how to fix this.

[2022-10-14 14:50] oskarlh commented on #467
Forking or replacing the library

[2022-10-14 15:14] Domino987 commented on #467
Go ahead ;)

[2022-10-14 16:56] vsn530 opened #649 "renderSummaryRow callback is not working with remotedata"
**Describe the bug**
https://material-table-core.com/demos/Summaryrow/basic/
the above example for showing summary row is not working if we set remotedata/ApI call for data prop

in case of remote data , the data coming to callback is empty array . we dont have any data to do aggregation on column values

[2022-10-14 22:32] Domino987 commented on #649
Can you add a sandbox with your setup

[2022-10-14 23:26] #561 closed, assigned to Domino987

[2022-10-16 21:24] skearney414 opened #650 "exportAllData options prop being ignored. on next version 0.2.48"
**Describe the bug**
ExportAll is now being ignored on export and only data visible on the screen is exported.

Previously on v0.2.35 exporting paginated data would export the entire dataset once exportAll was set to true on the options prop.

[2022-10-16 23:57] sucy6330133 commented on #536
Works fine to me now. Tried version v0.2.48.

[2022-10-17 07:27] ertu68 commented on #645
same problem man

[2022-10-17 15:45] josueuitzil opened #651 "Ref forwarding in MTableBody"
Hi devs, I have a question related to the refForwarding on the MTableBody component.

I see that https://github.com/material-table-core/core/pull/569 was merged some months ago to allow passing a ref to the component, however, the changes are not included in the latest release (5.1.6 at the time of writing). While the changes are in the master branch, they are not in the experimental.

Are there p

[2022-10-17 17:14] #550 closed, assigned to Domino987

[2022-10-18 07:19] ogozman opened #652 "Column resize does not work"
Hello, it seems that columns do not become resizable when the option is set to true. Here is a sandbox with example
https://codesandbox.io/s/material-table-starter-template-forked-oqoq0q?file=/src/index.js
As you can see, the rendered table does not have resizable columns

[2022-10-18 17:33] Domino987 commented on #651
Yes of course. I try to merge everything. But might have missed this with the merging. A PR would be  most welcome. Can also work towards your hacktober participation;)

[2022-10-18 20:46] Domino987 commented on #640
Are you using the next or normal branch? For now it will be fixed in the next "next" release.

[2022-10-18 20:48] Domino987 commented on #643
Try the experimental branch v5 with many changes and fixes. Will be the the stable branch soon.

[2022-10-18 20:54] Domino987 commented on #644
This is actually a react problem because react needs a stable object reference to keep the state.

Nothing we can do about this on the lib level.

One workaround could be:

[code]

[2022-10-18 21:09] Domino987 commented on #645
That is because it was renamed to `labelDisplayedRows` for the table pagination from mui: https://mui.com/material-ui/api/table-pagination/#main-content

I'll add a warning so that you can name them correctly.

[2022-10-18 21:09] #645 closed, assigned to nobody

[2022-10-18 21:13] Domino987 commented on #648
@Diiegoav would you mind looking into this?

[2022-10-18 21:14] Domino987 commented on #650
Could you add a sandbox for this?

[2022-10-19 02:14] ckchiu2 commented on #644
The search state comes from the parent component (i.e App) directly, so we need to add it in the dependency array. The sandbox should also warn you about this.

[code]

It seems working because I used wrong prop (value) for the <Checkbox /> component. I have updated the sandbox and you may try again.

[2022-10-19 02:26] ckchiu2 commented on #644
Haven't tried but I think following snippet can help support the use case.

[code]

I can submit a PR if you want.

[2022-10-19 07:09] rjumatov commented on #645
Unfortunately `labelDisplayedRows` is not the same as `labelRowsPerPage`.

<img width="553" alt="Bildschirmfoto 2022-10-19 um 09 08 01" src="https://user-images.githubusercontent.com/39101755/196621124-383cfd59-1335-4874-894e-4399e3aee3f5.png">

Please reopen this issue.

[2022-10-19 20:48] Domino987 commented on #645
My bad, works now.

[2022-10-19 20:54] Domino987 commented on #650
Fixed with 0.2.51

[2022-10-19 20:54] #650 closed, assigned to nobody

[2022-10-19 20:56] skearney414 commented on #650
Thank you 🙏

[2022-10-19 21:02] Domino987 commented on #652
The tableLayout must be set to "fixed" for the columns to be static so they can be correctly resized.

Maybe we should add a warning.

[2022-10-20 12:03] rjumatov commented on #645
I am using `v0.2.51` and unfortunately the issue is still there.

[2022-10-21 13:04] rjumatov commented on #645
@Domino987 any updates on this?

[2022-10-21 13:28] Domino987 commented on #645
Which version are you using?

[2022-10-21 13:29] rjumatov commented on #645
`v0.2.51`

[2022-10-22 10:48] Domino987 commented on #645
Seems like a commit did not go through. can you check?

[2022-10-24 07:14] rjumatov commented on #645
It is fixed now

[2022-10-26 12:00] FollowJack commented on #497
What happened to this? Is the bug still present? Is there a fix for this?

[2022-10-26 15:26] georgejdli commented on #497
It seems material table will not generate this id for you. It expects a "id" property in the row data and uses that as the unique id. If you have a separate property that provides uniqueness you can use the "idSynonym" option to map to it otherwise you need to generate the 'id' property yourself.

Example:
[code]
Here I don't have an 'id' property but I do have the 'guid' that is unique.

[code]
I

[2022-10-27 14:44] TheGoodSpinach opened #655 "Position of functional actions overwritten if selection is enabled"
**Describe the bug**
This is a repeat of #153, since I can't seem to re-open that issue. The bug still seems to present as of v4.3.44.

When attempting to use a function action with a set position, e.g.
[code]

The position is not respected if `selection` is set to `true` on the table, instead forcing the `position` to `toolbarOnSelect`

**To Reproduce**

https://codesandbox.io/embed/material-tabl

[2022-10-27 17:53] TheGoodSpinach commented on #655
I believe the issue is here:

https://github.com/material-table-core/core/blob/d8fb7db073cd2b2f55c05289816dc2f8bcd168db/src/material-table.js#L314-L316

This probably should evaluate `action` to determine the correct position, and default to `toolbarOnSelect` only if none is provided.

[2022-10-27 18:37] TheGoodSpinach commented on #655
So it appears I was not understanding the solution implemented in #154. Doing this _does_ work:

[code]

However, I wasn't able to find this implementation documented anywhere, and in my opinion it is pretty unintuitive. Is it worth considering still fixing the bug to allow this implementation to work?

[code]

[2022-10-28 01:06] patstha opened #656 "Question about v4.3.45 and react v16"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have
- Demo is at https://github.com/patstha/material-table-core-react-16-test

- #### Please try to be as detailed as possible

with "@material-table/core": "~4.3.44"

[code]

with "@material-table/core": "^4.3.44",

[code]

looks good with

[code]

- I delete node_modules to make sure I can start fresh. For example,
[c

[2022-10-28 23:07] #592 closed, assigned to nobody

[2022-10-30 12:38] Domino987 commented on #656
You can most likely use react 17 as well. Would that work?

[2022-10-31 06:24] #511 closed, assigned to nobody

[2022-11-02 20:05] patstha commented on #656
I am working on this.
Thank you for the suggestion to update to react 17.
Still working on it and so far looks good. At least, the material table stuff looks good with react 17.

Any idea why this bumped with a patch release though?

[2022-11-02 20:48] #596 closed, assigned to nobody

[2022-11-03 16:32] Diae-Louali opened #658 "How to keep all actions of other rows interactive when table is in add row mode ?"
How to keep all actions of other rows interactive when on [add row mode](https://storage.googleapis.com/openscreenshot/m%2Fi%2FK/ucQUm0Kim.png) ? The Idea would be that the user would still be able to edit click on row edit or delete actions for example, while being showAddRow is true.

The following [demo](https://material-table-core.com/demos/edit/editable) demonstrates the issue. After clicking

[2022-11-04 17:48] Domino987 commented on #656
I think we had some dependency that wanted react 17 so we had to force users to update as well to use the dependency. This will be similar when upgrading to react 18 and the next version.

[2022-11-04 23:19] #598 closed, assigned to nobody

[2022-11-08 12:27] patstha commented on #656
I appreciate your patience and help in explaining the situation to me. I am trying out react 18 with fluent ui https://github.com/microsoft/fluentui in another learning proof of concept project https://github.com/patstha/materialistic.

For now though. I will ask team to check for regressions with my update to react 17.
For anyone else on ui fabric, please give the "easier migration" guide on http

[2022-11-08 16:23] sairam0903 opened #660 "(Bug) Localization for selected Rows not working"
I have a table as below and I am on `@material-table/core: 0.2.52` version

[code]

When I select all or individual row checkbox, I should see something like this below (Screenshot from using ([https://github.com/mbrn/material-table](https://github.com/mbrn/material-table))
![Screen Shot 2022-11-08 at 8 17 34 AM](https://user-images.githubusercontent.com/8981107/200618515-4054496a-1cce-4983-9a7f-a

[2022-11-08 19:12] josueuitzil commented on #651
Thanks! I opened #661 to also include this change in the experimental branch

[2022-11-08 19:12] #651 closed, assigned to nobody

[2022-11-08 21:32] josueuitzil opened #662 "Programmatically change current page"
Hi team, I have a question regarding the `page` prop of the table. If I pass this prop to the component and then update its value, then only the pagination will get updated. You can test it in the following sandbox: https://codesandbox.io/s/material-table-starter-template-forked-n8epbv?file=/src/index.js

From the name of the prop I initially thought that it could be used to programmatically chang

[2022-11-09 18:17] sairam0903 commented on #536
Hi @Domino987  can you help with this issue https://github.com/material-table-core/core/issues/660

[2022-11-10 19:25] sairam0903 commented on #660
@DominikEngel  can you help with this issue?

[2022-11-12 01:05] webark opened #665 "Suggest promoting off of fork"
A large downside of this being a fork is that you cannot perform a code search on the repository. With its continued api changes that are progressing past the former upstream material table, it makes sense for this to no longer be a fork.

I do not expect this to ever get merged back into material table either.

Homage can still be payed in the readme to the work and dedication they provided in th

[2022-11-13 16:51] Domino987 commented on #660
Hi ill look into it, was away for two weeks and now I am back.

[2022-11-13 17:06] Domino987 commented on #660
Will be fixed in next verison

[2022-11-13 17:06] #660 closed, assigned to nobody

[2022-11-13 17:07] Domino987 commented on #665
Do you have an example on how to remove the fork itself?

[2022-11-13 17:12] webark commented on #665
No. I could look around. I've never tried before.

[2022-11-13 18:40] sairam0903 commented on #660
Thanks for taking care of it. When can I expect this to be released?

[2022-11-13 18:48] Domino987 commented on #665
That would be most appreciated

[2022-11-13 19:04] Domino987 commented on #660
Roughly 1.5h ago ;)

[2022-11-13 23:14] webark commented on #665
I'd give this a try sometime. https://support.github.com/request/fork?tags=rr-forks

Seems like some people have had quick success with the chat bot.

[2022-11-14 09:10] rjumatov opened #668 "localization prop labelRowsSelect not working"
**Describe the bug**
`labelRowsSelect` does not seem to work since `v0.2.53` anymore. It was working in `v0.2.52`.

**To Reproduce**

1. Go to [CodeSandbox MUI v5](https://codesandbox.io/s/material-table-starter-template-forked-sk78ry?file=/src/index.js)
2. Edit `labelRowsSelect`
3. No changes can be seen, it stays at `rows`

**Expected behavior**
`labelRowsSelect` should update the rows select la

[2022-11-14 22:40] Domino987 commented on #668
Yes I am still working on the release notes. A legacy naming bug was introduced a while back. Can you look into the typescript types to get the new naming for the rows to align it with the correct naming ? It's just that the key changed

[2022-11-15 20:36] Diiegoav commented on #662
@oze4 Reviewing to the code, seems like material-table/core, detects that if is passed `page and totalCount`, implementation will handle the paging in their side.

Could it be better to implement a new property to do this foreign paging? like `foreignPaging`, instead of relay on this two props `page, totalCount`.

[2022-11-16 15:29] LifeIsStrange opened #669 "Ability to exclude some data fields from search"
My need is very basic and important, the searchbar by default do a fuzzy search on all data fields, which is good.
However I am not aware of any way to exclude search from some data keys.

for example when I search a number (e.g. 50) on my rows labels, it shows me many rows that are irrelevant and of which the label does not containt "50".
They are shown because some data.id do contains 50, which

[2022-11-16 17:39] Diiegoav commented on #662
actually which could be the point of doing paging, when using local data ? currently if you do paging outside the material-table/core package, and do sort at same time, this got impacted do to the data refresh.

[2022-11-16 20:55] sjdemartini opened #671 "Console warning for deprecated `sorting` option is unavoidable, showing up even if you do not set it or set it to false"
**Describe the bug**
In material-table-core v0.2.53, there is a console warning when the `sorting` option is defined in the `options`: `Property `sorting` has been deprecated, please start using `maxColumnSort` instead. https://github.com/material-table-core/core/pull/619` (added here here https://github.com/material-table-core/core/pull/619/files#diff-9a3982db9efabfd577b96de4d6949e3f608ac75defb3e

[2022-11-17 03:58] #602 closed, assigned to nobody

[2022-11-17 16:59] Diiegoav opened #673 "Sorting undefined/null data"
# Guidelines

## Demo sandbox
- https://codesandbox.io/s/material-table-starter-template-forked-g38sv9?file=/src/index.js

**Is your feature request related to a problem? Please describe.**
Hi, I would like if we can enhance the sorting of material table, when related to `undefined/null` values. currently as shown on the code sandbox above, when you have undefined/null values, depending on the ord

[2022-11-18 14:29] dsheng123 commented on #671
Had the same problem. As a hotfix you can set `sorting: undefined` while using `maxColumnSort`

[2022-11-18 15:07] dsheng123 commented on #671
Made a PR

[2022-11-18 23:45] #597 closed, assigned to nobody

[2022-11-18 23:45] #595 closed, assigned to nobody

[2022-11-19 02:54] ewanmellor opened #677 "MTableBodyRow props being passed through to the DOM"
**Describe the bug**

`MTableBodyRow` on the `next` branch (0.2.53) is passing its `columns` and `options` props through to MUI's `TableRow`, which then passes them to the `<tr>` elements in the DOM.

https://codesandbox.io/s/material-table-mtablebodyrow-props-bug-rdpid3

<img width="1004" alt="Screen Shot 2022-11-18 at 12 52 56 PM" src="https://user-images.githubusercontent.com/894011/202800489-3

[2022-11-19 02:55] ewanmellor commented on #677
/cc @Domino987

[2022-11-19 20:21] ewanmellor opened #678 "Spacer icon appears as 'div'"
In the following changeset on the `next` branch (0.2.53), a spacer icon was added to line some columns up:

[code]

This use of `icon: 'div'` is bogus, and it results in 'div' being added to the page as text.

The string here is passed to MUI's `Icon` by `MTableAction`, so it is a font icon name, not a component name.  When I do not have an icon font in my build, I see 'div' in the page directly.

[2022-11-20 16:04] Domino987 commented on #678
agreed and will be fixed with the next release. Thank you

[2022-11-20 16:04] #678 closed, assigned to nobody

[2022-11-20 16:13] Domino987 commented on #677
Yes, this seems like a merge error. Will be fixed in the next release. Thank you

[2022-11-20 16:13] #677 closed, assigned to nobody

[2022-11-20 16:30] Domino987 commented on #671
Merged, thank you!

[2022-11-20 16:30] #671 closed, assigned to nobody

[2022-11-20 16:30] Domino987 commented on #673
Merged, thank you!

[2022-11-20 16:30] #673 closed, assigned to nobody

[2022-11-20 16:45] Domino987 commented on #669
The easisest way woudl be to orveride the customFilterAndSearch prop for a column and always return false for that column

Link: https://codesandbox.io/s/material-table-starter-template-forked-nulzj3?file=/src/index.js

[2022-11-20 16:47] Domino987 commented on #665
Done. Thank you

[2022-11-20 18:58] LifeIsStrange commented on #669
Excellent! That looks really simple :)
I can't seem to find documentation about this prop though https://material-table-core.com/demos/search/basic but anyway your given example is sufficent for my need !

[2022-11-20 18:58] #669 closed, assigned to nobody

[2022-11-21 13:34] nathanm960 opened #679 "Global checkbox issue with parentChildData"
Hello,

It seems to have a new issue with this [fix](https://github.com/material-table-core/core/issues/606) (it appear in 5.1.1). The issue is also in 0.2.54

I updated the codesandbox : https://codesandbox.io/s/material-table-starter-template-forked-woh93u?file=/src/index.js

**How reproduce**

Go on the sandbox and click on the global checkbox

Every row are selected but not the global checkbox

[2022-11-21 13:43] LifeIsStrange commented on #669
edit:
it seems removing the prop 'field' from the column make it non-searchable too. Does the field props has other uses/consequences than allowing search? @Domino987

[2022-11-21 16:53] nathanm960 opened #680 "headerStyle not applied"
Hello,

My headerStyle is not applied. I have a codesandbox here : https://codesandbox.io/s/material-table-starter-template-v5-forked-0d1c6w

**How reproduce**

Simply go on the codesandbox and watch :)

The first cell of the header is not colored in blue

**What is expected**

The backgroundColor property in headerStyle should be applied on every cell of the header

This issue appear in v0.2.38

[2022-11-21 18:09] Domino987 commented on #669
Yes it is the basic for all interaction with the column. Display, search Filter etc. You should not see anything in the column without actually.

[2022-11-21 23:42] LifeIsStrange commented on #669
Field is not necessary to display the cell, as I use the render prop.
Thanks for your help :)
Again I think the documentation could be improved.

[2022-11-22 22:25] ewanmellor commented on #648
It works if you use the column index instead of the ID in `orderBy`:

[code]

Note that `index.d.ts` has this declaration:

[code]

I think this is a mistake in the API though.  `orderBy` should use the column ID instead of the index, because that's exactly what the user is expecting, and it's less fragile to changes in the columns.  The way it is at the moment is exposing internal details of `dat

[2022-11-22 22:49] ewanmellor opened #682 "Clicking a column in multisort should make that column the first in the sort order"
**Describe the bug**

On a table using multiple sorted columns, if you click the column that is currently not first in the sort order, that column should move to the first position, and all the other columns should move down the order.

With the current behavior, when the user clicks the second-sorted column, it reverses order but the other column is still in first position, so the table doesn't a

[2022-11-24 10:57] pratik-nagpure opened #683 "Multiselect is not working with tree data by clicking on select all checkbox"
I am using latest @material-table/core version of 4.12.4
Looks like select all is broken for TreeData view
Issue is also reproducible in latest document [here](https://material-table-core.com/demos/tree-data/basic)
I have also created a sandbox as below
  - #### [Material-table-treeData](https://codesandbox.io/s/youthful-bhaskara-nb2gkm?file=/src/App.js)

**Describe the bug**
Try to click on selec

[2022-11-24 18:43] Diiegoav commented on #673
@Domino987  based on https://mui.com/x/react-data-grid/ I think could be good idea to replicate their behavior, when ASC empty fields can be updated on top, DESC at last.

Any thoughts ?

[2022-11-25 10:43] ChethanaBellechalu commented on #609
Is there any updates on this? or any other workarounds which could help?

[2022-11-26 01:34] ewanmellor opened #685 "Spacer icon now causes crash"
The fix for #678 causes a crash:

[code]

The `icon: null` here causes a crash inside MTableAction:

[code]

This effectively results in `<null>`, which crashes with "React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: null.  Check the render method of `MTableAction`."

If we're going with `icon: null` as a spa

[2022-11-26 02:45] cbthompson1 opened #686 "Making "Actions" and Other Columns Sticky"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have
https://codesandbox.io/s/material-table-starter-template-forked-huuu34?file=/src/index.js

- #### Please try to be as detailed as possible
I would like to have both the actions column and a regular data column fixed to the left such that when I scroll I can see both unobstructed. I have tried using `fixedColumns` an

[2022-11-26 18:19] kushpathak commented on #682
Hi I would like to work on this! could you assign this to me? thanks!

[2022-11-26 23:40] ewanmellor commented on #682
@kushpathak Thank you!