[2021-06-27 22:53] matthewoestreich commented on #233
Hello! Per our guidelines, can you please provide a reproducible sandbox? You can [fork this starter template](https://codesandbox.io/s/material-table-starter-template-xnfpo?file=/src/index.js) to make it easier.

Also, you can use a free API, like [this one](https://jsonplaceholder.typicode.com/) to create similar behavior.

[2021-06-28 03:43] DewangS commented on #231
@Domino987  Legend mate... works like a charm. Thanks heaps.

[2021-06-28 03:45] DewangS commented on #229
Thanks @Domino987 for now I went with 'Actions' and have a pen icon for user to click if they want to edit though would be nice to have both even handlers in the base npm package.. just a thought

[2021-06-28 20:14] Domino987 commented on #229
I added a PR to enable a double click. What do you think?

[2021-06-28 20:22] chattling opened #235 "Unable to override Cell component with material-ui Tooltip wrapper"
**Describe the bug**
When I override Cell component and wrapping MTableCell with Tooltip from @material-ui/core, getting Warning in the console.
Also the tooltip eventually doesn't show when hovered over cell.

Override done as follows:
[code]

Error:

Warning: Failed prop type: Invalid prop `forwardedRef` of type `function` supplied to `MTableCell`, expected a single ReactElement.
    at MTableCe

[2021-06-28 21:01] Domino987 commented on #235
Thank you for the issue.

This will be fixed with the next release by spreading the props to the cell component.

[2021-06-28 21:01] #235 closed, assigned to nobody

[2021-06-28 21:43] Domino987 commented on #85
@misterlocations This is because how react handles the stable function references internally. If a new function is passed, it will lose its state aka its focus and content.

You need to create a stable reference to the Search component to keep the state.

[code]

and

[code]

[2021-06-28 22:20] edgar-arroyo-by opened #236 "Data modifications get erased inside material table core"
**Describe the bug**
My pardons because this bug report/question may look weird.

Lets say, I have an implementation of material table core in which I use an action. On that action, when its clicked, I modify the rowData object in order to add a property to it.

[code]

You may ask, what do I did this?

At the columns, in a column, I render something if that onSmth is on true and something else if

[2021-06-29 04:47] matthewoestreich commented on #236
This behavior is expected behavior.

The reason why changing `rowData`, inside of the `onClick` callback, does not work is because of scope and the fact that `rowData` is a callback argument. It does not live in state.

Remember, if you want changes to reflect on screen in "real" time then the dynamic data (aka variable, etc..) has to live in state.

[2021-06-29 04:51] matthewoestreich commented on #236
Also, the reason why this doesn't work in version 3.x is because this was actually a "bug" and you shouldn't be able to modify it like you were. You can see [this issue, which](https://github.com/material-table-core/core/issues/200) has a lot more details on why it was removed.

[2021-06-29 13:21] edgar-arroyo-by commented on #236
Hello there, thanks for answering @oze4 :)

[2021-06-29 14:04] Vitorbnc opened #238 "Pagination Override or Keeping Default Sorting with Remote Data"
Hello!
I'd like to fetch paginated data from the server but still be able to use the built-in sorting and the same filter inputs (with custom fetch logic of course).
I thought about overriding the pagination component but I couldn't find a good example or the specific props.
What is the best way to do it?

[2021-06-29 14:31] vizardkill commented on #179
@oze4  thanks for your hard work in this incredible library

[2021-06-29 15:04] peacechen commented on #179
Hear hear!

[2021-06-30 04:56] #236 closed, assigned to matthewoestreich

[2021-07-01 16:20] pedro-pool-by opened #241 "Heading cells moving when dragging column"
Hi everyone.

I'm not sure if this a bug or an intended functionality. Here is a fork of material table core

https://codesandbox.io/s/material-table-starter-template-forked-kikgi?file=/src/index.js

I just added another column and the "draggable" prop. When I drag a column the header cells of the other columns move to the right. I inspected them and the cells are added a "transform: translate()".

[2021-07-01 16:24] edgar-arroyo-by commented on #241
![material-table-starter-template (forked) - CodeSandbox](https://user-images.githubusercontent.com/79274227/124157844-d75e6200-da5e-11eb-9460-f9ef9bac8018.gif)

Gif of the behavior that is currently happening

[2021-07-01 16:29] edgar-arroyo-by commented on #238
Hello there, if what you want is to override the pagination component, you can use material table prop `components`

https://material-table.com/#/docs/features/component-overriding

[2021-07-01 23:14] matthewoestreich commented on #238
Per our guidelines, would you mind creating a reproducible sandbox? We have CodeSandbox and StackBlitz templates you can fork to make it easier on you.

In my opinion, since [you have control over the 'fetching function'](https://material-table-core.com/demos/remote-data/basic#usage), you should be able to just sort it yourself prior to returning.

[code]

[2021-07-02 07:26] matthewoestreich commented on #241
Thanks for this! I do not believe that is intended behavior. I can dig more into this.

Thank you all!

[2021-07-02 10:32] rjumatov opened #242 "Opening dialog upon selected rows clears all row selections"
**Describe the bug**
Whenever I open a dialog on top of the table, all selection checkboxes reset themselves.
This is an unwanted behavior, because I let the user make selections in that dialog based on the selected rows.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new action that opens a dialog on click
2. Select any amount of rows through the checkbox
3. Click on that action

[2021-07-02 12:04] DewangS commented on #229
Thanks @Domino987

[2021-07-02 12:20] Vitorbnc commented on #238
Is there a prop for supplying a callback for sorting change?

Using the remote data feature completely disables the global `onFilterChange` calls, so the filter components will have to be reimplemented too (this was done already to add validation text).

I am using useSWR for data fetching and caching but it's a hook, so it doesn't seem to fit well with the remote data model.
It's working well wit

[2021-07-02 12:31] Vitorbnc commented on #238
Also, I believe I could push the new filter box with validation here. Basically, you supply an optional `filterValidation` function per column:
`filterValidation:(val)=>{(...) return {valid:false,text:'Inválido'}; return {valid:true,text:''}`

There's another arguably useful change that was made too.  By default `onFilterChange` isn't called if the filter box gets empty. I am checking the previous

[2021-07-02 20:56] Domino987 commented on #242
Can you create a sandbox for us?

[2021-07-02 21:14] Domino987 commented on #241
Thank you for finding this. It is fixed with 3.0.13.
The dragging style will now only be applied to the dragged item instead of all headers.

[2021-07-02 21:14] #241 closed, assigned to matthewoestreich

[2021-07-02 21:27] #231 closed, assigned to matthewoestreich

[2021-07-02 21:27] #229 closed, assigned to nobody

[2021-07-04 00:04] matthewoestreich commented on #238
I'm not so sure I like adding the filterValidation prop for columns. I don't understand the use case for having such a prop. If I'm trying to filter a column, who's to say that what I'm looking for is invalid?

This seems like a niche edge case which I don't think should be added to this library.

With that being said, I am still open to adding this functionality if it is useful.  The only way to

[2021-07-04 00:14] matthewoestreich commented on #242
Hi - [per our guidelines](https://github.com/material-table-core/core/blob/master/.github/ISSUE_TEMPLATE/bug_report.md#please-include-a-demo-of-the-issuebehaviorquestion-you-have) please include a sandbox.

[2021-07-04 00:14] #242 closed, assigned to nobody

[2021-07-04 00:32] matthewoestreich commented on #238
Also, retaining sorted/filtered (or selected rows), etc.. is a little tricky with remote data. That is because we don't cache any data for you. We only send a request to a URL with certain "pagination" params..

Like this:

[code]

Retaining sorted data (caching) would need to be implemented in user land.

The link below has a demo which shows how to retain selected rows across pages when using re

[2021-07-04 09:55] rjumatov commented on #242
I found the issue by trying to reproduce it in a sandbox. It was an anchor element I was creating for a menu-action that was misplaced.

[2021-07-05 13:56] rjumatov opened #243 "Checkbox triggers onRowClick since v3.0.13"
**Describe the bug**

Since v3.0.13 I encounter the problem that clicking on a selection checkbox triggers the onRowClick-function.
I've created two sandboxes that illustrate the behavior.
- #### [Bug Illustration v3.0.13](https://codesandbox.io/s/material-table-starter-template-forked-pdims?file=/src/index.js)
- #### [Working copy v3.0.12](https://codesandbox.io/s/material-table-starter-template-

[2021-07-05 14:16] pedro-pool-by commented on #241
Thanks a lot!

[2021-07-05 17:53] Vitorbnc commented on #238
@oze4  you are right, we are implementing this features in the backend.

It is sort of a niche case, some of the fields are codes that need to be in a specific format, but the use for `filterValidation` is just reducing the number of requests.

I managed to get the filter values by reimplementing the filter components. However, is there a way to reuse the default sorting arrows, or is that going t

[2021-07-05 18:13] Vitorbnc commented on #238
Nevermind, just found out not only sorting but all the filter data is available in the `query` object!

I don't believe this is properly documented though, it's really useful. This information should be made more visible.

Anyway, I'm closing this issue as the problem is solved.

[2021-07-05 18:13] #238 closed, assigned to nobody

[2021-07-06 15:36] chattling opened #244 "Override Cell component with material-ui Tooltip wrapper throwing JavaScript warning"
**Describe the bug**
It is continuation of bug reported in #235.
After upgrade to v3.0.13 of @material-table/core, the Tooltip now works, however JavaScript warning still thrown into the console.

[code]

I think it is because as part of MTableCell.propTypes definition the forwardedRef is defined as PropTypes.element. It should also be able to accept a function (callback ref).

[2021-07-07 11:36] Domino987 commented on #235
This will be fixed with the next release: commit 101d290

[2021-07-07 11:37] Domino987 commented on #244
This will be fixed with the next release: commit 101d290

[2021-07-07 11:37] #244 closed, assigned to nobody

[2021-07-07 12:29] Domino987 commented on #243
Nice catch. This is connected to how react handles synthetic and native events. Moved the click logic back to react synthetic event loop and this should be fixed with 3.0.14.

[2021-07-07 12:29] #243 closed, assigned to nobody

[2021-07-07 15:21] pixelbadger opened #246 "Selection does not follow expected behaviour when using custom columns and onSelectionChange"
Demo here: https://codesandbox.io/s/nifty-star-b4zeg

**Describe the bug**
When a custom column is present, selection is enabled, and the onSelectionChange event callback contains a call to a useState setter, the selection state is not preserved.

**To Reproduce**

* Browse to demo
* Click the first checkbox
* Observe console debug log shows the correct row data, but the checkbox is not checked
*

[2021-07-07 15:26] matthewoestreich commented on #246
Nice catch. Thank you so much for this!

[2021-07-07 17:13] eslambasher opened #247 "OnChangePage not working in production version"
When i build reactjs app with webpack, the button 'next page' not working i get this error `Uncaught TypeError: e.onChangePage is not a function` but in local it's working good

![image](https://user-images.githubusercontent.com/15127303/124801400-19a00b80-df57-11eb-880a-7072323b17f3.png)

![image](https://user-images.githubusercontent.com/15127303/124801457-29b7eb00-df57-11eb-83cd-728b1430b537.pn

[2021-07-07 20:19] matthewoestreich commented on #247
Were you able to get this resolved? @eslambasher

[2021-07-07 20:32] eslambasher commented on #247
@oze4 yeah it's was new version with material-ui 5
![image](https://user-images.githubusercontent.com/15127303/124824764-1a469b00-df73-11eb-9b28-2c4bb47d2c8a.png)

link of breaking changes: https://material-table-core.com/docs/breaking-changes

[2021-07-07 20:35] matthewoestreich commented on #246
So, after quickly looking at this, it looks like this happens because the table is rerender due to setting state on row select. I do not remember this happening, though, so this could be a bug that was recently introduced.

I'll have to dig into this more tonight.. FYI - we have multiple misc issues open right now due to unnecessary rerenders - we are in the process of rewriting using React Contex

[2021-07-07 21:04] #170 closed, assigned to nobody

[2021-07-07 21:05] matthewoestreich commented on #206
See #230 for further updates.

[2021-07-07 21:05] #206 closed, assigned to FalkF, matthewoestreich

[2021-07-07 21:14] matthewoestreich commented on #247
Sweet - glad that helped!

[2021-07-07 21:30] pixelbadger commented on #246
As is always the way I found a workaround in the upstream repo's issues minutes after posting this bug. We're now stashing the selection state in a ref. Not a perfect solution because we're losing a state update we relied on for button enablement, but we can live with it.

[2021-07-07 22:43] eslambasher commented on #247
@oze4 No in the end I was wrong and it was not the right solution, there is a real problem with the production version

[2021-07-07 22:44] eslambasher commented on #247
the function onChangePage is still not found in the production version, I still do not know where it comes from

[2021-07-08 11:29] Domino987 commented on #247
@eslambasher  It seems like you are using muiV5 right? And which material-table version are you using?

[2021-07-08 11:35] Domino987 commented on #246
This is caused because we do not mutate the data objects anymore so without the tabledata, we have no way of tracking if the new data is actually new or the previous data. Especially because you are creating a new object on every render. And this makes it difficult to persist the state.

I was thinking of a way to get around it. The best way would be to give each row an id, which we could use to r

[2021-07-08 12:53] matthewoestreich commented on #246
@Domino987 I like the idea! It looks like rows are currently assigned an id, no? I thought each row had an id in tableData.id ? I could be wrong.

[2021-07-08 13:10] Domino987 commented on #246
This is just the index, so pretty much worthless unfortunately.

[2021-07-08 13:55] LuchoTurtle commented on #247
@Domino987 @eslambasher Isn't it rather the new latest stable version for MUI? They published a [v4.12.0](https://github.com/mui-org/material-ui/releases/tag/v4.12.0) version which deprecates a ton of stuff to transition to v5.

I'm personally using the latest stable MUI version (^4.11.4 which fetches 4.12.0 due to the caret) with the latest version of this repo and I get the same errors as well.

[2021-07-08 14:21] LuchoTurtle commented on #247
An update on this:
I changed the dependency of my project of `@material-ui/core` to `~4.11.4` and my errors cleared away. So this is most likely an issue of MUI updating to the v4.12.1 and `material-table/core` being plagued with deprecation warnings due to this latest update from MUI.

[2021-07-08 14:37] Domino987 commented on #247
Ah so yes we did not incorporate the changes that were released two days ago.
Most of these changes are supported for the v5 branch with @next.
Maybe we can get around to support v4.12.
But yes we should get the correct version in package json.

[2021-07-08 15:22] eslambasher commented on #247
In reality the only thing I don't understand is how it's in local it works perfectly but once I build the app with webpack it doesn't work anymore

@LuchoTurtle i tryed with 4.11.2 but it still does not work

[2021-07-08 15:31] LuchoTurtle commented on #247
Interesting. Assuming you're using the latest version of `material-table/core`, 4.11.2 *should* work. Even if you versioned it `~4.11.4`, it ought to work properly. Are you sure you're using the `onPageChange` props instead of `onChangePage`? I think the last one no longer exists 🤔

[2021-07-08 15:43] eslambasher commented on #247
@LuchoTurtle i don't understand the last version of `material-table/core` it's v3.0.14 ? do u talking about `material-ui/core` ?

[2021-07-08 15:47] LuchoTurtle commented on #247
@eslambasher Yeah, sorry if I was confusing 😅 . I meant that if you have something like this in your `package.json`
[code]

it *should* work. You should use the `onPageChange` props instead of `onChangePage` you mentioned, since the latter doesn't seem to even exist in this latest version of `material-table/core`.

[2021-07-08 15:54] Domino987 commented on #247
So i just released a new version to use the new pagination props. I skipped one version but v3.0.16 is the one. This should work with mui v4.12.X

[2021-07-08 17:11] eslambasher commented on #247
Great all working good thanks guys u r the best !

[2021-07-08 17:11] #247 closed, assigned to nobody

[2021-07-08 20:16] anaerobic opened #249 "cell-editing save is disabled"
the save icon is disabled when editing a cell, due to a seemingly accidental negation of `this.state.isLoading`, see https://github.com/material-table-core/core/blob/v3.0.16/src/components/m-table-edit-cell.js#L111

[2021-07-08 21:41] #249 closed, assigned to nobody

[2021-07-09 03:47] vizardkill opened #251 "Date filter error"
Colleagues I hope you are very well, I would like to report an error that I found when using the library in its version 0.0.4, because I use @ material-ui v5.

The error turns out to be when I apply the filter property and the elements are of type date

-----
` columns={[
                        {
                            title: "Fecha inicio",
                            field: "dtFechaInicio"

[2021-07-09 08:11] appukuttan-shailesh opened #252 "DetailPanel expand / collapse animation?"
Bringing up a [previously requested feature](https://github.com/mbrn/material-table/issues/1566) which never got a resolution:

Would it be possible to have expand/collapse animation when the detail panel is toggled?
Currently is simply appears when toggled on and disappears when toggled off.... doesn't look great.

I have tried using:
`import Collapse from '@material-ui/core/Collapse';`
and wrapp

[2021-07-09 13:53] RomaBogatikov opened #253 "Possible memory leak when data updates frequently"
# Material-table/core v.3.0.6.
# Browser: Chrome Version 91.0.4472.124 (Official Build) (64-bit)

I need to update table frequently (every second), and I need to have multiple tables rendered on the same page that render the same data (I apply different filters to this data in my use case, but this doesn't seem to matter for the issue that I have).
I put data in React Context, and tables reference

[2021-07-09 14:07] matthewoestreich commented on #253
Does the data in the table change at all during that time or does it remain the same?

[2021-07-09 14:25] RomaBogatikov commented on #253
New data is generated every 300ms in my example, if this is what you mean. And we can see that table gets and renders this data.

[2021-07-09 16:47] matthewoestreich commented on #253
Sorry I am on mobile, haven't checked out the demos. But if that new data is added to existing data (and not replacing it) then it makes sense why you're seeing that behavior.

[2021-07-09 16:53] RomaBogatikov commented on #253
The new data replaces the old one completely as I am generating a new array of users and replace the old array with the new one. I at first thought it might be because of a useMemo that I wrapped the material table into (this hook doesn't doo anything in my particular example since data references a new array each time new data is generated). But the heap size increases without useMemo() also.

[2021-07-09 17:34] matthewoestreich commented on #253
Yes that's def interesting. Sounds like a bug somewhere. I'll need some more time to dig through things.

Thanks for this!

[2021-07-09 17:40] RomaBogatikov commented on #253
I spent a lot of time trying to find out what causes such a behavior. If you have at list some assumptions at any moment on what may cause such a behavior and where to look at let me know, please, and I will try to investigate.

[2021-07-09 20:41] matthewoestreich commented on #253
The first thing I'd like to test is just making sure that `webpack-dev-server` (which is what `yarn start` ultimately uses) isn't doing anything funny in the middle.

I forked your repo and wrote a small Express server that serves our built React app. If you wouldn't mind adding this logic (or I can send you a PR if you want) to your test repo, and then testing again that would be awesome!

https:

[2021-07-09 21:35] RomaBogatikov commented on #253
Great, thank you. I will add the server logic that you wrote and test it again. I will let you know how it goes.
I will then try to use it without React Context. Will just render 5 tables, each generating and rendering its own data.

As for React Context, I understand what you mean by 'dispatching' (I had a look at a 'context' branch and how you use Context there). I will read more about it as I a

[2021-07-09 21:41] matthewoestreich commented on #253
Yea I agree. It is highly unlikely that either of those things are the root issue, but they're easy to test (almost as easy to test as assuming they're not the issue) and could be easily overlooked.

Trying to remove as many peripherals as possible. If we are testing whether or not material table has a memory leak then we should remove all variables outside of material table, imo. And then slowly

[2021-07-09 21:44] matthewoestreich commented on #253
Also just to note, I doubt it has anything to do with it but I've had an open issue for react beautiful DND for a while. They create many unnecessary redux instances. This could be one avenue to explore. Just wanted to note that.

[2021-07-10 15:43] matthewoestreich commented on #252
I like this idea.  I do not believe it is currently possible, but would def be open to adding this feature!

We are actively deploying here, so we are also accepting PRs... If you (or anyone else that you may know) wants to send over a PR to resolve older issues we will gladly merge them ASAP.

Unfortunately, since this isn't really a bug and is adding a feature, it will have to be lower on my lis

[2021-07-10 16:01] matthewoestreich commented on #251
Hi! Thanks for this. Per our guidelines, would you mind creating a CodeSandbox that reproduces this issue?

[2021-07-10 16:09] matthewoestreich commented on #251
https://github.com/mui-org/material-ui-pickers/issues/1750

Looks like this was a new prop added on mui's side. @Domino987 are you aware of this?

[2021-07-10 16:13] matthewoestreich commented on #233
Please reopen if you get that sandbox created!

[2021-07-10 16:13] #233 closed, assigned to matthewoestreich

[2021-07-10 16:13] Domino987 commented on #251
Hi no I am not but I will look into it this weekend. I wanted to look at the issues and PRs tomorrow.

[2021-07-10 16:28] vizardkill commented on #251
@oze4  If you want I can help you to review and send you the corrections so that you can work the branch.

[2021-07-10 16:30] vizardkill commented on #251
I will create a sandbox later so that we can check the error, as  @oze4  mentions, it may be due to the new MUI accessories in version 5, since this version uses the date library within its core

[2021-07-10 23:29] RomaBogatikov commented on #253
I created a withoutContext branch in the demonstration and added the Express server that you wrote. I tested both of them and JS heap size still increases over time. I am not sure though how you can tell that this is the Context object that grows.

[2021-07-11 00:16] matthewoestreich commented on #253
I was using Chrome and went into the dev tools under memory - I can't recall which setting I used but you can view the callstack and objects. The object with the largest increased of retained growth was related to react context.

I did some research on setInterval and it looks like it slowly increases memory consumption over time. See [here](https://stackoverflow.com/questions/14034107/does-javasc

[2021-07-11 01:16] RomaBogatikov commented on #253
Thank you for your prompt replies. I read the articles about setInterval() and they go pretty deep. SetInterval might be an issue here. I can also create an example without setInterval. I may generate data on the server and push it to the client via websockets frequently. Data in React Context will be updated, and the components that are subscribed to Context (via useContext) will be re-rendered.

[2021-07-11 01:32] matthewoestreich commented on #253
Personally, I think that's a great idea. Imo it's easier to troubleshoot that way (making sure the problem is for sure with material table). Most of the time you can test the idea rather quickly. Love the websockets idea as it removes set interval from the client side. Nice!

[2021-07-12 11:33] appukuttan-shailesh commented on #252
Hi @oze4 ... I am actually keen to give it a try.
That said, I have to say that even though I am quite well versed with JS/ReactJS, I am not very experienced woking on npm packages. I wanted to try to make some changes to the fork and test things out. I tried changing `package.json` to:

corresponding to: https://github.com/appukuttan-shailesh/core/tree/branch_2_3_39_mod

But when I delete my exis

[2021-07-12 16:18] Domino987 commented on #251
This should be fixed with the newest next version v0.0.7

[2021-07-12 16:18] #251 closed, assigned to nobody

[2021-07-12 21:06] Domino987 commented on #253
I ran a few tests on my machine.

It seems like that the memory build up is caused by the context. If I remove the context and pass the data manually, I do not see an increase in memory, but as soon as I add the context, it slowly increases.

Could this be caused by a slow garbage collection of the context values due to the rapid update frequency?

@RomanBogatikov Can you verify that on your machi

[2021-07-13 02:12] matthewoestreich commented on #253
Nice find @Domino987

[2021-07-13 02:17] matthewoestreich commented on #252
No worries!

A quick way to see what a package lets you do with it is to check out the "scripts" section in the package.json file. If you wanted to test changes to your own fork you can do:

- Fork the repo (you seem to have already done this)
- Make the changes you want to test
- Run `npm start`
  - This builds and serves a "demo" app
  - [The demo app is located here](https://github.com/material

[2021-07-13 02:20] matthewoestreich commented on #252
If the changes you make work, and are good, then you would create a Pull Request using your fork. From there, we would merge your fork into the main branch and then publish to NPM.

In my opinion, you should use the local [GitHub App](https://desktop.github.com/) in order to familiarize yourself with Git/GitHub. It is basically a GUI for Git and will help you learn the basics (I'm not sure how fam

[2021-07-13 02:28] #226 closed, assigned to Domino987

[2021-07-13 02:38] matthewoestreich commented on #145
I agree - the sizing has always been somewhat of a mystery to me as well (it's just confusing tbh)..

With that being said, I quickly scanned the [Material Design white paper for data tables](https://material.io/components/data-tables) and was not able to find anything about automatically shrinking cell width to fit data. I think we need a good review of these "little" things, just to make sure we

[2021-07-13 02:42] RomaBogatikov commented on #253
There is a branch in the demonstration called 'withoutContext' where no context is used. When I ran code from this branch for extended periods of time, I still saw the JS heap size increase. I will leave it running overnight again just to double check and will let you know (I don't know how else to see the heap size increase). As of now the code has been running for 3 hours already and the heap si

[2021-07-13 03:18] peacechen commented on #145
It does appear that `auto` evenly divides the width by the number of cells. Fixed has some weird not-useful behavior. Since those already exist and are in use, perhaps a new mode such as `shrink` could be introduced that is a variant of `auto`. It would first evenly divide the width by number of cells, then shrink the width of columns that have white space. Easier said than done.

[2021-07-13 03:19] matthewoestreich commented on #145
I like it.

[2021-07-13 08:28] klassm opened #254 "Cell editing broken"
Hey there,

I just tried to upgrade to the new major 3 version. However, when trying to edit a cell it looks like the approve button is always disabled.
You can find an example here: https://codesandbox.io/s/material-table-starter-template-forked-xb2n6

Am I doing something wrong? Maybe I missed adding an additional function?

Thanks
Matthias

[2021-07-13 13:32] Domino987 commented on #254
This is fixed in code but the release is not yet through. Will be fixed with the next release

[2021-07-13 13:32] #254 closed, assigned to nobody

[2021-07-13 13:32] klassm commented on #254
Great thanks :-)

[2021-07-13 14:58] appukuttan-shailesh commented on #252
Thanks @oze4 for the pointers. I am actually fine on the GitHub and ReactJS front. What I very new to is npm packaging and installations.

The part I am stuck with is:

Instead of using the demo app (included within material-table-core), I was trying to install material-table-core from my GitHub fork to my current working app.... and I am failing in getting this to work.

I believe I should make c

[2021-07-13 15:37] appukuttan-shailesh commented on #252
p.s. I did now manage to get the built-in demo app running, so that helps with working on this feature request. Thanks @oze4 .
But I am still curious what I was doing wrong when trying to install this package from GitHub for my existing project.

[2021-07-13 16:01] vizardkill commented on #117
@peacechen

Will this property have an attribute associated with location?

for the translation of the text

for example > EN > "Add or remove columns" in ES> "Mostrar u ocultar columnas"

[2021-07-13 19:54] JGioia commented on #185
This is possible. The columns prop has a field "filterComponent" that allows you to override the filter component. The value of "filterComponent" must be a component that calls props.onFilterChanged(props.columnDef.tableData.id, event); on change. If you also you want to change how the filtering is done (ex. filter by year instead of the default day), you can supply
 the "customFilterAndSearch" fi

[2021-07-13 20:05] JGioia opened #255 "Date editing does not follow given date locale"
When you are editing a row that contains a date, the format of the date is always dd.mm.yyyy, even when the date locale is set. This bug does not exist when you are not in the middle of editing the date. I found this issue on the original material table repository that poses a potential fix for bug, but I have not looked into it enough to determine whether it is valid. https://github.com/mbrn/mate

[2021-07-13 21:18] matthewoestreich commented on #255
Demo of issue

[![Edit material-table-starter-template (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/material-table-starter-template-forked-ost1g?fontsize=14&hidenavigation=1&theme=dark)

[2021-07-13 21:48] matthewoestreich commented on #255
So it looks like you are using the `dateSetting` incorrectly. It is an object, not a string: `dateSetting: { locale: "en-US" }`.. But even after I made those changes, I still had issues.

While this is an issue, we are currently refactoring this code to use Context. This is something we can fix for good in the refactor.

For now, if you change the columns object to below, it should work for you.

[2021-07-14 00:25] JGioia commented on #255
Thanks for the help. It seems like you're right. I'm fine with closing this if you want to

[2021-07-14 02:23] matthewoestreich commented on #253
Putting this here for reference. https://github.com/mbrn/material-table/issues/2650#issuecomment-879445038

[2021-07-14 02:35] RomaBogatikov commented on #253
So, I ran the 'withoutContext' branch for 12 hours and JS heap size swings from 175-250Mb. So, it definitely grew. I haven't tested 'websocket' branch though. When I finish testing it, I will share the results.

[2021-07-14 07:33] Domino987 commented on #253
So it does not grow indefinitely. Good to know. Memory is so inaccurate, maybe it increased for me and it was just too low to be detected. Next step after checking everything would be to remove certain components to Soo which part triggers it.

[2021-07-14 15:05] klassm opened #256 "Sticky headers"
Hey,

not really a bug, also not really a feature request - I was wondering whether it is possible to have the search bar and the table header to be sticky, so to remain on the top while scrolling. I could not find anything in the docs, but maybe I looked at the wrong place?

Thanks :-)
Matthias

[2021-07-14 17:55] #252 closed, assigned to matthewoestreich

[2021-07-14 18:05] matthewoestreich commented on #252
To use in your existing project you would have had to do something like this:

Folder Structure:

- /package.json
- /src/
  - /...other stuff.../
  - /libs/
    - /MaterialTable/  <<--- create this in your current project

Easiest way would be to just copy your local fork into the MaterialTable folder then import it like:

[code]

**The important thing to note here, regardless of folder structure,

[2021-07-14 18:06] matthewoestreich commented on #252
@appukuttan-shailesh see response above

[2021-07-14 18:14] matthewoestreich commented on #255
Nice! Glad that fixes it for you.

[2021-07-14 18:14] #255 closed, assigned to matthewoestreich

[2021-07-14 19:51] appukuttan-shailesh commented on #252
Ok, that explains a lot! Thanks @oze4 for the detailed response. I will try this next time.

[2021-07-15 01:21] RomaBogatikov commented on #253
@Domino987  Can you, please, give me a bit more details about that next step 'to remove certain components'? I would appreciate if you guide me on what to do.

[2021-07-15 01:23] matthewoestreich commented on #253
I also don't think growing 175 to 250mb is enough to classify this as a memory leak. Especially if it swings (meaning it doesn't steadily grow - it grows then shrinks, etc...).

[2021-07-15 01:25] matthewoestreich commented on #253
Also, does this happen on all browsers or just a specific browser?

[2021-07-15 09:53] Domino987 commented on #253
@RomanBogatikov So I am still not sure if that is a leak or jsut a slow garbage colelction process. What you could to is to clone the repo and remove all components that are rendred below the table itself. Like the rows. If that changes the behavoir, you could add the back in and see what tiggers the leak.

[2021-07-15 13:50] appukuttan-shailesh opened #258 "Problem with detail panel animation"
@oze4, @domino987 The PR in #257 fails when the `render` of detailpanel isn't simple static content, and handles some API calls. All the calls are currently being pre-executed. This is because `Collapse` seems to run the content in its child elements, even though it doesn't get populated in the DOM unless when displayed.

See an example of `Collapse` that shows this problem:
https://codesandbox.io

[2021-07-15 15:16] Domino987 commented on #258
I think we should add this should at least do the slide in animation:
[code]

[2021-07-15 15:17] Domino987 commented on #256
I think that could be possible. Have you tried to override the table header with a sticky css position? I dont think this was aksed yet AFAIK.

[2021-07-15 15:46] klassm commented on #256
Hm it nearly works using just sticky - it's just that every position relative and overflow whatever breaks it. I guess this needs an adaption in material-table code to make this work, as those positioning stuff has to go - maybe I find some time tomorrow :-)

[2021-07-15 15:51] Domino987 commented on #246
This is actually caused by the function. Because you are creating a new function on every render, react thinks that you are passing new columns and the table state will be reseted. Please create a stable reference to columns or the function on columns. This will fix your code.

[2021-07-15 15:57] matthewoestreich commented on #246
Oops didn't mean to reopen. Misclicked on mobile.

[2021-07-15 15:57] #246 closed, assigned to matthewoestreich

[2021-07-15 16:27] appukuttan-shailesh commented on #258
I believe we are are already achieving that with
`<Collapse .... unmountOnExit>..... </Collapse>`
right?

[2021-07-15 16:29] Domino987 commented on #258
The docs write it differently but they are supposed to be passed down. But if they are pre executed it seems like it does not work.

[2021-07-15 16:31] appukuttan-shailesh commented on #258
True... I was trying to understand how `mountOnEnter` should work.
As per docs...

https://material-ui.com/components/transitions/

This should have resolved the problem, but doesn't seem to be working as expected.

[2021-07-15 16:33] Domino987 commented on #258
We could write a new component just for the panel. Use a local state for the open state and listen to the table data Detailpanel with a use effect. Of the function is passed, call it and set a timeout to change the open state to true and expand it after a few sec. Would that work? I could try this maybe tomorrow after I finish something else I am writing on to provide a more stable experience betw

[2021-07-15 16:38] appukuttan-shailesh commented on #258
That would be great (to have a separate new component that handles the detail panel). I was a bit wary of attempting that, as I wasn't sure what all parts would need to be modified. The current lack of a state parameter to identify if the detail panel is expanded or not, certainly makes the code a bit more bulky for such changes, so I am in favor of your proposal. I will be happy to help/test.

[2021-07-15 21:53] #85 closed, assigned to matthewoestreich

[2021-07-15 21:58] Domino987 commented on #66
I think this should be fixed. Is this still an issue?

[2021-07-16 17:25] pedro-pool-by opened #262 "Z-index issue when dragging column"
**Describe the bug**
When you add "draggable" prop to material table and you try to drag a column, the header is hiding behind the other header cells. This behavior only happens when you drag to right. If you try to drag to left, the dragging header is not hiding.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/material-table-starter-template-forked-kikgi?file

[2021-07-17 09:00] Domino987 commented on #258
I will close this in favor for the PRs.

[2021-07-17 09:00] #258 closed, assigned to nobody

[2021-07-17 16:40] RomaBogatikov commented on #253
I tested it on Google Chrome only. I see from the articles that @oze4 referenced in the previous posts that the behavior that is observed can not be classified as a memory leak because the garbage collection is working. I will try to render the table without rows as @Domino987 suggested, and probably without some other components (like pagination row) and see if it helps. I will let you know how i

[2021-07-18 10:02] vitaly87 opened #264 "checkbox for select all options inside lookup"
I am trying to create checkbox that select all notes inside lookup("@material-table/core"), Like if I have 3 option I want to have 5th one that select all the 4, Is it possible to do this is my example In this example I want when user click on last one it will select all options

[code]

[2021-07-19 09:01] Domino987 commented on #264
Hi, if you follow [this guide](https://medium.com/@domino051/cascading-dropdown-material-table-e9025a424715), you can modify it to render a custom select with the multiple prop. Also you can just add a custom option as well.

[2021-07-19 09:01] #264 closed, assigned to nobody

[2021-07-19 14:00] nauman-matloob opened #265 "Extra row added automatically after every data row"
# Guidelines
I am having an extra row on every table everytime like you see below in the image. i have recently changed to this project from material-table.

![image](https://user-images.githubusercontent.com/22856599/126171758-c39ac263-e6ab-41f2-b2c3-0b8f52259836.png)

Here what I see in React Extension, there is 2 TableRow in MTableBodyRow for every row:
![image](https://user-images.githubuserco

[2021-07-19 14:25] eslambasher commented on #265
+1

[2021-07-19 15:43] matthewoestreich commented on #265
@Domino987 was something recently changed?

[2021-07-19 15:44] matthewoestreich commented on #265
Did this just start happening after you switched? Or have you been using this library just fine, and it just started happening?

[2021-07-19 15:49] matthewoestreich commented on #265
Also, per our guidelines you will need to create a reproducible sandbox if you want this addressed.

[2021-07-19 15:50] kdoda commented on #265
+1 @oze4  For me it happened after the last release (3.0.17). I am currently using v 3.0.16 and it works fine.

[2021-07-19 15:51] Domino987 commented on #265
I might be connect to the detail panel i guess

[2021-07-19 15:51] matthewoestreich commented on #265
Thank you. That helps a ton. I will look into what changed.

[2021-07-19 15:52] matthewoestreich commented on #265
Good call. I think that implementation needs to be reworked anyhow.

[2021-07-19 15:53] Domino987 commented on #265
I already opened a PR, we might be able o work that in.

[2021-07-19 16:00] nauman-matloob commented on #265
I was on 3.0.16 when I got this bug I tried to changed it to 3.0.17 but the bug it's still there.
Now I came back to 3.0.14 it working fine.

[2021-07-19 16:04] Domino987 commented on #265
I updated #260 and once this is merged it should work again as previously. Just with small breaking change: detail :({rowData}) => for the detail panel

[2021-07-19 16:17] appukuttan-shailesh commented on #265
I believe above is #260 (not #261)

[2021-07-19 19:11] RomaBogatikov commented on #253
It seems that the problem is with Pagination component. When I comment out the highlighted lines of code in the screenshot below the JS heap size doesn't grow (I left it running for a few hours today and it started with 25-75MB, and stabilized later on to 25-50MB). I will keep you updated.
![image](https://user-images.githubusercontent.com/40308050/126213977-e946b9f2-ab3b-41a9-bb25-5eab5fe5c3e9.pn

[2021-07-19 22:23] Domino987 commented on #265
So we just released 3.1. Can the people finding the errors check it out and see if the errors persist?

[2021-07-19 22:25] Domino987 commented on #59
Many errors should be fixed with the newest release 3.1 by providing an optional id to the rows. I will add the link to docs later. Can you check it out if the errors still exist?

[2021-07-20 09:15] Domino987 commented on #262
This seems to be caused by the sticky style [here](https://github.com/material-table-core/core/blob/master/src/components/MTableHeader/index.js#L406).

@oze4 You added this 7 months ago. Do you know the reason for that and if we can remove it?

[2021-07-20 09:44] eslambasher commented on #265
Yes perfect, I just tested with the new version and all working good, thank's

[2021-07-20 21:54] RomaBogatikov commented on #253
It seems that this JS heap size increase that I observed has nothing to do with material-table. Before I started to exclude material-table components from rendering I switched off the 'sleep' mode on my laptop. After that I don't observe the heap size increase anymore. Thank you @oze4  and @Domino987 for your help.

[2021-07-20 23:15] matthewoestreich commented on #253
Nice find! Never would have guessed that.

[2021-07-22 00:02] matthewoestreich opened #269 "Column prop render functions"
See https://github.com/material-table-core/core/discussions/267

_Adding this line for searchability_... I'm encountering the new warning message "The columns provided to material table are static, but contain functions which update on every render, resetting the table state. Provide a stable function or column reference or an row id to prevent state loss."

@dalemarchand

[2021-07-22 14:37] Domino987 commented on #269
I added that to prevent the state loss that is associated with the deep compare of the options and columns.

If they change, the state of the table will be reset. The problem with putting fat arrow functions within the columns and recreating those on every render will lead to the aforementioned state lose.
This was encountered in several issues and this warning should reduce the problems.

I added

[2021-07-22 14:39] Domino987 commented on #265
Closing this since it should be fixed now

[2021-07-22 14:39] #265 closed, assigned to Domino987, matthewoestreich

[2021-07-22 14:41] Domino987 commented on #253
Thats interesting. Did you find anything more about it? Why this happens. I will close this since its not connected to MT directly, but if you find anything, please let us know.

[2021-07-22 14:41] #253 closed, assigned to matthewoestreich

[2021-07-22 16:42] dalemarchand commented on #269
I tried recreating what I'm seeing using the codesandbox.io template but can never get the warning message to fire there.  I don't think I can comply with the recommendations by since the render functions depend on the rowData contents, specifically the column data?  For example, one of my column defs is:

          title: 'Detail', field: 'detail', render: (rowData) => <ItemList list={rowData.det

[2021-07-22 21:55] ShotSkydiver opened #270 "v0.0.8 & v3.1.0 changes returned rowData object in unwanted way"
Seems like this commit: [https://github.com/material-table-core/core/commit/2cf32a6466837c38c184c0addf5039b7427a8689#diff-093ad82a25aee498b11febf1cdcb6546e4d223ffcb49ed69cc275ac27ce0ccce](https://github.com/material-table-core/core/commit/2cf32a6466837c38c184c0addf5039b7427a8689#diff-093ad82a25aee498b11febf1cdcb6546e4d223ffcb49ed69cc275ac27ce0ccce) changed the way the detailPanel option exports th

[2021-07-23 03:28] flora8984461 commented on #270
I guess they made it intentionally? In the doc: https://material-table-core.com/docs/breaking-changes#detail-panel

[2021-07-23 14:28] EvanVujcec opened #271 "tsc fails on helpers.d.ts"
My build is failing on the last line of helpers.d.ts: `export type { OnHandlers };`
[code]
I'm not very familiar with type declaration files in general so I'm not sure why this would be a problem. My tsconfig as I assume this could be causing a problem:
[code]
Deleting helpers.d.ts remedies the problem as I'm not actually using the action handlers but that's obviously an inelegant solution.

[2021-07-25 22:22] Domino987 commented on #270
Yes it is since it it now rendered as a true react component to enable animation and the usage of hooks in the panel. Closing this.

[2021-07-25 22:22] #270 closed, assigned to nobody

[2021-07-26 03:35] edgar-pozadas-by opened #272 "Pagination change issue"
Here you have an example with the error
https://codesandbox.io/s/pagination-zu4gw?file=/src/App.js

When I want to manage the pagination and then pass the data to the table it breaks and show more rows than expected.
It used to work on version 3.0.17

Steps to reproduce the behavior:

1. Go to pagination component
2. Change to page 2 and then go back to first one
3. See error

**Screenshots**
scre

[2021-07-26 12:55] #271 closed, assigned to nobody

[2021-07-26 12:55] EvanVujcec opened #273 "tsc fails on helpers.d.ts"
My build is failing on the last line of helpers.d.ts: `export type { OnHandlers };`
[code]
I'm not very familiar with type declaration files in general so I'm not sure why this would be a problem.
Deleting helpers.d.ts remedies the problem as I'm not actually using the action handlers but that's obviously an inelegant solution.

**To Reproduce**
Steps to reproduce the behavior:

1. Migrate from mr

[2021-07-26 15:01] matthewoestreich commented on #272
Thank you for this!

[2021-07-26 15:30] Domino987 commented on #272
It looks like you are mixing remote and local data. If you have all the data already, you need to pass it as one array. This allows for correct filtering/sorting/pagination. This mixing dos not work. Please use either local or remote data.

[2021-07-26 15:33] Domino987 commented on #269
@dalemarchand This would work by creating a stable reference with either useMemo or putting it outside the function so its not created on every render.
The return value of the function is depended on the rowData but the function itself is not. So the function will be called for each row and the correct item will be rendered, but you are creating a new function on every render making the tracking o

[2021-07-26 15:47] Domino987 opened #275 "What material-ui version are you using?"
We wanted to get a rough overview of which material-ui version is used the most.

For that, we wanted to create a poll to see what needs to be supported the most.

Please reply with an emote:

🎉 Material ui v5 > beta.0
:+1: Material ui v4 > 4.12.x
:heart: Material ui v4 < 4.11.x

[2021-07-26 16:48] Domino987 commented on #273
That's quite weird and it works on my CRA setup. Could you create a sandbox or something so we can inspect it in detail?

[2021-07-26 21:25] matthewoestreich opened #276 "Unwanted file"
I am removing this file https://github.com/material-table-core/core/commit/f78a1a395a6672dfb18703970f9d1f9e8bc566ef#diff-a7aaf09688e26c3ae9d1696b15a93973f6fa971194d66717a359c7751dd2cbf8 as it appears unnecessary. Using this issue to track it.

<img width="273" alt="Screen Shot 2021-07-26 at 4 24 54 PM" src="https://user-images.githubusercontent.com/21092343/127061313-9ab3d60d-acb8-4392-9c57-5bf4bd

[2021-07-26 21:26] #276 closed, assigned to nobody

[2021-07-26 21:30] matthewoestreich commented on #262
Honestly, I do not recall. I will uncomment and publish a new version. If we get new issues, then we will know I did it for some reason lol. Next time I should comment, at least. I apologize.

[2021-07-26 21:33] matthewoestreich commented on #262
Actually, it looks like this was brought over from [mbrn](https://github.com/mbrn/material-table/blob/master/src/components/m-table-header.js#L395) (it is currently in mbrn).

I will remove the sticky, and add back the comment to the line above it.

[2021-07-26 21:37] matthewoestreich commented on #262
@pedro-pool-by would you mind giving version 3.1.2 a try?

[2021-07-26 21:49] edgar-arroyo-by commented on #272
Hello there @Domino987

I have another case in which this is happening:
https://codesandbox.io/s/changin-array-different-ids-jp9bp?file=/src/App.js

Lets say I have two arrays, and i want to programmatically change the array used as data, if the data inside the arrays do not share the same ids, this duplication error happens again.

[code]

[2021-07-26 21:52] edgar-arroyo-by commented on #272
Lets say I have a promise that I resolve on component mount, lets say I save the resulted-array in the state and I used in the table.
Say I have  a button, to recall the promise with different parameters, or to change the called promise.

It is expected that, if the data inside the resulted-array do not share ids (resulted array that i am resolving before injecting that to the table), it will dupl

[2021-07-26 21:56] edgar-arroyo-by commented on #272
Does @material-table/core has opinion on the data ids or in how that arrays are generated?

[2021-07-26 22:19] Domino987 commented on #272
Hmh, seems weird.
I think this might be caused by `prevDataObject[row.tableData && row.tableData.id]` and shares data between objects that is not supposed to be shared. I will remove this and only listen to row.id, which should remove the problem.
Can you check once we release a new version?

[2021-07-26 22:30] edgar-arroyo-by commented on #272
yes sir!
thanks a lot!

[2021-07-26 22:34] matthewoestreich commented on #272
@Domino987 I just tested removing that locally, and it does not resolve the error. I imported the CodeSandbox locally to the demos.

From what I have read, it doesn't look like using an index for the key is recommended, and may be why this is happening. For example, if I change the key to the following it works just fine (no error):

[code]

Perhaps we should create a new prop on the `tableData` o

[2021-07-26 22:38] edgar-arroyo-by commented on #272
Just adding an (unwanted) opinion:

Removing `prevDataObject[row.tableData && row.tableData.id]` does not solve the issue because the id being used is the index
As @oze4 says, the issue is on using the index as key.  I believe the best way is to generate that small unique GUID and used internally, so the table has no opinion on how the ids of the data should be.

[2021-07-26 22:41] matthewoestreich commented on #272
All opinions are wanted!

I just pushed a commit which contains the added demo for this, if you would like to test locally @Domino987 I called the demo 'DataSwitcher' or something along those lines.

[2021-07-26 23:03] Domino987 commented on #272
So the problem here is not the index in itself.
It was used for years and your problem might be connected to something else.
Adding Math.random or a random uuid to it will just caused every row to remount on every rerender of the parent component, which will break any state that might be saved for those rows. Thats why the new id token was added to reduce friction.

If you generate a true random i

[2021-07-26 23:19] edgar-arroyo-by commented on #272
Hello there @Domino987
Just a question/suggestion

I may be wrong but, wouldn't be a good idea to define a kind of `keyAccessor `prop that by default it is id but can be changed?

Just thinking on what can happen if for example a future user id column is called uid, or something different like objectid

Sorry, i am just spitballing ideas

cc @oze4

[2021-07-26 23:21] Domino987 commented on #272
Hi yes i was actually thinking about this when I implemented this. If this is a thing people want and if it makes the transition easier, yes of course.

There are several ways to do it. What do you think is the best:
Just a string as accessor key, a function to return the accessor key or a function to return the actual key, or all above ?

[2021-07-26 23:21] matthewoestreich commented on #272
@Domino987 In my testing, I was logging renders, and adding the randomness to the end did not increase the amount of rerenders.

The problem is under the hood React thinks that key already exists, due to the ~~index~~ id being used within the key (which in this case is the same thing as using the index - the data changes, the key doesn't). This is a common problem, [this article](https://robinpoko

[2021-07-26 23:23] Domino987 commented on #272
Not the amount of rerenders but the amount of mounts/losing of states, sorry for the wrong wording.

It works in my case bit I am open to ideas on how to fix this.

[2021-07-26 23:25] edgar-arroyo-by commented on #272
@Domino987  Maybe just something like

`keyAccesor: string | () => string`

[2021-07-26 23:27] Domino987 commented on #272
Would you mind creating a PR for this? Looks good to me to get the key. Once this is done, we need to fix the duplicates if that still happens.

[2021-07-26 23:27] matthewoestreich commented on #272
In my mind, why not just add a UUID or 'key' prop at that point? Like, lets say we have a function that generates UUID..

[code]

[2021-07-26 23:30] Domino987 commented on #272
I think adding a UUID generated by us would break it for everybody who does not use a id as before the removal of the mutation. Because rerenders would remount all rows every time.

[2021-07-26 23:33] matthewoestreich commented on #272
I suppose in that case we could just check if the user supplied an ID or not, if they don't, there should be no difference between the user providing an ID and us generating an ID. I don't see how that would cause any extra renders or mounts.

[code]

[2021-07-26 23:36] Domino987 commented on #272
Actually there would. If they supply the same array, we want the index because the first item from both of those arrays are the same. And we would not find the id in the supplied array because we do not mutate anymore. So we would be generating a new id for the same row and remount it. Previously, the index would be the same and the row would not remount.

[2021-07-26 23:37] Domino987 commented on #272
But the question is do we want this? Maybe we want to force the user to use the id to remove the problem all together in the future. So an id would be fine and if somebody complains, we say generate an id pls.

[2021-07-26 23:43] matthewoestreich commented on #272
I went ahead and made changes and published a [new branch](https://github.com/material-table-core/core/tree/uuid-for-row-key).

https://github.com/material-table-core/core/blob/807a48413581afad14ed1f06511b626461c05bad/src/utils/data-manager.js#L76-L81

This generates a uuid for each row, I have profiled this and tested but I do not see any extra renders or mounts. This change fixes the issue.

Is

[2021-07-27 01:03] matthewoestreich commented on #272
Here is how I am reasoning about this issue.

The TLDR is that even if a user provided a unique id from outside the table, and let's say we don't use the index as the key but the user provided id, we can still run into this issue. So yes, technically it's not due to the index as key, but it's still the same exact problem.  The same goes for React. They track each element via the key prop. Thus the

[2021-07-27 08:11] Domino987 commented on #272
Sorry, had to go to bed xD
So I think we are mixing two problems a bit.
1. The key passed to the rows
We want to pass the same key to the row, if its the same data as before (even if the values of that data changed), but we want a new key if its a new object. Previously, this was always the index but now with the removal of the mutation the persistence can be tricky. This could be causing unnecess

[2021-07-27 13:28] animaonline opened #277 "onRowClick is triggered when clicking a button in a row"
What the title says, the problem started happening in version 3.0.14

[2021-07-27 13:39] edgar-arroyo-by commented on #272
Sorry sir, I got missed on the conversation.

Which is the approach that we will be following?
Is there a PR already for that approach? (I can happily work on that in case this answer is negative)

thanks in advance

[2021-07-27 13:42] pratik-nagpure opened #278 "onRowClick returns event.target as null"
# After upgrading to @material-table/core we are facing an issue with row click, we use row click to select row

- #### Here is a sandbox link [CodeSandbox](https://codesandbox.io/s/intelligent-sutherland-zln9m?file=/src/table.tsx:1045-1055)

- #### Try to click on a row and see warning in console regarding "This synthetic event is reused for performance reasons" and event.target as null

**Descri

[2021-07-27 13:48] matthewoestreich commented on #272
So @Domino987 the resolution does not cause any extra renders or mounts, period. It just doesn't. You can test it if you'd like.

Even if we take the unique ID from the user, or use the id via the index, we will still run into this issue. We cannot use the user provided id as the key or else you will run into this issue because data may have changed but the key hasn't. That is exactly why we are g

[2021-07-27 13:56] Domino987 commented on #272
There is no PR yet. So if you could create one that would be great.

[2021-07-27 13:57] Domino987 commented on #272
@oze4 did you try it without the id passed from the user? But I will create a sandbox

[2021-07-27 13:58] matthewoestreich commented on #272
I made this branch which contains all the changes I made. https://github.com/material-table-core/core/tree/uuid-for-row-key

[2021-07-27 13:59] matthewoestreich commented on #272
Yes I tested without passing the id from the user as the key.

[2021-07-27 14:09] Domino987 commented on #272
So in your branch, if I do not pass an id, every row remounts every time:
![Screencast from 27 07 2021 16_07_06](https://user-images.githubusercontent.com/17567991/127168668-cf2b6f07-4c7d-4050-9e63-af876c7b1477.gif)

[2021-07-27 14:13] matthewoestreich commented on #272
What do you mean by pass an ID though? Where are you not passing the id?

[2021-07-27 14:13] matthewoestreich commented on #272
And what you're showing is the exact behavior we want. Everything has to remount/render when you click that button because new data is being passed to us **from outside of the table**. This is expected behavior.

[2021-07-27 14:13] Domino987 commented on #272
From the user. So the internal Id is generated every time. I am working on more videos.

[2021-07-27 14:14] matthewoestreich commented on #272
If you change it back to how it was originally (and still log renders) you'll see there aren't any extra renders or logs created.

[2021-07-27 14:49] matthewoestreich commented on #272
It's not created every time, it's only generated when we get new data from outside the table. If you click edit on a row, change something, then save, you'll see a new UUID **does not** get generated.

Because we didn't receive new data from outside the table. The new data came from **inside** the table (via the edit).

[2021-07-27 15:21] edgar-arroyo-by commented on #272
@oze4

Jusk kindly asking,

Is you branch going to be merged on master?

I am sorry, i dunot know the development  cycle over here

[2021-07-27 15:22] matthewoestreich commented on #272
I think once we all agree on a solution we will merge that solution.

I still want to understand where @Domino987 is coming from bc I could very well be missing something and be wrong about this.

[2021-07-27 15:26] edgar-arroyo-by commented on #272
awesome! you both rock!

@oze4  @Domino987

[2021-07-27 15:39] matthewoestreich commented on #278
Thank you!!

[2021-07-27 15:43] matthewoestreich commented on #278
When did this start happening to you? I wonder if we persist the event internally if that would make a difference?

Thoughts? Open to ideas on how to resolve.

[2021-07-27 15:57] Domino987 commented on #272
Ok I think I found the problem we are talking about.
I overlooked that you also want to persist the uuid by using the merge of tableData I proposed if an Id is provided.
If this would not be the case, the rerenders would be triggered more often, but because we can persit them with the row.id, its fine. So sorry for missing this part.
And after checking your example, the edit state is not persisted

[2021-07-27 16:00] matthewoestreich commented on #278
So it doesn't look like you need access to the event in order to programmatically select a row (although the logic could be improved, it is still possible).

[![Edit zen-mountain-xbpew](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/zen-mountain-xbpew?fontsize=14&hidenavigation=1&theme=dark)

[code]

[2021-07-27 16:08] pratik-nagpure commented on #278
It started happening after upgrade. I tried to persist as you see in sandbox but no help.
I think solution would be to add event.persist() in material-table/core files

[2021-07-27 16:09] matthewoestreich commented on #272
No need to apologize bro! That's why we have these discussions :smile: I think that you are right, because we aren't coupling with the id, that's the 'sweet spot' that doesn't make it interfere.

I should be able to add these changes today, but the question is now : should we use the uuid library to generate UUID's? I think so - I trust it more than some random function I found online.

Thoughts?

[2021-07-27 16:09] pratik-nagpure commented on #278
It selects only one row. I want to make it multiselect and also I want to use event.target to have double click event assigned to the row.

[2021-07-27 16:13] Domino987 commented on #272
That would be great if w could add that soon because the current release is a bit broken.

I think either is fine. Because there is not too much data objects anyway aka not a db, anything that generates a UUID should be fine because we have just a few obejcts.

In my projects I use uuid with 50 Mio downloads per week. I think that would be a good choice 😜

[2021-07-27 16:17] edgar-arroyo-by commented on #272
hi there, just adding a comment over here.

Lets be aware that uuidv4 is going to be deprecated :)

[2021-07-27 16:18] matthewoestreich commented on #272
@edgar-arroyo-by any suggestions? @Domino987 were y'all aware of the deprecation? If so, what are y'all switching to?

[2021-07-27 16:19] Domino987 commented on #272
I am not. I guess uuidv5 if it comes to it. Do you have a link to the deprecation?

[2021-07-27 16:21] matthewoestreich commented on #278
I believe we just added a doubleClick prop (I believe we actually added a way to handle any event you want via an events prop). Let me double check that.

The issue isn't with this library, it's just how synthetic events work.

[2021-07-27 16:21] matthewoestreich commented on #278
@Domino987 any suggestion on the double click?

[2021-07-27 16:22] edgar-arroyo-by commented on #272
Yep, it is placed over here: https://www.npmjs.com/package/uuidv4

![image](https://user-images.githubusercontent.com/79274227/127190833-bbf377b6-7c75-4240-88ec-8fb83e0ac7eb.png)

they are deprecating in favor of https://www.npmjs.com/package/uuid

[2021-07-27 16:29] matthewoestreich commented on #278
So if you wanted to select all rows you would do something like this:

[code]

[![Edit frosty-cherry-o9cbz](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/frosty-cherry-o9cbz?fontsize=14&hidenavigation=1&theme=dark)

To handle doubleClick you would just use the `onDoubleRowClick` prop the same way you are using the `onRowClick` prop.

[2021-07-27 16:33] matthewoestreich commented on #272
Ok cool so it looks like uuidv4 suggest using uuid (which is prob what @Domino987  is using).

I will use the uuid package, not uuidv4.

[2021-07-27 16:35] Domino987 commented on #278
We have the onRowDoubleClick prop which already tracks Double clicks. So you would not need to implement it yourselves. Check out the types file for a more detail api reference. Just as @oze4 said .

[2021-07-27 16:36] Domino987 commented on #272
Ah ok. Good that I am using UUID already xD

[2021-07-27 17:48] matthewoestreich commented on #278
Hey @Domino987 I noticed in the source it's called `onDoubleRowClick` but to me, `onRowDoubleClick` (like you mention) makes more sense.

Should we change the way that is named? I think so, what do you think? @pratik-nagpure thoughts? Which makes more sense to you?

[2021-07-27 17:51] pratik-nagpure commented on #278
I think onRowDoubleClick makes more sense

[2021-07-27 17:52] matthewoestreich commented on #277
Thank you for this! [Per our guidelines](https://github.com/material-table-core/core/blob/master/.github/ISSUE_TEMPLATE/bug_report.md#guidelines) you will need to create a sandbox for this issue if you want it addressed, otherwise please submit a PR that resolves this issue.

[2021-07-27 17:55] matthewoestreich commented on #278
I think we should publish as a new minor version as well (since some may already be using `onDoubleRowClick`).

[2021-07-27 18:05] Domino987 commented on #278
Yes we should. I'll create a PR.

[2021-07-27 19:09] matthewoestreich commented on #272
Going to close this out for now. You should see these changes in `v3.2.0`

[2021-07-27 19:09] #272 closed, assigned to matthewoestreich

[2021-07-27 19:22] matthewoestreich opened #280 "Change transpiler from Babel to ESBuild"
@Domino987 just wanted to let you know I was able to get esbuild working correctly.

We now use esbuild to transple vs babel.

I went ahead and updated the website to use the new version (v3.2.1 is transpiled with esbuild), so that should tell us if there are any issues.

FYI.

[2021-07-27 19:22] #280 closed, assigned to nobody

[2021-07-27 19:25] matthewoestreich commented on #280
Edit: nevermind switched back to babel.. I think in order to use esbuild we would have to bundle as esm, not cjs. But it looks like babel transpiles to cjs, so I'm even more confused as to why it's not working.

[2021-07-28 04:41] pratik-nagpure commented on #278
Thanks. But I can't use dataSource as a state because I want to pass it from props and it can be an async(api url to load data from server)

[2021-07-28 04:47] matthewoestreich commented on #278
If you want to programmatically select any row at all you need to have data in state because how else are we supposed to know that you want to select a row on click? Events will not work due to them being synthetic. You should still be able to accomplish what you want, it just takes more code. For example if you're checking rows from an API you'll need to somehow cache which rows were checked. Tha

[2021-07-28 04:49] pratik-nagpure commented on #278
Yes true. I am trying to achieve this using tableRef. You can see useEffect in sandbox.

[2021-07-28 07:47] animaonline commented on #277
Here's a reproducible demo:

https://codesandbox.io/s/material-table-starter-template-forked-3uzt9?file=/src/index.js

[2021-07-28 11:39] Domino987 commented on #278
@pratik-nagpure I agree with @oze4 . This is not a problem with the project itself and more a usecase. Could you move this to Stackoverflow?

[2021-07-28 13:48] edgar-arroyo-by commented on #272
yep! thanks a lot team!

[2021-07-28 14:14] Domino987 commented on #277
Did you try https://developer.mozilla.org/en-US/docs/Web/API/Event/stopPropagation?

[2021-07-28 14:15] animaonline commented on #277
Yes, you can see it in my sample.

[2021-07-28 14:16] Domino987 commented on #277
I saw you used prevent Default.

[2021-07-28 17:08] pedro-pool-by commented on #262
@oze4 , now it's working fine. Thanks a lot!
Just a thing, few versions ago when you drag a column the column where is landing was like swaping, I mean there was an animation. Now there isn't. Is this a bug or is it a change expected?

[2021-07-28 18:21] matthewoestreich commented on #262
I'm not sure we've changed anything in regards to dragging. It may be an actual bug.

I would suggest opening a new issue and providing an example/Sandbox of the issue.

[2021-07-28 18:51] animaonline commented on #277
tried it out and does indeed work, thanks!

[2021-07-28 18:51] #277 closed, assigned to nobody

[2021-07-28 19:00] pedro-pool-by commented on #262
thanks a lot!

[2021-07-28 19:08] Domino987 commented on #262
We did to remove the weird jumping on drag start if all headers. Maybe that removed this Animation as well. Interesting

[2021-07-28 20:50] pedro-pool-by opened #281 "Drag animation removed"
Hello.

A few versions ago when you drag a column the column where is landing was like swaping, I mean there was an animation. Now there isn't. Is this a bug or is it a change expected?

https://codesandbox.io/s/material-table-starter-template-forked-kikgi?file=/src/index.js

![2021-07-28T20-53-27D0-09](https://user-images.githubusercontent.com/85236123/127394855-b9189042-d43e-4c34-828c-b56be37c0d

[2021-07-28 22:29] matthewoestreich commented on #281
Do we know which version was the last working version? That way I can check out the commits.

[2021-07-29 03:15] EvanVujcec commented on #273
The project was created using [this yeoman generator](https://github.com/pnp/generator-spfx). I tried with a newly generated project and had the same error.

[2021-07-29 07:14] pratik-nagpure commented on #278
I think it can be solved if we add event.persist() in material-table.js as you see its throwing error in the same file
![image](https://user-images.githubusercontent.com/25742857/127448275-82340a3a-68bc-4ee5-9daa-add1981e6627.png)

[2021-07-29 20:28] josue-uitzil-by opened #282 "Removing the detailsPanel prop while using components overriding breaks the component"
Hi, here is a codesandbox in which the issue can be reproduced: [https://codesandbox.io/s/material-table-starter-template-forked-uvmpq?file=/src/index.js](https://codesandbox.io/s/material-table-starter-template-forked-uvmpq?file=/src/index.js).

If you remove the detailsPanel prop (for example for hiding it) while it is open and you are using component overriding for the Row, the MaterialTable br

[2021-07-29 21:05] matthewoestreich commented on #282
I believe this is known. Would you mind trying the latest release?

[2021-07-29 21:23] josue-uitzil-by commented on #282
Hi, thanks for your reply. I tested with the latest release (3.2.4) and also with 3.1.2 and in both versions the issue appears, only after downgrading to 3.0.17 the issue disappears.

[2021-07-29 23:03] matthewoestreich commented on #282
Interesting. I'll take a look here in a few. If you already know a fix, we would be happy to merge a PR.

Thanks again!

[2021-07-29 23:07] Lil-Strudel opened #283 "headerStyle option is not being applied to spacing cell when grouping"
**Describe the bug**
Styles provided with the headerStyles option are not being applied to the spacing cell when using grouping.

**Demo**
[Demo](https://codesandbox.io/s/material-table-starter-template-forked-hclk7?file=/src/index.js)

**To Reproduce**
Steps to reproduce the behavior:

1. Make a table with that uses the headerStyle option.
2. Make sure the table is using grouping.
3. Inspect the

[2021-07-29 23:49] matthewoestreich commented on #282
This should be resolved in `v3.2.5` - would you mind giving that version a try and letting us know the result?

Thank you!

[2021-07-29 23:59] sufius opened #286 "The columns provided to material table are static, but contain functions which update on every render, resetting the table state. Provide a stable function or column reference or an row id to prevent state loss."
As soon as I'm using the render option in the columns object I'm getting following console message:

Here is an example similar to my configuration:
[code]

I'm using material-ui 5@beta.2

Any help welcome

[2021-07-30 00:49] matthewoestreich commented on #286
Please [see here](https://github.com/material-table-core/core/pull/259#issuecomment-889265184).

[2021-07-30 00:49] #286 closed, assigned to nobody

[2021-07-30 00:54] matthewoestreich commented on #282
#285 please let me know if this is still an issue after upgrading! Thank you.

[2021-07-30 00:54] #282 closed, assigned to nobody

[2021-07-30 00:55] matthewoestreich commented on #283
#284 Thank you for your contribution!

[2021-07-30 00:55] #283 closed, assigned to nobody

[2021-07-30 00:59] sufius commented on #286
@oze4 Thank you for pointing me into the right direction - and that so fast.

[2021-07-30 01:10] matthewoestreich commented on #286
Cheers!

[2021-07-30 13:54] josue-uitzil-by commented on #282
Hi, the issue is solved in the new release. Thanks a lot!

[2021-07-31 07:34] neilbags opened #287 "Freetext instead of drop-down when a 'lookup' object is defined"
Hi i'm currently using filtering and lookup on my columns. I notice that as soon as I define a lookup object, the filter box changes from a text entry field to a drop-down menu populated with checkboxes. Is there any way to keep to retain free-text filtering but also use a lookup object?

Or do I need to manipulate my data separately before rendering the table?

[2021-08-01 04:25] matthewoestreich commented on #287
If I understand correctly, this may be something we should integrate (the ability to filter & lookup).

Just to make sure, would you mind creating a Sandbox for this? You can fork [one of the templates from here](https://github.com/material-table-core/core/blob/master/.github/ISSUE_TEMPLATE/bug_report.md#guidelines) to help get you started.

Thank you for this!

[2021-08-01 11:12] neilbags commented on #287
Here:
https://codesandbox.io/s/lookup-and-filter-ljlv3

So the first column has no lookup object, and the filter is a text-field. The second column has a lookup object and it filter becomes a dropdown+checkboxes. I'd like to be able to use a lookup, but retain the text-field instead of the dropdown+checkboxes. The dropdown gets out of hand when there are lots of values, and I'm also unsure of how

[2021-08-01 15:49] matthewoestreich commented on #281
I've gone back to version 2.3.30 and this is still an issue. I wonder if the issue is with `react-beautiful-dnd`? @Domino987 thoughts?

[2021-08-01 16:00] matthewoestreich commented on #287
I do like this idea - I'm just trying to figure out how to make it look visually appealing still. I think stacking the text field and the dropdown would look ugly..

What do you think about moving the dropdown button to the left hand side of the column and showing the text to the right of it?

<img width="378" alt="Screen Shot 2021-08-01 at 10 57 47 AM" src="https://user-images.githubusercontent.c

[2021-08-01 16:05] matthewoestreich commented on #278
I'm not sure what side-effects that would have. Would it persist the event through to the consumer?

[2021-08-01 16:08] matthewoestreich commented on #278
@Domino987 should we do something here like we did for Actions? So the consumer can handle any event they wish?

https://github.com/material-table-core/core/blob/0bb41291f83a737b884fca1c9de5dcced7ea0c22/src/components/MTableAction/index.js#L39-L45

[2021-08-01 16:28] Domino987 commented on #281
This is connected to `snapshot.isDragging ? provided.draggableProps.style : {}` to prevent a jump in styles most likely. But I do not get it to work to for both cases-

[2021-08-01 16:39] Domino987 commented on #278
Yes I think that would be good. But for the side effects with being null. Can this be again created in a codesandbox, because I cannot seem to reproduce that?

[2021-08-01 16:47] Domino987 commented on #287
Currently this is on purpose, because if the items are know, that makes it a lot easier.
You could simply override the filter component for this column itself. I think that would make it a lot easier for this one use case.
But I would be intrigued on how a combination would look like.

[2021-08-01 17:15] matthewoestreich commented on #256
I think this has been resolved - @klassm can you verify?

[2021-08-01 17:18] matthewoestreich commented on #224
Hi @ifndefdeadmau5 would you mind trying out the latest version (4.0.0) to see if there is any improvement?

[2021-08-01 17:38] matthewoestreich commented on #278
Hey @Domino987 it does look like persisting the event inside of material-table/core fixes this issue.

I am working on a PR but noticed something I had a question on..

In the `useDoubleClick` hook signature, there are 2 possible params -

[code]
but when it is being used, there are 3 params supplied? Can I remove the last one `onClick`? Unless I'm missing something, I don't understand why it's th

[2021-08-01 18:01] matthewoestreich commented on #287
Yea @Domino987 makes a good point. I'm not sure how the filtering+dropdown logic would pan out in the long run. In order to be flexible we allow overriding, which is perfect for this scenario.

[2021-08-01 19:47] matthewoestreich commented on #278
Hey @pratik-nagpure our final solution for this was to provide a `persistEvents` prop on the `MTableBodyRow` component.  This means that you are now able to override the Row and provide the `persistEvents` prop yourself.

To accomplish this you would do something like:

[code]

We should have these changes published sometime tomorrow.

[2021-08-01 19:58] matthewoestreich commented on #278
You should see these changes in `v4.1.0`. Thanks for your help @Domino987!

[2021-08-01 19:58] #278 closed, assigned to matthewoestreich

[2021-08-01 22:45] matthewoestreich commented on #287
Please let us know if you need help overriding these components. You should be able to accomplish this, albeit with more code.

[2021-08-01 22:45] #287 closed, assigned to Domino987, matthewoestreich

[2021-08-01 22:46] matthewoestreich commented on #281
I'm not sure what you mean. Maybe we should create a branch and tag-team the issue?

[2021-08-01 22:47] neilbags commented on #287
@oze4 Thanks, I'm trying to do this now - I'm new to MaterialTable as well as react and JS.
I'm trying to get at the DefaultFilter component, but not sure that its exported. I would love an example if its not to much trouble!

[2021-08-01 22:48] matthewoestreich opened #295 "Add forwardRef to MTableBodyRow"
@Domino987

Does MTableBodyRow need forwardRef added to it? I'm only asking because I'm unsure if it was left off for a reason or not.

[2021-08-01 22:51] matthewoestreich commented on #273
Seems to be complaining about this line.

https://github.com/material-table-core/core/blob/ff98735f1560c9a1c6ef4824fa47b71d448c9dac/types/helper.d.ts#L23

Should we try to remove the `;` at the end?

[2021-08-01 22:52] matthewoestreich commented on #273
@EvanVujcec before we do that, would you mind upgrading to the latest version and giving it another try. At the time of writing it's `v4.1.0`

[2021-08-01 23:13] Domino987 commented on #281
So previously, we always applied the provided style to all the headers. This lead to some jumping on start hover because some outer elements changed their offset. That's why we removed the style for all but the currently dragging header. But this, it seems, broke the reordering animation. I looked i to it but could not find a way to reconcile both of these problems yet.

[2021-08-01 23:14] Domino987 commented on #295
I am not sure, but I don't think this was on purpose. Was this a Problem as of yet?

[2021-08-02 00:38] matthewoestreich commented on #295
Not to my knowledge, just wanted to make sure! Thanks.

[2021-08-02 00:38] #295 closed, assigned to matthewoestreich

[2021-08-02 03:51] pratik-nagpure commented on #278
Thanks @Domino987  and @oze4. appreciate your efforts. I will check this out.

[2021-08-02 06:16] klassm commented on #256
Yes sure :-) BTW: The solution was:
* Material-table already has sticky headers
* You need to watch out that you restrict the space of the table, then the headers will work (otherwise they don't). But I guess that's just how sticky works - so I got it working without any adaptions.

[2021-08-02 06:16] #256 closed, assigned to nobody

[2021-08-02 16:06] matthewoestreich commented on #287
So I think you're going to have to integrate the logic yourself when you override. I don't think the filter and drop down were meant to be used in tandem.

[2021-08-02 18:53] sufius opened #298 "Warning: A component is changing a controlled input to be uncontrolled. This is likely caused by the value changing from a defined to undefined"
When I have `search: true` and pressing on "export pdf" following error appears:

[code]

![image](https://user-images.githubusercontent.com/1421570/127909466-36e571e7-04e3-4d68-868a-ed0f533569d1.png)

no error when `search: false`

[2021-08-02 18:57] matthewoestreich commented on #298
Nice catch. Seems like an interesting error! I will have some time to look this over later today, but if you wish, you can send a PR and I'll merge it.

Thanks again!

[2021-08-02 18:59] sufius commented on #298
Thank you for answering so fast, I tried to come closer, but that's all for now how I was able to help - it has something to do with the search ^^ good luck

[2021-08-02 22:20] neilbags commented on #287
Thanks for looking into it. I think at this point for me it's easier to just manipulate the data (do the lookup) out-of-band.

I still think this would be a nice feature to have, but I don't have the time or expertise to implement it myself rn. The checkboxes get out of hand if there are more than a few things in the lookup, and I still can't see a way to define the order of them.

[2021-08-03 08:15] jeanatpi commented on #269
Hi guys,

Just switched from the original repo to this one. Great job!

I'm having the same warning issue.

My scenario is

[code]

As my React level is not too high, I'm wondering how to fix this as I'm not really understanding what this warning means exactly.

If needed I can try to create a code sandbox that reproduce the issue.

Best regards

Jean

[2021-08-03 21:23] matthewoestreich commented on #269
Hello, please [see here](https://github.com/material-table-core/core/pull/259#issuecomment-889265184). If you still need assistance, just let us know!

[2021-08-04 07:39] jeanatpi commented on #269
@oze4 thanks. I already read this but I don't understand completely what that means.

In my case that would mean something like this?

[code]
Issue here is how to pass state and props to getColumnsConfiguration() ??

I'm pretty sure that I don't understand something "trivial" :)

[2021-08-04 08:20] testfileKing commented on #224
How do I test out this new version? I'm currently working on something and wanted to see if version 4.0.0 prevents multiple re-renderings on parent state update.

[2021-08-04 11:34] pratik-nagpure opened #299 "Row selection shows delay"
- #### Row selection shows some delay in selection
Here is the demo
  - #### [CodeSandbox](https://codesandbox.io/s/stoic-tree-0cus7?file=/src/table.tsx)

**Describe the bug**
I am trying to implement row selection and highlighting the row if it is selected and I noticed there is a delay in the selection of a row.
**To Reproduce**
I have attached sandbox link

**Expected behavior**
It shouldn't ta

[2021-08-04 21:54] matthewoestreich commented on #299
<img width="794" alt="Screen Shot 2021-08-04 at 3 45 59 PM" src="https://user-images.githubusercontent.com/21092343/128252435-c864c6db-c44d-45b0-9230-ef02c9446193.png">

I think it may have something to do with this error.

With that being said, wanting to select a row on click is a popular feature, so I wonder if we should just create a prop like `selectOnRowClick` vs [handling it like in our dem

[2021-08-04 22:16] matthewoestreich commented on #299
@Domino987 it looks like the `useDoubleClick` hook causes a delay (I'm not saying it's the root of this issue, but it def causes a delay).

When I remove the `useDoubleClick` hook and just pass the `onRowClick` func to the `Row`'s `onClick` prop (and not wrapping it in `useDoubleClick` first) the delay goes away.

I wonder if there is a better way to handle the double click?

Perhaps we let the co

[2021-08-04 22:18] matthewoestreich commented on #298
Hey @sufius [per our guidelines](https://github.com/material-table-core/core/blob/master/.github/ISSUE_TEMPLATE/bug_report.md#guidelines), would you mind creating a sandbox for this?

[2021-08-04 22:24] matthewoestreich commented on #298
For example, if I go here https://material-table-core.com/demos/export/basic#live-demo

And add the `search: true` to `options` (which, search is true by default), I don't get that error after exporting to CSV or PDF.

Would you mind updating to the latest `@material-table/core` version?

[2021-08-04 22:27] matthewoestreich commented on #273
@EvanVujcec please reopen if this is still an issue. Thank you!

[2021-08-04 22:28] #262 closed, assigned to nobody

[2021-08-04 22:30] matthewoestreich commented on #269
If you wouldn't mind creating a reproducible sandbox (we have CodeSandbox starter templates listed in our guidelines https://github.com/material-table-core/core/blob/master/.github/ISSUE_TEMPLATE/bug_report.md#guidelines), I think that would make it easier to assist.

[2021-08-05 07:11] debajit-saha opened #300 "Unit tests failing with material-table/core 4.1.0."
-  I am using Jest and Enzyme to write unit test cases for react app. In those unit test files, where we have import statements for Material Table, the complete test suit is failing. The error message provided by Jest is below:
_Test suite failed to run
Jest encountered an unexpected token
This usually means that you are trying to import a file that Jest cannot parse, e.g. it's not plain JavaScrip

[2021-08-05 08:09] jeanatpi commented on #269
@oze4 here it is: https://codesandbox.io/s/static-warning-issue-gb86z

Just change selected value of the`<Select>` to see the warning.

[2021-08-05 13:12] matthewoestreich commented on #300
We changed how we bundle this library. That's why that is needed, I will update docs.

[2021-08-05 13:36] sufius commented on #298
here a link:

https://codesandbox.io/s/create-react-app-forked-j6p9q?file=/src/App.js

good luck

[2021-08-05 13:40] debajit-saha commented on #300
Thanks, @oze4 for the information.

[2021-08-05 17:23] matthewoestreich commented on #298
Ohh are you using the @next branch?

[2021-08-05 17:25] sufius commented on #298
Which branch else is working in combination with react 17?

[2021-08-05 17:26] matthewoestreich commented on #298
I think the next branch is for material UI 5 support, I'm not exactly sure because I wasn't too involved. @Domino987 can you confirm?

[2021-08-05 17:27] sufius commented on #298
yes, and material-ui 5 needs react 17

[2021-08-05 17:28] matthewoestreich commented on #298
Gotcha. Thank you. At least now I know which branch to look at :) I will keep you posted.

[2021-08-05 17:56] Domino987 commented on #299
Yes this might be the reason but I don't think the delay is so visible, and needed for the double click.
Maybe set the delay to zero if not double click is passed?

[2021-08-05 17:57] Domino987 commented on #298
Yes the next has v5 and react 17. This seems like its connected to the search input being undefined initially and set to a string afterwards. I'll look into it.

[2021-08-05 22:20] matthewoestreich commented on #299
I agree. I think we need to fix the error that OP provided with their Sandbox. I feel like that's the root cause of this issue.

I did have to focus really hard to notice any delay after removing useDoubleClick in testing.

[2021-08-05 23:30] matthewoestreich commented on #299
It looks like doing this check beforehand does resolve the delay, but does not interfere with the `onRowDoubleClick` prop (which I also renamed from `onDoubleRowClick`).

https://github.com/material-table-core/core/blob/dc3865b5cf3877c02ef919ce1fa80e0d48162824/src/utils/hooks/useDoubleClick.js#L24

@pratik-nagpure would you mind updating to `v4.2.1` and trying again?

[2021-08-06 03:16] pratik-nagpure commented on #299
Sure @oze4 ,Let me upgrade and see how it works. Thanks for the support.

[2021-08-06 03:50] pratik-nagpure commented on #299
Hi @oze4 , @Domino987
Just tested with `v4.2.1`. I still feel some delay. as we increase columns and rows on the table delay is noticeable.
Here is the updated version [SandBox](https://codesandbox.io/s/stoic-tree-0cus7?file=/src/table.tsx).
Thanks.

[2021-08-06 06:37] Domino987 commented on #299
So this is just connected to too many renders and is tracked here #224 .

[2021-08-06 06:58] pratik-nagpure commented on #299
Thank you!

[2021-08-06 12:57] matthewoestreich commented on #224
You'd run `npm install @material-table/core` or `yarn add @material-table/core` in order to upgrade to the latest version.

[2021-08-06 13:00] matthewoestreich commented on #299
Also, you are still getting that warning in the console. The fact you are providing an out of range value may be causing renders to take forever when you try to select.

If I were you I would fix the warning in the console first. @pratik-nagpure

[2021-08-06 13:06] pratik-nagpure commented on #299
@oze4 I did try with values in a range like 20. I still found a delay.

[2021-08-06 17:26] matthewoestreich commented on #299
Did you still get that error though? If you look at the demo on our website for selecting in row click, you can see there is no lag. Prior to making that change, you could see a noticable difference in our website.

Can you make a clean, simple demo with bare bones code to try and reproduce? If that fixes it, slowly start adding your code back to see when the issue reveals itself.

[2021-08-06 17:28] matthewoestreich commented on #299
If you still get lag when using 20 rows, but the error still shows, I'd be willing to bet the error in the console is the root of your issue.

[2021-08-06 17:47] cwpinto23 commented on #300
Hi @debajit-saha , what did you add to your transformIgnorePatterns? I can't seem to get mine to work:
[code]

[2021-08-06 17:59] edgar-pozadas-by opened #303 "Absolute Column"
Trying to add an absolute column

https://codesandbox.io/s/absolute-cols-uhdyn?file=/src/App.js

I added a column with position absolute but and it must be shown just when hover on row but when it shows all the columns get moved

any suggestion on how to manage this?

[2021-08-06 18:01] debajit-saha commented on #300
This is what I have in transformIgnorePatterns. Try this.

  "transformIgnorePatterns": [
   "node_modules/(?!(jest-)?@material-table/core)"
  ]

[2021-08-06 18:10] cwpinto23 commented on #300
Still breaking for me unfortunately. Works if I drop back to 3.2.5.

[code]

And here's my jest settings in my package.json
[code]

I'm running Jest with `    jest --env=jsdom`

[2021-08-06 20:07] matthewoestreich commented on #303
Which version are you on?

[2021-08-06 20:10] matthewoestreich commented on #300
@cwpinto23 we changed our transpiler in order to cut the library size nearly in half. That is when this issue started.

I just added `"type": "module"` to our package.json file and changed the build script to use import statements (that was preventing me from using `type: module` to begin with)..

Would you mind updating to version `4.2.2` and giving this another try? It should fix the Jest error

[2021-08-06 20:11] matthewoestreich commented on #300
@debajit-saha see updates [above](https://github.com/material-table-core/core/issues/300#issuecomment-894493966)

[2021-08-06 20:16] matthewoestreich commented on #300
# FYI

### You should no longer need the transform in your Jest config in `>= v4.2.2`

[2021-08-06 20:36] cwpinto23 commented on #300
@oze4 , still getting the same error I posted above. I tried it with and without the transformers.
I'm on Webpack 5 btw

[2021-08-06 20:46] matthewoestreich commented on #300
I wonder if this line may be part of the issue.. `"^.+\\.[t|j]sx?$": "babel-jest",` (it doesn't pick up on just `.js` files).

Can you add the following line to your transforms just to test this theory?

[code]
For example, this is our Jest config:

https://github.com/material-table-core/core/blob/ff12774312423b57cc1c93ddc1aa261d28da90cf/jest.config.js#L188-L190

@cwpinto23

[2021-08-06 20:59] matthewoestreich commented on #300
Also, it may be silly but could you try deleting node_modules and running `npm install` again? Just to make sure you have the new package.json file with `type: module`?

[2021-08-06 21:12] matthewoestreich commented on #300
If I recall correctly we had to do the same thing because one of our deps was using modules (same situation you're in).

Jest doesn't understand es6 by default, so you have to run it thru babel first.

https://stackoverflow.com/a/64223627/10431732

In fact, the biggest reason our library size is half of what it was is because we no longer need that injected babel polyfill code that makes it work (

[2021-08-06 21:43] cwpinto23 commented on #300
Alright, so I:

- deleted and reinstalled node modules
- created a babel.config.js that I set to `  module.exports = {presets: ['@babel/preset-env']} `
-  updated my transform to
[code]

I also tried specifically pointing to the babel.config.js in my transform
[code]

Confirmed I have the version of package.json specified as a module
![image](https://user-images.githubusercontent.com/85768119/1285

[2021-08-06 21:56] matthewoestreich commented on #300
Just to make sure.. you did run `npm i -D @babel/preset-env` correct? If you did, can you add the `"type": "module"` to your package.json file? I don't understand why it doesn't work for you.. There's something I'm missing..

[2021-08-06 22:04] cwpinto23 commented on #300
Yes to the preset-env, here's the start of my devDependencies:
[code]

I tried adding the "type": "module" to my package.json as well, but same error as before

[2021-08-06 22:11] matthewoestreich commented on #300
Is your project public? If not I'd like to create a POC repo that mirrors your setup as closely as possible. It doesn't make sense why it's not working for you :(

[2021-08-06 22:26] cwpinto23 commented on #300
Ah, sorry, private repo for my company. I'll try and setup a public repo on my personal that's a bare minimum repeat of the setup that triggers the error

[2021-08-06 22:44] matthewoestreich commented on #300
Are you using a home grown webpack config or are you using create-react-app?

Also, are you using React 16.x?

I can get something started - I don't mind helping :)

[2021-08-06 22:55] cwpinto23 commented on #300
All good, I got one up here: https://github.com/cwpinto23/test-material-table
And yes, home-grown webpack config, and     "react": "^16.12.0".

I left a few additional packages in there, because I wasn't sure if they were related (plotly, core-js2). Probably can dump those to speed up the  package install time.

[2021-08-07 00:06] matthewoestreich commented on #300
It def seems like something specific to that project. Just have to find it lol. It doesn't make sense how we don't even get that error when testing. It seems like it works for some but not for others?

I'm going to create a fresh react project with homegrown webpack, etc.. to see if I get the error there as well.

I tried changing so many things but still got the error in your demo. I don't unders

[2021-08-07 01:12] matthewoestreich commented on #300
cc @Domino987 any ideas?

[2021-08-07 10:29] Domino987 commented on #300
Yes its the project but I am not sure why yet. I am looking into it as well.

[2021-08-07 13:56] JuanDeDiosGonzalezSalazar opened #306 "Cannot find module './utils/polyfill'"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

- #### Please try to be as detailed as possible

- #### You may fork one of the following starter templates if you would like:

  - #### [CodeSandbox](https://codesandbox.io/s/material-table-starter-template-xnfpo)
  - #### [StackBlitz](https://stackblitz.com/edit/material-table-starter-template)

**Describe the bu

[2021-08-07 14:02] JuanDeDiosGonzalezSalazar opened #307 "Cannot find module './utils/polyfill'"
# Guidelines

- #### import MaterialTable from '@material-table/core';

- #### installed packages
@material-table/core@4.2.3
@material-ui/core@^4.12.3
material-table@^1.69.3

**Describe the bug**
Just installing and importing @material-table/core;
gives this error Cannot find module './utils/polyfill'

**Expected behavior**
It should load the package without problems

**Screenshots**
![image](http

[2021-08-07 15:43] matthewoestreich commented on #307
@Domino987 more issues with the new transpiler. I would love to save on some size, but it looks like it has been causing more harm than good, so I will be reverting back to how it was before until I can work out some of these kinks.

[2021-08-07 15:43] matthewoestreich commented on #307
@JuanDeDiosGonzalezSalazar I can't seem to reproduce this issue, though?

[2021-08-07 15:48] matthewoestreich commented on #307
See #306 (this is a duplicate issue)

[2021-08-07 15:48] #307 closed, assigned to nobody

[2021-08-07 15:53] matthewoestreich commented on #306
Cannot reproduce please provide a demo of the issue. Also, try to upgrade to v4.3.0.

[2021-08-07 15:53] #306 closed, assigned to nobody

[2021-08-07 15:55] matthewoestreich commented on #300
@cwpinto23 @debajit-saha we went ahead and changed our build steps back to how it was before (a little larger library size, but at least these edge case bugs will be resolved).

v4.3.0 should work for you like normal. Please let me know if you have any questions.

[2021-08-07 16:09] debajit-saha commented on #300
Yep, verified with v4.3.0. All tests are passing w/o adding to transformIgnorePatterns. Thanks, @oze4

[2021-08-07 16:12] Domino987 commented on #307
Yes let's do that. I will merge it in next as well since it also use the new bundler. Not sure on how to fix it yet

[2021-08-07 17:15] matthewoestreich commented on #307
@Domino987 it's really odd. I even have an issue open on the esbuild repo for this.

[2021-08-07 17:22] matthewoestreich commented on #300
Going to close this one out for now.

[2021-08-07 17:22] #300 closed, assigned to matthewoestreich

[2021-08-08 02:45] #191 closed, assigned to matthewoestreich, pouryapb

[2021-08-08 06:53] testfileKing commented on #224
@oze4 I've just tested this out, and looks like the issue is still there:
![image](https://user-images.githubusercontent.com/47969014/128623655-d339079c-d4fb-4ebb-baef-d89a5ea435c6.png)

[2021-08-08 17:01] moranbw commented on #124
I don't believe this answers the question.  If you use ThemeProvider at the root of your component tree, Material-Table should respect this.

[2021-08-08 17:38] matthewoestreich commented on #124
That's a good point. Reopened.

Any ideas on how to respect the theme while supporting these legacy props? Just merge them into the theme?

[2021-08-08 18:04] matthewoestreich commented on #124
Just to make note; it looks like we are using 2 themes. One at the root, one that wraps the MTableScrollbar component.

[2021-08-09 15:37] cwpinto23 commented on #300
@oze4 , just wanted to say 4.3.0 is working on my end. Thanks for all the help!

[2021-08-09 18:07] edgar-pozadas-by commented on #303
Version 3.2.5

[2021-08-10 10:25] pratik-nagpure commented on #299
We don't see errors. but there is still noticeable lag. The issue starts to reveal when we add more columns and rows.

[2021-08-10 10:31] Domino987 commented on #299
As already mentioned this is simply caused by too many rows and a too expensive render. #224

[2021-08-10 10:37] pratik-nagpure commented on #299
Thanks @Domino987 .

[2021-08-10 12:30] matthewoestreich commented on #299
20 rows is too many?

[2021-08-10 15:28] matthewoestreich commented on #299
In a fresh bare bones demo with 20 rows, using row click to select a row, I don't see any lag. I should have some time in a little to review the Sandbox that shows the lag.

I still think there's something in the demo causing it, not so much the render issues we've been having. This particular issue at least (I'm not saying we don't have render issues).

[2021-08-11 20:40] matthewreiter opened #312 "Warning when overriding detail panel icon"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

https://codesandbox.io/s/material-table-detail-panel-icon-bug-f1g8j?file=/src/index.js
Open the developer tools and you will see the warning in the console.

**Describe the bug**
The following warning is logged when overriding the detail panel icon:
[code]

**To Reproduce**
Steps to reproduce the behavior:

Overrid

[2021-08-11 21:15] Gero-B opened #313 "Allow for strings as row data ID"
Stable data ID changes mentioned here https://material-table-core.com/docs/breaking-changes#id are a great feature, but as seen below in demo it does not work for string IDs

**I would like to use data UUID strings as the rowData IDs**

**Demo**
https://codesandbox.io/s/material-table-starter-template-forked-sev4t?file=/src/index.js

[2021-08-11 21:28] flora8984461 commented on #303
I checked v4.3, it happens still. I think it's the table did not have space for the hidden col and when hovers, it adjusts the col width. As a temp solution, I am not sure if this is acceptable, I make the col fixed width and instead of making display none, I make the text hidden. https://codesandbox.io/s/absolute-cols-forked-pso0b?file=/src/App.js

I actually feel it's more of a display changing

[2021-08-11 21:41] Gero-B commented on #313
Works in newer version! - was using 3.1.2

[2021-08-11 21:41] #313 closed, assigned to nobody

[2021-08-11 21:51] matthewoestreich commented on #312
The newer created component was nothing more than a copy and paste. It used to live inside a diff file. Functionally nothing has changed around that component. It's for internal use anyway and is not exported (or it shouldn't be exported publicly if it is).

[2021-08-12 01:57] matthewreiter commented on #312
The original component didn't have prop types defined, so it didn't experience the issue.

[2021-08-12 02:15] matthewoestreich commented on #312
Right on. We can get those tweaked for sure. Thank you!

[2021-08-12 13:45] pratik-nagpure opened #314 "Not able to get latest state value in custom render for columns when columns are dynamic"
**Describe the bug**
I have dynamic columns which change as per conditions, what I have observed is that after upgrading to @material-table/core  I am not getting the latest state value in the render method callback for columns

**To Reproduce**
 I have attached the sandbox - [link ](https://codesandbox.io/s/competent-cray-fjqy6?file=/src/tableWrapper.tsx:1010-1023)
1. Click on a row
2. Columns wi

[2021-08-12 13:52] pratik-nagpure commented on #314
[#2971](https://github.com/mbrn/material-table/issues/2971)

[2021-08-12 14:22] matthewoestreich commented on #314
This is expected behavior. The demo is a little long to read and digest but from what I can tell you are setting the state within the Table component, which is what is overriding the dummy state when you pass it in.

Please create a *minimal reproducible example* of the issue - otherwise it will take me longer to help since I first have to understand your demo.

Alos, it looks like you're setting

[2021-08-12 14:28] pratik-nagpure commented on #314
sure @oze4 .Thanks for the reply.

[2021-08-12 14:32] pratik-nagpure commented on #314
@oze4  Made minimal reproducible demo, sandbox updated.

[2021-08-12 14:40] pratik-nagpure commented on #314
@oze4 I am not setting the state within the table component, I am setting it in the wrapper component.

[2021-08-12 15:01] matthewoestreich commented on #314
I meant here. You are changing state via the ref (aka making them checked/unchecked - that requires a state change)..

[code]

[2021-08-12 15:01] matthewoestreich commented on #314
Do you have a link to the new demo? The original link is still the same code.

[2021-08-12 15:02] pratik-nagpure commented on #314
This is removed.

[2021-08-12 15:03] pratik-nagpure commented on #314
Its a same [link](https://codesandbox.io/s/competent-cray-fjqy6?file=/src/table.tsx). Removed unnecessory code

[2021-08-12 20:44] matthewoestreich commented on #314
Something like this is a *minimal demo*...

I honestly don't understand why you're doing the things you're doing. There is lag due to your column renderer.. For every single column, you are logging the entire data object... And I'm not sure what doing this `return <div>{rowData[field]}</div>;` gets you? What's the point of doing that?

[![Edit material-table-starter-template (forked)](https://code

[2021-08-13 00:29] pratik-nagpure commented on #314
What I want is for my `custmColumnRenderer` to always have access to the latest state it might be a local state or a redux state. In the demo which I shared `dummyState` is just a dummy state, it is not data for the table.
I am just trying to show you that even after changing the `dummyState` from `[]` to `[{ a: "test" }]` it still shows the old state value in the `custmColumnRenderer` when the ta

[2021-08-13 00:33] matthewoestreich commented on #314
The demo I provided shows how you can do that. Check your console in the demo. Now the objects are logged vs empty arrays.

You'd gain access to state the same way you would in any component.

[2021-08-13 00:39] pratik-nagpure commented on #314
It is changing the data but still printing old data in the console
![image](https://user-images.githubusercontent.com/25742857/129287268-aded2e68-bd33-43d0-9f6f-a56db602a226.png)

[2021-08-13 01:30] pratik-nagpure commented on #314
@oze4  this is something I have come up with where I want to show icon based on the external state `showIcon` .
[Demo](https://codesandbox.io/s/naughty-field-iseek?file=/src/table.tsx)

[2021-08-13 04:07] sachin-agarwal-by commented on #314
@oze4 I do agree with @pratik-nagpure  and facing similar issue when we want to update any state from the event like row selection call back from material table then doing state change then this updated state data is not getting reflecting in any of the table render function.

[2021-08-13 04:58] matthewoestreich commented on #314
Can someone provide a working demo of the issue? The original issue has nothing to do with accessing state. My demo shows you how to access state from there.

[2021-08-13 05:00] pratik-nagpure commented on #314
@oze4 Did you see [this](https://codesandbox.io/s/naughty-field-iseek?file=/src/table.tsx)

[2021-08-13 05:31] matthewoestreich commented on #314
I did not. I am looking at it now.

[2021-08-13 06:22] matthewoestreich commented on #314
If I understand this correctly, you want to do something like this...

In my opinion this is the easiest way to handle it.

[![Edit serverless-snowflake-jg9ku](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/serverless-snowflake-jg9ku?fontsize=14&hidenavigation=1&theme=dark)

[code]

[2021-08-13 06:24] sachin-agarwal-by opened #316 "Fixed column disturbing table row layout"
# Guidelines

**Describe the bug**
I have a simple table where I want to make first column as fixed , after making column as fixed if we will try to adjust the resolution of browser table row is getting messed up.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to sandBox Env [Link](https://codesandbox.io/s/sachin-material-test-rdir6)
2. Adjust browser Resolution
3. observe the ROW its g

[2021-08-13 06:29] pratik-nagpure commented on #314
I know I can do adding or updating property in rowData but I have a usecase where I want to take the decision to showIcon based on external state value.

[2021-08-13 06:48] matthewoestreich commented on #314
But that's what I showed. It's not an exact demo that shows how to accept data from external. You could very easily add that logic....

[2021-08-13 06:49] matthewoestreich commented on #314
The data is in React state. Just pass data from your prop into state.

[2021-08-13 06:53] pratik-nagpure commented on #314
problem is not accessing data, the problem is not getting the latest or updated state data in a custom render.

[2021-08-13 06:54] matthewoestreich commented on #314
But... I also just showed how you can do that too..?

[2021-08-13 06:57] pratik-nagpure commented on #314
Correct. You showed by updating rowData. I want by accessing different state value.

[2021-08-13 08:06] matthewoestreich commented on #314
@Domino987 any input? I need a second pair of eyes.. My gut tells me that columns are not meant to be dynamic in state like that - I think there are a number of issues with the logic in the demo, which manifest as "state" issues. I can't think of a reason why you'd need columns in state.. Especially considering we have the `hidden` prop for each column..

[2021-08-13 08:12] matthewoestreich commented on #314
Actually I think it may be because we need to use a UUID for each cell just like we did for each row.. It doesn't look like the table thinks that cell has changed, so it doesn't update it (to show or hide the JSX, in this case an icon)..

[2021-08-13 08:13] pratik-nagpure commented on #314
We have more than 70 columns we give the user option to select which columns he wants to see so that he can pick columns and add them to the table.

[2021-08-13 08:15] matthewoestreich commented on #314
Right, we provide props for that so you don't have to keep columns in state..

https://material-table-core.com/demos/columns/hide#live-demo

See `options.columnsButton` prop for more info.

[code]

[2021-08-13 08:25] Domino987 commented on #314
Ok this is a react problem, not a MT problem.
So here is the flow:

1. You create a function custmColumnRenderer with the reference to the current dummy state.
2. You pass this function to the columns, which are saved within the useState as well.
3. On every render you create a new custmColumnRenderer, but you do not update the reference of the columns. The columns still point to the old custmColu

[2021-08-13 08:25] #314 closed, assigned to nobody

[2021-08-13 08:28] Domino987 commented on #312
@matthewreiter A PR for this would be welcome as well. Thanks for getting this warning.

[2021-08-13 10:10] pratik-nagpure commented on #314
Thanks @Domino987  and @oze4

[2021-08-13 10:34] FedeBev opened #317 "[next] upgrade uuid version"
Hi there,

uuid v3 is deprecated and should be upgrated, according to npm (yarn aswell):
[code]

[2021-08-13 17:08] matthewoestreich commented on #316
Well that's not good.

Has anybody looked under the hood yet? I don't mind taking a look in a bit but this seems more aesthetic than a bug in code so I'm going to change the tags.

Thank you!

[2021-08-13 17:12] matthewoestreich opened #321 "State Update Not Triggering Rerender"
@bessoltsev I moved this here. If you check out our guidelines under the `.github` directory at the root of this project you'll find templates you can fork from code sandbox to help you with making a demo of this issue.

---

Hi everyone! First, thanks to everyone for the effort put into this project. I have a question of the following kind - when the component state is updated (for example, the n

[2021-08-13 23:31] bessoltsev commented on #321
I tried to show the idea superficially with a timer. Thank you)

https://codesandbox.io/embed/quirky-smoke-zmr0h?fontsize=14&hidenavigation=1&theme=dark

[2021-08-14 06:32] sachin-agarwal-by commented on #316
@oze4  because of this data is getting messed up and its looking too bad as for each fixed row other columns are getting unequal alignment.

[2021-08-20 13:25] EvanVujcec commented on #273
@oze4 Upgrading to `v4.3.0` did not fix the issue. Workaround of deleting the file still works.

[2021-08-20 15:07] matthewoestreich commented on #273
Reopening.

Just like @Domino987 mentioned, I can't reproduce the issue.

I think it would be useful to create a small POC repo of this issue since it seems to be related to your setup.

[2021-08-20 19:53] Domino987 commented on #321
This is actually how the table behaves, you can only set the initial page size.

Maybe we should either rename it or make it possible to react to new page sizes.

For now you can set the key to trigger a remount on change of the page size:
[Link](https://codesandbox.io/s/zealous-galois-6c5pi?file=/src/App.js)

[2021-08-20 19:54] Domino987 commented on #317
I think this is already added to the branch, but not released yet. I will release a new version soon.

[2021-08-20 20:33] sjdemartini commented on #148
I'm still seeing the issue mentioned here https://github.com/material-table-core/core/issues/148#issuecomment-823909965 due to the `react-beautiful-dnd` peer dependency:

[code]

For that lib, as of 13.1.0 https://github.com/atlassian/react-beautiful-dnd/releases/tag/v13.1.0, React 17 should be supported, so theoretically bumping that peer dep to allow 13.1.0 should do the trick.

[2021-08-20 20:39] Domino987 commented on #316
This is most likely connected to [this](https://stackoverflow.com/a/58667939/11599909), but I am not sure on how this would affect the rest of the table. @oze4 any ideas?

[2021-08-24 07:33] rjumatov opened #322 "Cannot use anchorEl on custom Toolbar component"
**Describe the bug**
I am using the menu component from MUI as an action on toolbarSelect which relies on anchor-elements to detect at which place the menu should be displayed.
Whenever I provide my own toolbar to MaterialTable (MTableToolbar) the anchor-element seems to be gone.
The default toolbar behaves differently even though I passed in all props. Any help appreciated.

**To Reproduce**
Step

[2021-08-24 12:00] LuchoTurtle commented on #256
@klassm @oze4 Are you sure this is resolved? Having updated to the latest version, I noticed the header is no longer sticky, which is kind of a bummer :( . This is perhaps related with #262  (the code is [here](https://github.com/material-table-core/core/blob/master/src/components/MTableHeader/index.js#L406)). Should we bring the sticky property back? 🤔

[2021-08-24 13:40] LuchoTurtle commented on #256
Oop, nevermind! I forgot I could use ```headerStyle``` in the 'options' props to circumvent this. Just adding `position: sticky` solved it!

[2021-08-24 14:39] matthewoestreich commented on #322
I'm confused. Why not just use the regular actions for each row? Specifically the actions prop (array) : https://material-table-core.com/demos/actions/basic

[2021-08-24 14:43] matthewoestreich commented on #322
Also, what if someone selects 2 or more rows and then clicks the toolbar button? Which row should the anchorEl go to? I don't think what you're trying to do makes much sense or is feasible.

[2021-08-24 15:16] rjumatov commented on #322
I think you misunderstood me. My use case is the following:
I have built a mailtable and each row represents a single mail message. One of the common operations is selecting multiple mails and then moving or copying them to another folder.
Every menu-item in the menu represents a mail-folder (inbox, userfolder, etc.).
It does not make sense to put these operations in a separate action-column.

Wha

[2021-08-24 15:22] rjumatov commented on #322
The anchorEl should stay with the action that has been clicked. Screenshot No.1 shows the unexpected behavior, where the menu opens at the top left. It is being caused by toolbar that has been passed in through `components`-prop.
Screenshot No.2 does not use the custom toolbar and works just as expected.

[2021-08-24 16:51] matthewoestreich commented on #322
I got you now. That makes sense. Why not just use the default if it works? It looks like setting the anchor element throws an error in the console. I'm not sure this is possible with this library =/

[2021-08-24 16:58] rjumatov commented on #322
I could but I want to adjust the height of the toolbar. I wonder what the difference is. If I pass in the component as MTableToolbar and pass in all the props shouldn't it behave exactly as the default toolbar?
My guess would be there is something under the hood that wraps it and prevents the use of anchorEl.

[2021-08-24 17:01] matthewoestreich commented on #322
Yes the way it's handled under the hood is diff than if you override it (because you're overriding it). Passing in the same props doesn't mean the same behavior will happen.

The issue here is that the Element you're trying to use as the anchorEl is not allowed (check your console - your example throws and error about this). That is why the menu gets put in the top left of the table. It can't find

[2021-08-24 17:04] matthewoestreich commented on #322
You're prob going to have to use a `ref` in order to set the anchorEl like that. FYI.

[2021-08-24 17:08] rjumatov commented on #322
I was thinking the same thing but I don't know how to pass a `ref` to an action.

[2021-08-25 14:55] #317 closed, assigned to nobody

[2021-08-26 15:45] aclave1 commented on #299
I think i'm seeing this in my automated tests. I was using material-table and tried switching to @material-table/core 4.3.0. We are using react-testing-library and the tests look something like this:

[code]

What we're seeing is this timing delay is causing the logs to run out of order "After row clicked", "Row clicked". Is it possible to disable the timing for onRowDoubleClick?

[2021-08-26 17:48] matthewoestreich commented on #299
It looks like you're using the "single click" (onRowClick) - are you still seeing lag? We did decrease the timeout to 0 when using single click in 4.3.0.

https://github.com/material-table-core/core/blob/3bf054ff0f77f28f59c7723c54466e949805f994/src/utils/hooks/useDoubleClick.js#L24

I'm def open to suggestion on how to resolve this issue.

[2021-08-26 17:59] #321 closed, assigned to nobody

[2021-08-26 18:00] matthewoestreich commented on #316
Hmm... I would have to do some digging but that does seem promising!

[2021-08-26 18:37] aclave1 commented on #299
@oze4 When I downgrade @material-table/core to v2.3.40, the issue does not occur. I'm assuming that even with a 0 timeout, it's pushing the callback onto the event loop to be resolved in the next iteration and thus clicking the row then checking for the result syncronously won't work. For example when I do this:

[code]

the order is correct. This is only an issue in automated testing.

[2021-08-26 18:48] aclave1 commented on #299
I looked at the useDoubleClick code and the setTimeout is called for both single and double-click and either way, the callback is called after this timeout. In the current implementation, it uses a setTimeout to invoke the callback handlers. The only thing I can think of is to measure the time-difference between 2 clicks and instead of using setTimeout to invoke the callback, use it to call reset

[2021-08-26 18:54] Domino987 commented on #299
I would appreciate an example on how you would do this. But I don't think this would work. When would you call the single click? Still after some time out? Or directly. And how would you differentiate between the single and double click?

[2021-08-26 18:56] matthewoestreich commented on #299
Where do you see it using the 250 timeout whether single click or double click is used? The timeout is 0 if it isn't double click (as shown in the code). It may still be causing issues even if it using 0 though. I think even if it is 0 it will still get put on the event loop as you said and not get called until the event loop makes it's way back around (as you said).

[2021-08-26 19:30] aclave1 commented on #299
@Domino987 you could be very correct! This was just a rough guess at an approach. My suggestion was to not call the callbacks inside of the timeout and instead use a time-delta approach and use a timeout only for clearing the time-delta. I can try to develop an example.

I don't see it using 250 whether single/double is used, sorry if I described the problem wrong. What i'm seeing is the callback

[2021-08-26 19:53] matthewoestreich commented on #299
That makes sense. I'm going to mess around with it to see if I can come up with something feasible.

[2021-08-26 20:30] aclave1 commented on #299
@oze4 i've written some failing unit-tests for the hook. https://github.com/aclave1/core/commit/d809843d9d500db943d7c76baf5a852d377920b6

There's 3 failing tests, 2 of which test the single-click behavior. I left a line to uncomment to make the test pass(to demonstrate the event-loop).

The third failing test is a bit strange to me. In the "handles double-click when user clicks twice within the in

[2021-08-26 20:54] matthewoestreich commented on #299
Nice! I'll check it out. Thanks for doing that!

[2021-08-27 07:30] matthewoestreich commented on #322
Unfortunately, what you are trying to do is not supported in this library.

[2021-08-27 07:30] #322 closed, assigned to nobody

[2021-08-27 07:37] matthewoestreich commented on #273
Please reopen once you have a demo POC for this issue.

[2021-08-27 07:37] #273 closed, assigned to nobody

[2021-08-27 08:41] tamilarasu602 commented on #269
@jeanatpi Check the [comment](https://github.com/material-table-core/core/pull/259#issuecomment-906657198) in the PR for the logic behind this warning check.

In your case the warning shows up because you update the column prop (potentially updating only the `render` key's values) in every render.
When you change the select item, a state changes, causing re-render, hence the warning check is run.

[2021-08-27 16:27] matthewoestreich commented on #299
Hey @aclave1 would you mind sending over a PR with those tests? I'll get it merged, that way we can both use this repo to test with. How's that sound?

[2021-08-27 16:28] matthewoestreich commented on #322
@Domino987 any suggestions here? I'm not sure how a consumer would achieve something like this.

[2021-08-29 08:11] ItzikHendelKahun opened #328 "On edit bulk - all columns move to the left"
I have a @material-table/core in my project with an actions column.

<img width="1354" alt="Screen Shot 2021-08-29 at 11 01 34" src="https://user-images.githubusercontent.com/77571549/131243285-5d2ea4a5-98db-4440-ac1f-29c0749a767f.png">

And when I select edit bulk (from the up-right corner), all columns move to the left.

<img width="946" alt="Screen Shot 2021-08-29 at 11 05 55" src="https://user

[2021-08-29 15:24] matthewoestreich commented on #328
Per our guidelines you will need to provide a reproducible example if you want this addressed.

[2021-08-29 15:47] peacechen opened #331 "`render` in column definition is lost during JSON parse/stringify copy"
**Describe the bug**

@oze4 @Domino987 @FalkF
Commit 53f32fe89581b037d67d62db44790ecc7f6356db introduced a regression by using `JSON.parse(JSON.stringify(...))` in an attempt to deep copy the columns. That nerfs any functions in the object (render, editComponent, etc).

I will roll a fix into PR #327

**To Reproduce**
Add a render method to a column definition. The value must be non-scalar (e.g. o

[2021-08-29 15:53] matthewoestreich commented on #331
I think this might be why we've been having to use stable functions? I feel like this is a really nice find. I could be wrong though @Domino987

Thank you!

[2021-08-29 15:58] Domino987 commented on #331
Oh yes, i did not see that. The obviously this breaks the functions. This needs to be fixed

[2021-08-29 16:00] matthewoestreich commented on #331
Excellent find @peacechen thank you so much

[2021-08-30 22:54] joeflatt opened #332 "Detail Panel does not auto close when a new Detail Panel is open despite setting detailPanelType to single"
Hi, thanks for your work on this project!

**Describe the bug**
An open detail panel does not always auto close when opening a new detail panel even though the detailPanelType is set to single.

I hacked the code locally to fix it but I'm not so sure it's in the best spot or even the right approach.  Here in `data-manager.js` I've modified a few lines in `setData` starting with `const newRow` that

[2021-08-31 19:19] mvitkin opened #334 "Detail Panel getting remounted on parent state change"
**Describe the bug**
I have a `MaterialTable` with a detail panel containing another `MaterialTable`. The child table has a `onSelectionChange` property that modifies some state of the parent component. When I attempt to select one of the checkboxes of the child table, the detail panel is remounted and the checked boxes are lost.

CodeSandbox:
[![Edit material-table-starter-template (forked)](http

[2021-09-01 08:52] jeanatpi commented on #269
@tamilarasu602 many thanks for your help. Solved my issue.

[2021-09-01 15:20] dohomi opened #335 "initialPage is not working with remote data"
**Describe the bug**
initialPage is breaking example with remote data

**To Reproduce**
set option initialPage in combination with remote data

**Expected behavior**
support initialPage

**Additional context**
This is a long lasting issue on material-table, thats why I tried to use this package. But it seems to have the same issue, as soon initialPage is present it does work as expected.

<img wid

[2021-09-01 16:29] joeflatt commented on #332
This bug is related to https://github.com/material-table-core/core/issues/334 as it's caused by remounts.  But even if remount is fixed I think it should still be addressed as refs to rows should be updated in all locations holding it.

Here's a code sandbox showing this issue forked from 334's sandbox...
https://codesandbox.io/s/material-table-starter-template-forked-fo8nj?file=/src/index.js

1.

[2021-09-02 01:13] dohomi opened #336 "provide option for remote data "initialOrderBy""
**Is your feature request related to a problem? Please describe.**
To persist the material-table between router changes (like historyBack) it would be great if the current orderBy could be persisted for example with a localStorage or query param

**Describe the solution you'd like**
Beside the option `searchTerm, initialPage` provide a option `initialOrderBy` prop to pre-set the order.

[2021-09-02 02:11] matthewoestreich commented on #336
Hi can you please create a discussion for this? There isn't really an issue here necessarily. Thank you!

[2021-09-02 02:11] #336 closed, assigned to nobody

[2021-09-02 02:49] dohomi commented on #336
@oze4 currently I don't see a way to pre-set the `orderBy` on page load, especially on remote data. Did I miss an option in this library?

[2021-09-02 09:17] rjumatov commented on #322
Bump - I am still looking for a way to have anchorEl on custom Toolbar component.
Alternatively I would need a way to style the Toolbar in terms of height, margin, padding, color, ... without a custom component.

I tried css-selectors for `MuiToolbar-regular` but the problem here is that the pagination component has the same parent, leading to styles being applied to both, the toolbar and paginati

[2021-09-02 09:22] Domino987 commented on #334
This is connected on how react tracks states of components.

Since you are creating new render functions, those are not tracked. You need to create a stable reference so react can keep track of it:
[code]

[2021-09-02 16:01] mvitkin commented on #334
Thanks for the help @Domino987. `useCallback` does seem to fix it. However, I'm still a bit confused as to why this is causing a full remount rather than just a render. Unless there is a unique `key` prop changing somewhere, I think React should be smart enough to recognize this is the same component and save resources by re-rendering. I feel like I've passed in components like this in other place

[2021-09-05 17:10] tberkane opened #339 "Table with group does not return to unsorted order after third header click"
**Describe the bug**
In a table with a group, clicking three times on the header to sort a column does not return it to unsorted order but instead leaves it in descending order.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/material-table-starter-template-forked-4tp7h?file=/src/index.js
2. Expand 'Paper' group -> 'Id' column is unsorted
3. Click on 'Id' head

[2021-09-07 14:21] debajit-saha opened #340 "Fixed columns are not working and getting double scrollbar in version 4.3.1"
- Issue 1: When I drag the horizontal scrollbar, all the columns are being dragged even if I have provided "fixedColumns" property. Fixed columns functionality was working fine in v4.3.0.
- Issue 2: When I provide "fixedColumns" prop, a double horizontal scrollbar is coming which was not coming earlier.

- #### Demo Link
- https://codesandbox.io/s/sharp-leavitt-ewvzo?file=/src/table.tsx
- Change t

[2021-09-07 15:05] matthewoestreich commented on #340
Thank you for this. That's def not right. @Domino987 didn't we recently make some changes to `fixedColumns`? @debajit-saha if you already know where the issue is in our codebase I can get a PR merged ASAP.

[2021-09-07 15:07] matthewoestreich commented on #339
Thank you for this!

[2021-09-07 15:09] matthewoestreich commented on #335
Thank you for this! I'll get a demo started using a free public API (https://jsonplaceholder.typicode.com/), but from what I remember about using remote data - you shouldn't need to use initialPage since you can control query params but it's been a while since I've used remote data so I could be missing something.

[2021-09-07 15:13] matthewoestreich commented on #334
@mvitkin I agree - something feels off about having to use `useCallback`. I believe we just published a new version which resolved and issue with comparing objects. Would you mind trying the latest version?

@Domino987 I believe these issues started around the time we added that `id` prop. I wonder if we should focus on removing it and sticking to the `uuid` prop?

[2021-09-07 15:41] debajit-saha commented on #340
@oze4 I am not sure about the fix. There is a chore for "create MTableScrollbar" added in v4.3.1 which might be where the problem lies. https://github.com/material-table-core/core/commit/07434b407f8b6dbe102746c9bb8a6e1869f6396c

[2021-09-07 16:03] matthewoestreich commented on #340
That was me just moving the component to it's own file. I didn't change any "business-logic". But it's worth checking out, I suppose. Thank you!

[2021-09-07 18:05] mvitkin commented on #334
I tried with both the most recent release version (4.3.1), as well as the 0.2.0 pre-release. Unfortunately the issue still seems to be present :(

I can dig into this more later, but I took a look inside [m-table-detailpanel](https://github.com/material-table-core/core/blob/master/src/components/m-table-detailpanel.js) and I see strange stuff going on with saving the detail panel function referenc

[2021-09-08 14:41] janderson215 opened #341 "Enabling signed commits"
Hi, since there are multiple people contributing to this awesome project and it is a public repo, shouldn't this repo require signed commits? https://docs.github.com/en/github/authenticating-to-github/managing-commit-signature-verification/about-commit-signature-verification

If you do plan on doing it, I recommend enabling signed commits first for a week or so, then checking the box to require si

[2021-09-08 15:41] debajit-saha commented on #340
@oze4 @Domino987, Any update on this?

[2021-09-08 16:35] matthewoestreich commented on #340
Nope. I haven't had time to dig into it. Please keep in mind one of our goals here is to actively merge PRs, etc... Essentially, since mbrn has not been allowing others access to merge PRs and he has become busy, we wanted to create a fork that actively merged fixes.

Basically, if you find some time to look into this and submit a PR that would be awesome! Otherwise, you'll be waiting on two peopl

[2021-09-09 08:43] dohomi commented on #335
@oze4 the problem is: If you set initialPage inside the options of MaterialTable then its just not available as page prob inside of remote data arguments, it always starts at "0". I might move away from remote data and try a different approach because this is bugging me for quite some time now but its not life threatening :-)

[2021-09-14 06:31] bastienff commented on #334
I am having the same problem. When i try to dispatch and action inside detailPanel component it break everything. If i use an useCallback kinda fix it, but it broke the collapse function of the detailPanel.

[2021-09-19 10:17] sabbirsristy7494 opened #344 "editComponent in columns props.value gives undefined."
I am using the editable feature of this library. In columns prop as editable component I am using my custom material text field component. I have three columns and each can be editable. While adding or editing If I edit the first column value and goes to second column and try to edit it my first column I don't find any value in props of the first column. It provides undefined.

[code]

[2021-09-20 02:58] #344 closed, assigned to nobody

[2021-09-20 07:45] iamchathu commented on #275
We upgraded to @mui/material the version 5

[2021-09-20 14:54] szolen opened #345 "Optional/conditional detail panel"
Hi, since redesigning the detail panel (so far I have been using version 3.0.6) I have not found a solution to conditional/optional display  detail panel by rowData content.

Previously this is work fine:

[code]
I've tried the newest version (4.3.1), but this is not work, i get the following exception:

  44 | } else {
  45 |   renderFunction = props.detailPanel ? props.detailPanel.find(function

[2021-09-21 11:08] iamchathu opened #347 "How to override search text field"
- #### Please include a demo of the issue/behavior/question you have
Current search is not outlined text field I want to customise it .

**Additional context**
  "@material-table/core": "^0.2.0",

[2021-09-21 11:55] Domino987 commented on #340
Hi sorry I was on vacation. I think there is a PR right now that might fix this and i will merge it today. Can you check afterwards of this fixes this?

[2021-09-21 13:07] Domino987 commented on #332
That's weird. I cannot reproduce this in the sandbox. Can you maybe create a gif for me to see it?

[2021-09-21 13:34] Domino987 commented on #347
I dont think this is currently possible. So if you like to create a PR, that would be awesome.

[2021-09-21 14:06] Domino987 commented on #345
This will be fixed with the next release. Seems like we got a regression while working on the panel.

[2021-09-21 14:06] #345 closed, assigned to nobody

[2021-09-21 18:48] szolen opened #348 "Lookup filter (select list) width issuse"
Hi, if I use a "lookup" for filtering (select list), the width of the drop-down list does not match the items in the list. If the list items are short, the width is still 250 px, but if they are long (longer than 250px), the ends of the list items are not visible. I couldn't find an option to adjust the size to fit the content or increase the size. (I don't want to change the width of the column.

[2021-09-22 08:04] Domino987 commented on #339
This will be fixed with 4.3.2

[2021-09-22 08:04] #339 closed, assigned to nobody

[2021-09-22 08:56] Domino987 commented on #348
Can you create a sandbox on your setup so we can look at it?

[2021-09-22 09:22] animaonline opened #349 "When will you release support for mui v5.0"

[2021-09-22 10:56] szolen commented on #348
Hi, I did it in a sandbox I tried to reconstruct. In the filter in the first column, if the data is too long, the width of the drop-down list will not match. (Regardless of the style settings).

For the second column, if the width of the available options is smaller, the width of the drop-down list also does not adjust. (Regardless of style settings)

[https://codesandbox.io/s/lookup-filter-cnevt?

[2021-09-22 12:15] doctorallen commented on #349
There is support for MUI v5.0 in the prerelease branch. You can install it with:
# Yarn
`yarn add @material-table/core@next`

# NPM
`npm install @material-table/core@next`

Read more [here](https://material-table-core.com/docs/material-ui-v5).

[2021-09-22 12:15] animaonline commented on #349
thanks a bunch!

[2021-09-22 12:15] #349 closed, assigned to nobody

[2021-09-22 13:36] LuchoTurtle commented on #349
@doctorallen Are new PRs made in the master branch merged into the `next` branch? For example, I recently made a PR that was merged yesterday and I'm needing to migrate to MUI v5 and it would be amazing if the PR would also be available in the `next` branch!

[2021-09-22 14:17] LuchoTurtle commented on #275
@Domino987 This relates to quite the interesting scenario I'm in. The PRs that are being merged into master, I assume they're not being merged also in the `next` branch (the one that has MUI 5), right? I'm asking this because I'm in the middle of migrating from MUI v4 to v5 and it'd be amazing if new PRs (such as #343 ) would also be available on this `next` branch so new `material-table-core` fea

[2021-09-22 14:22] Domino987 commented on #275
Hi
Yes the changes from master are regularly merged into next so nothing is lost.
And we do regular release of both branches.

[2021-09-22 15:16] LuchoTurtle commented on #275
Proper stuff, awesome! Without wanting to nag, do we have an ETA for the next release on the `next` branch? 👀

[2021-09-22 15:16] Domino987 commented on #275
I just did 😃

[2021-09-22 15:22] LuchoTurtle commented on #275
@Domino987 It's unfair how good you are, mate haha! Cheers, thank you so much!

[2021-09-22 15:39] joeflatt commented on #332
Sure. Take a look at the gif, to create I...

1. clicked on row 1 (id 77 in gif)
2. clicked on row 2 and watched row 1 close it's detail panel automatically
3. clicked on row 2's detail panel action button then changed the name from Rock to Rock2 and then saved it
4. clicked on row 1... row 2's detail panel remains open

Thanks

![Screen Shot 2021-09-22 at 10 21 35 AM](https://user-images.githubus

[2021-09-22 20:11] Domino987 commented on #348
Seems like this is a problem with mui and not the table: https://github.com/mui-org/material-ui/issues/8778 so I will close this in favor for the other issue

[2021-09-23 09:41] Domino987 commented on #347
You can use options={{searchFieldVariant: 'outlined'}} to change the variant.

[2021-09-23 09:41] #347 closed, assigned to nobody

[2021-09-23 09:47] Domino987 commented on #331
Is this fixed with the merged PR?

[2021-09-23 09:57] Domino987 commented on #335
Can you try to set up a local version on your computer and change `page: props.options.initialPage || 0,` in line 46 in the query of material-table.js and see if that works for you? @dohomi

[2021-09-23 12:54] peacechen commented on #331
yes it's fixed

[2021-09-23 12:56] #331 closed, assigned to nobody

[2021-09-23 15:22] iamchathu commented on #347
Thanks @Domino987

[2021-09-24 13:57] rjumatov commented on #349
Yes, the `next` branch seems to be up-to-date with the `master` branch.
I'm also migrating and hoping that the master branch will support MUI 5 very soon.

[2021-09-27 08:08] rjumatov commented on #328
@ItzikHendelKahun could you please provide a codesandbox with your problem? It would be interesting to see what operations the edit action performs to cause that behavior.

[2021-09-27 08:17] rjumatov commented on #322
I ended up using css-classes like ?MuiToolbar-regular` to adjust the toolbars height and then `MuiTablePagination-toolbar`to compensate that change due to the pagination toolbar being a child of `MuiToolbar-regular`.

[2021-09-27 08:42] rjumatov opened #350 "Select all checkbox shows misleading icon"
#### Description
When I select all checkboxes and deselect any row, the 'select all checkbox' shows a remove icon.
Clicking on that checkbox does not remove the selection but selects all unselected rows.
It would be assumed to remove the selection if the icon already indicates it.

#### Demo: [CodeSandbox](https://codesandbox.io/s/material-table-starter-template-forked-12u8z?file=/src/index.js)
1.

[2021-09-27 10:23] Domino987 commented on #350
I think the default behavior for intermediate is to select all. Check here for reference: https://material.angular.io/components/checkbox/examples

I am not sure about the icon, since its not an icon but a checkbox. You would need to override all the functionality.

But you can create a PR and we will take a look on how you would achieve this.

[2021-09-27 10:25] ItzikHendelKahun commented on #328
@sm3sher, I created a codesandbox example and the problem does not reproduce.
I removed from the package.json in my project the line: "@material-table/core": "^4.1.0" because I had a dependency in another project to  "@material-table/core": "^2.3.28" and I was worried that it causes a mismatch.
Anyway, I'm not sure what was the reason but now it is fixed in my project.

[2021-09-27 16:04] sachin-agarwal-by commented on #316
@oze4  any update on this ?

[2021-09-29 05:42] szolen opened #351 "Detailpanel console.log using"
Why do you use the console.log in version 4.3.3 in _"components/Overlay/m-table-detailpanel.js"_?

![image](https://user-images.githubusercontent.com/31951198/135209607-c06eddd6-a96a-4f94-8692-880e9b9b9b3c.png)

Thanks for replying

[2021-09-29 09:48] shaselboeck commented on #124
When I am setting this option `rowStyle: {fontFamily: "Roboto", fontSize: "0.875rem"}` it works, but not in row editmode.

[2021-09-30 13:17] mbrevda opened #352 "Cannot add a row with a `date` column with MUI v5"
**Describe the bug**
When adding a row, if a column is of type date, react throws.

<details>
<summary> stack trace</summary>

[code]
</details>

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/basicbuttons-material-demo-forked-1c4l6?file=/demo.js

**Additional context**
Using MUI v5.0.2 and @material-table/core 0.2.2 (next)

[2021-10-01 15:46] Domino987 commented on #352
Fixed with latest release

[2021-10-01 15:46] #352 closed, assigned to nobody

[2021-10-01 15:47] Domino987 commented on #351
This was a regression. Will be removed with the next release

[2021-10-01 16:02] Domino987 commented on #299
This should be fixed now :)

[2021-10-01 16:02] #299 closed, assigned to Domino987, matthewoestreich

[2021-10-01 16:06] #269 closed, assigned to nobody

[2021-10-01 16:09] #351 closed, assigned to nobody

[2021-10-01 16:36] chris-jalon commented on #334
i'm experiencing the same issue. as in OPs example, we have a table within a detailpanel with state passed as props to checkboxes inside it. in the now unmaintained material-table, it would work with this hacky workaround: https://github.com/mbrn/material-table/issues/986#issuecomment-646628535

this along with everything suggested in this thread fails or rerenders with interruption and slowness i

[2021-10-02 10:01] Domino987 commented on #149
This should be resolved now. Ty

[2021-10-02 10:01] #149 closed, assigned to matthewoestreich

[2021-10-02 10:25] Domino987 commented on #312
This will be fixed with the next release

[2021-10-02 10:25] #312 closed, assigned to matthewoestreich

[2021-10-03 06:34] mbrevda commented on #352
Thanks! Any idea when that will be published?

[2021-10-03 22:55] Domino987 commented on #352
I just did with 4.3.4.

[2021-10-03 22:58] mbrevda commented on #352
Thanks. Any chance we get it in the `next` branch, too? I'm on MUI v5

[2021-10-05 09:05] Domino987 commented on #352
Will do today

[2021-10-05 09:41] mbrevda commented on #352
Looks like this was [released](https://github.com/material-table-core/core/releases/tag/v0.2.3)?

[2021-10-06 10:25] debajit-saha commented on #340
Yes, the issue is fixed in latest version.

[2021-10-06 10:43] #340 closed, assigned to nobody

[2021-10-06 14:22] christofboehm commented on #335
I guess I have the same problem. I try to make the material-table more or less a controlled component (search-text, sorting, pagination) stored together with the data in a redux store, while the data are fetched from an api. I tried to apply the above suggestion by @Domino987 , but I struggled to set up a local version (I am just getting started with JS in general). I tried using yalc and npm-pack

[2021-10-06 19:21] lisandro52 opened #358 "Row's path on the table won't update after sorting"
I've created a sandbox where this issue can be tested:

https://codesandbox.io/s/react-playground-forked-9heg5?file=/Table.js

**Describe the bug**
The issue happens when you want to use an `onRowClick` with a `tableRef` to expand the tree-data of the clicked Row.
If the data is exactly as it was before any sorting, the `onRowClick` works as expected but as soon as you change the order of the rows

[2021-10-06 22:03] Domino987 commented on #350
I am closing this since its the expected behavior

[2021-10-06 22:03] #350 closed, assigned to nobody

[2021-10-07 07:51] josmithua opened #359 "[v0.2.4] lookups broken"
**Describe the bug**
Lookups don't work in v0.2.4 when adding or updating a table row. They work in v0.2.3.
https://codesandbox.io/s/material-table-starter-template-forked-bogtn?file=/src/index.js

**To Reproduce**
1. Click the edit action
2. Notice the lookup is missing from input
3. Try to select from dropdown
4. Notice you can't select any value from the dropdown. See errors in console.

**Expe

[2021-10-07 20:32] georgewfsantos opened #363 "MaterialTable spacing is not behaving the same way as it was in version 4 of Material UI"
![Screenshot_20211007_171930](https://user-images.githubusercontent.com/33661312/136457144-a7cc199c-15a1-49da-bd27-55ca090ce6dd.png)
![Screenshot_20211007_172732](https://user-images.githubusercontent.com/33661312/136457263-8d8a9691-c000-45d6-9c97-294c442ca959.png)
.

When we started migrating the application from Material UI v4 to v5,  the MaterialTable columns are misaligned and the spacing in t

[2021-10-07 21:42] #359 closed, assigned to nobody

[2021-10-07 21:53] Domino987 commented on #363
The spacing in the demo looks fine.
Would you care to reproduce with v5 in a codesandbox?

[2021-10-07 21:55] Domino987 commented on #358
Yes,  I looked into the whole tree/grouping thing for the first time and its super weird that the index is used for this.

Obliviously, the id of the child should be used instead. Maybe I can take a look this week to fix this.

[2021-10-08 00:32] BrenoVelasco commented on #363
Hi @Domino987. I don't think the problem is, necessarily the spacing, but take a look at the different headers: v4 ones are white and have more "padding" it seems, and v5 is showing a grey background, looks thin and the text is a bit more left-aligned than it should be. Have any idea on what is causing that?
Thanks!

[2021-10-08 04:31] tasoskn opened #366 "Grouping doesn't work all the time (Material-Table MUI Version)"
**Bug description**
I'm using **Material-Table for MUI**.
When I load my **next.js page** that has the table in it, half of the times the grouping doesn't work, that's it, headers are not draggable. **Important:** The state of the grouping does NOT change during the interaction with the page. IF the working state of the grouping changes, that happens only on page refresh, or page revisit

**What i

[2021-10-08 09:36] Domino987 commented on #363
Yes i noticed that, but as I mentioned, this should not be caused by the migration in itself, since I did not experience this in either the repo or in my code from work. Do you have a custom theme? Did you check inspect the element to see where the styles are coming from? If you can create s sandbox with this, i cold take a look.

[2021-10-08 13:15] Domino987 commented on #366
Could you create a sandbox and a few to reproduce it? I am not sure how supportive we are regarding nextjs I am afraid

[2021-10-08 15:15] Domino987 commented on #335
So everybody. @dohomi @christofboehm

I tried to fixt he remote data Initial page thing and I would like for you all the check it out if it works for you [here](https://github.com/material-table-core/core/pull/367).

@christofboehm to run the lcoal code, you have to pull it via git, open the folder and execute `npm i` and `npm start`.
That should start a local version on your computer.

[2021-10-08 16:11] christofboehm commented on #335
thanks @Domino987 for your effort!

`npm i` and `npm start` are working inside the local material table git folder. My problem is that I don't get the local version to work in my react app where I am using the material-table. I guess I await for the merge then.

[2021-10-08 16:35] Domino987 commented on #335
Ah I see. That's a bit difficult. But maybe port your table into the test of mt-core for testing?

[2021-10-08 21:30] BrenoVelasco commented on #111
Hi everyone! Thank you so much for changing the `equal` method.

I'm still facing this issue but it seems to be also related with the `react-intl` library, specifically the `FormattedMessage` component (which returns a component).
I created a `t()` function that wraps this `FormattedMessage` component and, every time I use it as column title definition, it throws me a `Maximum call stack size exce

[2021-10-08 22:35] Domino987 commented on #111
Hi that's interesting, could you create a sandbox?

[2021-10-09 10:13] tasoskn commented on #366
Hi. After trying various things, i found out that the problem is the react beautiful dnd library.
After i installed the next.js version of the library and changed the relevant imports in material-table-core code in node/modules, problem is gone.

[2021-10-09 10:15] Domino987 commented on #366
Perfect. Do you know a way to specify the one B's if used with next so this dies not happen again ?

[2021-10-09 11:55] tasoskn commented on #366
I'm sorry, i don't think i get your question...

[2021-10-09 20:36] BrenoVelasco commented on #111
Sorry, I tried to replicate but I can't share my company code here - it has a wrapper component that basically creates the entire screen with a header, header actions, table etc, so maybe I need to enhance its performance.
I created a small project here that would, hopefully, trigger the issue but it didn't so I won't even share it in a sandbox.

Anyway, if anyone is facing the same issue, just ch

[2021-10-12 08:54] Domino987 commented on #366
My Autocorrect realty messed that up. I was wondering if we can implement something to check for nextjs and tell the developer to install the correct dnd lib when using next js

[2021-10-12 12:41] pratik-nagpure opened #369 "Page crashes when column title is passed as HTML"
**Describe the bug**
After upgrading to v4.3.5 from v4.3.0
I noticed that if we pass title as  HTML inside col definitions
` const columns = [{
        title: <StatusHeader />,
        field: "status"
      }]`
web page gets crashed,it gives out of memory error
![image](https://user-images.githubusercontent.com/25742857/136957101-4f777a8c-6bf0-423b-8727-72c797dfdee4.png)

**To Reproduce**
Open San

[2021-10-12 15:20] andremantaswow commented on #145
Can't believe it was this easy...

I was trying in both `cellStyle` and `headerStyle` but it was ignored. putting it at the root of the column like this worked. Thanks

[2021-10-13 08:51] manolo-battista opened #370 "Missing Position sticky with MaxHeightBody option"
**Describe the bug**
When set the MaxBodyHeight options, the Header is not sticky. As workaround I set the  ` position: sticky` on <th/> cells.

**To Reproduce**
Steps to reproduce the behavior:

1. Set the maxBodyHeight option to 100
2. Scroll the rows on table
3. See that Header is not sticky, it goes out of viewport

**Additional context**
I test it on `next` version v0.2.5.

[2021-10-13 09:05] kirin-yuen opened #371 "material-table-core no trigger onSearchChange callback?"
I replace @material-table/core from material-table, but I found onSearchChange  callback can not be trigger any more.
Why?

[2021-10-14 16:17] dalemarchand opened #372 "Cannot bulk edit non-root table entries when using tree features"
# Guidelines

When attempting to use the tree functionality in the table in conjunction with the bulk edit features, I discovered the only rows you can bulk edit are the top level rows.  For a demo, see the code sandbox here:  https://codesandbox.io/s/material-table-starter-template-forked-f3ysn?file=/src/index.js

I would expect that when entering bulk edit mode, either the open/close buttons wou

[2021-10-14 16:28] e1omvy opened #373 "Compatibility with Office 365 SPFx webpart react component"
I was using material-table in my office 365 SPFx webpart (React component) . It is working fine. I have upgraded material-ui and tried to use material-table-core,.
When I am importing the module ,using import MaterialTable  from '@material-table/core';  and tried to build the project, build stopped and throwing me error as below

# Build Error
Finished subtask 'tslint' after 7 s
[tsc] node_modules

[2021-10-15 04:57] neilbags opened #374 "filter cell style broken after upgrade to mui5"
Hi all I just upgraded my project to mui5 and everything seems to working except that my filter cells look horrible.

Before:
![Screenshot_2021-10-15_15-50-46](https://user-images.githubusercontent.com/2738833/137434391-0f1a4065-cd85-41b2-80db-822392826a59.png)

After:
![Screenshot_2021-10-15_15-50-24](https://user-images.githubusercontent.com/2738833/137434411-a9290081-b014-48b4-8168-f84e5b867f3e

[2021-10-16 05:09] neilbags commented on #374
I found a workaround for this. But the default probably needs to be changed because it looks awful as-is
[code]

[2021-10-16 05:09] #374 closed, assigned to nobody

[2021-10-16 15:00] Domino987 commented on #373
Hi
Which versions are you using currently. Both mui and material-table.
Could you maybe create a sandbox for this?

[2021-10-16 15:01] Domino987 commented on #372
That sounds like a good idea on how it should behave.
I think the tree feature is not used as much, so stuff like this does not come up often.

Would you mind creating a PR fo this?

[2021-10-16 15:05] Domino987 commented on #371
I am pretty sure (I just checked) that the onSearchChange is still triggered. Can you create a sandbox or something so we can check it out?

[2021-10-16 15:10] Domino987 commented on #369
Can you check if this still happens in the newest version?

[2021-10-18 09:33] shaliake opened #381 "Table column override with custom component throws warnings"
**Description**
When using columns definition to override column with custom component I get these warnings:

1. The columns provided to material table are static, but contain functions which update on every render, resetting the table state. Provide a stable function or column reference or an row id to prevent state loss.
2. The table requires all rows to have an unique id property. A row was pro

[2021-10-18 11:01] geohuz opened #382 "table only show first page, pagination doesn't work"
I'm not sure if this is caused by not using remoteData property, the table now doesn't respond to pagination clicks as I switched to material-table-core:

[code]

[2021-10-18 15:42] edencorbin opened #383 "Delay on Search"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have
Question suffices with no demo.
- #### Please try to be as detailed as possible
I have a working server side data table with search, however every letter typed triggers a search, I woul dlike to add a 1-2 second delay after typing for the search to trigger an update for performance.
- #### You may fork one of the fo

[2021-10-18 22:46] Domino987 commented on #382
That's weird.
Would you mind creating a sandbox for your setup since it works for me?

[2021-10-19 00:07] Domino987 commented on #383
Setting the `debounceInterval` in options to 2000 - 3000 will result in a delay. Does that work for you @edencorbin

[2021-10-19 12:20] dalemarchand commented on #372
My JS kung-fu is weak and I'm not sure this is something I could fix myself very easily

[2021-10-19 20:22] aclave1 commented on #382
I'm seeing the same issue, the error i'm seeing is "Uncaught TypeError: props.onPageChange is not a function" when I click the next button

[2021-10-19 20:31] Domino987 commented on #382
Can you reproduce that I a sandbox? Could be s version mismatch between Mui and the table

[2021-10-19 20:36] aclave1 commented on #382
@Domino987 I tried, but codepen isn't able to load material-table-core, is there any preferred js sandbox tool that this library supports? edit: here's my codepen, https://codepen.io/aclave1/pen/wvqWXOy it can't import material-table/core because of an issue with styles?

[2021-10-19 20:37] Domino987 commented on #382
All sides that support npm should work. But I always use https://codesandbox.io/

[2021-10-19 20:42] aclave1 commented on #382
@Domino987 can you send me a link to a codesandbox which works with @material-table/core? I'm not able to get that to work either
edit: nevermind! i figured it out. I will try to repro this

[2021-10-19 20:47] aclave1 commented on #382
I'm NOT able to reproduce this in this sandbox: https://codesandbox.io/s/objective-driscoll-bw5jj - I will investigate more on my end.

[2021-10-19 20:50] Domino987 commented on #382
It is most likely that you installed Mui v5 but are not using the next branch

[2021-10-19 21:12] aclave1 commented on #382
@Domino987 we are on material-ui 4.11

[2021-10-19 21:16] aclave1 commented on #382
Upgrading material-ui from 4.11.4->4.12.3 seems to fix it in my app. I will downgrade in the codesandbox to see if we can repro it there.

[2021-10-19 21:22] Domino987 commented on #382
Ah that makes sense. Mui changed the prob name between those versions and we stopped supporting it 3 months ago I think.
Edit: this was the change https://github.com/material-table-core/core/commit/ef81cb736e6224a4a9190ceb176d7398ce7171cd

[2021-10-19 21:31] aclave1 commented on #382
@Domino987 thanks for confirming! @geohuz can you report your exact material-ui versions for us?

[2021-10-19 21:33] Domino987 commented on #382
I will add a check and a warning for this.
I just released a new version (4.3.7) with an additional console error if an old version is used.

[2021-10-19 21:59] #382 closed, assigned to nobody

[2021-10-20 03:26] geohuz commented on #382
Sorry for the late reply, I was using 4.10 after upgrade to 4.12.3 the problem fixed.

[2021-10-20 08:34] MarianBe commented on #66
Tying into this here, is there any way to keep the column-filter state when the `data` updates? I am able to keep the `Search`-State trough changing data, but the `Filter` gets reset every time my data updates

https://user-images.githubusercontent.com/773986/138057925-e86c6c72-ee99-4dc8-b568-8b325e0d7809.mov

[2021-10-20 15:10] LeComptoirDesPharmacies opened #384 "[Regression] Server side column sorting"
# Guidelines

**Describe the bug**
On previous library, we can disable the internal state sort mechanism in order to use external managed one.
This can be done by setting a no-op `customSort` method on columns definition.
See :
https://github.com/mbrn/material-table/issues/64
https://github.com/mbrn/material-table/issues/1798
And PR Proposal for a new dedicated property : https://github.com/mbrn/m

[2021-10-20 21:17] Domino987 commented on #349
So just fyi so everybody is on the same level. Yes as already mentioned the master and next branch are kept up to date with each other.
Regarding supporting v5: we are currently in the spot of supporting either or. So the master is V4 and next is v5. Until a large enough number of people moved to v5, merging next into master would prevent all V4 users from receiving more updates. So I am not sure

[2021-10-21 08:07] sachin-agarwal-by commented on #316
@oze4 @Domino987  any update on this please ?

[2021-10-21 09:36] Domino987 commented on #316
No unfortunately i had no time to look into it and it seems like a complex problem. Maybe next week.

[2021-10-21 09:53] LuchoTurtle commented on #349
According to [MUI's blogpost](https://mui.com/blog/mui-core-v5/), they have stopped supporting MUI v4 themselves and seem to be fully focused on v5 onward.

So, it would make sense pragmatically to keep in line with what they're doing and focus on MUI v5 and stop supporting v4. However, it wouldn't hurt to wait a wee so more users migrate to v5. I can't really tell how much time you should wait bu

[2021-10-22 08:26] szolen opened #386 "Groupping with FreeAction results in empty column / large placeholder"
Hello! I would like to ask for help.

If I use a grouping with free actions, a large empty area appears after the last column of the table. If I don’t use actions, everything is fine. (picture below)

![kép_2021-10-22_101917](https://user-images.githubusercontent.com/31951198/138419468-a7289cc7-6e74-4a11-9d31-0b1ce4abfbce.png)

Actions: `actions={[
            {
              icon: ()=> <CallMerge

[2021-10-22 16:16] matthewoestreich commented on #386
Hello! Thank you for this. Would you mind creating a reproducible demo? It's just easier on everyone overall.

[2021-10-22 16:19] matthewoestreich commented on #384
I believe this is due to when we added the `id` prop for internal tracking of rerenders. Which may need to be removed? @Domino987 thoughts?

[2021-10-22 16:20] matthewoestreich commented on #384
Also, would you mind trying to find the last @material-table/core version that worked? That would be a huge help.

[2021-10-22 16:21] matthewoestreich commented on #381
Hi can you please provide a reproducible demo?

[2021-10-22 16:39] szolen commented on #386
Sure! This is the link to the demo: [https://codesandbox.io/s/grouping-bug-me8cr?file=/src/App.jsx](url)

[2021-10-22 18:04] Domino987 commented on #384
Hi @oze4 great to see you again😃
I think this was caused by the removal of the column mutation and now we check if the current sort order is not undefined. But since it does in this case, it does not register it. Maybe we need to check for the column as well?

[2021-10-22 19:59] matthewoestreich commented on #384
Likewise, my friend!!! :smile: Apologies. Things got a little hectic over the past month or so.

Great idea! I'll take a look.

[2021-10-22 20:09] Domino987 commented on #384
I feel you. I just finished my masters, so this was quite stressful as well. But glad to see you are back. No pressure though 😄

[2021-10-22 21:15] matthewoestreich commented on #384
Nice bro!!!!! So happy for you! I'm glad to hear that. Incredible accomplishment.

[2021-10-24 11:50] Domino987 commented on #384
@LeComptoirDesPharmacies hi i was looking into it and you are changing two things at once. Which is the default order and the custom sort. Could you narrow it down what you want to be the result. If it the combination or just one of the params

[2021-10-25 06:23] Nirmalsv007 opened #387 "Cannot switch between editable cells using tab"
Tab for switching between editable cells not working

I'm using v4.3.6 and this problem does not seem to exist in the older version of material table ([Material-table](https://github.com/mbrn/material-table), the one not in development now)

I used to use tab to navigate to the next editable cell which was working perfectly and after i migrated from the old mat table to here, this seems to be not

[2021-10-26 05:36] pratik-nagpure commented on #369
Hi @Domino987 , It worked in the latest version. Thanks

[2021-10-26 12:03] pratik-nagpure opened #388 "Dynamically switching between tree data view and normal view is not working"
I want to dynamically decide to show tree data view or normal view
so, I am passing parentChildData property dynamically as below
` const parentChildData = (row: any, rows: any) =>rows.find((a: any) => a.id === row.parentId);`\

`<MaterialTable
..props,
parentChildData={showTreeView ? parentChildData : undefined}
/>`

I see that it is not working
Here is the sandbox link
  [CodeSandbox](https://co

[2021-10-26 15:24] LeComptoirDesPharmacies commented on #384
Hi @oze4,

It look like that regression occurred on v2.3.6 (https://codesandbox.io/s/zealous-grothendieck-hu841) because v2.3.5 (https://codesandbox.io/s/dank-wildflower-c7371?file=/src/App.js) is O.K.

Hi @Domino987,

`customSort` is used to indicate material table to not use the sort mechanism of the library.
`defaultSort` is used in combination with `customSort` to set the current sort to rende

[2021-10-28 12:54] IniterWorker opened #390 "Enter confirm the row edit without validation process"
**Describe the bug**

We have two paths to "Check" a row in edit mode. But both are different:

- [m-table-edit-row.js](https://github.com/material-table-core/core/blob/master/src/components/MTableEditRow/m-table-edit-row.js)
- First path is from "actions" icon in the row.

[code]

- Second path is from keyCode enter.

[code]

**To Reproduce**

- Setup a basic validation system
- Write an invalid

[2021-10-30 12:23] jetro4u opened #391 "Rows require unique id property"
**Describe the bug**
I have a table that have unique userId but no id in the row. When I load the page I got the error:

```The table requires all rows to have an unique id property. A row was provided without id in the rows prop. To prevent the loss of state between renders, please provide an unique id for each row.```

The error come from the ```data-manager.js:351``` file

**Expected behavior**

[2021-11-01 14:47] Domino987 commented on #391
Can you share your data structure?

[2021-11-01 16:12] Domino987 commented on #390
The class component is not used anymore.
But the function component will be updated probably today, maybe tomorrow.
Thanks for the catch.

[2021-11-01 16:34] Domino987 commented on #390
Fixed with 4.3.8

[2021-11-01 16:34] #390 closed, assigned to nobody

[2021-11-01 19:52] Domino987 commented on #371
Close due to inactivtiy

[2021-11-01 19:52] #371 closed, assigned to nobody

[2021-11-01 19:52] Domino987 commented on #58
Should be fixed now

[2021-11-01 19:52] #58 closed, assigned to thefat32, matthewoestreich

[2021-11-01 19:53] Domino987 commented on #335
This should work now

[2021-11-01 19:53] #335 closed, assigned to matthewoestreich

[2021-11-01 20:26] Domino987 commented on #358
Hi I changed the tree data to use the the id instead of the index. So this should work now.
Could you try out the [tree branch](https://github.com/material-table-core/core/tree/tree_with_id) to see if this works for you?

[2021-11-03 16:37] Anboias opened #392 "Page style is being overridden by material-table"
Whenever I load a page containing a material-table, the style of some of the other Mui v5 elements on the page are being overwritten.

The issue seems to be that since material-table style is loaded after the Mui elements, the values from some of the classes is being replaced with values that seem to come from older versions of Material-Ui.

[2021-11-03 16:40] jetro4u commented on #391
Sorry for the late reply. As per the requirement, I added an id field but still continue to get the error message with the unusual behavior explain below. More like the state of my component was changing. The component where I render MT/Core uses Class and receive props (rows) from a parent component. In MT I design the page as below and it was working fine. I am using MUI/v5 and MT/Core@next

[co

[2021-11-03 16:56] Domino987 commented on #391
Yes this was caused by the mutation of the data and columns. We are still trying to fix this without mutating your user data. I will look into this.

[2021-11-03 16:57] Domino987 commented on #392
Which version are you using of MT?

[2021-11-03 16:59] jetro4u commented on #391
Thank you for the promise. I use the detail panel a lot for even more complicated uses. I look forward to the fix

[2021-11-03 18:20] Anboias commented on #392
These are the material packages used:

    "@emotion/styled": "^11.3.0",
    "@material-table/core": "^4.3.8",
    "@mui/icons-material": "^5.0.5",
    "@mui/lab": "^5.0.0-alpha.53",
    "@mui/material": "^5.0.6",
    "@mui/styles": "^5.0.2",

[2021-11-03 19:14] Domino987 commented on #392
To use it with Mui v5 please install the next branch of material table

[2021-11-04 08:34] Anboias commented on #392
Thanks, Domino987! My issue is solved now.

[2021-11-04 08:49] #392 closed, assigned to nobody

[2021-11-04 22:44] lisandro52 commented on #358
That looks great! I just tested the branch and it works just like I expected. And the code you used for the demo is like the code I used on the sandbox/my app so it should work exactly the same.
Thanks for taking the time and fixing it!

[2021-11-04 23:14] Domino987 commented on #358
Perfect I'll merge it tomorrow

[2021-11-05 15:21] carolrenna commented on #381
I'm getting the same warning.  I even took out the render for the column definition and I still get the warning.  I'm using material-ui 4.12.3, material-ui/icons 4.11.2 react 16.14.0

I'm new to this not sure how to do reproducable-demo

[2021-11-08 12:00] pratik-nagpure commented on #388
Hi @oze4 , any thoughts on this?

[2021-11-08 22:30] Gero-B opened #395 "Sorting on currency columns not working as expected"
**Describe the bug**
Strange sort behavior on currency column type

**To Reproduce**
see sandbox example:
https://codesandbox.io/s/material-table-starter-template-forked-rhhs5?file=/src/index.js

**Expected behavior**
Expect order of sorted currency column to be in numerical desending/ascending order (2,1,0,-1,-2), instead results are (2,1,-1,-2,0)

**Screenshots**
![image](https://user-images.git

[2021-11-09 20:01] Domino987 commented on #395
The type is currently `numeric` to work for numbers: https://github.com/material-table-core/core/blob/master/types/index.d.ts#L239

[2021-11-09 20:01] #395 closed, assigned to nobody

[2021-11-09 20:41] KippWade opened #397 "showDetailPanelIcon Filter Row alignment is off"
When utilizing the new showDetailPanelIcon and setting it to false on a table that has filtering, the filtering row remains in the original alignment.  This makes the appearance that the first column doesn't have a filtering header, and there is now a filtering header outside to the left of the table.

	options={{
		actionsColumnIndex: -1,
		debounceInterval: 500,
		draggable: false,
		emptyRowsWh

[2021-11-10 09:44] ghyoo91 opened #399 "Need to find the index of data in onRowUpdate with the Data Id(differ from the original guide)"
# Guidelines
Sandbox : https://codesandbox.io/s/wonderful-oskar-2sewq?file=/src/App.js

**Describe the bug**

Preconditions:
When I use the original guide from https://material-table.com/#/docs/features/editable in the onRowUpdate
&
When I use the data id field(As it said in #259)

Bug:
When I update some data, then the below Error message is displayed:

---

Details
The original guide is here:
[c

[2021-11-10 17:58] NageshAndani opened #400 "Capture the ColumnResize event"
Whenever user resizes the column of a table, I would like to capture the columnResize event and store the new width in the browser's local storage, so that, on reopening the page, user can restore his column width applied.

However, I don't see any event exposed by this Table component to capture the columnResize event.
Can you help me understand how to achieve this?

[2021-11-12 12:46] b3ni commented on #275
When is the _next_ tag updated with the latest changes?

[2021-11-12 12:50] Domino987 commented on #275
I try to do that at regular intervals but I am still waiting for one PR to be merged.

Update:
I just released a new version for both.

[2021-11-12 13:01] Domino987 commented on #400
You would need to add a prop to be called on the resize event form within the code I think. You could try to add it and create a PR.

[2021-11-12 14:13] Domino987 commented on #399
The id is given by you, so that's why its a pseudo random number as far as I can tell from your sandbox.

Not using the index and using object reference is indeed a desired effect because its quite fragile.

If you want to use the index instead of looking for it, you can simply set the id to be the index.

[2021-11-12 14:14] Domino987 commented on #397
Could you add a sandbox so we can look at your setup?

[2021-11-12 16:33] KippWade commented on #397
This should do it.  The filter row doesn't shift when hiding the icon.  So the ID col sorts from the input under Name
[https://codesandbox.io/s/compassionate-euler-c50y6?file=/src/App.tsx](https://codesandbox.io/s/compassionate-euler-c50y6?file=/src/App.tsx)
![2021-11-12_11h28_14](https://user-images.githubusercontent.com/43067502/141500781-c5fa63ae-83e5-46ad-9cca-73cd01ad8098.png)

[2021-11-12 21:38] KippWade commented on #397
Okay, it seems I forgot to save the sandbox before shutting down my browser... ugh.

[Updated Sandbox](https://codesandbox.io/s/material-table-core-hidepanelicon-c50y6?file=/src/AList.tsx)

[2021-11-13 19:58] Domino987 commented on #397
This will be fixed with the next version release.
Probably tomorrow.

[2021-11-13 19:58] #397 closed, assigned to nobody

[2021-11-14 09:27] Domino987 commented on #381
Can you check if this is still the case?

[2021-11-14 09:28] Domino987 commented on #358
This should be fixed with the latest release

[2021-11-14 09:28] #358 closed, assigned to nobody

[2021-11-14 09:31] Domino987 commented on #334
Can you guys check if the problem still persists.

[2021-11-15 07:49] ghyoo91 commented on #399
As you said, id can be a pseudo random number or string, not a simple integer value starting at 0(like index).

If I simply set the id to be the index, I can't update the row in the case that the id isn't same with the index.

I changed my sandbox for this case, with the first row has id "123456789abc", but its index must be 0 if I want to update it.
If I try to update the first row, oldData.table

[2021-11-15 10:26] Domino987 commented on #399
Yes this is the exact reason why we introduced the id in the first place. To improve performance and to preserve state between renders.

You do not want to rely on random positioning of rows to determine the object to change, so yes the original version using the index from the tableData does not work anymore.
But the code you already have in your sandbox works as expected:
` const idx = tmp.findI

[2021-11-15 11:16] ghyoo91 commented on #399
Ah, finally I met the point. I've been watching this project since it forked from mbrn/material-table, so I thought this project was trying to avoid changing the appearance (closest to user) like props or callback functions.

If you already know that the changes make the original version doesn't work, then there is no problem!
I just wanted to report if the malfunction of the original code wasn't

[2021-11-15 11:17] #399 closed, assigned to nobody

[2021-11-15 11:18] Domino987 commented on #399
Yes this is indeed what we are trying to do but also we try to improve it. And this change was long overdue since it also mutated the users data, which broke many projects and was a no go.

Good that we cleared this up.
Happy to help .

[2021-11-15 14:16] dcods22 commented on #316
Any update on this?

@Domino987

[2021-11-15 17:13] davidanastasov opened #402 "Detail panel doesn't open when the rows are grouped"
#394 breaks the details panel once the rows are grouped by a column. I managed to track the problem down to the following line.

https://github.com/material-table-core/core/blob/47b7080a51cce5597393de4dc1bd78c400d92952/src/utils/data-manager.js#L571 This bug only exists on the latest version (4.3.10), once I downgraded to 4.3.9, the bug was resolved.

**Describe the bug**
The bug occurs because th

[2021-11-16 09:28] nauman-matloob opened #403 "showDetailPanelIcon: false one column is added which shift the row to side (while editing)"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

while using detail panel when I set "showDetailPanelIcon" to false and I am in edit mode there is a column that is added. and that shifts the whole line it disturbs a little visually.
I think the added column corresponds to the column of the panel icon.

- actual version  3.0.16
- tried version: 4.3.10

I tried the

[2021-11-16 22:19] lucasgonze opened #404 "Registry version uniquely for fork"
(First: thanks for making this fork!)

When switching from the non-forked original of this repo to the forked version, there needs to be an npm/yarn friendly way of managing the dependency. The simplest from a user POV is to publish a new package to the NPM registry.

Otherwise, I believe users have to do some trickery using the resolutions field in package.json.

[2021-11-17 05:19] calcari opened #405 "helperText not defined at line 27 of LookupField.js"
Maybe a simple oversight in components/MTableEditField/LookupField.js:27

~~`{Boolean(helperText) && <FormHelperText>{helperText}</FormHelperText>}`~~
`{Boolean(props.helperText) && <FormHelperText>{props.helperText}</FormHelperText>}`

Don't have a use case, only had a look at the file.

[2021-11-18 20:42] TheGoodSpinach opened #407 "Add ability to disable unmountOnExit on DetailPanel Collapse"
**Is your feature request related to a problem? Please describe.**
Today, a detail panel is unmounted upon the parent row being collapsed, wiping out any state that was present in the detail panel. This is a little annoying in my use case, as selections inside the detail panel are lost without propagating this selection change up to the parent component.

I am assuming this is caused by the `mount

[2021-11-19 16:19] kouraf opened #408 "Issue with icons in the pagination"
#### Fork the following to reproduce the bug:

  - #### [CodeSandbox](https://codesandbox.io/s/quizzical-mountain-wsxu4)

**Bug Description**
There's an issue with icons in the pagination.

**Screenshots**
![image](https://i.imgur.com/cltVNTY.png)

**To Reproduce**
Just copy the `Hello-world` example.

**Expected behavior**
Getting the right icons.

**Desktop (please complete the following informa

[2021-11-19 19:18] Domino987 commented on #408
This technically not a bug. You could also just added the icons to your head file.

Adding them would result in an increased bundle size and more dependencies.

In the other hand, I feel like 99% of the users are using most of the icons anyway so the lib is already added anyway.

Would you mind creating a PR for this.

[2021-11-19 19:20] Domino987 commented on #407
I agree that option would be nice.
Maybe even add it to the detail panel itself instead to the option. This would keep the stuff together.
Would you mind creating a PR for this ?

[2021-11-19 19:21] Domino987 commented on #405
Would you mind creating a PR for this.
Thanks for finding this.

[2021-11-19 19:23] Domino987 commented on #404
I think so far there is only one break. You need to update material-ui to < 4.12 or to Mui v5 with the next branch as far as I can tell.

What do you have in mind?

[2021-11-19 19:24] Domino987 commented on #403
Nice catch.

I will try to fix it this weekend.
Should be a minor fix

[2021-11-19 19:26] Domino987 commented on #402
Seems like there is a mismatch between the grouping and tree data arrays. Would you mind looking into where the wrong thing comes from ?

[2021-11-19 19:37] TheGoodSpinach commented on #407
Sure, I'll try to put something together soon. Thanks!

[2021-11-19 21:44] andremantaswow commented on #408
I'm having the same issue but im using Material UI 5 so I installed as described here: https://material-table-core.com/docs/material-ui-v5

[code]

Is this still work in progress or should I install something?

[2021-11-19 22:19] kouraf commented on #408
@andremantaswow i'll rise a `PR` this night!

[2021-11-19 22:28] andremantaswow commented on #408
@kouraf thanks but I solved my issue just by importing Material Icons in the `<Head>` of my _document.tsx file (im using nextjs)
[code]

[2021-11-19 22:30] kouraf commented on #408
@andremantaswow Yes this solve the issue, but I prefer to install mui/icons, as said @Domino987 since everyone is already doing it.

[2021-11-19 22:32] Domino987 commented on #408
Maybe we can also check if they are installed? And use them as fallback if they are installed? That should work in plain js

[2021-11-19 22:44] kouraf commented on #408
@Domino987 :thinking: interesting !! how do you see that exactly ? by checking inside the `package.json` ? or running programmatically `npm ls @material-ui/icons`? i don't feel comfortable with having a conditional import also ! can you tell me more about your idea :smile:

[2021-11-19 22:45] Domino987 commented on #408
Maybe import the icons and if the are not undefined. Not sure if that works though.

[2021-11-20 11:35] kouraf commented on #408
I don't think it's a good idea, if you are too concerned about the bundle size, maybe we just grab the svgs we need and don't install all the package !

[2021-11-20 12:15] kouraf commented on #402
Did i miss something? or the code in the sandbox works very well!
![image](https://user-images.githubusercontent.com/22027736/142725886-7dc90914-4f81-4d10-a250-391312b12f49.png)

[2021-11-20 12:30] Domino987 commented on #408
After thinking about it, we should just import them, threeshaking should apply anyway. Anybody wants t create a PR for this?

[2021-11-20 12:42] #405 closed, assigned to nobody

[2021-11-20 12:51] Domino987 commented on #403
It seems like this is connected to the detail panel though.

[2021-11-20 14:14] nauman-matloob commented on #403
Yes I have put a detail panel and wanted to remove the icon but when I edit the row the icon cell reappear again the "showDetailPanelIcon" is not respected on edit mode

[2021-11-20 15:18] Domino987 commented on #408
I will release a new version soon.

[2021-11-20 15:18] #408 closed, assigned to nobody

[2021-11-20 15:46] kouraf commented on #403
if you remove `detailPanel={...}` it works normally! @Domino987 do you have an idea where I can start investigating?

[2021-11-20 16:02] Domino987 commented on #403
Sorry had brain fart. I'll fix it in a bit.

[2021-11-20 16:10] Domino987 commented on #403
fixed with [this commit](https://github.com/material-table-core/core/commit/b74e63a2bf585ef7ed453aa9ae045c02e2a36e3d). I will release a new version soon

[2021-11-20 16:10] #403 closed, assigned to nobody

[2021-11-20 16:11] Domino987 commented on #391
@jetro4u  To help me debug this, could you add a sandbox with a describiton to see the error?

[2021-11-20 23:06] davidanastasov commented on #402
@kouraf Yes, you sorted the values by the column "Word", which should work well.
The bug occurs when you group the rows by the column "Word". To group the rows drag the header of the column "Word" into the group bar, and then try to expand the detail panel.
See the example below:
![image](https://user-images.githubusercontent.com/47048502/142743299-c90dd2f7-df55-4b87-a98a-e8c2b7a5391e.png)

[2021-11-21 02:10] davidanastasov commented on #402
@Domino987 From what I can see the grouping and data object logic works correctly, I think this bug is connected to the path array. This bug was introduced when [this line](https://github.com/material-table-core/core/pull/394/files#diff-106161477a88fc9a9d8a739a99f5e8f6f321cd6e1ac7d919b2901a10ffeee778L90-R90) was changed in #394:
![image](https://user-images.githubusercontent.com/47048502/142746383

[2021-11-21 10:56] Domino987 commented on #402
Yes this looks good. Seems like I missed this Point when I converted it to the id.

A PR would be appreciated.

[2021-11-22 19:22] chris-jalon commented on #381
@Domino987  @oze4 Here is a demo that reproduces this warning. It renders \<Checkbox>es in the columns, which i'm doing for advanced toggling of properties in a table.  The `SubTable` detailPanel isn't necessary, but if you expand and collapse it, the warning can re-appear many times.

https://codesandbox.io/s/stable-function-warning-oqeiq?file=/src/index.js

[2021-11-22 19:47] Domino987 commented on #381
Because each table instance is tracking it. And due to the remount, a new instance ist created. I will check it out.

[2021-11-22 22:23] andremantaswow commented on #374
@neilbags this issue still occurs... can you detail a bit more how to apply that theme variable to the table? thanks

[2021-11-22 23:10] neilbags commented on #374
@andremantaswow I changed the MUI default back to standard variant, as per the code above. That createTheme call goes in  App.js, as per the MUI 4 -> 5 migration guide

[2021-11-23 14:01] elettrodue opened #412 "Material table re-renders on change state of parent functional component"
I have a MaterialTable component with a custom column's render that has a fetch.
Every time I change the state of the table's parent component, it re-render and call the column component 2 times , by doing so, the whole application is slowed down.
Is there any solution to prevent this behavior?
This is an example:
[code]
If I change the test state, the whole table will re-render and the columns Id

[2021-11-23 20:40] fazeem84 opened #413 "Is it possible to implement capability do show/hide column feature?"
is it possible to configure the show / hide check box panel in the header of the Table(please find the attached screenshot took from MUI data table)?
![image](https://user-images.githubusercontent.com/16487210/143106360-e611dd9a-89b2-4db6-a84e-06220b01f8da.png)

[2021-11-23 20:49] fazeem84 commented on #413
Sorry just noticed the feature https://material-table-core.com/demos/columns/hide
So closing it

[2021-11-23 20:49] #413 closed, assigned to nobody

[2021-11-24 17:11] matthewoestreich commented on #412
I believe re-rendering all children when the parent state changes is expected behavior. This is just how React works. In order to prevent child re-renders on parent state change, you can use something like `useMemo` or `useCallback`. You will most likely need to memoize the entire TestTable component.

Something like this..

[code]

[2021-11-24 17:15] matthewoestreich commented on #402
Are we good to close this one out?

Edit: it looks like a PR has been merged for this, I will close it out. Please let me know if we need to reopen it.

[2021-11-24 17:15] #402 closed, assigned to nobody

[2021-11-24 17:17] matthewoestreich commented on #400
@NageshAndani please let me know if you need some help with this! It looks like you'll just need to pass that event up the chain and expose it. I will reopen this if needed. Thanks for your contribution!

[2021-11-24 17:17] #400 closed, assigned to NageshAndani

[2021-11-24 17:19] matthewoestreich commented on #391
@jetro4u please let me know if this is still an issue for you - if it is, would you mind creating a code sandbox?

[2021-11-24 17:21] matthewoestreich commented on #388
Sorry, just saw this - I've been missing for a little, I apologize.

Let me take a look at this and I will get back to you.

[2021-11-24 17:22] matthewoestreich commented on #303
Sorry for the late response - let me dig into this.

[2021-11-24 17:23] #328 closed, assigned to nobody

[2021-11-24 17:23] matthewoestreich commented on #341
What does this mean for the contributor? Will we need to change how we push/merge/etc.. ?

Thank you for mentioning this. I think this is critical.

[2021-11-24 17:25] matthewoestreich commented on #366
@tasoskn is this still an issue for you?

[2021-11-24 17:26] matthewoestreich commented on #373
Hi @e1omvy this issue appears to have gone stale. If it is still a problem for you, please let me know and I will reopen.

[2021-11-24 17:26] #373 closed, assigned to nobody

[2021-11-24 17:26] #369 closed, assigned to nobody

[2021-11-24 17:29] matthewoestreich commented on #387
I wonder what the last working version is.

@Domino987 does anything come to mind on this? Any changes that may have caused it?

[2021-11-24 17:30] matthewoestreich commented on #370
I'm not sure I follow. Would you mind creating a code sandbox that shows the issue? It's just easier on everyone that way.

Thanks!!

[2021-11-24 17:35] matthewoestreich commented on #316
@dcods22 this fork is meant to be a community repo. We wanted to help keep this project alive.

**_Please, do not rely on us for a fix_. If you need something resolved urgently, we are actively accepting and merging pull requests.** This does seem like an edge case or "rare" issue to encounter, meaning for such a complex rare issue you will most likely have to resolve this yourself.

@Domino987 an

[2021-11-24 21:20] janderson215 commented on #341
Generally speaking, the workflow will be the same. The only thing that needs to change is that contributors need to create a GPG key associated their individual accounts, and add that GPG key to their local environments. This is basically another step to verify that a commit isn't being spoofed so a bad actor can't sneak code in that others think is legit.

Edit: I should say the workflow will be

[2021-11-25 09:35] manolo-battista commented on #370
@oze4
Here the sandbox: https://codesandbox.io/s/vibrant-dawn-2z8cw?file=/src/App.js

I think could be useful if definining the `maxBodyHeight` option the default header is sticky, to avoid to scroll the body to see the columns name and use the sort functionality.

As you can see on sandbox with `maxBodyHeight` option the header is not sticky, disappear on scroll.

[2021-11-25 09:44] manolo-battista opened #415 "MTableSteppedPagination export"
**Describe the bug**
I report a bug issue present in mbrn/material-table

material-table has a MTableSteppedPagination component that is not export correctly from the package.

https://github.com/mbrn/material-table/issues/3038

[2021-11-25 10:29] jahredhope opened #416 "Support field selection with complex keys"
When passing in columns, I'd like to be able to select data from an object when the keys in that object include full-stops.

For example, here is an entity from a KRM with 'annotations':

[code]

in this case I might want to try using a `field` attribute of `entity.metadata.annotations["example.com/custom-1"]`.

This syntax works for  numbers (e.g. `a[1]`), and KIND OF works for strings, as long a

[2021-11-25 10:44] ClassicDarkChocolate opened #418 "Large bundle file because of @mui/icons-material"
**Describe the bug**
Large bundle file because of @mui/icons-material

**To Reproduce**

1. Create a fresh new project.
2. Build project.
3. Watch files in browser or analyze with @next/bundle-analyzer

**Expected behavior**
Not bundling all unused mui icons.

**Screenshots**
![](https://i.imgur.com/jtPIHsd.png)

**Additional context**
The version of packages:

[code]

[2021-11-25 19:57] rokpu opened #419 "Tree data icon style"
Hello,
I'm bringing up an issue from _**material-table**_ that wasn't addressed - https://github.com/mbrn/material-table/issues/707.

Would it be possible to add different icons for the root table, and/or allow customization? The root table icon is very confusing when you have several layers of nesting. It's hard to distinguish what's a parent and what's a child.
A branch line indicator, different

[2021-11-26 00:16] andremantaswow commented on #374
For anyone else reaching this issue... if you use `lookup` columns you want to add
[code]
to your theme as well

[2021-11-26 12:59] matthewoestreich commented on #415
Is this still an issue in this project? It looks like it is being exported correctly here - would you mind trying again?

[2021-11-26 13:00] matthewoestreich commented on #419
Yes, that sounds like it should be possible. I can get around to this when I have some time, or if you would like it fixed quicker we are actively merging PR's here.

[2021-11-26 13:03] matthewoestreich commented on #418
We do not use that package as a dependency. It looks like you'll need to open an issue with them.

[2021-11-26 13:06] ClassicDarkChocolate commented on #418
It's there in next branch

https://github.com/material-table-core/core/blob/24c83c5e0e52bc204655cdc0e33b7eee1b3747e8/package.json#L113

[2021-11-26 13:11] matthewoestreich commented on #416
Closing per the PR that you submitted. Thank you so very much for your assistance!!

[2021-11-26 13:11] #416 closed, assigned to nobody

[2021-11-26 13:13] #391 closed, assigned to matthewoestreich, jetro4u

[2021-11-26 13:15] #145 closed, assigned to Domino987, matthewoestreich

[2021-11-26 13:34] matthewoestreich commented on #418
Ahh my bad!

[2021-11-26 14:51] edgar-pozadas-by opened #420 "Render function is getting called twice"
I'm using the render function on columns object but I'm notice when something changes on the data, the render function is being call twice per row

on the screenshot below you will see the render function has been called twice:

![image](https://user-images.githubusercontent.com/80122564/143597781-fcbf0350-d15f-496a-8a06-2571308472b8.png)

this is the code sandbox where you can replicate the error

[2021-11-26 16:19] matthewoestreich commented on #420
It looks like sandbox is using an older version of `material-ui`. Per the error message, would you mind upgrading the version of `material-ui` (NOT `@material-table/core`) and trying again?

[2021-11-26 16:27] matthewoestreich commented on #420
As far as each row rendering twice, I need to dig into why that is happening. @Domino987 any ideas? It appears something internally inside @material-table/core is forcing a second rerender per row. The actual component that uses the table only renders once, that's why I think something internally is causing the rerender for each row.

[2021-11-26 16:39] matthewoestreich commented on #341
@Domino987 what do you think about this?

[2021-11-26 22:25] edgar-arroyo-by commented on #420
I have been doing some research:
<img width="955" alt="image" src="https://user-images.githubusercontent.com/79274227/143658722-089ca4a5-b64c-489c-bf35-f1f6673b5d28.png">

In this little example, (which is the same @edgar-pozadas-by  provided but with one row) I got MuiTableCell called 6 times **(twice 3)** and the MuiTable row is called 2 times **(twice 1)**

I do not know if i explain myself :(

[2021-11-26 22:42] edgar-arroyo-by commented on #420
just a little visual help in order to describe what i think is the issue
<img width="453" alt="image" src="https://user-images.githubusercontent.com/79274227/143659472-6972df3d-fee7-4fbb-a5f4-b63fc5ce9e0e.png">

Right now, Not sure how to use memoization with react classes :( but we can always  learn :)

maybe with the help of should component update we can prevent the first render to happen :)

👯

[2021-11-26 23:14] Domino987 commented on #420
Could this be caused by the react dev mode where every component is called twice?

[2021-11-29 13:02] obsd opened #422 "Is it possible to start the component in bulk edit mode?"
I'm using this great table, and I want to start this in bulk edit mode.
like that:

![image](https://user-images.githubusercontent.com/1475778/143872649-c5b032c8-ff06-484c-8dd6-4c61ced22555.png)

Any help would be appreciated.

[2021-11-30 04:39] edgar-pozadas-by commented on #420
Sorry what do you mean with dev mode? running on local or react dev tools?

[2021-12-02 08:31] Domino987 commented on #420
Running on local with strict mode

[2021-12-02 15:01] chris-jalon commented on #334
@Domino987 switching @mvitkin's example to 4.3.10 resolves the issue. i have a complex implementation with subtables in the detail panel that re-render the main row and it works reliably too.

as for detail panels, the warning you are aware of still remains: https://github.com/material-table-core/core/issues/381

so this seems resolved.

[2021-12-02 15:15] Domino987 commented on #334
Yes I will look into it probably next week. I will be closing this.

[2021-12-02 15:15] #334 closed, assigned to nobody

[2021-12-06 14:41] UgurKacak opened #424 "Searching throw error while using tree data"
**Describe the bug**

Searching functionality on material-table-core version 2.0.12 with same data working well. However search input be laggy. Somehow latest version of library throwing error.
`Cannot read properties of undefined (reading 'tableData')`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to sandbox: https://codesandbox.io/s/elated-dew-rzmos
2. Try to search.

**Expected beha

[2021-12-08 22:52] Mohron commented on #418
I'm having this same issue.
![image](https://user-images.githubusercontent.com/3623122/145304065-0b9e59fd-faf5-4035-a756-8bb454d5258f.png)

[2021-12-09 17:28] chris-jalon opened #425 "Hover effect is always shown, even without row click events"
Table row hover effect and class are added to all rows, even without specified `onRowClick` or `onRowDoubleClick`.

The issue is here:
https://github.com/material-table-core/core/blob/master/src/components/MTableBodyRow/index.js#L452

We are checking if `onRowClick` or `onRowDoubleClick` are not null. The only workaround is to explicitly set these to null:
[code]

It's reproducible on any table: h

[2021-12-09 20:46] RomaBogatikov opened #428 "Multiselect popover jumping around"
When using filtering option with a lookup, multiselect popover modal jumps up/down when different select options are clicked/tapped.

Demo of a bug can be found in the sandbox below.
https://codesandbox.io/s/material-table-core-multiselect-popover-bug-yj9xn?file=/src/index.js

A discussion of this issue in Material UI on StackOverflow (a very nice explanation with a solution to the problem is ther

[2021-12-10 12:47] yashaswinibprasad87 commented on #399
Please help with a complete example where my  remote data does not have id ... while editing it is not finding index to update

[2021-12-10 13:42] yashaswinibprasad87 opened #430 "RowUpdate not working"
unable to update row as it is not finding index to update data,(there is no tableData object in latest version "@material-table/core": "^0.2.9",  @mui/material 5.2.3)

Please provide a solution with a complete example as my remote data does not have id as column