[2020-12-21 21:03] matthewoestreich opened #10 "Fix NPM"
Per https://github.com/material-table-core/core/discussions/9

[2020-12-21 22:02] matthewoestreich commented on #10
Fixed in https://github.com/material-table-core/core/releases/tag/v2.1.4

[2020-12-21 22:02] #10 closed, assigned to matthewoestreich

[2020-12-22 06:31] matthewoestreich opened #12 "Have an urgent issue?"
Please open an issue (or PR) for any urgent issues you may have!

**We are actively deploying here.**

Simply change your imports to `@material-table/core` to get the latest updates.

*We will remain compatible with `mbrn/material-table`, as we plan on pushing all changes eventually.*

[2020-12-22 16:13] masbaehr opened #13 "RESOLVE unable to resolve dependency tree - trying to install this fork"
Any idea what to do?

[code]

[2020-12-22 18:06] matthewoestreich commented on #13
Thanks for opening this issue. I will look at this in a couple of minutes. It's odd because this didn't happen to me when I tested after publishing.

[2020-12-22 18:13] matthewoestreich commented on #13
@masbaehr are you installing @material-table/core in a fresh project or an existing project? I tried both and cannot reproduce this issue.

What command are you running?

[2020-12-22 18:16] masbaehr commented on #13
Does your project have  "@material-ui/core": "4.11.2", as a dependency? i tried on a clean project (without node_modules folder) and without package-lock.json

i was able to circumvent with --force command

just did npm install

npm version: 6.14.10

[2020-12-22 18:20] matthewoestreich commented on #13
Yep. I used `npx create-react-app` then installed material-ui and @material-table/core without any error/issue. I did use `yarn`, though, so let me test with `npm`.

This is the package.json file:

[code]

[2020-12-22 18:34] matthewoestreich commented on #13
Can someone else test this out as well? @thefat32 @Domino987

I can't reproduce. Just tested a fresh project with `npm` and I got no errors.

[2020-12-22 18:41] masbaehr commented on #13
Note that i had the same issue with original material-table 1.69.2 , and it worked again when i set it to 1.69.0
However i also re-tried on a different project and it went trough.. Very weird issue.. will try to post more info when i get it again. Thankfully i have multiple projects to switch the material-table :P

[2020-12-22 18:45] matthewoestreich commented on #13
Thanks for the info! If you notice any patterns please let us know. Def a weird issue.

[2020-12-22 21:16] matthewoestreich commented on #13
After doing some more research on this, I noticed a couple of odd things (which I have attempted to resolve).

- [`package-lock.json` was included in `.gitignore`](https://github.com/material-table-core/core/blob/5710c4c0892fd09aa835a51e0a086f16c0154f51/.gitignore#L5) - I have since [resolved this](https://github.com/material-table-core/core/blob/master/package-lock.json)
- Dependencies essentiall

[2020-12-22 21:22] masbaehr commented on #13
I just tried on a different project where i did not update the packages yet, and with the 2.1.19 it did not happen! Yay.. 👍

[2020-12-22 21:32] #13 closed, assigned to matthewoestreich

[2020-12-29 19:32] charlesc32 opened #20 "Fix for hidden columns bug from main repo"
Can we pull in this pull request from the main repo?

https://github.com/mbrn/material-table/pull/2655

Original issue here:
https://github.com/mbrn/material-table/issues/2654

[2020-12-29 20:08] #20 closed, assigned to nobody

[2020-12-29 20:14] matthewoestreich commented on #20
@charlesc32 it was a quick fix so I just went ahead and added that line.

[v2.2.2](https://www.npmjs.com/package/@material-table/core) has been published.

[2020-12-29 22:40] bva commented on #20
@oze4 Did you checked another PR, for the same issue?
https://github.com/mbrn/material-table/pull/2493

It looks like better fix for it.

[2020-12-30 00:10] matthewoestreich commented on #20
@bva I would have to agree with you. [`v2.2.3`](https://www.npmjs.com/package/@material-table/core) has been published.

 - Reverted changes made in v2.2.2
 - Made these changes

[2020-12-31 00:43] peacechen opened #21 "hiddenByColumnsButton should hide in the table but show in the columnsButton selector"
**Describe the bug**

The prop `hiddenByColumnsButton` is documented on material-table.com along with the `hidden` prop. The latter completely removes the columns. They don't render either in the table or in the columnsButton selector.  Use case is that some columns should be hidden initially, but selectable if the user chooses to show them.

https://github.com/mbrn/material-table/search?q=hiddenB

[2020-12-31 02:02] peacechen commented on #21
Here's how those props work:

This is not documented well and isn't intuitive.  I propose that we change the behavior so that `hiddenByColumnsButton` set by itself hides it in the table but shows it in the columnsButton selector. `hidden` would remain the same and force the column to be removed everywhere (table and columnsButton selector).

Example of how it must be used today:
[code]

[2021-01-02 01:25] matthewoestreich commented on #21
Let me know how I can help!

[2021-01-04 01:22] peacechen commented on #21
I'll work on this as time permits. It's functional so this is a low priority issue. This project needs a detailed list of props like the one at:
https://material-table.com/#/docs/all-props

That's comprehensive but the prop definitions could be improved.

[2021-01-04 06:33] peacechen commented on #21
I created a PR to address this.  See #24 for more details.

I suggest that we add the list of props to the main Readme. It's a hassle hunting for them on separate documentation pages. That will also free up the demo site to focus on examples.

[2021-01-04 13:37] matthewoestreich commented on #21
@peacechen I agree. We need a better way to keep track of all props.

[2021-01-06 12:44] bva opened #25 "Support export all data (currently only the current page is exported)"
PR: https://github.com/mbrn/material-table/pull/2344

This PR fixes exporting of remote data when exportAllData property is set.

[2021-01-06 17:44] peacechen opened #26 "Customizing toolbar icons"
Update: Not a bug, but a duplicate `icons` prop passed to `MaterialTable`.

**Describe the bug**
In a TS environment, the `icons` prop rejects all attempts to pass it an icon to replace

**To Reproduce**
Example:
[code]
The same error happens regardless of what's passed in place of `<div/>`.  I've tried `<Icon/>` and even what's in the original source code `forwardRef((props, ref) => <ViewColumn {

[2021-01-06 19:16] peacechen commented on #25
That's a useful feature. What happens if the remote data is very large? There are some data sets with hundreds of thousands of rows, and fetching all of them would consume a lot of memory.

Our app uses the server to generate the CSV, returning a link to the file stored on the server. The client then does the `<a>` click trick to automatically start the download. I would like to see that capabilit

[2021-01-06 21:29] matthewoestreich commented on #26
I'm not sure I follow. Would you mind creating a reproducible demo of the issue?

[2021-01-07 03:26] matthewoestreich commented on #21
See here for more https://github.com/material-table-core/core/pull/24

[2021-01-07 03:26] #21 closed, assigned to peacechen, matthewoestreich

[2021-01-07 17:21] peacechen commented on #26
There was an error in my implementation. I had passed in the `icons` prop twice, once with the default set of icons that I overlooked, and again with a customized one.

[2021-01-07 17:21] #26 closed, assigned to matthewoestreich

[2021-01-07 21:37] matthewoestreich commented on #12
Closing this issue as we should no longer need this "notice".

[2021-01-07 21:37] #12 closed, assigned to matthewoestreich

[2021-01-08 17:25] peacechen opened #44 "Header row style does not extend to detail panel column"
**Describe the bug**
When the `detailPanel` prop is provided to add an accordion to each row, a caret is added to the left side of each row. The header in the space above that does not get the same styling as other column headers. Refer to screenshot below.

**To Reproduce**
[code]

**Expected behavior**
The (grey) background color of the header should extend to all across to the left edge of the

[2021-01-08 18:50] peacechen commented on #44
Each column in the `columns` prop defines its own `headerStyle` that is used to set its header's style independently of the others. That's a powerful feature, but it means that there's no fallback header style for columns that aren't explicitly defined, which in this case is the detail panel caret column. Here are some paths forward:

- Add a faux column to the columns list with a field dedicated

[2021-01-08 19:02] peacechen commented on #44
There is a global `headerStyle` prop under `options`. Thankfully no changes are needed.

This underscores the need for high quality prop documentation.

[2021-01-08 19:02] #44 closed, assigned to nobody

[2021-01-11 07:11] masbaehr opened #45 "Large bundle size - mostly due to jspdf"
Hi, in "memory" of this open issue of the original material-table;

https://github.com/mbrn/material-table/issues/2164

i think a solution of this should be found mid to long-term. The usage of jspdf is simply an overkill, it should be removed from the original project - and the export to PDF should be somehow externalized.

So this would break 100% compatibility - but for this i'd simply make an

[2021-01-11 07:15] matthewoestreich commented on #45
Hi! We recently changed the way this package is bundled. The [bundle size](https://www.npmjs.com/package/@material-table/core) is now 199kb (almost half of what it was). Would you say this is too big?

Furthermore, jspdf was never being bundled with this package (from what I could tell at least). Anywho, jspdf is now marked as an [external dependency](https://github.com/material-table-core/core/bl

[2021-01-11 07:25] masbaehr commented on #45
Hmm.. when i still used the latest mbrn version it was still bundled. Or somehow it triggered the bundling of jspdf erroneously. Anyways, i've now created a new source-map-explorer output of my bundle. jspdf is not used within the webapp in other places

It is seemingly still being included :/ Am i doing something wrong?

![image](https://user-images.githubusercontent.com/38694044/104154956-66f752

[2021-01-11 08:07] matthewoestreich commented on #45
Hey I noticed an issue with the new bundler and had to revert. I [published](https://www.npmjs.com/package/@material-table/core/v/2.2.8) a new package that is working correctly (so thanks for bringing this up lol).

It [does appear](https://bundlephobia.com/result?p=@material-table/core@2.2.8) `jspdf` consumes a large portion of the "bundle", although it isn't necessarily "bundled" with the packag

[2021-01-11 08:19] masbaehr commented on #45
![image](https://user-images.githubusercontent.com/38694044/104158671-17b51f80-53ee-11eb-880a-8af250397b2c.png)

This is the only file referencing the jspdf stuff (jspdf and jspdf-autotable)

[2021-01-11 08:22] masbaehr commented on #45
Also react-beautiful-dnd in future could be replaced with something more leightweight.
https://bundlephobia.com/result?p=sortablejs@1.13.0
Thanks for linking to bundlephobia, useful tool i did not know :D

[2021-01-11 09:14] matthewoestreich commented on #45
I tried to implement [this](https://github.com/mbrn/material-table/issues/2164#issuecomment-658731507) idea, but it didn't work. I'm not sure if I just did it wrong or what... You can check out the [new version here](https://www.npmjs.com/package/@material-table/core/v/2.2.9)

Changes I made:

- https://github.com/material-table-core/core/blob/master/src/components/m-table-toolbar.js#L17
- https:/

[2021-01-11 09:16] matthewoestreich commented on #45
@masbaehr

Completely agree. There are a lot of changes that need to be made!

[2021-01-11 10:46] masbaehr commented on #45
edit: removed as a better solution was found

[2021-01-11 11:57] matthewoestreich commented on #45
It finally clicked what that other person meant. So I made these changes:

#### Got rid of the following `options`

   - `options.exportButton`
   - `options.exportCsv`
   - `options.exportPdf`
   - `options.exportFileName`
   -  `options.exportDelimiter`

#### Added the following option to `options`

  - [`options.exportMenu`](https://material-table-core.com/docs/api/props/mt_prop_options)

####

[2021-01-11 12:57] masbaehr commented on #45
I can confirm jspdf is no longer included in the build when not using the export functionality 👍

[2021-01-11 14:19] matthewoestreich commented on #45
Going to close this one out for now.

[2021-01-11 21:23] rok4f opened #47 "Incompatible version of @date-io/date-fns in dependencies & peerDependencies"
@date-io/date-fns 2.x is incompatible with @material-ui/pickers 3.x which causes crash when editing row with date type field.
Please downgrade version of @date-io/date-fns to 1.x (e.g. "^1.3.13").

See also:
https://material-ui-pickers.dev/getting-started/installation
https://stackoverflow.com/questions/59600125/cannot-get-material-ui-datepicker-to-work

[2021-01-11 21:37] matthewoestreich commented on #47
Thanks for opening this! I'll get that done ASAP.

[2021-01-11 21:58] matthewoestreich commented on #47
I hate that commenting `Fix #n` closes the issue... sorry about that.

At any rate, I tested this and saw the same behavior (didn't work until downgrading).

Version [2.3.1](https://www.npmjs.com/package/@material-table/core/v/2.3.1) has been published with these changes.

Thanks again for opening this!

[2021-01-11 23:16] ishake opened #48 "Sorting does not persist through rerenders [reproducible codesandbox]"
Codesandbox: https://codesandbox.io/s/material-table-sorting-bug-mdzsx

**Description**
Our sorts are no longer persisting through rerenders for client-side data-driven tables (tables where an array is passed in for the data). (Note: if you switch to material-table v1.59.0 in the Codesandbox example, the bug disappears.)

**To Reproduce**
In sandbox, sort by one of the columns, then click one of "

[2021-01-11 23:23] matthewoestreich commented on #48
Thanks for opening this! I'll review v1.59.0 to see what was changed.

Is this happening in `@material-table/core` as well as `material-table`?  Just hoping to narrow down where the bug was introduced, and whether or not we inherited it.

[2021-01-12 00:14] #47 closed, assigned to matthewoestreich

[2021-01-12 01:05] matthewoestreich commented on #48
@ishake it looks like this bug was introduced in 1.60.0 (obviously), somewhere around [this time](https://github.com/mbrn/material-table/commits/master?after=b7474ca0f5497f04ff3a3d50e709d86de7c639b0+279&branch=master) frame.

I believe [this](https://github.com/mbrn/material-table/commit/c90f0a76324a94701ff0aa12a98a89dade4ee424) commit may be the culprit.

@Domino987  thoughts?

[2021-01-12 01:14] Domino987 commented on #48
I will check this and storybook out tomorrow 👍

[2021-01-12 01:22] matthewoestreich commented on #48
I just found the root of the issue - let me know if you want me to do anything further.  Thank you!

### This resolved the issue for me

Essentially, comment out L102-105 in the file below, then make L101 look like this: `const shouldReorder = isInit;`.

https://github.com/material-table-core/core/blob/2a78d36964c97ce98f995e0992e6ee31617d5e01/src/material-table.js#L101-L105

### For example

Chang

[2021-01-12 07:15] rok4f commented on #47
Upgraded, works fine.

[2021-01-12 13:16] vmihalachi opened #49 "Improve accessibility"
Currently I discovered two accessibility issues of the table using https://accessibilityinsights.io/

- Expand row button doesn't have a name / title. This is visible when you have a detailPanel in the table. https://accessibilityinsights.io/info-examples/web/button-name

  Adding a "title" attribute should fix the issue

- Checkbox filter button doesn't have a label. This filter is visible when y

[2021-01-12 16:58] koutto opened #51 "Table tree/sorting/... state is lost every time a Dialog is open from a clickable cell"
Hello all,
Thanks for keeping this project alive !
I am using latest version of @material-table/core.
I have a table with custom rendering in a column, that displays a clickable icon. Every time it is clicked, a state is changed to open a Dialog.
However, everytime it is done, the state of the table is lost, i.e. if any column sortering has been set up, it is lost. Similarly, I am also using tree

[2021-01-12 17:20] matthewoestreich commented on #49
Thanks for this! I'll look into this today.

[2021-01-12 17:22] matthewoestreich commented on #51
Hello! Hopefully this will be fixed today. There is currently another issue open #48 where we pinpointed the root cause.

We will be putting all updates on #48 so I'm going to close this one out.

Thanks for bringing this to our attention! We apologize for the inconvenience.

[2021-01-12 17:24] matthewoestreich commented on #51
@Domino987 another issue in regards to the table losing state. Looks like it's related to #48

[2021-01-12 17:44] vmihalachi commented on #49
Thanks @oze4 ! Feel free to change labels as appropriate if you to :)

[2021-01-12 17:56] Domino987 commented on #51
@oze4 Probably yes. This might cause it. The change was introduced to respond to changes to the default prop changes, like initial page etc. If we remove this, these changes of the prop during the lifecycle of the table will be ignored. Maybe we can think of a way to get around it. To both respond to the changes but not lose State

[2021-01-12 18:20] matthewoestreich commented on #51
Sounds good to me.  In that case I will reopen this issue.

[2021-01-12 18:24] #49 closed, assigned to matthewoestreich

[2021-01-12 19:28] jok3r-framework commented on #51
Ok thanks a lot for your awesome work for keeping this project up-to-date.
Cheers guys

[2021-01-12 20:18] matthewoestreich commented on #51
@Domino987 so this was introduced in case someone wants to start on page 2 (or 5 or 103 or whatever) vs page 1? I'm not sure I follow entirely.

[2021-01-12 21:07] matthewoestreich opened #52 "Memory Leak [existing issue in mbrn/material-table]"
## Resources

https://github.com/mbrn/material-table/issues/2727

https://github.com/mbrn/material-table/issues/2733

## Description

Memory leak when updating table data/editing cell.

## Possible Solution

Apparently, this bug was introduced in all versions *greater than **or** equal to*  `mbrn/material-table` **v1.68.2**, as  `mbrn/material-table` **v1.68.1** [does not have this issue](https://

[2021-01-12 21:25] peacechen commented on #52
This was fixed in #5, which was from mbrn#2689

I recommend tabling this unless someone has a demo reproducing this type of issue.  I've not seen it since the fix was merged.

[2021-01-12 23:34] matthewoestreich commented on #52
Yea you're correct - it is not an issue in this repo. https://github.com/mbrn/material-table/issues/2727#issuecomment-759078523

I saw it over at mbrn and it freaked me out haha.  I haven't tested anything or looked into it yet (and I'm glad I didn't).

Thank you very much!

[2021-01-12 23:35] #52 closed, assigned to matthewoestreich

[2021-01-13 06:24] harshmaur commented on #45
@oze4 Thanks for the release! This worked for us as well! However I found that there is another major cause for the increase in the bundle size.

Our application already uses react-beautifil-dnd so that didnt contribute to the bundle size. From my observations, the major causes were
1. jspdf
2. material-ui

It looks like the whole materail-ui is imported / or tree shaking isnt working properly wit

[2021-01-13 06:41] matthewoestreich commented on #45
I was not aware the entire material UI library was being bundled. According to [bundlephobia](https://bundlephobia.com/result?p=@material-table/core@2.3.2) it's not being bundled. I'll take all the help I can get!

[2021-01-13 07:26] harshmaur commented on #45
@oze4 the size of the material-ui/core isn't itself a problem, the problem is with the project's bundle, when it gets included, it seems the whole material ui is being imported.

After installing material-table and removing material-ui's data-grid
![image](https://user-images.githubusercontent.com/12210058/104419454-7d480e00-559e-11eb-9da2-73588ef23f78.png)

Before installing material-table and ke

[2021-01-13 08:13] matthewoestreich commented on #45
Right. I get that.

This is something I'm going to have to look into (I can't reproduce it). Are you using `@material-table/core` or `mbrn/material-table`?

[2021-01-13 12:56] JazeDev opened #55 "MUI 5 compatibility"
## Description

see [MUI 5 compatibility #2542](https://github.com/mbrn/material-table/pull/2542)

## Additional Notes

Maybe add a @next branch for MUI 5

[2021-01-13 18:10] matthewoestreich commented on #55
Thank you for this. Is that the best way to handle this? Just use another branch? We currently have a `next` repo which we are moving to TS.

[2021-01-13 18:55] matthew-kusz opened #56 "Filtering Bug With Lookup"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have
Demo: https://codesandbox.io/s/jolly-minsky-de7b9?file=/src/App.js

**Describe the bug**
Enabling filtering and using `lookup` in a column to create a drop down with selectable options causes an error `ReferenceError: props is not defined`. I can select different options, but there is no filtering and I cannot exit

[2021-01-13 19:12] matthewoestreich commented on #56
Thank you very much for this. I was able to get this issue resolved and a new package published.

https://www.npmjs.com/package/@material-table/core/v/2.3.3

Working demo:

[![Edit mystifying-robinson-wyn8e](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mystifying-robinson-wyn8e?fontsize=14&hidenavigation=1&theme=dark)

[2021-01-13 19:20] matthew-kusz commented on #56
Thank you for the quick fix!

[2021-01-13 19:21] matthewoestreich commented on #56
No problem! Sorry for the inconvenience. Please let us know if you have any further problems.

Cheers!

[2021-01-13 19:21] #56 closed, assigned to matthewoestreich

[2021-01-13 22:33] koutto commented on #48
I posted the similar issue https://github.com/material-table-core/core/issues/51
Is this workaround going to preserve the state of tree data (expanded/collapsed rows) ?

[2021-01-13 22:49] koutto opened #57 "Export to CSV feature lost after migrating to material-table-core"
Hello,
I have been using material-table so far, with the "Esport as CSV" feature.
As soon as I migrated to the last version of material-table-core, without changing anything in my code, the export feature disappeared.
Do you have any idea ?

[2021-01-13 23:22] #57 closed, assigned to nobody

[2021-01-13 23:22] koutto commented on #57
Sorry, i just saw you made a breaking change with the new exportMenu option.
I am closing this then :)

[2021-01-14 00:31] matthewoestreich commented on #48
@koutto that is our goal. I don't really understand why this change was introduced, so I have been focusing elsewhere.

@Domino987 was looking into this I believe.

[2021-01-14 04:29] thefat32 opened #58 "Always use getFieldValue to access value and setByString to write value in components"
In some components we're using `rowData[colDef.field]` to access and write value while others use `getFieldValue` and `setByString` helpers which supports dot notation property access.

`getFieldValue` code:

[code]

`setByString` code:

[code]

Components:

`m-table-edit-row.js line 26`

 Should use `setByString`

[code]

`m-table-edit-row.js line 40 to 43`

NOTE: this ain't wrong but is replicat

[2021-01-14 04:37] matthewoestreich commented on #58
Which components? @thefat32

[2021-01-14 04:42] matthewoestreich opened #59 "Unwanted State Changes: A Megathread"
## Reports of unnecessary rerenders include:

 - https://github.com/material-table-core/core/issues/48
 - https://github.com/material-table-core/core/issues/51

These issues appear to be related to [the same change](https://github.com/material-table-core/core/issues/48#issuecomment-758330483).

Please comment here if you are having issues with rerenders.

[2021-01-14 04:43] matthewoestreich commented on #51
All updates will be on https://github.com/material-table-core/core/issues/59

Closing.

[2021-01-14 04:43] #51 closed, assigned to Domino987, matthewoestreich

[2021-01-14 04:43] matthewoestreich commented on #48
All updates will be on https://github.com/material-table-core/core/issues/59.

Closing.

[2021-01-14 04:43] #48 closed, assigned to Domino987, matthewoestreich

[2021-01-14 04:52] thefat32 commented on #58
@oze4 I was just updating the issue

[2021-01-14 05:52] matthewoestreich opened #60 "Issue when editing a cell in grouped data"
Issue when editing a cell in grouped data. Localization is undefined when it reaches `MTableEditCell` (which is a required prop).

Will upload a demo tomorrow.

[2021-01-14 06:48] vmihalachi commented on #55
We might also start to be compatible with only MUI 5, if maintaining two versions is too much.
It's true that it is still marked as alpha, but per my use I see it as pretty stable. And there a lot of nice things with moving to version 5 😄

https://medium.com/material-ui/2020-in-review-and-beyond-55d2cab0975c

[2021-01-14 06:54] matthewoestreich commented on #55
I think focusing on MUI compatibility in the [`next`](https://github.com/material-table-core/next) repo makes more sense. As you say, there are nice features, but it is still in alpha. So I don't see a need for this to take priority right now, or in this repo.

Thoughts?

[2021-01-14 07:00] vmihalachi commented on #55
Agreed!

[2021-01-14 07:21] masbaehr commented on #55
Hi, i noticed that react 17 is already used, but in MUI 4 only react 16 is supported officially. Was this done on purpose. Could any problems arise ?

npm WARN @material-table/core@2.3.4 requires a peer of react@^17.0.1 but none is installed. You must install peer dependencies yourself.

[2021-01-14 09:01] vmihalachi commented on #55
@masbaehr on my projects I'm not running into any issue. I'm also using MUI 5.0.0-alpha.11 and looks like this library is compatible until that one version.

[2021-01-14 09:10] Domino987 commented on #59
So the problem is described int his PR.

https://github.com/mbrn/material-table/pull/1975

As you can see, a bug was fixed by that, but losing the state in not acceptable. So I will take a look now on how to keep this behavior withtout the bug.

[2021-01-14 11:44] inserty opened #63 "Issue with expanding grouped item in tree data structure"
When table display items in tree data mode and grouping is enable the table throws error:

![image](https://user-images.githubusercontent.com/28702252/104586765-345b8c80-5666-11eb-974e-46df0de90848.png)
![image](https://user-images.githubusercontent.com/28702252/104586775-36bde680-5666-11eb-9738-7f60e4989f84.png)

It is reproduceable in material-table doc example: https://material-table.com/#/docs

[2021-01-14 14:47] stefanvanderzanden opened #64 "Inline edit of rows uses callback in setState in functional component."
When editing a row, changing a cell causes an error to be logged to the console

```Warning: State updates from the useState() and useReducer() Hooks don't support the second callback argument. To execute a side effect after rendering, declare it in the component body with useEffect().```

Problem seems to be in `core/src/components/MTableEditRow/index.js`. Looks like callback in setState (L129 &

[2021-01-14 16:09] matthewoestreich commented on #64
What version are you on? @stefanvanderzanden

Thanks for opening this!

[2021-01-14 16:29] stefanvanderzanden commented on #64
Hi @oze4 I'm currently on 2.3.4

[2021-01-14 16:39] matthewoestreich commented on #63
Hey @inserty thanks for opening this!

Are you using `@material-table/core` or `material-table`? We are a fork of material-table (you can read more on this in the README of [this repo](https://github.com/material-table-core/core/blob/master/README.md)).

[This does not appear to be an issue with the latest version of `@material-table/core`](https://material-table-core.com/demos/tree-data/basic)

[2021-01-14 16:40] matthewoestreich commented on #64
Ok cool. I just published v2.3.5 - mind testing it out?

It *should* work, as I manually tested before publishing.

Thanks again @stefanvanderzanden !

[2021-01-14 18:20] inserty commented on #63
Hey @oze4,
I am using `@material-table/core` in `2.3.1` version.
I will update package to the newest version and let you know

[2021-01-14 19:39] inserty commented on #63
Hi @oze4 ,
In the mean time I checked grouping in the example [https://material-table-core.com/demos/tree-data/basic/](url) but it is not working while you want to group by header.
![obraz](https://user-images.githubusercontent.com/28702252/104640046-62fa5700-56a8-11eb-97f6-6e220ef12039.png)

[2021-01-14 20:15] matthewoestreich commented on #63
That looks like a separate issue.

I must have misunderstood then. I thought the link you referenced was the issue (on material-table.com). I was under the impression it was a tree data issue not grouping.

I'll get that fixed right quick.

[2021-01-14 20:20] aventide commented on #59
I believe this is happening with overridden components as well. I noticed specifically with the search bar and input focus.

If you use the built-in search functionality, i.e. `options: {search: true}`, then you can focus and type in the bar, through rerenders. In my case, I have polling going on.

If you then do `options: {search: false}` and then insert your own input component with a `Search` c

[2021-01-14 20:44] stefanvanderzanden commented on #64
Hi @oze4,

It doesn't show the error in the console log. Thank you so much for the quick response.

I did find one other thing, want me to create another ticket (looking into it now myself as well)

[2021-01-14 20:59] matthewoestreich commented on #63
I think I've discovered what the issue is just not where it's at.

If you run that same code locally that's on the website, it gives you a more verbose error message. props.renderData.data is null in m-table-group-row.js but only when using grouping. If you use just tree data the prop is passed and isn't null.

[2021-01-14 21:00] matthewoestreich commented on #64
Sorry. Commented on the wrong issue. Yes, please create a separate issue :)

[2021-01-14 21:00] #64 closed, assigned to matthewoestreich

[2021-01-14 21:05] matthewoestreich commented on #63
I even reverted changes and the issue persists.

[2021-01-14 21:22] stefanvanderzanden opened #65 "DetailPanel not working anymore"
When adding a detailPanel to a Table, it tries to use a function that doesn't exist.

It happens in `core/src/components/MTableHeader/index.js` And the following function should be added (I think, I quickly tested it :) )

[code]

[2021-01-14 21:24] cbaker opened #66 "State & memo reset on Action override when re-render of material table triggered (codesandbox)"
I'm trying to override the Action component to return a custom selector that allows a user to utilize a preconfigured filter.
The state, memos, etc of my component get fully reset when the table data changes, not sure exactly what's going on here.

Minimal reproducible sandbox:
https://codesandbox.io/s/pedantic-rubin-ywvk6

[2021-01-14 21:36] stefanvanderzanden commented on #65
Nevermind ... See what I'm doing wrong :)

[2021-01-14 21:41] matthewoestreich commented on #66
Hello! Please see [here](https://github.com/material-table-core/core/issues/59) (I just renamed it, as it was poorly named).

Also, [see here](https://github.com/material-table-core/core/pull/62) and I just published those changes to v2.3.6. Would you mind testing it out?

Please use #59 moving forward :) it all seems to be related to that.

[2021-01-14 21:44] matthewoestreich commented on #63
What is even more odd is that when I test local everything works. (see the `__tests__/demo` dir)..

But when I install the package, I get an error.

https://user-images.githubusercontent.com/21092343/104652840-531a4d00-567f-11eb-8077-3458a60002c1.mov

I have to run an errand but hopefully I can take a look at this later.

[2021-01-14 21:58] stefanvanderzanden commented on #65
Created pull request :)

[2021-01-14 22:17] cbaker commented on #66
@oze4 I'm not sure that this is a state change more or less there lack of a state change. Are you personally familiar with how actions are rendered? It appears as if it is forcing a brand new instance every time without react's cache.

[2021-01-14 22:20] matthewoestreich commented on #66
Right. So an unnecessary state change. Have you given v2.3.6 a shot? State is being reset to "default" correct? When you want the table to retain changes?

[2021-01-14 22:22] matthewoestreich commented on #66
I'm on mobile right now but will be back within 30 min or so. I'll dig deeper then. There are also a handful of other issues I'm working on so idk when I can dig into this with my full attention.

[2021-01-14 22:22] cbaker commented on #66
@oze4 Yea I suppose you're right, I was focusing more on the cause than the effect. 2.3.6 does not appear to solve this problem. Also if you've some relatively easy issues and want the work load taken off to get a look at this quicker let me know, I'm willing to pitch in.

[2021-01-14 22:26] matthewoestreich commented on #66
That would be amazing! I reopened this issue. Sorry ab that.

[2021-01-14 22:44] cbaker commented on #66
@oze4 tag me on some issue #'s

[2021-01-14 23:26] matthewoestreich commented on #63
@cbaker this one is kind of annoying

[2021-01-14 23:29] matthewoestreich commented on #59
@misterlocations nice find. There are a lot of kinks that need to be worked out =/

[2021-01-14 23:29] matthewoestreich commented on #59
@koutto @ishake does the newest version, 2.3.6 fix this for you?

[2021-01-15 05:53] #65 closed, assigned to nobody

[2021-01-15 07:08] stefanvanderzanden commented on #65
Sorry, one final question, but do you need to make a new release for this?

[2021-01-15 16:09] cbaker commented on #66
Update this issue persists even when you don't override action and you override the icon button component via:
[code]

[2021-01-15 16:12] cbaker commented on #59
#66 related

[2021-01-15 18:28] ishake commented on #59
@oze4 2.3.6 fixes it in the sandbox I had in #48 , so I'm guessing we're set. Thanks!

[2021-01-15 21:28] matthewoestreich commented on #66
Thank you for the update! I should be able to sit down and take a look at this in a couple of hours

[2021-01-15 21:42] ishake opened #70 "Specifying a render method in for the detail panel breaks the table in starting in v2.3.5. [codesandbox]"
Hi, all. Thanks for your work on this!

I found another one. The issue appears to have been introduced in v2.3.5. Here's the [CodeSandbox](https://codesandbox.io/s/material-table-broken-details-panel-0c37j) . If you switch between v2.3.4 and v2.3.5 it goes away and appears again.

**Description**
Specifying a render method in for the detail panel breaks the table in the latest version.

The error

[2021-01-15 21:43] aventide commented on #48
@oze4 I don't mean to re-open this issue, but I was hoping to get some clarification. Is the above workaround considered a full fix if it works ONLY when we take the `defaultSort` off?

I assume people will still want to be able to set a default sort without the problem of the state getting reset on data change.

[2021-01-15 21:44] matthewoestreich commented on #70
Ah yeah that's my bad. I fixed this, then had to revert for a different issue and must have overrode my changes. I think this is the issue I'm thinking of, bit could be wrong.

I should be able to take a look at this in about 2 hours. Apologies.

[2021-01-15 21:45] ishake commented on #70
Perfect! Thanks for the fast response!

[2021-01-15 21:53] matthewoestreich commented on #48
Definitely not!

So, I think our plans are to refactor into functional components while fixing issues. This repo has a lot of little bugs due to the fact it hasn't been updated in a while.

There are also better ways to handle things internally, such as using the context api vs the concept of a "data manager".

After that we plan on refactoring JS into TS.

That is why we are applying hotfixes lik

[2021-01-15 21:56] matthewoestreich commented on #48
But if this hotfix caused a new issue, that issue still needs to be addressed imo.

[2021-01-16 02:39] matthewoestreich commented on #70
This is resolved in 2.3.7!

Updated Sandbox:

[![Edit material-table-broken-details-panel (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/material-table-broken-details-panel-forked-gnhf0?fontsize=14&hidenavigation=1&theme=dark)

[2021-01-16 04:03] matthewoestreich commented on #66
@cbaker

As far as the SandBox you provided, the table data is rerendered because you are completely changing the data being fed into material table. This is expected behavior, no? Change the data, expect the data to be rendered in the table, right? Or am I misunderstanding the issue?

[code]

Commenting out the `setData` part fixes this...

[![Edit restless-framework-0pyri](https://codesandbox.io

[2021-01-16 04:31] matthewoestreich commented on #70
Hey @ishake I'm going to close this out for now. Please let us know if you're still having issues.

Thanks again!

[2021-01-16 04:31] #70 closed, assigned to nobody

[2021-01-16 09:24] harshmaur commented on #45
Okay @oze4, so I created a new project with just material-ui and @material-table/core.

This is the size when I just added a material button to the project.
![image](https://user-images.githubusercontent.com/12210058/104808168-63126800-580a-11eb-835c-39b9d824a70a.png)

As you can see, I only have Button.js imported from material-ui

This is when I add material-table from the getting started page h

[2021-01-16 20:02] matthewoestreich commented on #45
@harshmaur

So after testing this, I would need to see how you are bundling your project in order to assist further.

Here is what I did to test:

- Created a fresh create-react-app project, [and published it to GitHub](https://github.com/oze4/mtc-bundle-issues-poc)
- Installed `@material-ui/core`, `@material-ui/icons`, `@material-table/core`, `source-map-explorer`
- Built basic component after re

[2021-01-16 20:51] matthewoestreich commented on #66
Even when making a copy of `origData` (the data currently in the table) and setting that copy as the current data via `setData(...)` triggers this behavior **even though the data in the table looks the same, it isn't the same data since we made a copy of it**, therefore, the table is rerendered.

[![Edit dazzling-fermat-tmyc3](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesa

[2021-01-16 23:25] matthewoestreich commented on #58
Thank you @thefat32 ! I've been rather busy over the past couple of days but will get to this soon.

[2021-01-16 23:50] cbaker commented on #66
Correct me if I'm wrong but even when re-rendering child components should not lose their state. I would wager they are rendering table actions etc incorrectly.

[2021-01-17 00:10] matthewoestreich commented on #66
It isn't losing it's state at all.  If a component has one of it's props change it will rerender. The `MaterialTable.data`prop is changing. You're essentially letting something from the "outside" change the state of something "inside".

Meaning `<Custom />` is being passed the very func used to change internal state in `<MaterialTable />`.

I understand Custom winds up being a child of MaterialTab

[2021-01-17 01:37] pbr0ck3r commented on #70
I was getting this issue after upgrading to 2.3.7 when I built my code for production and it was live, but running locally it ran just fine did not show any errors. Code was the follwing:
[code]

Once I added the `render` in the detailPanel it worked just fine before build and after. Would be nice to throw a error if you are forgetting to pass in `render`. Code after looked like this:

[code]

[2021-01-17 01:37] matthewoestreich commented on #66
I even tried to memoize the entire MaterialTable component, but not even that works. Like I said, what you want to accomplish should be possible. ***But*** the fix will need to be internal to MaterialTable and how we handle data, etc.. internally.

[![Edit restless-framework-0pyri](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/restless-framework-0pyri?fontsize=1

[2021-01-17 01:38] matthewoestreich commented on #70
Hey @pbr0ck3r thank you VERY much for this. I will look into this.

[2021-01-17 01:41] matthewoestreich opened #72 "MaterialTable.detailPanel should work via func and object (aka `{ render: foo }`)"
Per https://github.com/material-table-core/core/issues/70#issuecomment-761712368

@pbr0ck3r

---

I was getting this issue after upgrading to 2.3.7 when I built my code for production and it was live, but running locally not it ran just fine did not show any errors.

[code]

Once I added the render in the detailPanel it worked just fine before build and after. Would be nice to throw a error if you

[2021-01-17 01:57] pbr0ck3r commented on #70
Also I was on 2.3.4 when I originally saw this issue.

[2021-01-17 02:25] matthewoestreich commented on #70
It doesn't appear to be an issue in the newest version (2.3.7). Would you mind giving it a shot? @pbr0ck3r

[2021-01-17 02:33] pbr0ck3r commented on #70
I am on 2.3.7 and if I do not include `render` in the detailPanel (i.e. `detailPanel={[{ render: details }]}`) it breaks.

[2021-01-17 02:35] pbr0ck3r commented on #70
[code]
My original examples with `detailPanel={details}` with details being declared above does not work.

[2021-01-17 02:35] matthewoestreich commented on #70
I'm not seeing the same behavior?

[![Edit recursing-heyrovsky-wxz26](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/recursing-heyrovsky-wxz26?fontsize=14&hidenavigation=1&theme=dark)

[2021-01-17 02:37] pbr0ck3r commented on #70
Looking at your example yes, that is how I had it previously. Possible it could have been a cache issue in the browser. I will test again tomorrow as this is production code and things are working as is right now with `detailPanel={[{ render: details }]})`

[2021-01-17 02:40] matthewoestreich commented on #72
Looks to be resolved in 2.3.7

[2021-01-17 02:40] #72 closed, assigned to matthewoestreich

[2021-01-17 02:47] matthewoestreich commented on #70
@pbr0ck3r

Ok sounds good.

I was going to say your bob example and my example are the exact same, but I actually think I just spotted the issue...

[code]

[2021-01-17 02:49] pbr0ck3r commented on #70
Yeah, in my production code I do have a return... that is my fault for not sharing that.

[2021-01-17 02:50] pbr0ck3r commented on #70
[code]

[2021-01-17 02:50] matthewoestreich commented on #70
ok cool - just making sure!

Let us know if 2.3.7 fixes it for you. Sorry about the issues!

[2021-01-17 03:22] pbr0ck3r commented on #70
Ran, in locally in a docker image and verify that 2.3.7 does fix the issue.

[2021-01-17 03:24] pbr0ck3r commented on #70
Sorry for the extra work on your end. Appreciate the quick testing on your side and also quick responses. Appreciate the work you all do!

[2021-01-17 03:56] matthewoestreich commented on #70
No worries mate!

[2021-01-17 05:26] matthewoestreich commented on #63
@inserty I've gone back as far as `mbrn/material-table` `v1.20.0` but this issue persists (looks like it was inherited from a long time ago).

I understand the issue, but finding where it's at has turned out to be more difficult than anticipated.

[2021-01-17 05:28] matthewoestreich commented on #63
https://github.com/mbrn/material-table/issues/1434

[2021-01-17 15:20] cbaker commented on #66
We are trying to utilize the actions area for a preset filter dropdown. This obviously needs to change the data the table renders. I think there may be filters built into material-table by column, but we really wanted to implement ours this way, as it can filter on multiple fields & have a friendly label for our consumers.
![image](https://user-images.githubusercontent.com/16916670/104847324-5b57c

[2021-01-17 20:43] matthewoestreich commented on #66
Completely agree with you. We should be able to handle this internally. There should be a way to feed data into the table without triggering a rerender of the entire table, rather only the body.

Open to ideas!

[2021-01-17 20:45] matthewoestreich commented on #45
@harshmaur I'm going to close this out for now. Please feel free to open a new issue if you're still having problems.

[2021-01-17 20:45] #45 closed, assigned to matthewoestreich

[2021-01-18 03:42] aventide commented on #48
@oze4 Sounds like you guys are seriously committed to making this library stable. Thanks so much!

[2021-01-18 07:50] masbaehr commented on #45
@oze4 I don't get why things like SwipeableDrawer or Slider are bundled when not used in the application? Is this because somewhere inside material-table they are used?

[2021-01-18 11:30] paintier opened #73 "Breaking Change: MTableEditRow does not accept ref prop"
I wanted to migrate from material-table to material-table-core, but ran into the following issue:

[code]

This warning is triggered by the following code fragment:
[code]

The idea behind the code is to cancel the row editing in case of clicking anywhere outside the row being edited.
Maybe there is a different way how that behaviour could be achieved. That would be fine for me, too.

[2021-01-18 17:25] masbaehr opened #75 "Warning: `NaN` is an invalid value for the `marginLeft` css style property."
I think this had been posted in the mbrn project somewhere but maybe we can find the solution for it.

I'm not entirely sure yet when it happens. Just saw this in the console. Will try to isolate the issue and post more information

Stacktrace:

Warning: `NaN` is an invalid value for the `marginLeft` css style property.
    in span (created by ForwardRef(ButtonBase))
    in ForwardRef(ButtonBase)

[2021-01-18 18:50] aventide commented on #59
@oze4 Should the loss of input focus be a separate issue? I'd be happy to write one up. Just curious how we want to track all the different pieces related to state/rendering problems.

[2021-01-18 19:05] matthewoestreich commented on #59
Yes, I think that is a good idea. Thanks again @misterlocations !

[2021-01-18 20:03] matthewoestreich commented on #45
That's a great question. I'm not the original author so I'd have to look into it. Somewhere down the line, some component is using it. Is it in our codebase, or does material-ui use it in a comment we are importing (this transitively importing it?).

[2021-01-18 20:05] matthewoestreich commented on #73
I think I understand what you're saying, but providing a reproducible example via one of the templates we provide would make things a little more clear. Would you mind creating one? Links are in the issue template.

[2021-01-18 20:11] cbaker commented on #59
I'm willing to bet that fixing one state issue will likely fix a lot of others as a side effect. Also @material-ui has a new "data grid" (material-table) in the /lab. Maybe it's worth just scrapping material-table entirely and rebuilding with that.

[2021-01-18 20:24] matthewoestreich commented on #75
Hey @masbaehr would you mind using the [starter template](https://stackblitz.com/edit/material-table-starter-template) to create a reproducible example?

[2021-01-18 20:30] matthewoestreich commented on #59
@cbaker which state issue are you referring to? One of them has already been fixed.

As far as XGrid over at @material-ui [please see this discussion](https://github.com/material-table-core/core/discussions/16#discussioncomment-240719).

I'm starting to think it may be best to just scrap this project and point everyone in the direction of XGrid.

[2021-01-19 08:41] akash550 opened #76 "ExportMenu option is not working"
exportMenu option is not working from version 2.3.6

[2021-01-19 08:49] paintier commented on #73
sorry for the incomplete bug report, please find an example here:
[Codesandbox example](https://codesandbox.io/s/material-table-starter-template-forked-67pjs?file=/src/index.js)

The expected behaviour is: if a row is in "editing mode" and a click happens outside that row, then the editing is canceled
This works with "material-table" but not with  "@material-table/core". You can see the warning in

[2021-01-19 19:13] matthew-kusz opened #77 "How to Display Export Button"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have
[Demo](https://codesandbox.io/s/brave-babbage-gvloq?file=/src/App.js)
- #### Please try to be as detailed as possible
I want to export the data in my table to a csv. I followed the code [here](https://material-table-core.com/docs/api/props/options#exportmenu), but I do not know how to get the export button to show u

[2021-01-19 23:05] matthewoestreich commented on #77
Hey @matthew-kusz would you mind upgrading to 2.3.9? It is fixed in that version. Apologies.

[2021-01-19 23:05] #77 closed, assigned to nobody

[2021-01-19 23:05] matthewoestreich commented on #76
@akash550 apologies - would you mind upgrading to 2.3.9? It is fixed in that version. Sorry about that.

[2021-01-19 23:05] #76 closed, assigned to nobody

[2021-01-20 13:43] matthew-kusz commented on #77
Thanks for the fix!

[2021-01-20 14:59] cbaker commented on #59
@oze4 Actually might not be a good idea as they want to charge a very large license fee for the same features you get for free from material-table.

[2021-01-20 15:03] andiries opened #78 "onQueryChange with remote data feature rerenders whole table"
Hey guys,
I already asked the following question in the material-table repository, but as you know it has become very quiet over there.

I am using the remote data feature of material-table-core and want the table data be updated on a regular interval like every 2 seconds.

For that i use the useEffect() hook which calls onQueryChange() on a tableRef.
See https://codesandbox.io/s/material-table-fl

[2021-01-20 17:18] klassm opened #79 "Tree view rerenders when editing a value, resetting the expanded rows when expanding after having searched something"
Not sure whether this is a known issue - I also tried to fix it already but it does not seam trivial:

- Let's start by some tree data.
- We search something, so that we find a value that has an editable child
- We open the row and edit a value
- Now the table rerenders and the collapse state resets to the state when the search was issued, so the child we just edited is collapsed again.

I saw thi

[2021-01-20 17:19] klassm commented on #79
Maybe this is also related to https://github.com/material-table-core/core/issues/59 ?

[2021-01-20 18:46] cbaker commented on #66
Externally getting the ref then doing something along the line of the following example appears to remedy the problem?
[code]
https://codesandbox.io/s/pedantic-rubin-ywvk6
@oze4

I haven't had too much time to peek through the source code, I have made a fork and will look sometime later in the week though.

[2021-01-20 21:06] matthewoestreich commented on #66
Looks good to me. @cbaker

May want to make this a "util" or "helper" func? We have plans to do away with dataManager and introduce Context API.

[2021-01-20 21:11] matthewoestreich commented on #78
Hey @andiries the way we are currently handling state needs to be improved upon greatly.  It seems as though we have the typical case of "left hand not knowing what the right hand is doing".  Making one minor tweak to state here, causes issues over there, etc..

Truth be told, I'm at a crossroads of what to do with this project. Fix issues like this? Ignore them and refactor appropriately? Abandon

[2021-01-20 21:13] matthewoestreich commented on #59
@cbaker Yea I noticed that (makes sense why he recommended we stop working on this project).

Truth is, this project is at a crossroad. It needs a refactor. It has a lot of issues that need to be fixed. Do we just ignore all of these issues and refactor? or do we spend time bandaiding a codebase that needs a great amount of attention?

[2021-01-21 02:08] cbaker commented on #66
@oze4 the dataManager is a util that just formats data for the state, it doesn't actually hold state or attempt to, but yea the ctx api could be legit.

[2021-01-21 02:22] cbaker commented on #59
@oze4 I say we just dump it all and refactor around the current API.

[2021-01-21 02:23] matthewoestreich commented on #66
@cbaker I get that. But there are better, more obvious ways to write code.

If you [have a component](https://github.com/material-table-core/core/tree/master/src/components/MTableFilterRow) that needs [utils](https://github.com/material-table-core/core/blob/master/src/components/MTableFilterRow/utils.js), there are better ways to structure it. If it's something you can use globally, why not use a

[2021-01-21 02:24] cbaker commented on #66
@oze4 I'm not disagreeing with you at all, I was just stating what I saw in my quick peek this morning trying to find a workaround to get something working in production.

[2021-01-21 02:28] matthewoestreich commented on #59
What about those that open issues? Tell them too bad? Wait for the refactor?

This project has good concepts just not good design imo.

[2021-01-21 02:34] cbaker commented on #59
@oze4 Try hard to provide them with workarounds like the one I just provided in this thread. I must stress though that the refactor must maintain current usage so that it can be drop-in. The real professional way to handle it would be to start another "alpha" branch for the refactor and only fix breaking / major bugs in the current release then do a major release.

[2021-01-21 02:40] matthewoestreich commented on #59
@cbaker I'm down.

[2021-01-21 07:57] andiries commented on #78
Hey @oze4 thanks for your quick reply. I totally understand your point.
I have to decide if I want to use material-table in our environment. With the fact that @mbrn is somehow not available I guess I have to move forward to DataGrid or maybe react-table.

Anyway, Thanks for your efforts

[2021-01-21 07:57] #78 closed, assigned to nobody

[2021-01-21 09:18] masbaehr commented on #75
Here is an example. Sorry for the delay, had to remove a lot of unneeded code ;)
Also i think i found out why it happens. It happens when defaultGroupOrder is used, and one of the data-sets does not have a value for the field in question.

[code]

[2021-01-21 17:17] matthew-kusz commented on #45
@oze4 Is jspdf required to export to csv?

[2021-01-21 18:58] matthewoestreich commented on #45
It is not (at least to my knowledge). Are you using exporters?

[2021-01-21 20:16] matthew-kusz commented on #45
Yes, would I need to create my own to avoid jspdf? I'm assuming importing exporters is why it is needed.

[2021-01-21 20:30] matthewoestreich commented on #45
I can clean up exporters tonight, so that when you use CSV you don't need jspdf.

Thanks for pointing this out! @matthew-kusz

[2021-01-21 20:41] matthew-kusz commented on #45
Awesome, thanks for the quick response!

[2021-01-21 22:48] matthewoestreich commented on #45
@matthew-kusz would you mind trying the newest release to see if it's still an issue?

[2021-01-22 04:37] matthewoestreich commented on #79
I think our plan is to just refactor from the ground up using a new API.

[2021-01-22 07:02] dinesh-techahead opened #80 "onBulkUpdate not working properly"
onBulkUpdate: changes =>
            new Promise((resolve, reject) => {
                setTimeout(() => {
                    console.log(changes);

                    resolve();
                }, 1000);
            }),

when we using bulk upload. In material-table we get only those rows which are changed rows but in material-table-core we are getting all rows.

![screenshot-nimbus-capture-2021

[2021-01-22 14:36] matthew-kusz commented on #45
Updated to version 2.3.18 and it looks like jspdf is still being included in the build despite only using `ExportCSV`.

[2021-01-22 14:38] masbaehr commented on #45
And if you remove csv export ? also try deleting node_modules and lock file. I had some strange issues in the past which were solved by a proper new npm install

[2021-01-22 15:12] matthew-kusz commented on #45
If I remove the csv export it works fine. Deleting node_modules and the lock file did not solve the problem.

[2021-01-22 16:10] cbaker commented on #59
@oze4 get it organized, ill pitch in.

[2021-01-22 17:06] matthewoestreich commented on #80
@Domino987 is that what you were referring to? Or do you know what may be the cause?

[2021-01-22 17:27] matthewoestreich commented on #45
@matthew-kusz I made some changes and published a new version (2.3.19).

Would you mind doing the following:

 - Update to latest version
 - Change import to: `import ExportCsv from '@material-table/core/exporters/csv';`

Please let me know if that solves this for you.

[2021-01-22 17:35] matthewoestreich commented on #73
Do you have a reference to these conventions? I'd like to get this resolved!

[2021-01-22 17:56] Domino987 commented on #73
This is caused by the function component conversion.

So this is how it gets fixed:

1. Remove the export default from all components.
2. Add a default export with forwardRef.
3. Pass the forwared ref to the first child in the return.
[code]
[code]

I added a PR (#82), but Ineed help to get it done for all components.

[2021-01-22 18:06] #80 closed, assigned to nobody

[2021-01-22 18:32] matthewoestreich commented on #73
Thank you! I'll help out with this. Completely slipped my mind what OP was referring to.

[2021-01-22 18:39] matthew-kusz commented on #45
I no longer am having problems with jspdf it seems, but now I've been met with this:
[code]
The main reason I hoped to avoid jspdf was from it preventing us from creating a production build. But now it's csv.js that's causing it. I could not include exporting the data to a csv, or create my own way to do it, but the build-in functionality was exactly what I needed. I remember not having problems w

[2021-01-22 18:42] matthewoestreich commented on #45
Let me make one more change. It's odd bc it's working on my end. We are in the midst of a refactor to functional components. You also had jspdf included in your bundle before, even if you weren't using the export feature whatsoever.

[2021-01-22 22:00] georgejdli opened #84 "console.log("rendering cell....")"
# Guidelines
Is there a way to turn these console message off?

- #### Please include a demo of the issue/behavior/question you have
![image](https://user-images.githubusercontent.com/9357792/105553466-11b31e80-5ccb-11eb-8c71-025775bd9daa.png)

- Browser console is getting spammed with "rendering cell..." messages
-

[2021-01-22 22:03] matthewoestreich commented on #84
Sorry this was just resolved in v2.3.20. Apologies.

[2021-01-22 22:03] #84 closed, assigned to nobody

[2021-01-22 22:04] matthewoestreich commented on #45
@matthew-kusz would you mind checking v2.3.20 please?

[2021-01-23 01:56] matthewoestreich commented on #45
@matthew-kusz I tested this and everything worked as expected. JSPDF is not shown in my bundle now.

<img width="1675" alt="nojspdf" src="https://user-images.githubusercontent.com/21092343/105565354-f573a980-5ceb-11eb-91f2-188048e52e87.png">

[2021-01-25 07:21] peacechen commented on #25
This is a valuable feature to incorporate. It could have issues with large data sets (see above). Those cases would require back end support, so users would need to roll their own file download solution.

Some notes on improving the PR:

- `remoteDataGetter` is a new prop that would need to be added to the documentation.
- The prop passed internally to material-table should be created outside of t

[2021-01-25 07:40] matthewoestreich commented on #25
The way data is exported has changed. We now use the [exportMenu](https://material-table-core.com/docs/api/props/options#exportmenu).

I am not sure if we are still only exporting visible data, but I think by default we should export all data by default, and the consumer should have to specify if they want just the current page exported.

We can add it as a field on the object that gets passed..

[2021-01-25 07:43] matthewoestreich commented on #25
Keep in mind, this would be considered a "feature" and we are currently not adding features. We are trying to get everything refactored into functional components, add support for the newest version of material-ui, as well as resolve structural issues within this code base, before adding anything new.

[2021-01-25 13:39] matthew-kusz commented on #45
I updated and I am still receiving the same error in the last comment I made.

[2021-01-25 14:04] matthewoestreich commented on #45
@matthew-kusz I am not able to reproduce the issue you are having. How are you bundling your app? The issue appears to be related to your setup, no?

Have you deleted `node_modules` and ran `npm install` again?

[2021-01-25 14:23] matthewoestreich commented on #45
@matthew-kusz I made another change... would you mind testing v2.3.22?

[2021-01-25 14:39] peacechen commented on #25
It looks like exportMenu only works on local data. This PR is to export remote data. When material-table is used in remote data mode, the client doesn't have the full set of data available to export.

[2021-01-25 14:54] matthewoestreich commented on #25
Right now it only works on local data, that is correct, but we are changing that...

Part of the issue with this code base is props everywhere. The last thing we need to do is add another prop. There are ways we can handle remote data and local data via an API that is more intuitive.

[2021-01-25 15:25] peacechen commented on #25
Is there a discussion or issue we can link to here? Should this issue be closed?

[2021-01-25 16:27] matthew-kusz commented on #45
Tested it on 2.3.22 and it works, thanks for your help!

[2021-01-25 17:19] aventide opened #85 "Overridden search component loses focus upon table rerender"
When using an overridden `Search` component to replace the built-in search bar, focus is lost when the parent table component re-renders due to a data change.

When you use the built-in search functionality, i.e. options: {search: true}, then you can focus and type in the bar, through rerenders. In my case, I have polling going on. If you then do options: {search: false} and then insert your own i

[2021-01-25 19:07] matthewoestreich commented on #25
We can keep it open, as well as add a discussion - whichever you prefer.

I think starting a wiki or something for proposed changes is a good idea.

I have also tagged this issue accordingly.

[2021-01-25 19:10] matthewoestreich commented on #25
@bva @peacechen technically, you could accomplish this right now ~~(just a little hacky)~~ actually, I don't think this is hacky at all.. I think this is how it should be handled...

[code]

[2021-01-25 19:21] #25 closed, assigned to bva, peacechen, matthewoestreich

[2021-01-25 20:03] matthewoestreich opened #88 "PLEASE READ ME BEFORE OPENING AN ISSUE!!!"
Please review the [Roadmap](https://github.com/material-table-core/core/wiki/Roadmap) before submitting an issue/PR.

[2021-01-28 14:32] johnthagen opened #89 "Typescript error trying to import exporters"
# Guidelines

**Describe the bug**

Unable to import `exporters` when following the instructions on the docs: https://material-table-core.com/docs/api/props/options#exportmenu

**To Reproduce**

[code]

Problem:

[code]

**Expected behavior**

Be able to import the exporters.

**Add any other context about the problem here.**

`package.json`:

[code]

Typescript 3.9.7

[2021-01-28 22:23] matthewoestreich commented on #89
Can you try this instead?

[code]

[2021-01-29 00:02] matthewoestreich commented on #89
@johnthagen I went ahead and added proper types for exporters.

https://github.com/material-table-core/core/blob/06d6b0bed2b6c7568918764df41fb6a1c94c73e3/types/index.d.ts#L6-L18

Can you try `v2.3.24`, please?

[2021-01-29 00:11] matthewoestreich commented on #85
I believe this is related to a known issue. We are working on separating the actual table body state from the header, in order to prevent rerenders like this.

This one is a work in progress.

[2021-01-29 12:06] VladLegkowski commented on #55
Hi guys,

I am seeing these issues with MUI5 and ` material-table-core/core`.

[code]

Package.json

[code]

[2021-01-29 12:16] johnthagen commented on #89
I installed `v2.3.24`.

[code]

Error:

[code]

And I also retried the original:

[code]

[code]

[2021-01-29 12:18] johnthagen commented on #89
Is there a separate `@types/` dependency I need to add to `package.json` in addition to `@material-table/core`?

[2021-01-29 13:21] vmihalachi commented on #55
@VladLegkowski looks like we will have an alpha version of the library that will support mui 5.

In the meantime you can go as far as version 5.0.11 of mui, because there are no breaking changes until then

[2021-01-30 02:15] matthewoestreich commented on #89
I added the types to the existing `index.d.ts` as shown above, but I suppose that doesn't work. I went ahead and just created a separate repo for this, [`@material-table/exporters`](https://github.com/material-table-core/exporters).

Would you mind trying that package?

Install: `npm i @material-table/exporters`

Usage:

[code]

[2021-01-31 17:30] pbogaard opened #90 "Bug in MTableCell/utils.js, "React" -> "_react["default"]"
Hi there!

Version: "@material-table/core": "^2.3.24",

In "node_modules/@material-table/core/dist/components/MTableCell/utils.js" there is a bug.

At line 109 and 113 there is:

`/*#__PURE__*/ React.createElement(props.icons.Check, {`

This should be:

`/*#__PURE__*/_react["default"].createElement(props.icons.Check, {`

And ofcouree import "_react" at the top:

`var _react = _interopRequireDefaul

[2021-01-31 19:15] MaxiDave commented on #90
Hello! I can confirm this bug. It is solved by changing the code as @pbogaard said.

[2021-01-31 23:26] Mohron opened #91 "Column cellStyle function TS type incorrect"
TS Type: https://github.com/material-table-core/core/blob/06d6b0bed2b6c7568918764df41fb6a1c94c73e3/types/index.d.ts#L161

Implementation: https://github.com/material-table-core/core/blob/06d6b0bed2b6c7568918764df41fb6a1c94c73e3/src/components/MTableCell/utils.js#L64

Data is a single value from `RowData` and not all `RowData` as the type says. Not sure how to type it correctly since the type depen

[2021-02-01 12:20] VladLegkowski commented on #55
Ah, I already did this migration in my codebase - https://next.material-ui.com/guides/migration-v4/.

I will need to roll back a lot of stuff to make it compatible. @vmihalachi, I know I don't deserve even to ask this question, because I can only imagine how hard it is to maintain OS package like this, but you have any idea when you will have the `alpha` version?

Thank you.

[2021-02-01 12:23] johnthagen commented on #89
@oze4 The import now works using `"@material-table/exporters": "^1.0.3"`.

There is now a type checking issue when setting the `exportButton`:

[code]

[code]

`Message` is just a simple `interface` that has some `string` and `number` fields.

[2021-02-01 23:02] matthewoestreich commented on #91
@Domino987 thoughts on this?

[2021-02-01 23:02] matthewoestreich commented on #90
Hey thank you for this! v2.3.25 has been published with a fix for this.

[2021-02-01 23:06] matthewoestreich commented on #89
That is because the prop name is [`exportMenu`](https://material-table-core.com/docs/api/props/options#exportmenu) not `exportButton`.

[2021-02-02 00:18] matthewoestreich commented on #89
@johnthagen I will wait to hear from you before closing, but this *should* be resolved. I'm not a TS expert, so if you have any suggestions, I'm all ears. 👍

Apologies about the confusing prop names. We hope to clear up confusion, such as this, via a new API in v3 (`exportMenu` should have been part of v3, but I got ahead of myself).

[2021-02-02 00:21] matthewoestreich commented on #89
Actually, just to keep it organized... I'm going to close this as [we can continue the convo here](https://github.com/material-table-core/exporters/issues/1) if any issues persist. If not, just let me know, and I'll close that one out as well.

Thanks again!!

[2021-02-02 02:14] Mohron commented on #91
Personally, I'd rather have the first parameter be the render value, which should always be a string, since you can get the raw value from the second parameter anyways.

Though that would be another breaking change.

[2021-02-02 09:03] Domino987 commented on #91
I will look into it 🙂

[2021-02-02 09:59] pbogaard commented on #90
@oze4 Matt what is the difference between `var _react = _interopRequireDefault(require("react"));` and importing React like normal?

[2021-02-02 10:01] matthewoestreich commented on #90
I'm not sure I follow.

The code you are referencing is transpiled code (via Babel).

[2021-02-02 13:08] johnthagen commented on #89
@oze4 Thanks, using `exportMenu` properly gets the compile error to fix (I must have accidentally looked at the original `material-table` docs at one point).

Unfortunately, now when I try to actually export the CSV or PDF at runtime, I get this error:

[code]

[2021-02-02 14:03] MaxiDave commented on #90
Hello again,

Thank you, @oze4! Unfortunately, this new version crashes for me. I did a downgrade to the v2.3.24 with @pbogaard proposed fix, and the tables work perfectly. Attached is the error message I am getting with the newest version.

![bug_material_table](https://user-images.githubusercontent.com/26763246/106610985-b5bc8580-6567-11eb-811c-f14ba859dabb.png)

[2021-02-02 16:47] matthewoestreich commented on #90
It looks like this error us unrelated to this issue, but still needs to be resolved. I'll look into it ASAP.

[2021-02-02 16:50] matthewoestreich commented on #89
Reopened issue. I know there were other changes made. I'm not too sure why this is happening. Any suggestions?

[2021-02-02 17:58] johnthagen commented on #89
I'm not sure either. It seems bizarre to me because as far as I can tell, `exportFunc` is an arrow function. Maybe it's something about how `ExportCsv` is defined?

[2021-02-02 18:44] MaxiDave commented on #90
I thought it was related, my fault. I should have opened a new issue.
Thank you very much for your hard work @oze4!

[2021-02-02 23:38] matthewoestreich commented on #90
@MaxiDave I think I found the issue.

I published [v2.3.26](https://www.npmjs.com/package/@material-table/core/v/2.3.26). Would you mind testing with this version? If you still have issues try deleting node_modules then run `npm install` again.

[2021-02-02 23:40] matthewoestreich commented on #89
@johnthagen just to make sure this isn't related to an issue I just fixed, would you mind giving [v2.3.26](https://www.npmjs.com/package/@material-table/core/v/2.3.26) a shot?

If that does not resolve your issue, would you mind creating a fresh repo with a minimal reproducible example? This way we are on the same page and can test/work towards a fix together.

[2021-02-03 11:35] MaxiDave commented on #90
Solved! Thank you @oze4.

[2021-02-03 13:10] matthewoestreich commented on #90
@pbogaard did this also resolve your issue?

[2021-02-03 13:29] johnthagen commented on #89
@oze4 `2.3.26` did not solve the issue. I will try to put together a minimal reproducible example.

[2021-02-03 14:19] johnthagen opened #92 "Broken rendering in online docs"
https://material-table-core.com/docs/api/props/options#exportmenu

<img width="850" alt="Screen Shot 2021-02-03 at 9 19 31 AM" src="https://user-images.githubusercontent.com/10340167/106759606-f3212180-6600-11eb-86e7-9496a2f2e739.png">

See the `::: info` line.

[2021-02-03 14:30] johnthagen commented on #89
@oze4 I was able to reproduce on a minimal project. Please see this project: https://github.com/johnthagen/material-table-test

[code]

Open browser, try to export the table in CSV or PDF.

[2021-02-03 17:00] pbogaard commented on #90
@oze4 yes resolved 👍

[2021-02-03 20:31] Domino987 commented on #91
@Mohron Can you verify that that works for you? Should not correctly display the types.

[2021-02-03 21:28] matthewoestreich commented on #92
Thank you very much! This has been resolved.

[2021-02-03 21:28] #92 closed, assigned to matthewoestreich

[2021-02-03 21:36] matthewoestreich commented on #90
🚀 🚀 🚀

[2021-02-03 21:36] #90 closed, assigned to matthewoestreich

[2021-02-03 21:40] matthewoestreich commented on #89
@johnthagen sweet! Thank you very much. Let's get this bug squashed 😆

I will dig into your POC later this evening.

[2021-02-03 22:33] matthewoestreich commented on #89
Hey @johnthagen I was able to get this resolved.

I went ahead and sent a [pull request](https://github.com/johnthagen/material-table-test/pull/1) to the POC (all I did was update `@material-table/exporters` to v1.0.4).

I tested these changes in the POC and everything worked for me (note: I was getting the error at first, just like you were, but the patch I applied resolved it).

🚀 🚀 🚀

[2021-02-04 01:59] Mohron opened #94 "Action icons not rendering in a row"
After upgrading from `2.3.24` to `2.3.26`, I've started having a rending issue with action icons both in the toolbar and in the rows.

The addition of an additional `div` to the markup seems to be the culprit.

# Screenshots
![image](https://user-images.githubusercontent.com/3623122/106830860-e205fe00-665c-11eb-867b-c3747ddc4764.png)
![image](https://user-images.githubusercontent.com/3623122/10683

[2021-02-04 02:21] Mohron commented on #91
Is `value` really guaranteed to be a `string`? I have both `numbers` and `objects` in my `RowData` types.

[2021-02-04 11:08] zhushenhang opened #95 "How to display the sort icon by default"
https://material-table.com/#/docs/features/sorting

The current sorting icon is hidden by default and needs to be activated to see it.
How to make it show by default.

thanks bro.

[2021-02-04 12:28] johnthagen commented on #89
Everything working with `@material-table/exporters` `1.0.4`. Thanks!

https://github.com/material-table-core/exporters/commit/cd8b4048224b9396fd19663f89f0cbc824a4105e

[2021-02-04 12:28] #89 closed, assigned to matthewoestreich

[2021-02-04 16:21] paintier commented on #73
#82 fixes the issue. thx for your support.

[2021-02-04 16:21] #73 closed, assigned to nobody

[2021-02-04 21:32] matthewoestreich commented on #95
Needs to be hovered to see it**

@Domino987 what do you think? I kind of like this idea of not having to hover the column header to see you can sort it.

Edit: by default, it should be shown, and the consumer should have the option to only show on hover - is what I mean.

[2021-02-04 21:36] matthewoestreich commented on #94
Thank you for this!

Is the issue that they're supposed to be inline?

[2021-02-04 22:09] Mohron commented on #94
They were before I tried updating and that would be my expectation. This even occurs when there is plenty of available horizontal space.

[2021-02-04 22:20] matthewoestreich commented on #94
Makes sense. The only thing we changed was wrapping all components in 'forwardRef'. I can dig more into this in a couple of hours.

[2021-02-04 22:37] Mohron commented on #94
Here's a copy of the [Multiple Actions Example](https://material-table.com/#/docs/features/actions) from the original docs with the latest version of the fork installed. The icons don't render inline as seen in my screenshots

https://repl.it/@Mohron/MaterialTableActionIconBug

[2021-02-05 01:46] zhushenhang commented on #95
@oze4 right.
I think this icon should be configurable to show or hide.
like  ``` options:{sortIcon : "show" } ```

[2021-02-05 02:47] matthewoestreich commented on #95
I like the idea but think it would be good to put this prop on the columns object. Like `showSortIconOnHover: false`. Something like that so it's named descriptively (there are a lot of props so while it is long, naming props in a succinct manner goes a long way). I also prefer to keep the prop as a boolean, this way it is easier to use (don't have to remember if that prop value is supposed to be

[2021-02-05 03:51] zhushenhang commented on #95
Your idea is better, it is easier to configure independently on the column object.

[2021-02-05 11:58] Domino987 commented on #91
Now that you mention it, no they are not always strings. That's difficult to type.

Can you try these types?
[code]

[2021-02-05 13:33] eric-draperi opened #96 "Missing colSpan in MTableCell to support MTableGroupRow"
# Guidelines

I have a small problem when activating the grouping feature. The grouping cell does not take into account the "colSpan" property.

Screenshoot bellow

![image](https://user-images.githubusercontent.com/40832422/107038455-d7627a80-67bc-11eb-8d67-1c691a261b85.png)

The colSpan is provided by the MTableGroupRow to the MTableCell component but not used in the MTableCell component.

Propo

[2021-02-05 15:21] Mohron commented on #91
I still have to `@ts-ignore`. I tried giving Column a second generic parameter of `Field extends keyof RowData` and carrying it through to the relevant types. But I can't seem to get that working exactly right either. Right now I'd be better of just ignoring the first parameter if I wanted to avoid the type issue.

[2021-02-11 08:35] masbaehr commented on #55
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^17.0.1" from @material-table/core@2.3.26

Happened again with an older project i wanted to upgrade to table/core
I think react 16 should still be supported until MUI v5 is final, as react 17 is not supported by MUI v4

[2021-02-12 03:23] DewangS opened #97 "Table doesn't refresh upon external CRUD events"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

As I just had to revert my code and fall back to the TABLE from material-ui, I don't have the actual code but can explain in detail what happened and what is expected

- #### Please try to be as detailed as possible

So, here I have a Dialog form which pops-up when user clicks a button to add notes\remarks. The for

[2021-02-14 10:40] Domino987 commented on #91
I will but it to any I think and maybe we will be able to get a fix for that later.

[2021-02-14 10:40] #91 closed, assigned to matthewoestreich

[2021-02-14 10:55] Domino987 commented on #95
The problem is, that you cannot find which column is currently being sorted.
![image](https://user-images.githubusercontent.com/17567991/107874694-8721a180-6ebb-11eb-9f75-56ff52748455.png)
How would you propose to show the currently sorted column?

[2021-02-14 11:01] Domino987 commented on #97
Thank you for the detailed bug report. Can you put that in a sandbox so we can check it out?

[2021-02-14 22:40] DewangS commented on #97
Thanks @Domino987 . I tried to add code to the sandbox but the page hangs for some odd reason so, here is the code sample ... Now, this is NOT the EXACT code which I have but it does mimic the scenario which I described. i.e. upon user clicking the ADD button, I want a new JSON element added to the DATA and expect this to show up in the table.

[code]

[2021-02-14 22:50] Domino987 commented on #97
This has noting to do with the package, but how you update the hook data.
Never mutate the data but instead create a new array.
Here is a more [detailed SO anwser](https://stackoverflow.com/a/59503022/11599909)

[2021-02-14 22:50] #97 closed, assigned to Domino987

[2021-02-14 22:52] DewangS commented on #97
https://codesandbox.io/s/material-table-starter-template-xnfpo?file=/src/index.js

[2021-02-14 22:54] Domino987 commented on #97
There is no edit in this sandbox?

[2021-02-14 22:59] DewangS commented on #97
@Domino987  Thanks for the SO thread though if you look at my code, I am using the setData() method to update the data NOT directly pushing any value in the data element. Also, the SO thread refers to the onRowAdd, onRowUpdate methods which uses promises and they are part of the MaterialTable's internal event triggers i.e. you will end up having ADD, UPDATE, DELETE buttons on the header or at a ro

[2021-02-14 23:00] DewangS commented on #97
sorry forgot to save the file before sending the link.. just saved it now..

[2021-02-14 23:05] Domino987 commented on #97
This looks al lot like mutating. And it does not matter where you call it. If its in a custom function or a callback. Don't mutate the data.

The link is still empty.

[2021-02-14 23:19] DewangS commented on #97
Not sure why the link is still empty https://codesandbox.io/s/material-table-starter-template-forked-wony3?file=/src/index.js

Ok, so, based on your suggestion I've updated the addRemark() as per below and now I am able to see the new record every time I hit the ADD button. Thanks very much for pointing out the basics of React as I am fairly new to React. I'll close this as it's not a bug. Thanks

[2021-02-14 23:24] Domino987 commented on #97
No problem :) glad I could help.
I think sandbox creates a new link on save, that's why it was still the old one.

[2021-02-16 05:30] gulamhussain08 commented on #94
Yes @oze4. Previous to [this](https://github.com/material-table-core/core/commit/d5d2dd094ee4aaab293a43abbd21bcfac0a12afb) commit, MTableActions used to return an array of actions. Now it's returning a div. Adding `display:flex` to that div wil fix the problem.

[2021-02-17 17:28] aescobar95 commented on #63
Hi everyone.
Exist any solution for this issue?

[2021-02-18 11:11] alphakex2 opened #101 "Missing export button"
The export button is missing, How do I enable it?

[2021-02-19 01:46] zhushenhang commented on #95
@Domino987 Hi.How about the color distinction?

[2021-02-19 03:11] matthewoestreich commented on #95
@Domino987 we could also put this prop on the columns object. (one of the objects that is part of the `columns` array prop)

[2021-02-20 21:03] DewangS commented on #101
I am having same problem unless they have changed the settings. Could someone please help? I've below MT definition in my code

[code]

[2021-02-20 21:22] matthewoestreich commented on #101
@alphakex2 @DewangS

The way exporting is handled has changed. Please see [here](https://material-table-core.com/docs/breaking-changes#exporting) and [here](https://material-table-core.com/demos/export/basic) for more info.

[2021-02-20 21:24] DewangS commented on #101
ok, just found out that they have removed the default export feature from the original material table due to some bloating jspdf changes though following their advise I've installed the @material-table/exporters package and added below code.. still can't see any EXPORT button. This is very important feature for me as I am creating reports and the data needs to be exported as PDFs. Guys please help

[2021-02-20 21:26] matthewoestreich commented on #101
Considering you appear to be the only one having an issue with this, would you mind creating a reproducible demo? Via StackBlitz or CodeSandbox.

Are you getting any errors?

[2021-02-20 21:33] DewangS commented on #101
@oze4  No I am not getting any errors. In terms of the code, I guess that's what all I have for the MaterialTable definition. Rest of the code is just the column definition and API call during the page load via useEffect(). the API call just populates the reportData[] JSON array straight from the API response without any transformations etc. I can see all the data etc so, there no other issue nor

[2021-02-20 21:35] matthewoestreich commented on #101
Can you please use something like StackBlitz or CodeSandbox? It's just a million times easier. If you need API calls, you can use something like [JSON placeholder](https://jsonplaceholder.typicode.com/), which gives you fake data to use while still reproducing actually making API calls.

I also went ahead and created a Live Demo on the website, which is working.

https://material-table-core.com/de

[2021-02-20 21:44] DewangS commented on #101
ok, that's really interesting .. my code is identical to yours and I can see the button on your live demo. Let me see if I can add some code to codesandbox. will get back to ASAP. Thanks for your prompt help. Much appreciated.

[2021-02-20 21:57] matthewoestreich commented on #101
What version are you on? Possibly an issue with the version? Let me verify the version that's being used on the website.

[2021-02-20 22:03] matthewoestreich commented on #101
Yea the website is on 2.3.4 (currently at 2.3.26 I believe). So it's behind. Let me update it and see if we have the same issue.

[2021-02-20 22:07] DewangS commented on #101
ok, here is the codesandbox link. Apparently it's working on codesandbox (please ignore the missing icon). It's really odd.. Not sure what's wrong with my environment

[https://codesandbox.io/s/elegant-lalande-3teq8?file=/src/App.js](https://codesandbox.io/s/elegant-lalande-3teq8?file=/src/App.js )

Package versions from my package.json are as pwe below ...

[code]

[2021-02-20 22:12] matthewoestreich commented on #101
Try upgrading to 2.3.26. I just upgraded the website and it's working.

That is weird, though. Because the sandbox is working for me...

<img width="1028" alt="1" src="https://user-images.githubusercontent.com/21092343/108609851-67e0b380-7396-11eb-80ff-579f2b8883e1.png">

<img width="1029" alt="2" src="https://user-images.githubusercontent.com/21092343/108609858-6d3dfe00-7396-11eb-9f41-12d182f9403

[2021-02-20 22:14] DewangS commented on #101
ok @oze4 will do and let you know if the problem persists.

[2021-02-20 22:20] DewangS commented on #101
@oze4 Bingo....!!! I can see the EXPORT icon\button after I upgraded @material-table/core to ^2.3.26. Thanks very much for all your help. You are a life saver 👍

[2021-02-20 23:11] matthewoestreich commented on #101
Cheers!

[2021-02-20 23:44] DewangS opened #102 "Unable to export all data as PDF or CSV"
**Describe the bug**
ok, while now I can at least see the export button and can export the data as PDF or CSV, clicking this button ONLY exports visible data from the browser. If I change the ExportPdf() function by supplying it with an array of all of my data, I get a report with blanks i.e. not data gets exported..just column headers and several pages of blank rows underneath.

For CSV, If I inc

[2021-02-20 23:45] matthewoestreich commented on #101
I'm not sure I follow. Would you mind editing the SandBox?

[2021-02-20 23:47] #101 closed, assigned to nobody

[2021-02-20 23:47] matthewoestreich commented on #102
I'm not sure I follow. Would you mind creating a sandbox?

Edit: didn't see the sandbox at first. Looking at it now.

[2021-02-20 23:48] DewangS commented on #101
first of apologies for the confusion as I should have opened a new bug as this is unrelated to the original button issue. Please close this as I've created a new bug for a better visibility and management.

Sanbox link is added to the new bug report. If you can't reproduce please let me know as I could manage to see same errors on codesandbox as well

[2021-02-21 00:01] matthewoestreich commented on #102
This is expected behavior. The `ExportPdf` function only exists to help you out. It just serves as the default export method for Pdf/Csv. It's the exact code that exists in `material-table`. It's only there to do one thing.

You'll have to write your own `ExportPdf/Csv` method if you want to handle how (or which) data gets exported.

Something like...

https://codesandbox.io/s/solitary-monad-820vc

[2021-02-21 00:50] DewangS commented on #102
Fair enough though it doesn't make sense as it can traverse through max 20 rows but can't exceed to all rows? I actually started using MT for my tabular reporting as getting data aligned in react-pdf to generate decent looking reports with the company logo and header\footer etc was getting way too complicated. Thought as least MT will be more appealing and also allows export as PDF (even without t

[2021-02-21 00:58] matthewoestreich commented on #102
I agree. I believe there is a separate issue for that problem. Although, if you have your data in state, you could just do this:

[code]

Again, you can do whatever you want there.

Edit: Your data doesn't even have to be in state...

[code]

[2021-02-21 01:02] matthewoestreich commented on #102
I believe we *should* pass all data by default, but this is tricky. What if someone is using remote data? Etc...

The idea behind providing an array of export objects (ie: `{ label: "foo", exportFunc: (col, data) => {} }`) is so that you can have freedom to do whatever you want. If you just want to use "default" export, like how `material-table` handles it, you can (via the `@material-table/export

[2021-02-21 01:03] matthewoestreich commented on #102
In `@material-table/exporters` there was an issue with logging the error `console.err` vs `console.error`..

I have published v1.0.5, which fixes this.  Would you mind updating your `@material-table/exporters` package and trying again? The error should be more clear now.

[2021-02-21 01:07] DewangS commented on #102
Thanks for the pointers. I have used this exportFunc() custom export CSV though my need is to export as PDF. My data is in state.

[2021-02-21 01:10] matthewoestreich commented on #102
[code]

That is the exact code we use to export to pdf. It's the exact same code in `mbrn/material-table`.  How were you exporting to pdf before?

This...

[code]

That is the same as doing... (there is literally no difference)

[code]

If that doesn't suite your needs, I fail to understand how you were exporting before..

[2021-02-21 01:12] DewangS commented on #102
upgraded exporter to 1.0.5, now getting below error when I try to export all rows by clicking the Export CSV option :(

**error in ExportCsv : TypeError: row.map is not a function**

[2021-02-21 01:20] matthewoestreich commented on #102
So here is the issue with using `reportData` with `ExportCsv`...

It (`ExportCsv`) expects an array of arrays. Aka an array, which each element in that array is itself an array (in this case an array of strings). Each element (array of strings) represents a row of data.

You are supplying an array of objects. That is why we are unable to map.

Top is what we expect, bottom is from `reportData`...

[2021-02-21 01:26] matthewoestreich commented on #102
So, if you do something like this it will work.. (you just need to convert each object into an array of strings, where each string is the value from the key: value...) I know that's kind of confusing, but this example should help..

https://codesandbox.io/s/charming-hooks-kk3gi

[code]

[2021-02-21 01:42] matthewoestreich commented on #102
@DewangS now I understand that is confusing, so I made some changes to `@material-table/exporters`.. You don't have to worry about supplying an array of arrays, etc.. now.

If you update to v1.0.6, all you have to do is this: (I tested this and it worked for me)

https://codesandbox.io/s/charming-hooks-kk3gi?file=/src/App.js (updated)

[code]

[2021-02-21 01:45] matthewoestreich commented on #102
@DewangS actually, use v1.0.7 - I forgot to make the same change for `ExportPdf`... apologies.

[2021-02-21 01:53] DewangS commented on #102
Yay... mate, you are a legend. :)

I used your logic for both i.e. PDF and CSV and now can see all rows... phew..!!!

Thank you so very much for your prompt help. Much appreciated.

[2021-02-21 01:53] #102 closed, assigned to matthewoestreich

[2021-02-21 01:54] matthewoestreich commented on #102
Cheers!

[2021-02-21 02:20] #96 closed, assigned to nobody

[2021-02-21 04:29] DewangS commented on #102
@oze4  I just installed v1.0.7 though got below warnings, do I really need to install these packages?

npm WARN @material-table/core@2.3.26 requires a peer of @date-io/core@^2.10.6 but none is installed. You must install peer dependencies yourself.
npm WARN @material-table/core@2.3.26 requires a peer of @material-ui/core@^4.11.2 but none is installed. You must install peer dependencies yourself.
n

[2021-02-22 11:00] LuisPinaSoares opened #103 "Actions on Toolbar. No way of having a sticky action icon when selection is activated"
- #### Please include a demo of the issue/behavior/question you have
https://codesandbox.io/s/material-table-starter-template-forked-6snxl?file=/src/index.js

**Describe the bug**
I cannot find a way of having an action icon that sticks on the toolbar when i have selection option true. They all disappear or appear on selecting or not rows.

**To Reproduce**
Steps to reproduce the behavior:

1. Go

[2021-02-22 11:25] LuisPinaSoares commented on #103
There is a way to have the intended behaviour, but is a workaround, having 2 actions that do the same but with different position values.
[code]

[2021-02-23 01:39] matthewoestreich commented on #103
I think the idea behind this is - if you have a row selected, why do you need to see the export pdf button? Isn't it more intuitive to have a separate menu for when row(s) are selected? For example, why show a delete button if there is nothing selected to delete?

[2021-02-23 08:41] LuisPinaSoares commented on #103
I understand what you are saying. But what if you have an independent action that is not related with selection, like export all information on the table or some filter activated through the toolbar icon.
Wouldn't it make that a valid case for the sticky button?

Having said this, i understand that you might have an external unrelated button that does this task, but in this specific case, i use th

[2021-02-23 14:27] matthewoestreich commented on #103
I do not think that is a valid case for a sticky button. Why show the export button while a row is selected? It doesn't make any sense to me. @Domino987 thoughts?

[2021-02-23 16:08] LuisPinaSoares commented on #103
OK. Don't think of it as an export, but as a filter button for example.
I can filter stuff on the table, if they are selected or not, does it make more sense this way?

Additional comment. The behaviour I want is achievable without doing nothing to crazy. I think probably is not worth it for you guys to loose time with this one at least for now.

[2021-02-23 17:13] matthewoestreich commented on #103
Right. Same concept. Why would you be concerned about filtering rows when a row is selected? Wouldn't you want the selection menu to appear when you have a row selected? The idea is that the actions available while a row is NOT selected will be different from those when a row IS selected. It's all about context. Like Windows doesn't put your entire start menu in the dialog that pops up when you ri

[2021-02-23 17:32] LuisPinaSoares commented on #103
Agreed.
I Consider the issue closed

[2021-02-23 17:32] #103 closed, assigned to matthewoestreich

[2021-02-25 00:14] DewangS opened #104 "Bulk update behaviour"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

- #### Please try to be as detailed as possible

I have a functional component which uses MT's bulk update feature. Everything works as expected so, no issues there though... What I noticed is, after clicking the 'Edit' (Pencil Icon) button on the top right corner, all editable elements get enabled for the user inp

[2021-02-26 03:24] DewangS commented on #104
So, no one ran in to this issue? I really need some help to decide if I go ahead with bulk update or stay with just cell\row update .. it would be painful for the end user to perform 2 additional clicks per edit..

[2021-02-26 14:10] villuv commented on #55
@oze4 Hi, I'm the author of the MUI5 conversion pull request on original repository. If this PR is any use here I could try to port it over here. Let me know if I could help you here.

[2021-03-03 08:04] #94 closed, assigned to matthewoestreich

[2021-03-05 23:17] peacechen opened #109 "Action buttons with columnsButton option render stacked instead of in a row"
**Describe the bug**

This bug is similar to #94. The difference is that both the `columnsButton` key in the `options` prop and the `actions` prop are specified.
From experimentation on the rendered output, `flex:1` should be added to the parent `<div>` containing the button `<span>`s.

**To Reproduce**

[code]

**Expected behavior**
All toolbar buttons render in a row.

**Screenshots**
<img width

[2021-03-06 09:11] mdpx opened #110 "typing: forcing refresh data not achievable in typescript"
as core's docs is wip, I'm still referring to the mbrn version.

seems you can't do what the [second example here](https://material-table.com/#/docs/features/remote-data) shows when using typescript

![image](https://user-images.githubusercontent.com/31342918/110201159-9bdecd00-7e9c-11eb-928f-7cf26a052b9e.png)

the simple solution is adding a question mark in index.d.ts:
![image](https://user-imag

[2021-03-06 16:39] paintier opened #111 "using a component as title in a column definition can cause massive performance issues"
Hi all,

the [ componentDidUpdate()](https://github.com/material-table-core/core/blob/bc64a602f7d3d571fb1d1689e4da1bb9113c8efb/src/material-table.js#L134) method in `material-table.js` calls `equal` to figure out if the columns definition has changed.

This can lead a big performance issues if the `title` attribute is a component, e.g.
[code]
see also [this bugreport](https://github.com/facebook/r

[2021-03-07 18:09] matthewoestreich commented on #110
Are you using `mbrn/material-table` or `@material-table/core`?

[2021-03-07 18:18] matthewoestreich commented on #111
I think I'm following what you're saying.. but aren't we comparing two JavaScript objects? Not two React components?

Couldn't it cause issues elsewhere skipping the check (if the title is is an Element)?

^^ quote from bug report

Lastly, as the bugreport states, you shouldn't compare `children`, as in `props.children`, using `equal`, which we are not. We are using `equal` to compare two JS objec

[2021-03-07 18:32] matthewoestreich commented on #109
Closing as we have published a fix for this.

[2021-03-07 18:32] #109 closed, assigned to matthewoestreich

[2021-03-07 18:35] matthewoestreich commented on #104
You can most def do this but you have to add the logic yourself. We expose the needed props/etc.. to allow consumers to make this table highly customizable.  If you could provide a sandbox that would be great.

[2021-03-07 21:59] peacechen commented on #109
Edit: Thanks for releasing a new version. The version published to npm is correctly bumped (2.3.28). The release version on Github says 2.3.27
https://github.com/material-table-core/core/releases/tag/v2.3.27

[2021-03-07 22:13] matthewoestreich commented on #109
That's my fault. I'll fix that when I'm back by my computer. It should still work though, the releases on GitHub shouldn't mess with NPM.

[2021-03-07 22:53] DewangS commented on #104
There isn't anything special in my code but here is a cutdown version of the code at [code sandbox](https://codesandbox.io/s/objective-ptolemy-sz884?file=/src/App.js)

steps to re-produce ....

1. Try to click the Bulk Update 'pen' icon on the top right,
2.  Update couple of values on the first page
3. **DON'T** click the check mark or the correct icon on the top right, just hit the next page icon

[2021-03-08 01:24] mdpx commented on #110
core of course

[2021-03-08 07:40] paintier commented on #111
If the "title" Attribute in the columns object is a React component, then it ends up comparing components (and their children).

Please have a look at this [Codepen Example](https://codesandbox.io/s/material-table-starter-template-forked-s2b3v?file=/src/index.js). I added a console.log() statement to show the contents of the `columns` object. Please have a look a `components[0].title`, and try to

[2021-03-08 10:31] Domino987 commented on #95
@zhushenhang If you have a proposition on how to display it, e.g. a color that would work, could you reproduce that in a material-ui sandbox with a [sortlabel](https://material-ui.com/api/table-sort-label/)?

[2021-03-08 10:43] Domino987 commented on #111
@paintier I checked out your codepen and the default time of the equal check is around 0.02587890625ms. Are you sure that this causes the problems? Or can you create an example where the "maximum stack size exceeded" errors is thrown?

[2021-03-08 12:54] paintier commented on #111
It actually happens in my production code which I cannot share here, maybe I'll find a way to extract the problematic part which causes the infinite recursion, but that might take a while

[2021-03-08 16:40] thefat32 commented on #111
fast-deep-equal has a custom implementation for react elements

[code]
It could help in such case, you can also use memos for title objects till this is resolved

[2021-03-08 16:53] Domino987 commented on #104
The changes are not lost, but just hidden. And I just opened a PR to fix this.

[2021-03-08 17:45] bishoym opened #115 "groupTitle prop in options does not return column key"
As per my question on the Gitter channel on [March 7, 2021 3:50 PM](https://gitter.im/material-table/Lobby?at=6044da0e120cd84f78fd55c6), in order to properly override grouping, a column key is required.

The default behaviour of grouping is to display ` > Column Name: Value` but if you attempt to override using the groupTitle prop inside options, the column name is missing.

## Sample of the curre

[2021-03-08 22:42] DewangS commented on #104
@Domino987 That's really odd. I am on v.2.3.26 and can definitely see that changes are not persisted. So, here is what I've observed,

I use Formik for the Form management and my MaterialTable is inside my Formik form. I have two buttons, one to cancel changes and return the user back to the home page and the second button to SUBMIT the Formik form. after updating a few values, when I click the SA

[2021-03-08 22:46] Domino987 commented on #104
Hi, First of all, the PR I added should work for you anyway. But for your code, can you put that in a sandbox so I investigate it running, maybe with dummy data? Why would you put it in formik, if the table is tracking the data for you in the first place? Good you brought it up. I think this might be an error and i would like to get it fixed.

[2021-03-08 22:56] DewangS commented on #104
I will try to add this to the original sandbox code. My sincere apology, I actually realised that I don't use Formik in this functional component. i.e. the below SAVE button actually triggers the earlier mentioned submitForm method. While there would you please verify my onBulkUpdate() and the conditional logic ..**the below 2 lines**.... hope I am doing it right here. Also, just curious, what eve

[2021-03-08 23:08] matthewoestreich commented on #104
@DewangS I apologize, I misunderstood the issue at first but the sandbox cleared it up.  Sorry I was not much help but @Domino987 seems to have this one under control.

[2021-03-08 23:10] #104 closed, assigned to Domino987, matthewoestreich

[2021-03-08 23:15] Domino987 commented on #104
@DewangS to not seeing them. I only opened a PR, so the code is neither merged nor releases. They will be with the next release though. Add the link to the new sandbox once you added the code, hit me up and i will check it out

[2021-03-08 23:21] DewangS commented on #104
here is the updated code, you will see alert with zero every time if you follow my previous steps on how to reproduce... just update a few License Number values [codeSandbox](https://codesandbox.io/s/objective-ptolemy-sz884)

[2021-03-08 23:22] DewangS commented on #104
@oze4 No worries. I can understand that you guys are assisting us as much as you can on top of having your regular work. Much appreciated.

[2021-03-08 23:31] Domino987 commented on #104
Yes as mentioned, the values are not updated in the table itself during edit, but saving will still update the previously entered values. And the new PR, which just got merged will show the correct values on pagination. You still need to save to trigger the onBulkUpdate at the end. Add you do not need the ´setTimeout´ to artificial create a loading spinner btw.

[2021-03-08 23:42] DewangS commented on #104
sorry but how do you manually trigger the onBulkUpdate? is there any way? i.e. say user updates one or more values and directly hit the save button which is a natural reaction on any web form, is there a way to accept the changes by manually triggering the onBulkUpdate?

[2021-03-08 23:51] Domino987 commented on #104
Yes. You need to use the tableRef for that. Here is an example:
[code]

[2021-03-09 00:09] DewangS commented on #104
Perfect! Thanks @Domino987 I just tried this in my sandbox and it worked. Much appreciated.

[2021-03-09 00:16] DewangS commented on #104
ooops.. Houston we have a problem. I was bit to excited to report the success. Just tried other way round i.e. updated a few values though this time around 'ACCEPTED' my changes on each page then hit the 'SAVE' button and and now getting 0 rows updated. I guess I have check both... see below... i.e. the Ref and the applicationList in my submitForm(). Am I right?

[code]

[2021-03-09 00:18] Domino987 commented on #104
Depends on what you need to do, Changes/bulkEditChangedRows contains only changed fields. SO if you need all above 0, you would need to check both yes.

[2021-03-09 03:07] DewangS opened #116 "onCellEditApproved validate doesn't get fire"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

Don't have one on sandbox yet but will add it later

- #### Please try to be as detailed as possible

So, I have a MT with only one editable cell. The cell has a validation which is defined in the column definition as a standard. When I do RowUpdate or BulkUpdate, the validation kicks in and shows an error in RED a

[2021-03-09 10:48] appukuttan-shailesh opened #117 "Problem with hiding columns in Column selector"
I am not sure if `hidden` and `hiddenByColumnsButton` are working as expected.

I need to hide a column (lets say "name" in the below example taken from the [live editor in docs](https://material-table-core.com/demos/columns/hide)) from the table and ALSO the column selector. I imagine I would do the following:

[code]
But I still see the "name" field in the column selector:
![Peek 2021-03-09 11-4

[2021-03-09 17:40] giovannisc opened #118 "Table Not retriving newData when row update and fixed Columns is set."
**Description**
When fixedColumns parameter in options prop is set onRowUpdate not receive newData arguments with the new changes.

You can see the wrong behavior in the link below:
https://codesandbox.io/s/material-table-starter-template-forked-005gz?file=/src/index.js

To reproduce try to update data, click on update action button then update some information, finally confirm operation. After th

[2021-03-09 22:17] DewangS commented on #116
ok, here is a sample code in the [sandbox](https://codesandbox.io/s/objective-ptolemy-sz884). You will notice that during the OnCellEditApproved event, it does validate License number though fails to display the error in the HelperText

Scenarios...

1.  Try Bulk Update by clicking the PEN icon on the top right. When you enter invalid License Number (more than 3000), you will see an error text in

[2021-03-11 17:39] yejiyang commented on #110
@mdpx Any thoughts about this issue? https://github.com/mbrn/material-table/issues/2501 How to type ref on material-table

[2021-03-12 09:05] mdpx commented on #110
the pr will fix it.
to type ref: `createRef<MaterialTableProps<your row data type>>()`, or use `as` like I did

[2021-03-12 20:00] edwardp22 opened #120 "Export button don't appear on using exportButton: true"
I am defining the property `options={{ exportButton: true }}` but the corresponding button don't render on screen. If I import material-table instead of @material-table/core it works fine.

You can see an example here:
[https://codesandbox.io/s/material-table-starter-template-forked-sqo1v?fontsize=14&hidenavigation=1&theme=dark]

- OS: Windows 10 Pro
- Browser Chrome
- Version 89.0.4389.82 (oficia

[2021-03-12 20:55] matthewoestreich commented on #120
Hi! This is because the way exporting is handled has changed. See here for more. https://material-table-core.com/docs/breaking-changes#exporting

[2021-03-12 21:14] matthewoestreich commented on #117
Hi! The way the columns button is handled has changed. See here for more info. https://material-table-core.com/docs/breaking-changes#columns-button

[2021-03-12 21:19] matthewoestreich commented on #115
Hi! Per our guidelines, we require a reproducible sandbox. Would you mind creating one?

[2021-03-12 21:21] matthewoestreich commented on #111
Should we use that in this library? @peacechen @Domino987

[2021-03-12 22:07] peacechen commented on #111
That looks like a great solution 👍

FYI: This project is already using `fast-deep-equal`.
https://github.com/material-table-core/core/blob/bc64a602f7d3d571fb1d1689e4da1bb9113c8efb/src/material-table.js#L12

Should be able to simply change that line to
```import equal from 'fast-deep-equal/react';```

[2021-03-13 11:30] mdpx opened #122 "hooks change in m-table's parent component causes pageSize reset when props has function properties and data is remote"
reproducible example [here](https://codesandbox.io/s/material-tablecore-with-axios-hooks-gvxzp)

when using axios-hooks, only happens when using custom column renderer,
when using the original axios, works fine even with custom renderer.

I assume this has nothing to do with axios-hooks as it works when not using custom renderer.

**To Reproduce**
Steps to reproduce the behavior:

1. click on the

[2021-03-13 17:49] #120 closed, assigned to matthewoestreich

[2021-03-15 00:13] DewangS opened #123 "cellStyle throws exception on new row"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

I've a dynamic cell styling which changes the background and the text color based on the data value of that cell. While it works on the initial table render it throws an error on 'onRawAdd' event. basically it throws an error as the rawData becomes undefined for the new row for some odd reason.

[CodeSandbox sample

[2021-03-16 15:46] Domino987 commented on #111
Yes this looks good. Can we create a PR?

[2021-03-16 19:16] devzeebo opened #124 "Row Font set to inherit overrides theme font"
Continuing the discussion from here:

https://github.com/mbrn/material-table/issues/2080#issuecomment-778761244

[Workaround (as of 2021-03-16)](https://github.com/mbrn/material-table/issues/2080#issuecomment-762074957):

[robin-sf](https://github.com/robin-sf): "My current workaround (to avoid hardcoding) is to import the theme file and use it as so:"
[code]

[2021-03-17 10:11] appukuttan-shailesh commented on #117
@oze4 I had actually read the info on that page before:

https://material-table-core.com/docs/breaking-changes#columns-button gives me two options:
![image](https://user-images.githubusercontent.com/24866517/111447483-c4bd5880-870d-11eb-96aa-5db96de485ca.png)

I wish to use the **first option**, as attempted below. I am not sure if I understand this correct. I am editing the **live editor** on thi

[2021-03-17 15:14] vizardkill opened #125 "Grouping data by column with object as field property"
Given following set of data:

`[
  {
    id: 1,
    word: "word1",
    nested: {
      prop1: "value1",
      prop2: "value2"
    }
  },
  {
    id: 2,
    word: "word2",
    nested: {
      prop1: "value3",
      prop2: "value4"
    }
  },
  {
    id: 3,
    word: "word1",
    nested: {
      prop1: "value1",
      prop2: "value2"
    }
  },
  {
    id: 4,
    word: "word4",
    nested: {
      p

[2021-03-21 05:41] DewangS opened #127 "How to prevent table title changes during onSelectionChange event?"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

don't have any working demo right now on codeSansBox.

- #### Please try to be as detailed as possible
-
If you enable selection on your table, upon clicking the checkbox against each row, you will see the table title changes to reflect total selected rows e.g. **5 row(s) selected Search**

How to prevent this? I d

[2021-03-22 16:01] appukuttan-shailesh commented on #117
@oze4 : Could we reopen this ticket, as it seems to be unresolved?

[2021-03-23 08:04] elpinto007 opened #128 "Column Width is not holding true"
# Column width in Material-Table

- #### Please include a demo of the issue/behavior/question you have
I have tried a few different methods to try to define a column width. I have tried to use cellStyle, as well as headerStyle. Along with width on the column itself. For some reason, my table refuses to take that value. I used the developer tools and I saw that the inline styles add the width, and

[2021-03-23 16:11] gardengeek99 opened #129 "Looking for a fix to https://github.com/mbrn/material-table/pull/2428"
I looked in the current code here and it seems to have diverged.  Does this branch support specifying a function for determining whether a field is editable?  And if yes, is it used?

[2021-03-23 16:45] matthewoestreich commented on #129
Can you please provide where in the code you looked, as well as a Sandbox, per our requirements?

[2021-03-24 12:44] fofederico opened #130 "Can filters value be restored on demand?"
Hello! first of all thank you for continuing to improve this library.

I have a particular question, can actual values of filters be restored from remote data for example?

I am saving the data in database after handle on filter change...

[code]

![image](https://user-images.githubusercontent.com/63760347/112311846-e6c25800-8c84-11eb-9261-235612a6fd19.png)

Then i want "to restore" the actual val

[2021-03-24 17:36] fofederico commented on #130
I am testing this

[code]

It is working but it does unecessary work i think...

Other answers are welcome, but I am going to close this issue so as not to disturb you 😆

[2021-03-24 17:36] #130 closed, assigned to nobody

[2021-03-24 18:54] gardengeek99 commented on #129
I was able to successfully use isCellEditable function to determine whether individual cells are editable.  So, the issue stated in the description has been fixed in material-table-core and I am switching to using this.  Good job all!

[2021-03-24 18:54] #129 closed, assigned to nobody

[2021-03-25 13:29] WesleyKapow commented on #55
Any word on this? Would love to see the `onPageChange` vs `onChangePage` changes get pulled into this.

[2021-03-25 14:08] villuv commented on #55
Nothing either here or in original repo. Meanwhile I bumped my PR to latest alpha, there were no immediately noticable breaking changes.

[2021-03-26 11:16] jothikannan89 opened #131 "How to reset the applied sorting?"
I have sortings enabled for the columns, so users can apply the sorting for the results in the table. For some cases, I want to reset the applied sorting for columns.

Is there any way to reset/remove the applied sortings?

I tried something like
[code]

But this is working for sometime, and sometime not

[2021-03-27 15:30] #110 closed, assigned to matthewoestreich

[2021-03-29 15:19] peacechen commented on #109
It's been working well. Thanks again.

Couple housekeeping points:
The release still says 2.23.27 instead of 2.23.28.  There are duplicate 2.23.27 release descriptions.
https://github.com/material-table-core/core/releases

The tag in the repo should also be 2.23.28. There are duplicate 2.23.27 tags.

Not crucial of course, but will help reduce confusion when looking back at the release history.

[2021-03-30 20:37] vizardkill commented on #125
???

[2021-03-30 21:06] matthewoestreich commented on #131
Hi. Would you mind providing a sandbox that shows what you're looking for?

[2021-03-30 21:07] matthewoestreich commented on #128
Hi. Would you mind creating a sandbox that shows the issue you are having, per our guidelines?

[2021-03-30 21:11] matthewoestreich commented on #127
You should be able to override the header component. Then you should be able to exclude the counter.

[2021-03-30 21:11] #127 closed, assigned to nobody

[2021-03-30 21:12] matthewoestreich commented on #124
Yes, you can use themes. [See here](https://material-table.com/#/docs/features/styling). Same concept, since we are a fork of that repo.

[2021-03-30 21:33] matthewoestreich commented on #125
My bad closed/commented on the wrong issue. Sorry. I will get to this one next.

[2021-03-30 21:34] matthewoestreich commented on #123
[![Edit dazzling-payne-rtw38](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/dazzling-payne-rtw38?fontsize=14&hidenavigation=1&theme=dark)

Hello. The issue appears to be with your code somewhere.

[2021-03-30 21:34] #123 closed, assigned to matthewoestreich

[2021-03-30 21:37] vizardkill commented on #125
You do an incredible job in honor of mbrn, if you need support I would love to help you in any way I can, I do not want material table to close its doors to future updates.

[2021-03-30 21:37] matthewoestreich commented on #122
Completely agree! Thanks for pointing this out. We would love to an accept a PR for this!! Otherwise, we will get to it when we can.

Thanks again.

[2021-03-30 21:39] matthewoestreich commented on #118
Thank you very much for this!  We would love to merge a PR for this issue, otherwise we will get to it when we can.

We really appreciate you bringing this to our attention!

[2021-03-30 21:40] vizardkill commented on #59
I am a co-founder of SoultechCol in Colombia, a technology company for software development, if you need financing I am willing to help prevent the project from dying, just tell them what you need @cbaker  @oze4

[2021-03-30 21:45] matthewoestreich commented on #115
Closing this per no response. Please feel free to reopen - we are just trying to keep issues clean.

Thank you!

[2021-03-30 21:45] #115 closed, assigned to matthewoestreich

[2021-03-30 21:45] matthewoestreich commented on #75
No worries. Would you mind putting this in a Sandbox, per our guidelines?

[2021-03-30 21:50] Domino987 commented on #131
You need to force a rerender after the setting of the datamanger. so try this:

[code]

[2021-03-30 21:51] matthewoestreich commented on #125
Thank you. That means a lot and is greatly appreciated. @Domino987 deserves all the praise (he has 2nd most contributions and knows this repo like the back of his hand).

We will take any and all help we can get 😄

Cheers.

[2021-03-30 21:56] cbaker commented on #59
@oze4 @vizardkill I may have a bit less burnout and more free time after I begin a new role on Apr 19, I am seriously down to start contributing to a refactor.

[2021-03-30 21:57] Domino987 commented on #125
hi @vizardkill The nesting and grouping is internal and the render only defines what is displayed. So changing the render function does not group them together. I don`t think that your use case is possible right now. Sorry.

But yes, we take and appreciate all the help we can get to get it up and running;)

[2021-03-30 22:00] vizardkill commented on #59
@oze4  Do not worry calmly and patiently, great progress can be made, I am willing to help you in what is within my power, just tell me how I could help

[2021-03-30 22:00] Domino987 commented on #122
This seems like a weird bug. I will take a look at it. Thanks :)

[2021-03-30 22:01] matthewoestreich commented on #59
@vizardkill I am humbled by your generous offer. Your kindness is a breath of fresh air.

I would like to see this project survive as well. I think mbrn has done an amazing job.

From my perspective, I'm not looking to make any money from this (I would feel bad because that money belongs to mbrn) but I would happily accept people's time/contributions!

[2021-03-30 22:03] matthewoestreich commented on #59
@Domino987 should be included as well - he's the boss around here ;)

[2021-03-30 22:08] cbaker commented on #59
I mean if you’re rewriting it all... that’s your work and you shouldn’t feel bad about being compensated for it.

[2021-03-30 22:10] matthewoestreich commented on #59
@cbaker agreed. That's why I can't accept anything. It wouldn't be just me rewriting it. This should remain a community driven project. Ideally, if something is broken, someone would submit a PR vs an issue. That's the mindset I'm after.

[2021-03-30 22:11] Domino987 commented on #59
Hi guys. Sorry for being AFK the last weeks. I am at the end of my master thesis and its taking up quite a bit of time and mental space right now.
But the main part will be done next week, which will free up some time for me.
If we want to start a refactor, we would need a coordinated and set up a plan on how to do it/ what best practices we want to use.
@vizardkill I can only echo @oze4. We are n

[2021-03-30 22:13] vizardkill commented on #59
I could host them and help them design the website for documentation and help with tag issues if needed.
We could start a new project based on refactoring, giving rise to a new library, so that we could include similar functionalities and create totally different ones from the existing ones.

From my point of view, it seems to me that this library contains totally essential functionalities for han

[2021-03-30 22:37] matthewoestreich commented on #59
@vizardkill I agree with @Domino987. Financing this project would def streamline things and allow us to keep focus. But I'm not sure what that would look like.

By biggest concern is I'm afraid that money will produce an "owner" or "owners" of this project. As long as it remains MIT licensed, I'm in.

For now I think providing resources in the form of time is the best route. Perhaps in the near fu

[2021-03-30 22:54] vizardkill commented on #59
For me it is with all the affection that I have for the library because we have included it in a hundred projects within our company, so when we can have time, we will have a meeting and talk to carry out a new project focused on refactoring.

[2021-03-31 02:18] #88 closed, assigned to nobody

[2021-03-31 19:43] peacechen opened #140 "TS definition error TS2304: Cannot find name 'CSSProperties'"
**Describe the bug**

Error during build:

**To Reproduce**

I'm using material-table 2.3.29 in a non-CRA Typescript project. That version adds the `renderSummaryRow` prop which has corresponding TS definition updates.
I can't post company code here for repro. The TS transpiler in the project doesn't resolve from `@types/react` unless the file has a `.tsx` extension. `index.d.ts` obviously doesn't

[2021-03-31 20:12] peacechen commented on #140
I inspected the TS definition file some more and found that replacing `CSSProperties` with `React.CSSProperties` allows the build to succeed. I'll create a PR.

[2021-04-01 03:11] peacechen opened #142 "Warning: Invalid prop `bulkEditChangedRows` of type `object` supplied to `MTableBody`"
**Describe the bug**

After updating to 2.23.29, a console warning started appearing:

**To Reproduce**

The code is passing in edit props:
[code]

Those are each functions. No direct reference to `bulkEditChangedRows` in my code.

**Expected behavior**
No warning

**Desktop (please complete the following information):**

- OS: OSX
- Browser Chrome
- Version 86 (shouldn't matter)

[2021-04-01 03:19] peacechen commented on #142
So... `bulkEditChangedRows` is indeed an object
https://github.com/material-table-core/core/blob/master/src/utils/data-manager.js#L24

but the prop type is incorrectly set to array
https://github.com/material-table-core/core/blob/master/src/components/m-table-body.js#L332

[2021-04-01 07:13] Domino987 commented on #142
Good catch, Can you create a PR to address this?

[2021-04-01 13:39] RELNO opened #143 "Failed prop type: Invalid prop `bulkEditChangedRows` of type `object` supplied to `MTableBody`, expected `array`."
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

Thank you for keeping this project alive!

**Describe the bug**
Upon using the most basic table, this error appears (table still loads and functional):

![Screen Shot 2021-04-01 at 9 35 01 AM](https://user-images.githubusercontent.com/14296774/113301934-8c9d4480-92cd-11eb-9620-e13c1b2d4689.png)

**To Reproduce**
Co

[2021-04-01 14:13] peacechen commented on #143
Dupe of #142

[2021-04-01 14:14] peacechen commented on #142
@Domino987 Yes I'll make one. Would you mind merging the prior PR #141 ?

Edit: I went ahead and pushed the fix for this too.  That PR covers two issues.

[2021-04-04 17:34] abhishek0502 commented on #117
I am facing the same problem - hiddenByColumnsButton doesn't work for me.

[2021-04-04 20:16] peacechen opened #145 "Column width auto-fit to its contents"
**Describe the bug**

Column sizing in material-table has been a mystery. I've tried passing in widths to `headerStyle` and `cellStyle` with no discernible effect. Setting `tableLayout` to auto or fixed doesn't get the results that I need.

Here's a screenshot of the populated table. Notice that the `LINE #` column is much wider than its contents. Is there a way to get the column to shrink its wid

[2021-04-05 09:34] ramilamparo opened #146 "Incompatible version of @date-io/date-fns in dependencies & peerDependencies (Reopen of #47)"
Looks like the dependencies for @date-io/date-fns has been updated to version 2.x which is incompatible with @material-ui/pickers 3.

Change was made in commit with 65ca89fc2ea8d95c917a44a4055abfb35aa2a060

For now, installing @material-table/core v2.3.28 solves this issue.

[2021-04-05 11:11] gabriel-kohen-by opened #147 "Better support for automated functional testing markers"
This is a followup to a suggestion by @Domino987 on Material table Gitter (4/4/21) to open this as a feature request.

Per good practices of being able to locate components during functional tests (For in instance using WebDriver etc), it's common to use test-dataid to mark the component. It's a standard that the React test library promotes and mentioned by Ken Dodds in building resilient tests. I

[2021-04-06 10:01] appukuttan-shailesh commented on #117
As far as I have tried, things don't work as per the documentation.

What works for me currently is along these lines:
- `hidden` is used for initially (default) hiding a particular column in the table, and which you wish to alllow the user to view (Add to table) if they so desire
- `hiddenByColumnsButton` seems (as per documentation) to be **intended** to be used for disabling hiding/viewing a pa

[2021-04-07 16:35] peacechen opened #148 "React 17.0.1 peer dependency warning"
**Describe the bug**

React 17.0.1 is listed as a peer dependency and results in warnings during install:

First, recommend specifying only the major version in the peer dependency to allow for different minor versions (e.g. 17.0.2, etc).
Second, is React 17 truly a requirement for this library? We're using it successfully with React 16.x.

**To Reproduce**

**Expected behavior**

No warnings with

[2021-04-08 12:54] peacechen opened #149 "Right align numeric inputs when editing to be consistent with view mode"
**Describe the solution you'd like**

Numeric types in material-table are right-aligned. However when editing, they are left-aligned, which is HTML's default for all inputs. This makes the body content look like it's not aligned with the header.
<img width="745" alt="Screen Shot 2021-04-07 at 10 24 18 PM" src="https://user-images.githubusercontent.com/6295083/114029463-24a3ac80-983f-11eb-833c-462e

[2021-04-08 15:09] Domino987 commented on #147
Yes I agree that this would help with the testing.
Can you try to add a PR to address this? Thanks for the idea.

[2021-04-08 15:09] Domino987 commented on #142
Is this fixed now?

[2021-04-08 22:11] moranbw commented on #142
I don't think it's been integrated yet?  Latest version still seems to be 2.3.29.  I'm still seeing the issue there.

[2021-04-08 22:55] DewangS commented on #123
Thanks @oze4 for looking in to this. I've followed your code and made couple of other changes as it seems to be working now.

[2021-04-09 04:08] peacechen commented on #142
PR #141 was merged but release hasn't been published.

There are additional PR's that would be valuable to include in the next release.

@moranbw
If you need the fix immediately, you can point directly to my fork in your package.json.
[code]

[2021-04-10 13:07] gabriel-kohen-by commented on #147
FYI: @fernando-garza-by, @elena-casillas-by, @edgar-arroyo-by, @edgar-pozadas-by. Let's see if we can have some bandwidth for this in the near future.

[2021-04-11 09:35] alphakex2 opened #150 "disabled row being selected by select all"
How do I stop the select all from selecting disabled rows? The issue can also be experienced on this demo https://material-table.com/#/docs/features/selection under the Conditional Selection Boxes Example

[2021-04-12 05:43] SKaralius commented on #150
Hey, you should add a `selectionProps` prop to MaterialTable component, like so:

[code]
And also update @material-table-core, because this issue is not fixed in material-table package.

[2021-04-12 06:21] SKaralius opened #151 "User table interactions are cancelled whenever parent element render is called."
Hi,

I have seen an issue that is relevant to me in material-table repo, but I don't see that issue here, so I'd like to submit it for you.
[Issue in material-table repo](https://github.com/mbrn/material-table/issues/2790)
It even has a pull request attached, so maybe it wouldn't be too hard to fix?

I also made an example to show this issue with minimal code.

[CodeSandBox simple demonstration](

[2021-04-12 16:34] DreadCube opened #152 "Feature Request: Customization of Datepicker Button Labels"
![yolo](https://user-images.githubusercontent.com/13951257/114428229-37f6a500-9bbc-11eb-8349-ab983e2aded0.PNG)

Feature Request:

Hi fellows,

Currently we can change the language of the datepicker with dateTimePickerLocalization. **It would also be nice,
if we could override the Button Labels.**  (See Image Attachment)

Maybe over the localization settings or a variant that we can override the Da

[2021-04-13 18:30] timkrase opened #153 "Position of function actions depends on selection setting and not on defined position"
**Describe the bug**
As soon as you do not define a plain object for the actions but rather a function depending on the rowData, the "position" of the resulting object is ignored and set depending on the "selection" setting.

If, for example, you want one action in the row and another in the toolbarOnSelect (and therefore define "selection" as true in the options) both actions end up in the select

[2021-04-13 19:52] timkrase commented on #153
Well, writing all of this down and having another look at the source did let me realize that I was solving all of this overly complicated....

There is already proper support for actions of the shape `{action: function, position: string}` as this is how the getProps code currently resolves this. So why not directly pass the action like this...
Only problem then are the prop-types and ts-definition

[2021-04-13 19:52] #153 closed, assigned to nobody

[2021-04-13 20:38] matthewoestreich commented on #153
@timkrase thank you for your contribution/time!

[2021-04-13 20:48] matthewoestreich commented on #152
Love this! I moved this to a [discussion](https://github.com/material-table-core/core/discussions/156), though.

[2021-04-13 20:48] #152 closed, assigned to nobody

[2021-04-14 06:04] mdpx commented on #122
Hi! digged deeper and located the problem together with some related issues, but no idea what to do, need your decisions.

I think the real title of this issue should be "hooks change in m-table's parent component causes pageSize reset when props has function properties and data is remote".
I've updated the [sandbox](https://codesandbox.io/s/material-tablecore-with-axios-hooks-gvxzp), you can see

[2021-04-17 04:59] RobertGardner opened #158 "Export menu doesn’t close after action"
**Describe the bug**
When selecting an action in the Export menu, the action succeeds but the menu stays open. An extra click outside the menu is required to dismiss the menu.

**Expected behavior**
The examples at material-ui.com all show an explicit call to close the menu after a menu item is clicked. The material-table/core code does not do this, and there doesn’t appear to be a way to force th

[2021-04-17 16:28] matthewoestreich commented on #158
Completely agree! Thanks for opening this.

[2021-04-17 22:56] Domino987 commented on #55
I just started working on a migration to v5. I started with the third level imports to fix the tests and will move to the pagination issue next, which looks like is the only error for v5.30 as far as I can see.

[2021-04-17 22:58] #60 closed, assigned to matthewoestreich

[2021-04-20 08:53] #158 closed, assigned to Domino987, matthewoestreich

[2021-04-21 09:12] FedeBev commented on #148
In addition to what was said by @peacechen, if you update react to v17 you get a new warning:
[code]

[2021-04-25 02:33] matthewoestreich commented on #151
Thanks for this. I completely agree.

I will look into getting [this PR](https://github.com/mbrn/material-table/pull/2818) added to this repo. Also, we are actively pushing code here so if you feel like fixing it then sending over a PR, we try to stay on top of them. Otherwise, I *should* have time to look into this tomorrow.

[2021-04-25 14:31] Domino987 commented on #150
Should be fixed now

[2021-04-25 14:31] #150 closed, assigned to nobody

[2021-04-27 04:45] peacechen commented on #117
`hiddenByColumnsButton` had been working but must have been broken recently.  I'll try to find out when and why.

The relevant code is at:
https://github.com/material-table-core/core/blob/master/src/components/MTableToolbar/index.js#L156

Aha, there's a fall-through return in the next block that's essentially an "else" which also returns a menu item:
https://github.com/material-table-core/core/blo

[2021-04-27 13:58] peacechen commented on #117
@oze4 Will you remove the redundant return, or shall I submit a PR?  It would be preferable for #144 to be merged so this fix doesn't pile onto that.

[2021-04-27 14:39] peacechen commented on #149
The code in MTableEditField/TextField.js attempts to right-align, but the style is applied to the parent TextField instead of the underlying input.
https://github.com/material-table-core/core/blob/master/src/components/MTableEditField/TextField.js#L10

Moreover, the style should be `text-align: right` instead of `float: right` passed to `inputProps` (lowercase i).
https://github.com/material-table

[2021-04-27 23:01] #117 closed, assigned to matthewoestreich

[2021-04-27 23:16] matthewoestreich commented on #151
Looks like @Domino987 merged a PR for this, which has since been published. Thanks again for this!

[2021-04-27 23:16] #151 closed, assigned to Domino987, matthewoestreich

[2021-04-27 23:17] matthewoestreich commented on #131
Please feel free to reopen if the provided solution does not work. Thanks again!

[2021-04-27 23:17] #131 closed, assigned to Domino987, matthewoestreich

[2021-04-27 23:19] matthewoestreich commented on #117
@appukuttan-shailesh apologies for that - somehow the changes I made were reverted (to code that didn't work). I have since updated the code and published v2.3.31, which should fix this for you.

[2021-04-27 23:23] matthewoestreich commented on #149
Per [material design](https://material.io/components/data-tables#specs) all numbers should be right aligned. Nice catch!

[2021-04-28 03:08] matthewoestreich commented on #142
This should be fixed now, since we have published a new version (v2.3.31) - please reopen if it is not fixed, or ping me and I will reopen (I did not notice this error during some work I did today, so it should be fixed).

Thanks everyone!

[2021-04-28 03:08] #142 closed, assigned to nobody

[2021-04-28 03:09] matthewoestreich commented on #143
This should be fixed now, since we have published a new version (v2.3.31) - please reopen if it is not fixed, or ping me and I will reopen (I did not notice this error during some work I did today, so it should be fixed).

Thanks everyone!

[2021-04-28 03:09] #143 closed, assigned to nobody

[2021-04-28 03:13] matthewoestreich commented on #146
This has been [resolved](https://github.com/material-table-core/core/blob/master/package.json#L99). Sorry about that! My fault.

[2021-04-28 03:13] #146 closed, assigned to matthewoestreich

[2021-04-28 03:14] matthewoestreich commented on #140
Looks like this has been resolved.

[2021-04-28 03:14] #140 closed, assigned to nobody

[2021-04-28 03:15] matthewoestreich commented on #145
Thank you! That's def an issue if those props do absolutely nothing.

[2021-04-28 03:16] matthewoestreich commented on #128
If this is still an issue, please reopen (or ping me and I can reopen if you can't) with a SandBox.

Thank you!

[2021-04-28 03:16] #128 closed, assigned to Domino987, matthewoestreich

[2021-04-28 03:18] #125 closed, assigned to Domino987, matthewoestreich

[2021-04-28 03:23] matthewoestreich commented on #111
I went ahead and made this change. If the following is correct, just let me know and I will publish a new version.

Thanks everyone!!

https://github.com/material-table-core/core/blob/e880710fc5468b02b399871573edb5883c24c2da/src/material-table.js#L12

[2021-04-28 03:24] matthewoestreich commented on #75
Hello! If you are still experiencing this issue, please reopen. Otherwise, please provide the required Sandbox as it is just easier on everyone.

I have not noticed this error, so it may be resolved.

[2021-04-28 03:29] matthewoestreich commented on #95
According to the material design standard, the sort icon should only show on hover (while viewed on desktop at least).

<img width="822" alt="md1" src="https://user-images.githubusercontent.com/21092343/116342079-a1270c80-a7a7-11eb-9905-db4df6170593.png">

Taken from [here](https://material.io/components/data-tables#behavior)

I think permanently showing the sort arrow goes against material design

[2021-04-28 03:44] matthewoestreich commented on #148
Like this

https://github.com/material-table-core/core/blob/07fb84a78347cc1e7d032da55e4239eddd8ffdf8/package.json#L87-L88

and this?

https://github.com/material-table-core/core/blob/07fb84a78347cc1e7d032da55e4239eddd8ffdf8/package.json#L115-L116

If so, just let me know and I will publish a new version.

[2021-04-28 03:51] peacechen commented on #148
Hooks were introduced in React 16.8.0, so should use that as the minimum version.

https://reactjs.org/docs/hooks-overview.html

[2021-04-28 03:55] matthewoestreich commented on #148
Excellent point! I think this one can wait til tomorrow lol I'm about to crash.

Thanks for all of your help today.

[2021-04-28 08:11] appukuttan-shailesh commented on #117
Thanks for resolving this @peacechen , @oze4

[2021-04-28 09:48] zhushenhang commented on #95
@Domino987 @oze4
I also don't have a good idea.I think we should follow the standard, so this issue will be closed

[2021-04-28 09:48] #95 closed, assigned to Domino987, matthewoestreich

[2021-04-28 10:59] bimbeonguyen opened #167 "Duplicate columns when using editable row and fixed columns"
Describe the bug
There is a bug when clicking edit button with fixed columns at material-table then focus on the fixed column. Duplicated columns appears after pressing 'Tab' button on keyboard

Expected behavior
Duplicated columns don't appear

Codesandbox: https://codesandbox.io/s/react-material-editable-table-forked-o1w7c?file=/src/App.js

[2021-04-28 13:50] sinclas commented on #148
Just tried to install this AM:

npm ERR! Could not resolve dependency:
npm ERR! peer react@"^17.0.1" from @material-table/core@2.3.31
npm ERR! node_modules/@material-table/core
npm ERR!   @material-table/core@"*" from the root project
npm ERR!
npm ERR! Fix the upstream dependency conflict, or retry
npm ERR! this command with --force, or --legacy-peer-deps
npm ERR! to accept an incorrect (and poten

[2021-04-28 15:01] MarianBe opened #168 "enabling columns with the columnsButton doesnt work"
Whenever i try to show or hide any column i get an error `Uncaught TypeError: Cannot read property 'props' of undefined`
![image](https://user-images.githubusercontent.com/773986/116425150-61f9c980-a842-11eb-88e9-afa45353ba88.png)

It seems to be broken with the latest version, check this minimal codesandbox: https://codesandbox.io/s/focused-visvesvaraya-uiev4

[2021-04-28 15:03] MarianBe commented on #168
looks like this here is the issue: https://github.com/material-table-core/core/commit/277459a0a3da79b94dc198bc830051e104b08377?branch=277459a0a3da79b94dc198bc830051e104b08377&diff=split&w=1#diff-03a5008fa690d71e0f9293401cbcf9e6551d38852b99a6a1dccd233217084602R182

[2021-04-28 15:18] matthewoestreich commented on #168
That is actually the fix not the issue. This should be working.

[2021-04-28 15:24] matthewoestreich commented on #168
It looks like when refactoring I left a `this.` on a functional component.

I have since removed that - this should be working now in v2.3.32. Would you mind giving that a shot and reporting back?

[2021-04-28 15:27] matthewoestreich commented on #167
Nice catch! Thank you very much for opening this.

[2021-04-28 15:28] matthewoestreich commented on #148
This should be fixed now.

[2021-04-28 15:28] #148 closed, assigned to matthewoestreich

[2021-04-28 15:30] MarianBe commented on #168
fixed with v2.3.32

[2021-04-28 15:30] #168 closed, assigned to matthewoestreich

[2021-04-28 15:45] sinclas commented on #148
Fixed!  Thank You.   Also, have to uninstall non branched version of material-table or you'll get install errors with a date dependency.

[2021-04-28 15:53] sinclas commented on #66
I display a modal dialogue via changing the state of a flag.
`onClick={()=>this.setState({displayFilterModal:true})}`
Without doing anything else, the state will rerender and I lose the group by column and sorting.  This wasn't expected.  I would have expected everything stays the same even if I change the remote data filters and apply the new results to the table.  The functionality is the user i

[2021-04-28 15:59] FedeBev opened #169 "Incompatible version of @date-io/core in dependencies & peerDependencies #47"
**Describe the bug**
`@material-table/core` requires `@date-io/core@^2.10.6`, however `@material-table/core` also has `@material-ui/pickers@3.3.10` dependency with has `@date-io/core@^1.3.6` as peer.

**To Reproduce**
If you install `@material-table/core@2.3.32` and `@date-io/core@^2.10.6` you'll see the following warning
[code]

If you install `@material-table/core@2.3.32` and `@date-io/core@^1.3

[2021-04-28 16:02] matthewoestreich commented on #66
Thank you @sinclas - this has been an issue for a while (referring to the table rerendering when it shouldn't).  We should prob give this higher priority as well, as it is kind of a big deal imo.

I will start troubleshooting this so that I can (hopefully) bring some solutions to the table which we can all review from there.

As far as donations are concerned, I don't feel comfortable accepting do

[2021-04-28 16:06] matthewoestreich commented on #169
Thank you. This is especially odd because there was another issue for this which I resolved last night. It would seem v2.x has made it back. I will take a look here in a min (if you want to shoot over a PR real quick I can merge it as well)

Thank you!

[2021-04-28 16:11] matthewoestreich commented on #169
Shouldn't downgrading the pickers library to a version that uses a date-io/core version that is compatible? Thoughts?

[2021-04-28 16:35] FedeBev commented on #169
Do you mean we shouldn't downgrade date-io/core? Otherwise I think I don't get it.

[2021-04-28 16:51] sinclas commented on #66
These projects, especially this one is large and can take a ton of time to get right.
Wish I had some off-hours to pull and contribute ideas since I have a ton.  Thanks for the quick reply.   If you need someone to test a min/maj release, let me know and I can do a quick install and plug it into a sample project.  again.  thanks.

[2021-04-28 17:19] masbaehr commented on #75
Hi, I don't use material-table anymore , but here is the test copied & pasted into the starter template if someone wants to resolve the issue
https://stackblitz.com/edit/material-table-starter-template-zqbtun?file=index.js
Changed version to *.32 , still happens (See Console). I already explained above what triggers it.

BTW: the starter template makes it actually more time consuming, had to chang

[2021-04-28 17:42] matthewoestreich commented on #169
Sorry that's my fault. We just need to downgrade date-io/core, right?

I recently downgraded date-io/date-fns and I confused the two.

[2021-04-28 17:51] FedeBev commented on #169
I guess that's the easiest solution right now, just keep in mind that this issue is going to come up again with MUI 5

I can deal with this within a few hours and crate a PR if you want

[2021-04-28 22:41] pouryapb opened #170 "fixed columns and maxBodyHeight are not compatibale"
I have a table without paging and I set max height for table so it fits to screen. but if I want to make some columns fixed, that component scrolls independent to the table rows! another thing, please consider people like me who are developing for a right to left language. least you can do is to add an id attribute to all components so I could at least be able to write my own css fixes. drag and d

[2021-04-28 23:49] pouryapb opened #171 "resizable"
https://github.com/material-table-core/core/blob/2dcc2f8e0ab83493dcbd2c4c384714059ffe1f3e/src/components/MTableHeader/index.js#L18

resizable headers didn't work until I put `handleMouseMove` and `handleMouseUp` inside `useEffect` and added `props` and `state` to dependency array
thought you might want to know this :D
to make this compatible with rtl, `(e.clientX - state.lastX)` this needs to be m

[2021-04-29 01:03] matthewoestreich commented on #171
Thank you!

[2021-04-29 01:17] matthewoestreich commented on #171
Do you already have a PR for this? Or changes you could throw into a PR real quick? That would be awesome!

[2021-04-29 01:23] matthewoestreich commented on #170
Absolutely, we try to consider all features. Please keep in mind this fork is meant to be a "community" fork - if you use it, and you need a feature, it would be extremely helpful if you could add that feature and send over a PR. That helps keep the wheels moving. Otherwise you'll be waiting on 2 people to finish all of these issues/PRs.

Same goes for documentation. It isn't my documentation. Its

[2021-04-29 01:31] matthewoestreich commented on #169
No doubt. That should be in the next major version (worrying about MUI5).

v2.3.33 has been published with @date-io/core at v1.3.13. Please let me know if this is still an issue for you.

[2021-04-29 01:31] #169 closed, assigned to nobody

[2021-04-29 10:56] pouryapb commented on #171
There you go

[2021-04-29 16:56] #171 closed, assigned to matthewoestreich

[2021-04-29 18:23] Llolow opened #176 "onBulkEdit incorrectly offsets the header"
![Alt Text](https://i.gyazo.com/2c1e334a03cd9961c01a07e7fc9f3c1c.gif)
Like you see when we click on BulkEdit with the new version, it's delete the whitespace that we had in the version 2.3.30.
With this PR #144

But TableCell is removed and the th of Action isn't removed,

Steps to reproduce the behavior:
  - #### [CodeSandbox](https://codesandbox.io/s/inspiring-sinoussi-bjr6g)

1. Click on edit i

[2021-04-29 18:53] matthewoestreich commented on #176
I think @peacechen is creating a PR for this. If not I can look into it.

[2021-04-29 19:44] matthewoestreich commented on #176
So does this work in version 2.3.30?

If so, the recent changes that were made caused this. @peacechen @Domino987

[2021-04-29 19:47] peacechen commented on #176
I have a vague recollection that this issue occurred in 2.3.30 before the showDetailPanel prop was added. Would like help confirming this @Llolow

[2021-04-29 20:27] Llolow commented on #176
Yes this is the change in the commit  [97403eb](https://github.com/material-table-core/core/pull/144/commits/97403ebddd8b28c84161a2c3f99a94d7a64a1985).

So when we have `props.mode === "bulk"` now this return nothing, and before we had a TableCell this is the whitespace we have with bulkEdit in 2.3.30

[2021-04-29 20:29] matthewoestreich commented on #176
I had a feeling!

@peacechen why was that change needed again? It looks like we will need to figure something else out.

[2021-04-29 21:08] matthewoestreich commented on #176
I reverted that line and published a new version (v2.3.34) - this should be fixed.

Thanks again!

[2021-04-29 21:08] #176 closed, assigned to peacechen, matthewoestreich

[2021-04-29 21:13] peacechen commented on #176
Unfortunately reverting that breaks the `showDetailPanelIcon` prop.  The full fix is to adjust the header row to remove all of the empty columns in edit mode.
Please re-open this and I will debug further.

[2021-04-29 21:37] matthewoestreich commented on #176
Ok cool. I'll open a separate issue to keep things searchable.

[2021-04-29 21:39] matthewoestreich opened #177 "Detail Panel Issues"
Returning an empty cell/column when using bulk edit mode breaks the detail panel.

@peacechen

Please re-open this and I will debug further.

[2021-04-29 21:55] matthewoestreich commented on #177
@peacechen all we should have to do is this (I tested and it's working)..

@Domino987 just let me know and I'll merge/publish it..

https://github.com/material-table-core/core/blob/b96131562e95b07b64ac89775f92ebb2334b2314/src/components/MTableEditRow/index.js#L162-L166

[2021-04-29 22:00] peacechen commented on #177
Does that leave an empty gap in edit mode where the delete icon lives?  Not a big deal unless there are multiple action buttons that take up a chunk of space. That's an improvement that can be looked at later if someone needs it.

[2021-04-29 22:05] matthewoestreich commented on #177
I think it is. At least that is more of a visual thing and doesn't impede functionality like misaligned columns/rows does.

It sounds like we just need to check if there are any actions, and if there aren't, remove that column (during edit mode)?

<img width="1668" alt="a1" src="https://user-images.githubusercontent.com/21092343/116624167-1102d780-a90d-11eb-96e5-867d3239df46.png">

<img width="166

[2021-04-29 22:09] Llolow commented on #177
At first you'r PR @peacechen is to hide the detailPanelIcon and open it with a click on the line ?

[2021-04-29 22:16] matthewoestreich commented on #177
I was just testing and noticed when the detail panel icon is not shown, you have to handle the opening of the detail panel yourself (eg. handle on row click to then open the detail panel)? @peacechen can you confirm?

It's hard for me to think of a use case for hiding the detail panel icon outside of wanting to open the detail panel via on row click.

[2021-04-29 22:36] matthewoestreich commented on #177
I went ahead and published v2.3.35 with that fix in the meantime..

[2021-04-29 22:37] matthewoestreich commented on #177
Just as a note - the root issue is solved. The remaining issue is more aesthetic than a bug.

I think we should hide the entire Actions column during edit mode - I don't really see why you'd want that in edit mode anyway

[2021-04-29 22:37] peacechen commented on #177
Yes, opening the detail panel icon on row click is the primary use case. The reason for hiding it is because multiple actions plus the detail icon consumes a lot of space.

This example is just 1 action button with the detail panel icon. Imagine how much space they take when more are added.
![screenshot](https://user-images.githubusercontent.com/6295083/106336314-41769f00-6254-11eb-9412-fab482315a

[2021-04-29 22:40] matthewoestreich commented on #177
@peacechen apologies I remember you saying that before - my fault, it slipped my mind.

[2021-04-29 22:51] Domino987 commented on #177
This should work yes.

[2021-04-29 22:51] matthewoestreich commented on #177
I also think we need a better way to add new props to documentation. For example, `onBulkEditOpen` is a new prop but it isn't documented anywhere. That is a huge issue. We haven't added many new props, so for existing props that I haven't gotten around to documenting yet, I've been using material-table.com as a reference.

We have [our website](https://github.com/material-table-core/website) for d

[2021-04-29 22:55] matthewoestreich opened #179 "See Here For Documentation For New Props"
New props were recently added - these need to be documented.

New props include:

- `editable.onBulkEditOpen`
- `options.showDetailPanelIcon`

@peacechen are those the only two new props or are there any more?

[2021-04-29 23:14] peacechen commented on #179
One more: `renderSummaryRow`

It would be nice if we could auto-generate the props documentation from the TS definition. Add comments for each prop in the def, and the generator spits out formatted markdown.

[2021-04-29 23:37] matthewoestreich commented on #179
Oh nice that's a great idea!

[2021-04-30 00:09] matthewoestreich commented on #179
Is there any existing tool we could use to help? At a high level, what would that workflow look like? I can help get it started.

I feel like our time is better spent progressing things vs figuring out how to automate documentation for now. The truth is docusaurus is so simple, and we should be trying to limit how many props we add, updating docs won't need to happen often.

For now I think it's j

[2021-04-30 00:35] matthewoestreich commented on #179
On the MTableEditRow component what are the possible values for the `mode` prop? `"add", "update", "delete", "bulk"`?

[2021-04-30 14:04] peacechen commented on #179
I see references to add, update, and bulk, but not delete.

[2021-04-30 14:21] peacechen commented on #179
A casual search for TS documentation generators turns up some promising candidates.
https://medium.com/@arnog/introducing-grok-95887f217873
https://github.com/TypeStrong/typedoc

It's a convenience thing so if you're ok with manual updating, stick with that.

[2021-04-30 14:30] matthewoestreich commented on #179
Just trying to figure out how to get the generated docs into the website. They're two different repos. We would also need the generated docs to be in docusaurus format (just json, but it has to be specific). I really like the idea of automation.

[2021-04-30 14:32] matthewoestreich commented on #179
Here is one of the references I saw for mode == delete

https://github.com/material-table-core/core/blob/3aa6640340208c29f5e187b7714641967477fb50/src/material-table.js#L507

[2021-04-30 17:54] matthewoestreich commented on #179
@Domino987 someone please correct me if I'm wrong, but if we want to hide the actions column during edit mode we will need to pass/add a mode prop for the main material-table.js file as well as a mode prop in the header component? I tried to find existing props that would allow me to key on whether or not editing is occurring (on the header component) but couldn't find an existing props.

[2021-05-01 00:09] Domino987 commented on #179
This would be a great addition and needed for any long term support anyway. I think some automation should be used as well so we don't have to worry about it.
I need to look into this specific usecase in how it's handled. I'll check it out.

[2021-05-01 15:22] mdpx commented on #122
@oze4 @Domino987 any thoughts on this?

[2021-05-01 15:26] Domino987 commented on #122
Hi. Can you create a PR with the update you made by removing the remote data and i will check of that works?

[2021-05-01 19:44] matthewoestreich commented on #179
Thoughts on the best way to hide the actions column during edit mode? Idk if there is a better way. I could be missing something.

Just wanted to make sure there isn't an easier way before I start adding the "mode" prop to a handful of components.

[2021-05-01 23:59] matthewoestreich commented on #179
As a note - also need to document the new field that was added to the `actions` prop.

`actions.handlers` accepts an object. The 'key' is the event name, the 'value' is the event handler func. We pass the event as well as props to each handler.

For example,

[code]

[2021-05-02 01:47] matthewoestreich opened #182 "Fix Prop Types"
I forgot about this... My fault.

Prop types for MTableAction - remove onMouse* handlers and add 'handlers' prop.

[2021-05-02 11:04] LuisPinaSoares opened #183 "Best way of making Pagination Footer disappear when paging=False"
I would like to completely remove the pagination component and the space it takes out.
When paging = False the Table Pagination Component keeps appearing but empty.
Any suggestion on the best way to do this?

[2021-05-02 11:15] LuisPinaSoares commented on #183
My mistake

[2021-05-02 11:15] #183 closed, assigned to nobody

[2021-05-02 16:07] pouryapb opened #185 "Ability to Customize different types of edit fields (Boolean, Currency, etc...)"
It's really useful to be able to change different edit fields in table, like for example I want to change date picker component because it only shows Gregorian date and I want to change that (localization doesn't do the trick before you say).
I might not know a good way but when I looked at the source code, doing something like this seems a little difficult right now.

[2021-05-02 16:15] matthewoestreich commented on #185
Hello @pouryapb you can supply the type field under the columns prop.

`columns={[{ title: "ID", field: "id", type: 'numeric' }]}`

The type can be one of 'boolean', 'numeric', 'date', 'datetime', 'time', 'currency'

[2021-05-02 16:15] #185 closed, assigned to nobody

[2021-05-02 16:21] pouryapb commented on #185
@oze4 I think you didn't understand what I needed. type is not the problem. I want to change date picker when you edit a date field for example.

it would be DateField here:
![image](https://user-images.githubusercontent.com/34511048/116819997-0acc5f80-ab88-11eb-882e-b943fd661291.png)

[2021-05-02 16:32] matthewoestreich commented on #185
I do not believe that is possible right as of right now. I believe you would need to override the MTableEditRow component in order to accomplish this.

[2021-05-02 16:42] matthewoestreich commented on #182
@Domino987 wound up fixing this. Thank you!

[2021-05-02 16:42] #182 closed, assigned to matthewoestreich

[2021-05-03 00:24] DewangS opened #187 "defaultGroupOrder throws warning"
# Guidelines

- #### Please include a demo of the issue/behavior/question you have

- #### Please try to be as detailed as possible

- #### You may fork one of the following starter templates if you would like:

  - #### [CodeSandbox](https://codesandbox.io/s/material-table-starter-template-xnfpo)
  - #### [StackBlitz](https://stackblitz.com/edit/material-table-starter-template)

**Describe the bu

[2021-05-03 00:52] matthewoestreich commented on #187
Thank you very much for this!

[2021-05-03 02:02] matthewoestreich commented on #187
I honestly don't understand why `children` is being validated by prop types.

It's my understanding that `props.children` is a standard/default/reserved (whatever you want to call it) React prop. Please correct me if I'm wrong, but we should be able to just remove it, right?

[2021-05-03 02:13] matthewoestreich commented on #187
It looks like the fix is to check if props.children is an array, and if it is, to just wrap it in a Fragment.

Like this: (tested and appears to work)

https://github.com/material-table-core/core/blob/cdc304173c67dff35cb312c371a2851deb395a66/src/components/MTableCell/index.js#L77-L87

@Domino987 thoughts?

[2021-05-03 04:22] DewangS commented on #187
Thanks @oze4 . does that mean I have to manually fix it? or will it be released as a patch?

[2021-05-03 04:32] matthewoestreich commented on #187
It should be patched and released once @Domino987 wakes up and takes a look (he may know of a better way to fix it).

As far as I can tell, it's just a warning and isn't breaking anything. Or is it breaking something on your end? Is it urgent?

[2021-05-03 04:58] DewangS commented on #187
@oze4 correct, it's just a warning. Haven't seen page crashing even while reloading.

[2021-05-03 06:52] Domino987 commented on #187
Hi, looks like this originates from the group row. Could we just wrap the children there?

[2021-05-03 11:03] matthewoestreich commented on #187
Ya @Domino987 fixing at the source is prob a better idea.

[2021-05-03 12:04] matthewoestreich commented on #187
I'm not sure what I was thinking last night, the fix is so obvious now. Just had to add a fragment around the icon (lines 137 and 153)

https://github.com/material-table-core/core/blob/7fed6f476d5eb1265865a3608ba882382ba84784/src/components/MTableGroupRow/index.js#L137-L153

[2021-05-03 12:20] matthewoestreich commented on #187
This fix has been published in v2.3.37.

On another note, @Domino987 I had to change some npm commands - the git push at the end of the new `release:x` command was causing issues on my end.

Now just have to do:

`npm run release:patch && npm run git:push:tags`

Just something minor to take note of.

[2021-05-03 12:20] #187 closed, assigned to matthewoestreich

[2021-05-04 04:28] DewangS commented on #187
Thanks @oze4 . Much appreciated.

[2021-05-04 06:12] Domino987 commented on #187
@oze4 great. If this works now, it will be great

[2021-05-04 16:42] pouryapb opened #191 "Resizable"
https://github.com/material-table-core/core/blob/9c2e755ac541b644d8d0f61761ba59366b37b50e/src/components/MTableHeader/index.js#L85

Ok I was playing around with resizable columns and find out this getCellStyles function does not use additionalWidth so what happens is when components rerender due to some changes, the size will reset and if you resize just a little it jumps to the size it should hav

[2021-05-04 18:08] matthewoestreich commented on #191
@pouryapb I can try to help but I'm with you - it's very hard for me to understand some of the logic (I'm not the original author).

Maybe we can knock this one out together?

[2021-05-04 18:08] matthewoestreich commented on #191
Also thanks for spending the time looking into it!

[2021-05-05 07:00] DewangS commented on #187
Thanks @oze4 @Domino987 just upgraded the package to 2.3.37 and warning is gone.

[2021-05-05 16:47] pouryapb commented on #191
I dig deep in my code and I found that data about column width is in columns `tableData` and I give table the columns in state and this `tableData` in columns objects I don't get back, so when any state in my component changes, table reads columns again and loses that `tableData`. and my component got complicated and I can't find a way to separate material table from the rest. there are some compo

[2021-05-05 17:39] matthewoestreich commented on #191
Would you mind creating a sandbox? So basically when you resize a column, the tableData field is reset?

[2021-05-05 17:59] pouryapb commented on #191
https://codesandbox.io/s/staging-cdn-t4rcp?file=/src/App.js
a very simple demonstration

[2021-05-10 07:25] Domino987 commented on #58
Yes this should be unified to behave the same at all times. Would you mind creating a PR for this?

[2021-05-12 14:08] #122 closed, assigned to Domino987, matthewoestreich

[2021-05-13 19:40] ChinmayaNathany opened #198 "MaterialTable type does not have onQueryChange declared"
Basically a clone of this issue - it'll be awesome if this can be solved :)
https://github.com/mbrn/material-table/issues/1965

[2021-05-14 15:43] Therapychild opened #199 "Error import { OnHandlers } from './helpers'"
# Guidelines

**Describe the bug**
typo in import statement in index.d.ts

index.d.ts is looking to import { OnHandlers } from ./helpers.d.ts when the filename is actually .helper.d.ts (the import adds an "s" to the name)

**To Reproduce**
Steps to reproduce the behavior:

1. Upgrade to "@material-table/core": "^2.3.28"
2. Build project with babel
3. See error

**Expected behavior**
Babel builds p

[2021-05-14 19:57] matthewoestreich commented on #199
Thank you! This should be fixed in 2.3.39 (which was just published).

[2021-05-14 19:57] #199 closed, assigned to nobody

[2021-05-15 20:01] pouryapb commented on #191
after a week I finally had time to dig in code a little more!
`tableData` is actually there and it has the correct `additionalWidth` value, I think it's just not considered in first calculations. I'm just trying to make sense of the behavior, I still don't know where I need to make changes...

[2021-05-17 09:31] anthonyblond opened #200 "columns prop is mutated"
**Describe the bug**
The `columns` prop is modified.
The [reactjs documentation](https://reactjs.org/docs/components-and-props.html#props-are-read-only) states:

Apologies if I've misunderstood this, I'm relatively new to React. I'm not 100% that this just means the the object a prop references shouldn't itself be modified (shallow), or whether none of the objects it references to should be modifi

[2021-05-17 11:22] matthewoestreich commented on #200
Hi would you mind creating a Sandbox of this issue?

[2021-05-17 11:23] matthewoestreich commented on #200
Also, the tableData prop is used internally and is there by design. That is working as expected.

[2021-05-17 14:27] Therapychild commented on #199
Awesome! Great Job on the Module1 I look forward to actually contributing.

Jeremy.

On Fri, May 14, 2021 at 12:57 PM Matt Oestreich ***@***.***>
wrote:

[2021-05-18 01:52] peterkmurphy commented on #200
Good day, @oze4 . I am a colleague of @unfinishedteleporter . I was looking into the issue myself. So I have created a Sandbox on the issue at:

[https://codesandbox.io/s/happy-sara-82gf6](https://codesandbox.io/s/happy-sara-82gf6)

You have App.js

[code]
Importing `RECIPIENTS_TABLE_COLUMNS` from import.js:

[code]

When I look at the console.log, where I see the result of RECIPIENTS_TABLE_COLUMN

[2021-05-18 12:25] LeComptoirDesPharmacies opened #201 "Columns width is static value instead of dynamic"
**Describe the bug**
When we set a width ratio on column, it is only respected on first load. When we resize the component, is is ignored.

**To Reproduce**

1. Go to 'https://codesandbox.io/s/peaceful-faraday-olywv?file=/src/App.js&resolutionWidth=150&resolutionHeight=675'
2. Resize the window to be larger
3. Column 'A' is not 70%

Note : If you refresh the page once being set to larger size, the

[2021-05-19 10:22] villuv commented on #55
I updated upstream pull request to `v5.0.0-alpha.34` level

[2021-05-19 13:50] vmihalachi commented on #55
@villuv is there any way to download an alpha version with these changes?

[2021-05-19 16:20] villuv commented on #55
@vmihalachi Just fork my version of it from https://github.com/villuv/material-table/tree/feature/mui5 and check out `feature/mui5` branch. I haven't published a built package as I haven't thorougly tested it. It builds fine with `yarn install; yarn build` and you can use it locally with [yalc](https://github.com/wclr/yalc), for example. Let me know if you find anything wonky.

[2021-05-19 16:25] matthewoestreich commented on #55
Feel free to send of a PR of your fork with MUI5 compatibility and we will get it merged. Thanks!

[2021-05-20 01:01] matthewoestreich commented on #200
Hey @peterkmurphy completely agree with you! @Domino987 and I were just discussing this. We are not the original authors but we agree. Modifying these props is a no-no and we should only be passing "modified props" (aka copies) back to the caller via, well, callback args.

We shouldn't actually be modifying the props, like it appears we are doing.

The first "phase" of a resolution is going to be

[2021-05-20 01:06] matthewoestreich commented on #200
Also, I get the same behavior whether imported or in the same file..

<img width="471" alt="imported" src="https://user-images.githubusercontent.com/21092343/118903600-be01bc00-b8dd-11eb-9bbc-3ad87cc98aac.png">

<img width="471" alt="same_file" src="https://user-images.githubusercontent.com/21092343/118903608-c22dd980-b8dd-11eb-87c7-6a95d9938d24.png">

[2021-05-20 01:23] matthewoestreich commented on #201
@Domino987 thoughts on this?

[2021-05-20 06:17] Domino987 commented on #200
Hi people 🙂
This problem is actually even more severe, since it applies to the data prop as well, so sharing state between tables is also error prone.

Thus is actually a problem since a few years and my [fix](https://github.com/mbrn/material-table/pull/1174) was reverted, since a few people used object refence to find objects and this broke their code. That using object refence for finding the ob

[2021-05-20 06:20] Domino987 commented on #201
We change it since the original lead to an increase in the css width tag which eventually crashes die to memory issues.
If anybody has a proposition to fix the reevaluation without introducing said bug, we would welcome a PR.

[2021-05-20 08:16] LeComptoirDesPharmacies commented on #201
May found the PR from when this occurs :
https://github.com/material-table-core/core/pull/5
https://github.com/material-table-core/core/pull/175

I dig a little in the PR/code but width management became a bit complex with "width", "initialWidth", "additionalWidth", "scrollWidth" and interaction between them.

Maybe @pouryapb, @peacechen or someone else could help us ?

[2021-05-21 02:26] anthonyblond commented on #200
Interesting, didn't realise the same issue occurred for the data prop too. That seems particularly bad. It didn't occur to me that people would be relying on it...It seems like it would be a a breaking change for the data, but I'm not sure if it would be for columns prop. Its just definitions being passed in, not a 'source of data truth'. I.e I think the data mutation should be treated separately

[2021-05-21 02:55] anisebamford opened #204 "Invalid file extension in index.d.ts"
**Describe the bug**
Trying to build a project importing from @material-table/core using typescript fails with the message
[code]

tsconfig.json
[code]
.babelrc
[code]

[2021-05-21 04:04] matthewoestreich commented on #200
@Domino987 should we make those changes you made (but had to remove) and just publish as a new major version? I agree with you that this issue is kind of severe.

If there is a better way to handle it as to not break existing code, I'm all ears. I don't believe npm will automatically upgrade major version. New install is a diff story though.

[2021-05-21 06:27] peterkmurphy commented on #200
This is a four month old fork of an existing library, and probably a good opportunity not to worry so much about "breaking changes".

"if people complain, they should change their code." Damn straight.

[2021-05-21 21:08] matthewoestreich commented on #204
Merged fix. Will be publishing shortly. Thank you!

[2021-05-21 21:08] #204 closed, assigned to nobody

[2021-05-21 21:10] matthewoestreich commented on #200
I respect that. I feel like putting it in a new major version is meeting in the middle, in a way. But yeah ultimately people will just need to change their code if the "paradigm(s)" we are using make no sense and need to be improved/changed. I've been documenting breaking changes though which helps.

@Domino987 what do you think?

[2021-05-21 22:18] peterkmurphy commented on #200
A quick question: is there a test suite for the library using something like jest (or similar)? It would make it easier to detect breaking changes.

[2021-05-21 22:42] matthewoestreich commented on #200
Unfortunately there is not. We have it on the list though. I think the issue isn't detection, rather documentation. If someone switches from mbrn/material-table to his repo, having a place to read a list of breaking changes is useful. We already have one going on the website so it's no biggy.

[2021-05-22 20:47] ChinmayaNathany commented on #198
Will be awesome if someone can look into this - it seems like a relatively small fix :)
Thanks!

[2021-05-22 21:13] matthewoestreich commented on #198
One of our goals is to be a community repo. We prefer to receive new PRs versus new issues *especially* for small, quick fixes (even more so if you use this project professionally).

With that being said, something like this should work but I want someone to confirm this due to my limited TS experience (I have experience with statically typed languages, so the paradigm is not foreign to me).

Does

[2021-05-23 12:16] FalkF opened #206 "Persist user selected grouping"
I have a working hack for persistent groupings that I would like to share and turn into a feature.
Maybe we can move this into the project properly to make it available more easily and less prone to break.

The hack works by using a custom GroupBar that writes ```groupOrder```,  ```groupSort``` and ```columnOrder``` into local storage when the groupColumns change. This could be easily be toggled v

[2021-05-24 19:52] Domino987 commented on #206
Interesting idea. How would you prevent sharing of this between different table instances on one platform?

[2021-05-25 13:15] ChinmayaNathany commented on #198
@oze4 Thanks - will keep that in mind in the future!

It works for me and solves the issue - I definitely think this is better than the current implementation.

[2021-05-26 08:46] FalkF commented on #206
Sharing should not be completly prevented as it might be usefull within one app (one domain since localStorage is used).
Each table should have a id set, this way the same table used in different places within one app can share the same groupings without different tables interfering with each other. Local storage already prevents sharing between different domains.
But unwanted leakage could occur

[2021-05-27 12:36] FalkF opened #208 "Aborting row deletion with keyboard behaves unexpected"
**Problem**
When navigating with the keyboard and deleting a row the confirmation dialog deletes the row regardless of what button has focus when pressing Enter. Only pressing Escape cancels the dialog.

Pressing enter in this situation deletes the row
<img width="823" alt="Screenshot 2021-05-27 at 14 35 09" src="https://user-images.githubusercontent.com/19377375/119826842-c028d380-bef8-11eb-9ece-

[2021-05-28 12:44] FalkF opened #210 "Add donation options"
I used material-table and material-table/core extensively in a project within the last year and am starting the conversation about open source contributions and support within the company I work for.
Could material-table/core profit from monetary support and how could this be done with it being a fork?
I cant promise anything but would like to use this project as an example for projects that deser

[2021-05-28 13:07] Domino987 commented on #208
Will be fixed with next release. Ty :)

[2021-05-28 13:07] #208 closed, assigned to nobody

[2021-05-28 13:19] Domino987 commented on #206
Hmh yes, seems like a bit complex. How would you generate an id that will be consistent between visits? I would welcome a PR so we can work out if this is feasible to be supported by us :)

[2021-05-28 13:23] Domino987 commented on #200
Ok so I would suggest to remove the mutation, write in on the website that the object reference is not longer guaranteed and publish a v3 version? @oze4 What do you think?

[2021-05-28 14:04] Domino987 commented on #210
Hi,
great that you like it so far.
We already talked about this and we were thinking about adding an open collective account.
The money would be used so that we can take time out of our schedule to work on features.

I just added an open collective for us: https://opencollective.com/material-table-core

[2021-05-28 20:15] matthewoestreich commented on #210
I agree with @Domino987!

[2021-05-29 19:40] Domino987 commented on #177
Is this fixed?

[2021-05-29 20:44] Domino987 commented on #63
So i dug a bit and it seems like the `parentChildData` prop and `grouping` do not like each other currently.

Can you guys show us your whole code? The code from the example currently breaks because it has both added. So treefiy and grouping are currently broken.

So share your code so we can fix this ;) @aescobar95 @inserty

Seems like the best way is to prevent treefiying with `parentChildData`

[2021-05-29 20:46] matthewoestreich commented on #177
It's more of an aesthetic issue. The problem here is we can't really use prop drilling here since a child needs to pass state up the chain to the parent versus drilling down. Which is one of the reasons I started that discussion about global state.

Adding global state makes fixing issues like this (one that isn't really a bug but an inconvenience) a lot easier.

[2021-05-29 20:53] peacechen commented on #177
You've probably already thought of this -- React context would be a good candidate since it's lightweight and this library shouldn't need complex global state management. That introduces no extra dependencies which is a big plus.

[2021-05-30 08:57] Domino987 commented on #177
Hi @peacechen
yes we thought about it a lot actually and we checked out a few possibilities.
Our final approach was to use redux, since its already included in the dnd package.

This is quite a lot of work, since the datamanager is a quite complex zombie object. In combination with the prop drilling,  its a lot of work.

I am thinking of throwing the data-manager and options in a context, reduce t

[2021-05-30 16:07] peacechen commented on #177
I generally like redux and have used it in my projects, but not all projects need it. Redux is 170 kB, react-redux is an additional 278 kB, for a total of 448 kB. That's a hefty chunk that all apps are forced to use regardless of whether they want to or not. I understand that react-beautiful-dnd uses redux so it's already pulled in. Long-term, consider searching for a viable substitute that doesn'

[2021-05-31 00:07] matthewoestreich commented on #177
@peacechen we have a discussion going on [here](https://github.com/material-table-core/core/discussions/190) about this. I'm a big fan of native context as well.

As far as the actual bundle, though, redux/react-redux aren't too big of a hit. According to bundlephobia, [redux](https://bundlephobia.com/result?p=redux@4.1.0) is 4.3kB minified and [react-redux](https://bundlephobia.com/result?p=react

[2021-05-31 01:10] peacechen commented on #177
sorry about that, I should've posted in the other thread. I'll move it over there.

[2021-05-31 01:12] matthewoestreich commented on #177
No worries. It was more so you could see what has already been discussed, etc..

Appreciate your input!

[2021-06-03 02:39] Domino987 commented on #200
This is removed with 3.x

[2021-06-03 02:39] #200 closed, assigned to Domino987, matthewoestreich

[2021-06-03 08:33] Domino987 commented on #210
Closing since we now have options

[2021-06-03 08:33] #210 closed, assigned to nobody

[2021-06-03 08:36] Domino987 commented on #198
@ChinmayaNathany hi,
Thanks for noticing this error.
if your version currently works, would you mind open a PR with these changes?

[2021-06-03 08:37] Domino987 commented on #191
@pouryapb could you find the error?

[2021-06-03 08:39] Domino987 commented on #177
Can this be closed on favor of the discussion?

[2021-06-03 08:41] pouryapb commented on #191
@Domino987 No!

[2021-06-03 08:45] pouryapb commented on #191
Could you look at `data-manager.js` in `setColumns` function? Not sure if that is the problem.

[2021-06-03 13:01] pouryapb commented on #191
for some reasons I can't reproduce the error in demo file in the project, but I think at line 82 of `data-manager.js` this might fix the issue I have:

`const tableData = columnDef.tableData || {
        columnOrder: index,
        filterValue: columnDef.defaultFilter,
        groupOrder: columnDef.defaultGroupOrder,
        groupSort: columnDef.defaultGroupSort || 'asc',
        width,
        in

[2021-06-03 20:38] matthewoestreich commented on #198
Fixed in v3.0.2

[2021-06-03 20:38] #198 closed, assigned to matthewoestreich

[2021-06-04 09:41] thpapei opened #215 "When you open a dialog, hidden /revealed columns state is reset."
**The bug**
When you open a dialog, hidden/revealed columns state is reset.

**To Reproduce**
1) Hide or reveal some table columns using the "Show Columns" menu.
2) Then open a dialog using Actions (either free or inline)
3) The columns are reset.

**Expected behavior**
Opening a dialog should not affect the state of hidden/revealed columns chosen by the user.

[2021-06-05 18:01] fvicente commented on #66
In my case the problem was that I was using a funcional component and any change in the state reseted the sort defaults.
The solution was to apply useCallback in both `columns` definition and `options`.

Example:
[code]

[2021-06-06 00:09] matthewoestreich opened #217 "Version Issue"
Hey @Domino987 do you know why the newest release shows version 0.0.2?

[2021-06-06 10:20] Domino987 commented on #217
Ah yes, I missed one line in the release script.

I decided to release a next version which supports mui v5, but I missed a tag in the release script.
It is fixed but to show the correct version in the github page, we would need to release a new version of master.

The v5 branch is instabbalbe with `npm i @material-table/core@next` with its own versions.

But the next release will also tag it with

[2021-06-06 22:21] matthewoestreich commented on #217
No worries at all! That's awesome actually. Nice work.

[2021-06-07 23:22] matthewoestreich opened #218 "README"
@Domino987 should we take the documentation you added to the README and merge it with what we have on the website? Just easier to keep everything in one spot imo (otherwise when something changes we'll need to update 2 places).

Thoughts?

[2021-06-08 13:03] FedeBev opened #219 "[next] Use 4.0.0-alpha.1 for pre-releases"
Current pre-release is tagget `v0.0.2`, wich could lead into confusion and won't work properly with tools such as `yarn outdated`.

Why don't we use what [semver suggests](https://semver.org/#spec-item-9)? This way would also be consistent with MUI

[2021-06-08 13:10] FedeBev opened #220 "[next] Move MUI dependencies to peer"
Next branch currently has all the MUI packages declared as dependencies.
In my opinion we should move them as peer to prevent bundle size blowing and MUI conflicts.

[2021-06-08 16:11] matthewoestreich commented on #219
Apologies - v0.0.2 release was created by accident. It has been deleted. Please let me know if you still have any issues.

[2021-06-08 16:11] #219 closed, assigned to nobody

[2021-06-08 16:59] matthewoestreich commented on #220
Agreed. This has been completed. Please let me know if v3.0.3 resolves these issues for you.

Thank you for your help!

[2021-06-08 17:11] #220 closed, assigned to nobody

[2021-06-08 17:12] matthewoestreich commented on #215
For now the work around is to memoize the table/column data before passing to MaterialTable. If you search closed issues you'll see where someone resolved it that way. We are currently working on a fix.

[2021-06-08 17:12] #215 closed, assigned to nobody

[2021-06-08 20:00] kylenguyen1014 commented on #75
@oze4
This issue was brought up in this [material-table issue #1707](https://github.com/mbrn/material-table/issues/1707), and there is a pull request [#2338](https://github.com/mbrn/material-table/pull/2338) which never got merged
@Domino987 also involved in this a little, then it just got all quiet

[2021-06-08 20:23] matthewoestreich commented on #75
Neither @Domino987 or myself can merge code into mbrn/material-table.

Do we know if this is still am issue with the latest version of this repo? v3.0.3 only asking because I think this may have been fixed. We have "ported" some PRs from mbrn/material-table as well, so I'm not sure if this was one of them.

[2021-06-08 20:26] masbaehr commented on #75
Yes it still can happen with 3.0.3

see: https://material-table-starter-template-v8xmvj.stackblitz.io
src: https://stackblitz.com/edit/material-table-starter-template-v8xmvj?file=package.json

[2021-06-08 20:26] kylenguyen1014 commented on #75
@oze4 I know you can't, that's why this repo exists 👍 .

And yes, I can confirm this problem still exists, I just tried to update from 2.0.12 (kinda fixed on this version) to 3.0.3 today and it appeared again

[2021-06-08 20:55] matthewoestreich commented on #75
Thank you. @Domino987 is this something you're aware of or can I merge that PR from mbrn/material-table?

For some reason this issue sounds familiar (outside of this convo).

[2021-06-08 21:00] Domino987 commented on #75
I have not looked into this previously, but the change from the PR looks good, so yes. Let's merge it.

[2021-06-08 21:25] matthewoestreich commented on #75
@masbaehr @kylenguyen1014 would you mind giving the latest version a try? v3.0.5 (I messed up 3.0.4)...

Thanks for your patience, and I def apologize about that. One of the reasons we created this repo was to be able to keep it updated, etc.. so if you see any other PRs that could be merged please feel free to send one over or let us know!

[2021-06-08 21:27] matthewoestreich commented on #206
@FalkF would you mind creating a branch that shows how you would implement this? I think that would be a good start.

[2021-06-08 22:18] Domino987 commented on #218
Hi yes i was thinking about it and I really like the website so far. The only problem is tagt most people just read the readme fiest without accessing the website . Can we automaticly inject the website readme to our readme or the other way around?

[2021-06-08 22:20] matthewoestreich commented on #218
Totally agree. That's something I thought of when I only put links in the readme. Basically forcing the reader to the website. The first link is for the install.

I think it's more trouble than it's worth trying to spend the time working out how to inject it vs just keeping in one place.

[2021-06-09 13:24] kylenguyen1014 commented on #75
@oze4 I bet it's familiar to you haha. If you look at the original issue in material-table [#1707](https://github.com/mbrn/material-table/issues/1707), you were the first one to submit a PR [(#1759)](https://github.com/mbrn/material-table/pull/1759), then it did not get merged because of another [commit ](https://github.com/mbrn/material-table/commit/0249979b6d912fa9d9f75a6a579cc3df66d6c5c5)(which

[2021-06-09 16:22] Domino987 commented on #218
Yes I agree. Lets move everything to the website then. I should be able to do it this weekend

[2021-06-09 16:30] Domino987 commented on #191
@pouryapb  I cannot reproduce that with v3 of material-table.

Can you update the the latest version and see of the error persists?

[2021-06-09 16:30] Domino987 commented on #55
The next branch supports v5. Closing this.

[2021-06-09 16:30] #55 closed, assigned to matthewoestreich

[2021-06-09 16:37] Domino987 commented on #66
@sinclas Does @fvicente workout work for you? Seems like changing options (a new object, even if the content is the same) might trigger this.

If we could narrow it down to this, it would make the fix easier to find.

We are also thinking of making the columns and data required to be the same instance since this would both make it easier for us to track changes (object reference changed => new rer

[2021-06-09 16:40] Domino987 commented on #75
Perfect, i will close this since it works. Thanks everybody for getting this fixed.

[2021-06-09 16:40] #75 closed, assigned to matthewoestreich

[2021-06-09 19:35] pouryapb commented on #191
@Domino987 I still have the problem. some of the actions on my table open a popover and some open a drawer and that causes react to rerender and when it happens columns sizes will reset.

[2021-06-10 13:22] kylenguyen1014 opened #223 "onSelectionChange prop does not work correctly if rowStyle/cellStyle is a function"
**Describe the bug**
onSelectionChange prop does not work properly if we set rowStyle/cellStyle as a function. Checkboxes will not get checked if row selected is a component's state

**To Reproduce**
Steps to reproduce the behavior:

1. Make a simple table
2. Set selection = true
3. Set onSelectionChange to handle component's state of which rows get selected
4. Pass in rowStyle/cellStyle as a func

[2021-06-10 19:06] Domino987 commented on #79
@klassm To better understand the issue, would you mind adding a sandbox to this?

[2021-06-10 19:08] #177 closed, assigned to peacechen

[2021-06-10 19:09] Domino987 commented on #111
I will close this, since it should be fixed with the new equal. Thanks everybody.

[2021-06-10 19:09] #111 closed, assigned to matthewoestreich

[2021-06-10 19:14] Domino987 commented on #223
Thank you for catching this.

It seems like if options contains functions, these must be stable between renders to we don't assume that new that was added and the selection gets reseted.

So either wrapping the rowstyle in a React.useCalback or generating it outside of the render function/function component fixes this.

I as not aware this was a problem so I will add it to the docs.

[2021-06-10 21:34] Domino987 commented on #223
Closing in favor for it being added to the docs.

[2021-06-10 21:34] #223 closed, assigned to nobody

[2021-06-10 21:51] ChinmayaNathany commented on #145
Hi @peacechen

I was having the same issues but solved it by using the width as a percentage!
Obviously this is just an interim fix :)

So:
[code]
This works for me

[2021-06-10 22:22] peacechen commented on #145
Thanks @ChinmayaNathany that helps. How well does that work on different size screens (mobile, tablet, desktop) ?

[2021-06-10 22:41] Domino987 commented on #201
So I took a look and it seems that the old lib introduced it with the column resize feature.
The calculation will only be applied to the cells if columnResizing is set to active.

Should be fixed in 3.0.6.

[2021-06-10 22:41] #201 closed, assigned to Domino987, matthewoestreich

[2021-06-10 23:28] matthewoestreich commented on #217
Hey @Domino987 version is broken again..

[2021-06-11 06:00] ifndefdeadmau5 opened #224 "Inefficient rendering behavior"
### Issues from the original repository
https://github.com/mbrn/material-table/issues/1085
https://github.com/mbrn/material-table/issues/2581

### Context
Sorry for not following the template, I just thought above issues are kinda obvious to you guys.
As you might notice this table completely re-renders(or may have to say, *re-mount*, not sure) even nothing from rowData has changed. I'm curious if

[2021-06-11 08:27] Domino987 commented on #217
Hi can you describe it in mir detail? What is broken.

[2021-06-11 11:18] Vitorbnc opened #225 "Separate CSV and PDF exports"
Hey!
I see you have already separated the core library and the exports feature. That's great!
Is it possible to further split it into CSV and PDF, given the bundle size for jspdf is quite large?
This way we could import just the CSV feature.

[2021-06-11 11:38] Vitorbnc commented on #225
Just saw that it's possible to import them separately  ^_^
I'm gonna close this.

[2021-06-11 11:38] #225 closed, assigned to nobody

[2021-06-11 13:00] Vitorbnc opened #226 "Not Working in React Strict Mode"
# Guidelines

**Describe the bug**
Icons don't appear and and an error shows up in console. The error is as follows:

    at div
    at Transition (http://localhost:3000/static/js/vendors~main.chunk.js:95502:30)
    at Grow (http://localhost:3000/static/js/vendors~main.chunk.js:21102:24)
    at div
    at Portal (http://localhost:3000/static/js/vendors~main.chunk.js:29447:24)
    at Popper (http:/

[2021-06-11 14:07] Hatko commented on #116
Have the same issue

[2021-06-11 15:32] matthewoestreich commented on #226
Do we know if this is from a dependency or not? I've seen that before and want to say it may be an issue with a dep.

I can check here in a few minutes.

[2021-06-11 16:26] Vitorbnc commented on #226
I fixed the icons problem. It's not actually a problem and it's explained [in the material-table docs](https://material-table.com/#/docs/install).

The `findDOMNode` error also occurs in the original [material-table repo](https://github.com/mbrn/material-table/issues/2345). It's probably related to material-ui itself.
There's an issue [here](https://github.com/mui-org/material-ui/issues/13394), an

[2021-06-11 16:40] Domino987 commented on #226
Yes seems like it's connected to the not strict Mode components of muiv4. Try out our next branch which is v5 supported and see if that helps.

I see the icons in the demo currently on both docs sites though.

[2021-06-11 16:43] Domino987 commented on #224
Maybe using the React.memo wrapper around each row might improve the rendering.

I don't have any problems with the performance yet, but maybe can you create a sandbox ?

[2021-06-11 17:55] matthewoestreich commented on #217
It looks like it's fixed now. I was still showing release 0.0.2 but not any longer.. it's now showing correct.

[2021-06-11 17:55] #217 closed, assigned to nobody

[2021-06-11 20:55] Domino987 commented on #116
Seems like when mbrn added the cell edit feature, it was not connected to the error settings. Good catch.

[2021-06-14 04:13] ifndefdeadmau5 commented on #224
@Domino987
Memoizing `Cell` and `Table` improved meaningful performance in my case(in ugly way), but still you can confirm that every rows are re-rendering with `selection: true` option whenever checkbox is toggled(with React Profiler).

![image](https://user-images.githubusercontent.com/8914311/121838336-8df9dd00-cd12-11eb-9e48-e5d7482f3aae.png)

This is also related to the problem(#1265) that ma

[2021-06-14 04:59] matthewoestreich commented on #224
Isn't that expected behavior? When a parent has props or state change it is rerendered along with all of it's children? Whether or not that's material table, it's outside of our control.

We are working on a way to internally memoize columns and data so it's not so ugly for the consumer.

We are also working on global state mgmt, which should help with unnecessary rerenders like you're seeing with

[2021-06-14 05:50] ifndefdeadmau5 commented on #224
Re-rendering is fine. But un-mounting is not something user would usually expect from the sane library. Unlike un-mounting, unnecessary renders could easily prevented with `React.memo` so that should be fine and natural.

Glad to hear that you guys are working on alternative state mgmt system, though. (I suspect that must be a `data-manager` utility) I appreciate guys working on this fork

[2021-06-14 06:45] matthewoestreich commented on #224
Ah yes I must have misread "remount" as "rerender" in your comment. I agree.

Actually we are trying to get rid of that data-manager haha it's a mess..

[2021-06-15 06:54] usahai commented on #224
@oze4 hey, great to see you're on this project! I've been using material table for a while now, since early last year, and remember reading some parts of the threads where you were requesting for your PRs to be accepted to the original repo. Glad to see the good work being carried forward.

[2021-06-15 14:47] ChinmayaNathany commented on #145
@peacechen  I haven't tried it on anything but desktop

[2021-06-15 15:27] Domino987 commented on #224
@ifndefdeadmau5 The main problem is the setup of the table itself, from the original author.

There is deeply nested prop drilling which results in up to 40 props in combination with on the fly generated objects and function which are not memoized/stable between renders so the React.memo does not do anything because the props change anyway.

Once we moved to context, we should be able to reduce th

[2021-06-16 21:46] joelcoronah commented on #223
Any code sample please?

[2021-06-16 23:07] Domino987 commented on #223
@joelcoronah https://material-table-core.com/docs/breaking-changes#functions-in-the-optionscolumns-props

[2021-06-17 03:00] joelcoronah commented on #223
the checkbox its not checked if I select, I do not see the problem, when I use a function in the onSelectedChange this happens, even if the function has useCallback

[2021-06-17 06:48] Domino987 commented on #223
Can you share your code in a sandbox?

[2021-06-17 08:35] ghyoo91 opened #228 "Handle a case that the previous sorted column doesn't exist in the new columns"
**Is your feature request related to a problem? Please describe.**

Sandbox : https://codesandbox.io/s/boring-allen-kgc9t?file=/src/App.js

Table crush under the following conditions;
Steps :
1. Table has the different 2(or more) states of columns and data.
2. The 1st column set has "A", "B", "C", "D" columns when the 2nd has "A", "B".
3. Sort by "C" or "D" column **asc** in the 1st column set. (T

[2021-06-19 16:07] matthewoestreich commented on #228
Thank you for opening this! We will get to it ASAP (if you would like to submit a PR we will merge it ASAP as well).

Thanks again!

[2021-06-19 16:16] matthewoestreich commented on #224
Just as a status update, we have started to introduce `context` via the [context branch](https://github.com/material-table-core/core/tree/context).

It may take some time to resolve this issue as it's more of a systemic/engineering issue as opposed to lower level bug in code (if that makes sense).

Thanks again everyone for helping us move this project forward! ❤️ 👍

[2021-06-19 17:29] Domino987 commented on #228
Hi great first issue.

I guess changing of the columns is not really common, that's why it never surfaced. Thanks for catching this.

This is fixed with the new release 3.0.7.

[2021-06-19 17:29] #228 closed, assigned to Domino987, matthewoestreich

[2021-06-20 09:39] Domino987 commented on #218
Moved to the website again

[2021-06-20 09:39] #218 closed, assigned to Domino987, matthewoestreich

[2021-06-20 09:42] Domino987 commented on #191
I am sorry, but since I cannot reproduce it in a sandbox with the latest version, there is no way I can help you with it, unfortunatly.

[2021-06-22 15:11] sinclas commented on #66
Hi,

How would this work with the columns?   I tried a couple of ways to useMemo and wondering how to get this working.  I get React-specific errors on utilizing memo incorrectly.

Thanks!
Steve

[2021-06-23 08:51] DewangS opened #229 "is there any way to have Row Double click event?"
# Guidelines
I am using Material Table and upon Row click, I open the clicked row in another page for editing and this works fine though users want to copy\paste text from the row instead of opening it for editing. The moment they try to select any text, the rowClick event gets fired (as expected) and they get routed to the editing page.

Is there any way to route only when they double click the r

[2021-06-24 04:24] DewangS opened #231 "Title for 'actions'"
noticed that when you add actions array to MT definition, the first column title always shows as 'Actions'. Is there any way to hide this title? so far I have tried title: '' and title: false but nothing works and there is nothing in the API to suggest if this can be customised. It would be nice to have a flag to show\hide it

e.g.

[code]

[2021-06-24 04:28] matthewoestreich commented on #231
I do not believe there is a workaround unfortunately. I believe this is related to another issue, but I can verify tomorrow.

I'll let you know what I find.

[2021-06-25 20:13] Domino987 commented on #231
You can just set the localisation of header.sctions to be an empty string. So the header will have no text.

[2021-06-25 20:18] Domino987 commented on #229
That is not supported out of the box.
You could remove the onClick, override the row component and implement your own on double click behavior for the rows.

[2021-06-27 12:49] Domino987 commented on #231
Here is an example sandbox without the action title. https://codesandbox.io/s/clever-currying-4it1u?file=/src/App.js

[2021-06-27 13:13] Domino987 commented on #116
This is fixed with 3.0.10. Thank you for the issue

[2021-06-27 13:13] #116 closed, assigned to nobody

[2021-06-27 13:41] gokhansamet opened #233 "After delete the last existing data of the table in second page then the program have crashed"
I use the tableRef to refresh remote data  after delete/edit and add operations. It is working but then I have realized there is a problem when I delete the last existing data.
 ### The error messages

<details>
  <summary>Error Message</summary>

[code]

</details>

### And there is my code

<details>
  <summary>Code</summary>

[code]

</details>

### Version of package
[code]